doctypes/S1000D_2-2/sgml_dtd/dm/dtd/status.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                SGML Document Type Definition                       *
    *                                                                    *
    *                     Release Version 2.2                            *
    *                       Date: 2005-05-01                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier date.                                  *
    * 2. CPF 2004-25SE: Introduce element <brexref> within DM status.    *
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % EXTSTAT                                                 *
    *   PUBLIC "-//S1000D//ELEMENTS Status Breakdown 20050501//EN" >     *
    * %EXTSTAT;                                                          *
    ********************************************************************** -->



<!--**********************************************************************
    * Define Entity %STATUS; (Status) containing:-                       *
    *  security  - Mandatory Single    contains No Other Tags.           *
    *  datarest  - Optional  Single    contains instruct, inform.        *
    *  dmsize    - Optional  Single    contains Parsed Character Data.   *
    *  rpc       - Mandatory Single    contains Parsed Character Data.   *
    *  orig      - Mandatory Single    contains Parsed Character Data.   *
    *  applic    - Mandatory Single    contains type, model.             *
    *  techstd   - Optional  Single    contains autandtp, authblk, tpbase*
    *                                   authex, notes.                   *
    *  brexref   - Mandatory Single    contains refdm.                   *
    *  qa        - Mandatory Single    contains unverif, firstver, secver*
    *====================================================================*
    * Optional Repeatable Group                                          *
    *====================================================================*
    *  sbc      - Mandatory Single      contains Definition stored in    *
    *                                    entity %SBC;                    *
    * or                                                                 *
    *  fic      - Mandatory Single      contains Definition stored in    *
    *                                    entity %FIC;                    *
    *====================================================================*
    *  skill    - Optional  Single      contains Parsed Character Data.  *
    *  rfu      - Optional  Single      contains Definition stored in    *
    *                                    entity %SPAR;.                  *
    *  remarks  - Optional  Single      contains Definition stored in    *
    *                                    entity %SPAR;.                  *
    ********************************************************************** -->

<!ENTITY % STATUS
  "security,datarest?,dmsize?,rpc,orig,applic,techstd?,brexref,qa,
   (sbc|fic)*,skill?,rfu?,remarks?" >
<!-- Element <brexref> introduced -->



<!--**********************************************************************
    * Define Element status (Status Section) containing:-                *
    *  Definition stored in entity %STATUS;.                             *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id       - ID       - IMPLIED  - Unique identifier of status      *
    ********************************************************************** -->

<!ELEMENT status - O (%STATUS;) >
<!ATTLIST status
            id   ID  #IMPLIED >



<!--**********************************************************************
    * Define Element dmsize (Data Module Size) containing:-              *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT dmsize   - O (#PCDATA) >



<!--**********************************************************************
    * Define Element security (Security Marking) containing:-            *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in Entity %SECURIT;              *
    ********************************************************************** -->

<!ELEMENT security  - O EMPTY >
<!ATTLIST security %SECURIT; >



<!--**********************************************************************
    * Call the Data Restrictions Breakdown public text. The formal public*
    * identifier is stored in entity %EXTRESTR;                          *
    ********************************************************************** -->

%EXTRESTR;



<!--**********************************************************************
    * Define Element rpc (Responsible Partner Company) containing:-      *
    *  Parsed Character Data              - The NCAGE code of the        *
    *                                       responsible partner company. *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  rpcname  - %RPCNAME; - IMPLIED - The name of the responsible      *
    *                                   partner company.                 *
    *  id       - ID        - IMPLIED - Unique identifier of the element.*
    ********************************************************************** -->

<!ELEMENT rpc      - O (#PCDATA) >
<!ATTLIST rpc
            rpcname  %RPCNAME;  #IMPLIED
            id       ID         #IMPLIED >



<!--**********************************************************************
    * Define Element orig (Originator) containing:-                      *
    *  Parsed Character Data          - The NCAGE code of the originator.*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  origname - %ORGNAME; - IMPLIED - The name of the originator.      *
    *  id       - ID        - IMPLIED - Unique identifier of the element.*
    ********************************************************************** -->

<!ELEMENT orig     - O (#PCDATA) >
<!ATTLIST orig
            origname  %ORGNAME;  #IMPLIED
            id        ID         #IMPLIED >



<!--**********************************************************************
    * Call the Applicability Breakdown public text. The formal public    *
    * identifier is stored in entity %EXTAPPL;                           *
    ********************************************************************** -->

%EXTAPPL;



<!--**********************************************************************
    * Define Element techstd (Technical Standard) containing:-           *
    *====================================================================*
    *   autandtp - Mandatory Single     contains authblk, tpbase.        *
    *  or                                                                *
    *   authblk  - Mandatory Single     contains Parsed Character Data.  *
    *  or                                                                *
    *   tpbase   - Mandatory Single     contains Parsed Character Data.  *
    *====================================================================*
    *   authex   - Mandatory Single     contains inline, retrofit.       *
    *   notes    - Mandatory Single     contains Parsed Character Data.  *
    ********************************************************************** -->

<!ELEMENT techstd - O ((autandtp|authblk|tpbase),authex,notes) >



<!--**********************************************************************
    * Define Element autandtp (Authority Block & Technical Publication   *
    * Baseline) containing:-                                             *
    *   authblk  - Mandatory Single     contains Parsed Character Data.  *
    *   tpbase   - Mandatory Single     contains Parsed Character Data.  *
    ********************************************************************** -->

<!ELEMENT autandtp - O (authblk,tpbase) >



<!--**********************************************************************
    * Define Element authblk (Authority Block) containing:-              *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT authblk - O (#PCDATA) >



<!--**********************************************************************
    * Define Element tpbase (Technical Publication Base Line)            *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT tpbase - O (#PCDATA) >



<!--**********************************************************************
    * Define Element authex (Authority Exceptions) containing:-          *
    *   inline   - Optional  Single     contains exmod, addmod.          *
    *   retrofit - Optional  Single     contains No Other Tags.          *
    ********************************************************************** -->

<!ELEMENT authex - O (inline?,retrofit?) >



<!--**********************************************************************
    * Define Element inline (Inline Information) containing:-            *
    *   exmod    - Optional  Repeatable  contains Parsed Character Data. *
    *   addmod   - Optional  Repeatable  contains Parsed Character Data. *
    ********************************************************************** -->

<!ELEMENT inline - O (exmod*,addmod*) >



<!--**********************************************************************
    * Define Element exmod (Excluded Modifications) containing:-         *
    *   Parsed Character Data.                                           *
    ********************************************************************** -->

<!ELEMENT exmod - O (#PCDATA) >



<!--**********************************************************************
    * Define Element addmod (Additional Modifications) containing:-      *
    *   Parsed Character Data.                                           *
    ********************************************************************** -->

<!ELEMENT addmod - O (#PCDATA) >



<!--**********************************************************************
    * Define Element retrofit (Retrofit Information) containing:-        *
    *   mod      - Mandatory Repeatable  contains No Other Tags.         *
    ********************************************************************** -->

<!ELEMENT retrofit - O  (mod+) >



<!--**********************************************************************
    * Define Element mod (Modification Order) containing:-               *
    *  modtitle  - Optional   Single      contains Parsed Character Data.*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  authno   - NMTOKEN  - REQUIRED - Retrofit order number.           *
    *  modtype  - Declared - REQUIRED - Standard for this modification.  *
    *           - "pre"     - Pre-modification.                          *
    *           - "post"    - Post modification.                         *
    *           - "prandpo" - Both Pre & Post modifications.             *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT mod - O (modtitle?) >
<!ATTLIST mod
            authno NMTOKEN #REQUIRED
            modtype (pre | post | prandpo) #REQUIRED 
            %bodyatt; >



<!--**********************************************************************
    * Define Element modtitle (Modification Title) containing:-          *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT modtitle - O (#PCDATA) >



<!--**********************************************************************
    * Define Element notes (Notes) containing:-                          *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT notes - O (#PCDATA) >



<!--**********************************************************************
    * Define Element brexref (Business Rules Exchange Reference)         *
    * containing:-                                                       *
    *   refdm    - Mandatory Single     contains applic, age, avee,      *
    *                                            issno, dmtitle.         *
    ********************************************************************** -->

<!ELEMENT brexref - O (refdm)>
<!-- Newly introduced element -->


<!--**********************************************************************
    * Define Element qa (Quality Assurance Status) containing:-          *
    *   unverif  - Mandatory Single     contains No Other Tags.          *
    *  or                                                                *
    *   firstver - Mandatory Single     contains No Other Tags.          *
    *   secver   - Optional  Single     contains No Other Tags.          *
    ********************************************************************** -->

<!ELEMENT qa - O (unverif|(firstver,secver?)) >



<!--**********************************************************************
    * Define Element unverif (Unverified) containing:-                   *
    *   No Other Tags.                                                   *
    ********************************************************************** -->

<!ELEMENT unverif - O EMPTY >



<!--**********************************************************************
    * Define Element firstver (First Verification) containing:-          *
    *   No Other Tags.                                                   *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  type   - Declared - REQUIRED - Type of verification performed.    *
    *            - "tabtop"   - Performed with only designs and drawings.*
    *            - "onobject" - Performed with actual piece of equipment.*
    *            - "ttandoo"  - Performed by both the above ways.        *
    ********************************************************************** -->
<!ELEMENT firstver  - O EMPTY  >
<!ATTLIST firstver
               type (tabtop | onobject | ttandoo)   #REQUIRED  >



<!--**********************************************************************
    * Define Element secver (Second Verification) containing:-           *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  type   - Declared - REQUIRED - Type of verification performed.    *
    *            - "tabtop"   - Performed with only designs and drawings.*
    *            - "onobject" - Performed with actual piece of equipment.*
    *            - "ttandoo"  - Performed by both the above ways.        *
    ********************************************************************** -->
<!ELEMENT secver  - O EMPTY  >
<!ATTLIST secver
               type (tabtop | onobject | ttandoo)   #REQUIRED  >



<!--**********************************************************************
    * Define Element sbc (System Breakdown Code) containing:-            *
    *   Definition stored in entity %SBC;                                *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id       - ID       - IMPLIED - Unique identifier of system       *
    *                                   breakdown code                   *
    ********************************************************************** -->

<!ELEMENT sbc - O (%SBC;) >
<!ATTLIST sbc
            id   ID  #IMPLIED >



<!--**********************************************************************
    * Define Element fic (Functional Item Code) containing:-             *
    *   Definition stored in entity %FIC;                                *
    **********************************************************************-->

<!ELEMENT fic - O (%FIC;) >



<!--**********************************************************************
    * Define element rfu (Reason For Update) containing:-                *
    *   Definition stored in entity %SPAR;                               *
    ********************************************************************** -->

<!ELEMENT rfu - - (%SPAR;) >



<!--**********************************************************************
    * Define element remarks (Remarks) containing:-                      *
    *   Definition stored in entity %SPAR;                               *
    ********************************************************************** -->

<!ELEMENT remarks - - (%SPAR;) >



<!--**********************************************************************
    * Define Element skill (Skill Level) containing:-                    *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  skill    - Declared - REQUIRED - Personnel skill level            *
    *             Definition stored in entity %SKILL;                    *
    ********************************************************************** -->

<!ELEMENT skill - O EMPTY>
<!ATTLIST skill
             skill %SKILL; #REQUIRED>

