doctypes/ATA_Spec2300_2017.1/Substantiation/Substantiation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="substantiation"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/systems/commonDescriptionTypes.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- substantiation Element Declaration-->
	<!--=============================================-->
	<xs:element name="substantiation" type="substantiationType">
		    <xs:annotation>
			      <xs:documentation>background, technical analysis, justification and history information on a given MMEL Item</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="substantiationType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>General title/info for the DM</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="systemBackGround" type="descriptionType">
				        <xs:annotation>
					          <xs:documentation>General information, system description, test results, etc.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="consequenceOfFailure" type="descriptionType">
				        <xs:annotation>
					          <xs:documentation>Describes how the operation of the airplane is affected by the failure. The consequence of flying in the MEL configuration</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="consequenceOfNextCriticalFailure" type="descriptionType">
				        <xs:annotation>
					          <xs:documentation>Describes how the operation of the airplane is affected by the next most critical failure of an associated or interrelated system to the first failure after dispatch.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="historyAndRationale" type="descriptionType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>A cumulative history of changes made to the Dispatch Item and why.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="procedurePurpose" type="descriptionType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Rationale for the M and O procedures included in the Dispatch Item.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="timeOfDispatchRationale" type="descriptionType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Rationale for time of dispatch (e.g., repair interval, dispatch relief).</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
</xs:schema>