doctypes/S1000D_2-1/xml_schema/dm/base.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier.                                       *
    * 2. CPF 1999-43UK: Add optional attribute inwork to element issno.  *
    * 3. CPF 2002-12FR: Call new entity %EXTPMC; to allow for references *
    *                   to publication modules (see PMC.ENT).            *
    * 4. Consistency:   Change declared values of attribute type on      *
    *                   element issno from uppercase to lowercase.       *
    * 5. XML Extension: Import RDF/DC Metadata Definitions.              * 
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % BASE                                                    *
    *   PUBLIC "-//S1000D//ELEMENTS S1000D Base DTD 20030531//EN" >      *
    * %BASE;                                                             *
    ********************************************************************** -->


<!--**********************************************************************
    * Call the RDF Metadata Definition Public Text. The formal public    *
    * identifier is stored in the entity %EXTRDF;                        *
    ********************************************************************** -->
<!-- %EXTRDF; -->
	<xs:import 	namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
			schemaLocation="rdf.xsd"/>
			
<!--**********************************************************************
    * Call the Data Module Code Breakdown Public Text. The formal public *
    * identifier is stored in the entity %EXTDMC;                        *
    ********************************************************************** -->
<!-- %EXTDMC; -->
	<xs:include schemaLocation="dmc.xsd"/>

<!--**********************************************************************
    * Call the Publication Module Code Breakdown Public Text. The formal *
    * public identifier is stored in the entity %EXTPMC;                 *
    ********************************************************************** -->
<!-- %EXTPMC; -->
	<xs:include schemaLocation="pmc.xsd"/>

<!--**********************************************************************
    * Call the Status Breakdown Public Text. The formal public identifier*
    * is stored in the entity %EXTSTAT;                                  *
    ********************************************************************** -->
<!-- %EXTSTAT; -->
	<xs:include schemaLocation="status.xsd" />


	<xs:element name="dmodule">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element dmodule (Data Module) containing:-                  *
    *  rdf:Description - Optional Single   contains Defintion stored in  *
    *                                               Entity %DCMES;       *
    *  idstatus        - Mandatory Single  contains dmaddres, status.    *
    *  content         - Mandatory Single  contains refs, Definition     *
    *                                      stored in entity %CONTENT;    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id       - ID       - IMPLIED  - Unique identifier of Data Module *
    **********************************************************************
		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rdf:Description" minOccurs="0"/>
				<xs:element ref="idstatus"/>
				<xs:element ref="content"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="idstatus">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element idstatus (Identification and Status Information)    *
    * containing:-                                                       *
    *  dmaddres - Mandatory  Single      contains dmc, dmtitle, issno,   *
    *                                    issdate, language.              *
    *  status   - Mandatory  Single      contains definition stored in   *
    *                                    entity %STATUS;                 *
    **********************************************************************
		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dmaddres"/>
				<xs:element ref="status"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="dmaddres">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element dmaddres (Data Module Address) containing:-         *
    *  dmc      - Mandatory  Single      contains definition stored in   *
    *                                    entity %ALLDMC;                 *
    *  dmtitle  - Mandatory  Single      contains techname, infoname.    *
    *  issno    - Mandatory  Single      contains No Other Tags.         *
    *  issdate  - Mandatory  Single      contains No Other Tags.         *
    *  language - Optional   Single      contains No Other Tags.         *
    **********************************************************************
		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dmc"/>
				<xs:element ref="dmtitle"/>
				<xs:element ref="issno"/>
				<xs:element ref="issdate"/>
				<xs:element ref="language" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="dmtitle">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element dmtitle (Data Module Title) containing:-            *
    *  techname - Mandatory  Single      contains Parsed Character Data. *
    *  infoname - Optional   Single      contains Parsed Character Data. *
    **********************************************************************
		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="techname"/>
				<xs:element ref="infoname" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="techname" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element techname (Technical Name) containing:-              *
    *  Parsed Character Data.                                            *
    **********************************************************************
		</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="infoname" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element infoname (Information Name) containing:-            *
    *  Parsed Character Data.                                            *
    **********************************************************************
		</xs:documentation>
		</xs:annotation>		
	</xs:element>


	<xs:simpleType name="NONNEGI2">
		<xs:restriction base="xs:nonNegativeInteger">
			 <xs:totalDigits value="2" fixed="true"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="issno">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element issno (Issue Number) containing:-                   *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  issno    - NUMBER    - REQUIRED - Issue Number (XXX).             *
    *  inwork   - NUMBER    - IMPLIED  - Sub-Issue Number (XX).          *
    *  type     - Declared  - "new"    - Status of this issue of the     *
    *                                    data module.                    *
    *           - "new"      - New Data Module.                          *
    *           - "changed"  - Changed. Changes marked by change markers.*
    *           - "deleted"  - Deleted.                                  *
    *           - "revised"  - Completely Revised. Changes not marked by *
    *                           change markers.                          *
    *           - "status"   - Only Status information changed.          *
    *           - "rinstate-changed" - Data Module has been reinstated   *
    *                                   and changed. Changes marked by   *
    *                                   change markers.                  *
    *           - "rinstate-revised" - Data Module has been reinstated   *
    *                                   and is completely Revised.       *
    *                                   Changes not marked by change     *
    *                                   markers.                         *
    *           - "rinstate-status"  - Data Module has been reinstated   *
    *                                  and status has been changed.      *
    **********************************************************************
		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="issno" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						 <xs:totalDigits value="3" fixed="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="inwork" type="NONNEGI2"/>
			<xs:attribute name="type" default="new">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="new"/>
						<xs:enumeration value="changed"/>
						<xs:enumeration value="deleted"/>
						<xs:enumeration value="revised"/>
						<xs:enumeration value="status"/>
						<xs:enumeration value="rinstate-changed"/>
						<xs:enumeration value="rinstate-revised"/>
						<xs:enumeration value="rinstate-status"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="issdate">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element issdate (Issue Date) containing:-                   *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Definition stored in entity %DATE;.                               *
    **********************************************************************
		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attributeGroup ref="DATE"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="language">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element language (Language of Data Module) containing:-     *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  language - CDATA     - REQUIRED - Language Code (lowercase).      *
    *  country  - CDATA     - IMPLIED  - Country Code (uppercase).       *
    **********************************************************************
		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="language" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
    						<xs:pattern value="[a-z]{2,3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="country">
				<xs:simpleType>
					<xs:restriction base="xs:string">
    						<xs:pattern value="[A-Z]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>


</xs:schema>