doctypes/S1000D_2-1/xml_schema/dm/fault.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier.                                       *
    * 2. CPF 2002-38SE: Introduce entities %ISOSTPH; and ISOSTPA; to     *
    *                   allow for titles, warnings, cautions and notes   *
    *                   on indiviudal isolation steps.                   *
    *                   Introduce optional attributes check and skill on *
    *                   isolation steps by calling up entity %CHECKSTP;. *
    * 3. TPSMG request: File and entity name changed from AF to FAULT.   *
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % FAULT                                                   *
    *   "-//S1000D//ELEMENTS Fault Breakdown 20030531//EN" >             *
    * %FAULT;                                                            *
    ********************************************************************** -->

<!--**********************************************************************
    * Call the paracon group definition.                                 *
    ********************************************************************** -->
	<xs:include schemaLocation="paracon.xsd"/>

<!--**********************************************************************
    * Call the Lists Public Text.                                        *
    * The formal public identifier is stored in the entity %EXTLIST;     *
    ********************************************************************** -->
<!-- %EXTLIST; -->
	<xs:include schemaLocation="lists.xsd"/>

<!--**********************************************************************
    * Call the heading group definition.                                 *
    ********************************************************************** -->
	<xs:include schemaLocation="heading.xsd"/>

<!--**********************************************************************
    * Call the Preliminary Requirements Public Text.                     *
    * The formal public identifier is stored in the entity %PRELREQ;     *
    ********************************************************************** -->
<!-- %PRELREQ; -->
	<xs:include schemaLocation="prelreq.xsd"/>

<!--**********************************************************************
    * Call the Warning, Caution, Note, Para Public Text.                 *
    * The formal public identifier is stored in the entity %WCNP;        *
    ********************************************************************** -->
<!-- %WCNP; -->
	<xs:include schemaLocation="wcnp.xsd"/>

<!--**********************************************************************
    * Call the Figure And Table Public Text.                             *
    * The formal public identifier is stored in the entity %EXTFTAB;     *
    ********************************************************************** -->
<!-- %EXTFTAB; -->
	<xs:include schemaLocation="fig_tab.xsd"/>


	<xs:group name="CONTENT">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Entity %CONTENT; (Content Breakdown) containing:-           *
    *   afr      - mandatory single    contains ifault, dfault, ofault.  *
    *  or                                                                *
    *   afi      - mandatory single    contains fault, describe, isoproc.*
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>	
		<xs:choice>
			<xs:element ref="afr"/>
			<xs:element ref="afi"/>
		</xs:choice>
	</xs:group>

	<xs:group name="ISOSTPH">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Entity %ISOSTPH; (Isolation Step Heading) containing:-      *
    *   Definition stored in entity %HEADING1;                           *
    *   Definition stored in entity %WC;                                 *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>	
		<xs:sequence>
			<xs:group ref="HEADING1"/>
			<xs:group ref="WC"/>
		</xs:sequence>
	</xs:group>

<!-- call with minOccurs="0" maxOccurs="unbounded" !-->
	<xs:group name="ISOSTPA">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Entity %ISOSTPA; (Isolation Step Action) containing:-       *
    *====================================================================*
    *   Optional Repeatable Group                                        *
    *====================================================================*
    *     note     - Mandatory Single    contains applic, symbol, para,  *
    *                                    Definition stored in entity     *
    *                                    %list;.                         *
    *    or                                                              *
    *     action   - Mandatory Single    contains Definition stored in   *
    *                                    entity %text;.                  *
    *====================================================================*
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>	
		<xs:choice>
			<xs:element ref="note"/>
			<xs:element ref="action"/>
		</xs:choice>
	</xs:group>


<!--**********************************************************************
    **********************************************************************
    **                                                                  **
    **             AIR VEHICLE FAULT REPORTING (AFR) PART               **
    **                                                                  **
    **********************************************************************
    ********************************************************************** -->
    
	<xs:element name="afr">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element afr (All Fault Reporting) containing:-              *
    *   ifault   - Mandatory Repeatable  contains describe, detect,      *
    *                                             locandrep, remarks.    *
    * or                                                                 *
    *   dfault   - Mandatory Repeatable  contains describe, detect,      *
    *                                             disolate, remarks.     *
    * or                                                                 *
    *   ofault   - Mandatory Repeatable  contains describe, fcontext,    *
    *                                             isolate, remarks.      *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ifault" maxOccurs="unbounded"/>
				<xs:element ref="dfault" maxOccurs="unbounded"/>
				<xs:element ref="ofault" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ifault">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element ifault (Isolated fault) concerns only one LRU,      *
    * containing:-                                                       *
    *   describe  - Mandatory Single   contains fdesc, refs.             *
    *   detect    - Optional  Single   contains lruitem.                 *
    *   locandrep - Mandatory Single   contains lruitem.                 *
    *   remarks   - Optional  Single   contains para, %paracon;.         *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - REQUIRED - Fault ID                               *
    *  fcode - CDATA - REQUIRED - Fault code                             *
    *  Attribute Definition list stored in entity %INSDEL;.              *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="describe"/>
				<xs:element ref="detect" minOccurs="0"/>
				<xs:element ref="locandrep"/>
				<xs:element ref="remarks" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="fcode" type="xs:string" use="required"/>
			<xs:attributeGroup ref="INSDEL"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="describe">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element describe (Fault description) containing:-           *
    *   fdesc    - Mandatory Single      contains Parsed Character Data. *
    *   refs     - Optional  Repeatable  contains norefs, rdandrt,       *
    *                                             refdms, reftp.         *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fdesc"/>
				<xs:element ref="refs" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="fdesc" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element fdesc (Fault Description) containing:-              *
    *  Parsed Character Data.                                            *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="detect">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element detect (Fault detection) containing:-               *
    *   lruitem  - Mandatory  Single   contains lru, remarks, sruitem.   *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  type  - CDATA - IMPLIED - Detection Type : Unique, Dual...        *
    *  Attribute Definition list stored in entity %INSDEL;               *
    **********************************************************************
    * EXCLUSION: repair, test.                                           *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lruitem"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attributeGroup ref="INSDEL"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="locandrep">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element locandrep (LRU location and repair procedure)       *
    *  containing:-                                                      *
    *   lruitem - Mandatory Single  contains lru, repair, remarks,       *
    *                                        suritem.                    *
    **********************************************************************
    * EXCLUSION: test.                                                   *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lruitem"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="lruitem">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element lruitem (Line Replaceable Unit Item) containing:-   *
    *  lru      - Mandatory Single      contains nomen, nsn, identno,    *
    *                                            csnref, abbrev.         *
    *  test     - Optional  Repeatable  contains testdesc, data, testproc*
    *  repair   - Optional  Single      contains refs.                   *
    *  remarks  - Optional  Single      contains para, %paracon;.        *
    *  sruitem  - Optional  Single      contains sru, test, repair,      *
    *                                            remarks.                *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  probfac  - CDATA - IMPLIED - Probability Factor for LRU Failure   *
    *  Attribute Definition list stored in entity %bodyatt;              *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lru"/>
				<xs:element ref="test" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="repair" minOccurs="0"/>
				<xs:element ref="remarks" minOccurs="0"/>
				<xs:element ref="sruitem" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="probfac" type="xs:string"/>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="sruitem">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element sruitem (Shop Replaceable Unit Item) containing:-   *
    *  sru      - Mandatory Single      contains nomen, nsn, identno,    *
    *                                            csnref, abbrev.         *
    *  test     - Optional  Repeatable  contains testdesc, data, testproc*
    *  repair   - Optional  Single      contains refs.                   *
    *  remarks  - Optional Single       contains para, %paracon;.        *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  probfac  - CDATA - IMPLIED - Probability Factor for SRU Failure   *
    *  Attribute Definition list stored in entity %bodyatt;              *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="sru"/>
				<xs:element ref="test" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="repair" minOccurs="0"/>
				<xs:element ref="remarks" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="probfac" type="xs:string"/>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="lru">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element lru (On Line Replaceable Unit) containing:-         *
    *  nomen    - Mandatory Single       contains Parsed Character Data. *
    *  nsn      - Optional  Single       contains No Other Tags.         *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *  identno  - Mandatory Single       contains pnr, mfc.              *
    * or                                                                 *
    *  csnref   - Mandatory Single       contains No Other Tags.         *
    *====================================================================*
    *  abbrev   - Optional Single        contains Parsed Character Data. *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;.             *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nomen"/>
				<xs:element ref="nsn" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="identno"/>
					<xs:element ref="csnref"/>
				</xs:choice>
				<xs:element ref="abbrev" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="sru">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element sru (On Shop Replaceable Unit) containing:-         *
    *  nomen    - Mandatory Single       contains Parsed Character Data. *
    *  nsn      - Optional  Single       contains No Other Tags.         *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *  identno  - Mandatory Single       contains pnr, mfc.              *
    * or                                                                 *
    *  csnref   - Mandatory Single       contains No Other Tags.         *
    *====================================================================*
    *  abbrev   - Optional Single        contains Parsed Character Data. *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;.             *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nomen"/>
				<xs:element ref="nsn" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="identno"/>
					<xs:element ref="csnref"/>
				</xs:choice>
				<xs:element ref="abbrev" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="abbrev">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element abbrev (LRU short designation) containing:-         *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="bodyatt"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="dfault">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element dfault (Detected Fault) concerns only one LRU,      *
    *      detected but not localized fault;                             *
    *      this fault may concern more than one LRU                      *
    *      and require more investigation to isolate the on failure LRU. *
    * containing:-                                                       *
    *   describe - Mandatory Single   contains fdesc, refs.              *
    *   detect   - Optional  Single   contains lruitem.                  *
    *   disolate - Mandatory Single   contains afiref, lruitem.          *
    *   remarks  - Optional  Single   contains para, %paracon;.          *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - REQUIRED - Fault ID                               *
    *  fcode - CDATA - REQUIRED - Fault code                             *
    *  Attribute Definition list stored in entity %INSDEL;               *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="describe"/>
				<xs:element ref="detect" minOccurs="0"/>
				<xs:element ref="disolate"/>
				<xs:element ref="remarks" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="fcode" type="xs:string" use="required"/>
			<xs:attributeGroup ref="INSDEL"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ofault">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element ofault (Observed Fault) concerns only one LRU,      *
    *     not detected by built-in test system;                          *
    *     this fault may concern more than one LRU                       *
    *     and require more investigation to isolate the on failure LRU.  *
    * containing:-                                                       *
    *   describe  - Mandatory Single  contains fdesc, refs.              *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *   fcontext  - Optional  Single  contains Parsed Character Data.    *
    *   isolate   - Mandatory Single  contains afiref, diagnost, lruitem.*
    *====================================================================*
    *   remarks   - Optional  Single  contains PARA, %paracon;.          *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - REQUIRED - Fault ID                               *
    *  fcode - CDATA - REQUIRED - Fault code                             *
    *  ftype - CDATA - IMPLIED  - Fault Type for Observed Fault          *
    *     allows to sort the faults depending of cabin / not cabin observ*
    *  Attribute Definition list stored in entity %INSDEL;               *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="describe"/>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="fcontext" minOccurs="0"/>
					<xs:element ref="isolate"/>
				</xs:sequence>
				<xs:element ref="remarks" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="fcode" type="xs:string"/>
			<xs:attribute name="ftype" type="xs:string"/>
			<xs:attributeGroup ref="INSDEL"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="disolate">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element disolate (D Fault Location)                         *
    *  for an ambiguous fault, this part allows to refer either to:      *
    *  the list of on failure LRU a trouble shooting procedure           *
    * containing:-                                                       *
    *   afiref  - Mandatory Single      contains refs.                   *
    * or                                                                 *
    *   lruitem - Mandatory Repeatable  contains lru, test, repair,      *
    *                                            remarks, sruitem.       *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="afiref"/>
				<xs:element ref="lruitem" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="afiref">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element afiref (All Fault Isolation Reference)              *
    *     for an ambiguous fault, reference to AFI DM for LRU isolation  *
    * containing:-                                                       *
    *  refs    - Mandatory Repeatable  contains norefs, rdandrt, refdms, *
    *                                           reftp.                   *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="refs" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="repair">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element repair (Action To Be Performed For Repair)          *
    *            Reference to procedural data module for fault repair    *
    * containing:-                                                       *
    *  refs    - Mandatory Repeatable  contains norefs, rdandrt, refdms, *
    *                                           reftp.                   *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="refs" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="testdesc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element testdesc (Test Description),                        *
    *            allows to describe the test to be performed.            *
    *            Text or reference to descriptive DM,                    *
    *                ie for graphic test system presentation             *
    * containing:-                                                       *
    *  testnomen - Mandatory Single      contains Parsed Character Data. *
    *  refs      - Optional  Repeatable  contains norefs, rdandrt,       *
    *                                             refdms, reftp.         *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="testnomen"/>
				<xs:element ref="refs" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="testnomen" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element testnomen (Test Designation) containing:-           *
    *  Parsed Character Data.                                            *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="testproc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element testproc (Test Procedure)                           *
    *        Reference to procedural data modules describing             *
    *        the way to perform the test                                 *
    * containing:-                                                       *
    *  refs     - Mandatory Repeatable  contains norefs, rdandrt,        *
    *                                            refdms, reftp.          *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="refs" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="isolate">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element isolate (O Fault Location)                          *
    *     for an ambiguous fault, this part allows to refer either to:   *
    *             the list of on failure LRU                             *
    *             a trouble shooting procedure                           *
    *             a diagnostic procedure                                 *
    * containing:-                                                       *
    *   afiref   - Mandatory Single      contains refs.                  *
    *  or                                                                *
    *   diagnost - Mandatory Single      contains reason, repair, lruitem*
    *  or                                                                *
    *   lruitem  - Mandatory Repeatable  contains lru, test, repair,     *
    *                                             remarks, sruitem.      *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="afiref"/>
				<xs:element ref="diagnost"/>
				<xs:element ref="lruitem" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="diagnost">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element diagnost (Fault Diagnostic)                         *
    *  contains either an LRU identification, or the reason of failure   *
    * containing:-                                                       *
    *====================================================================*
    * Mandatory Single Group                                             *
    *====================================================================*
    *  reason  - Mandatory Single  contains Parsed Character Data.       *
    *  repair  - Mandatory Single  contains refdm, issno, dmtitle, reftp.*
    *====================================================================*
    * or                                                                 *
    *  lruitem - Mandatory Single  contains lru, repair, remarks, sruitem*
    **********************************************************************
    * EXCLUSION: test.                                                   *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="reason"/>
					<xs:element ref="repair"/>
				</xs:sequence>
				<xs:element ref="lruitem"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="reason" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element reason (Cause of Failure) containing:-              *
    *     text describing the fault diagnostic                           *
    *     if not identifiable by an LRU/SRU, ie leak of fuel system.     *
    * Containing:-                                                       *
    *  Parsed Character Data.                                            *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="fcontext" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element fcontext (Context For Isolate Proc Determination)   *
    *   refering to specific conditions under which the fault occured,   *
    *   allows to isolate the on failure LRU                             *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="test">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element test (Test Needed For LRU Isolation)                *
    * containing:-                                                       *
    *   testdesc - Optional  Single      contains testnomen, refs.       *
    *   data     - Optional  Repeatable  contains No Other Tags.         *
    *   testproc - Optional  Single      contains refs.                  *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  type  - CDATA - REQUIRED - Test Type                              *
    *  code  - CDATA - REQUIRED - Test Identifier                        *
    *  Attribute Definition list stored in entity %bodyatt;              *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="testdesc" minOccurs="0"/>
				<xs:element ref="data" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="testproc" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="code" type="xs:string" use="required"/>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="data">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element data (Range Of Data To Be Set For Testing)          *
    *      (depending on test procedure),                                *
    *      ie rotate from 24 to 60 degree, input 24 volts ...            *
    * containing:-                                                       *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  from  - CDATA - IMPLIED - Range From                              *
    *  to    - CDATA - IMPLIED - Range To                                *
    *  uom   - CDATA - IMPLIED - Unit Of Measurement                     *
    *  Attribute Definition list stored in entity %INSDEL;               *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="from" type="xs:string"/>
			<xs:attribute name="to" type="xs:string"/>
			<xs:attribute name="uom" type="xs:string"/>
			<xs:attributeGroup ref="INSDEL"/>
		</xs:complexType>
	</xs:element>
	
		
<!--**********************************************************************
    **********************************************************************
    **                                                                  **
    **             AIR VEHICLE FAULT ISOLATION (AFI) PART               **
    **                                                                  **
    **********************************************************************
    **********************************************************************-->
    
	<xs:element name="afi">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element afi (All Fault Isolation) containing:-              *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *   fault     - Mandatory Single   contains No Other Tags.           *
    *   describe  - Mandatory Single   contains fdesc, refs.             *
    *   isoproc   - Mandatory Single   contains prelreqs, isolatep,      *
    *                                           closetxt.                *
    *====================================================================*
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="fault"/>
				<xs:element ref="describe"/>
				<xs:element ref="isoproc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="fault">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element fault (Fault)                                       *
    *                                                                    *
    * Remark : Fault is either an Observed Fault or a Detected Fault     *
    *          because AFI trouble shooting procedure is called by       *
    *          an afiref element located either in an observed or        *
    *          detected fault from AFR.                                  *
    *                                                                    *
    *  containing:-                                                      *
    *    No Other Tags.                                                  *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  fcode - CDATA - REQUIRED - Fault Code                             *
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="fcode" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="isoproc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element isoproc (Isolation Procedure) containing:-          *
    *   prelreqs  - Mandatory Single  contains pmd, reqconds, reqpers,   *
    *                                 supequip, supplies, spares, safety.*
    *   isolatep  - Mandatory Single  contains isostep, isoend.          *
    *   closetxt  - Optional  Single  contains definition stored in      *
    *                                 entity %text; or para.             *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;.             *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prelreqs"/>
				<xs:element ref="isolatep"/>
				<xs:element ref="closetxt" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="closetxt">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element closetxt (Close Text) containing:-                  *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *  Definition stored in entity %text;                                *
    * or                                                                 *
    *  para     - Mandatory  Single    contains definition stored in     *
    *                                           entity %paracon;.        *
    *====================================================================*
    **********************************************************************	
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="text"/>
				<xs:element ref="para"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="isolatep">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element isolatep (Isolation Procedure Core) containing:-    *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *   isostep - Mandatory Single   contains action, question, answer.  *
    * or                                                                 *
    *   isoend  - mandatory single   contains action.                    *
    *====================================================================*
    **********************************************************************
    * INCLUSION: figure, foldout, table.                                 *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>				
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="isostep"/>
					<xs:element ref="isoend"/>
					<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="isostep">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	 
    * Define Element isostep (Step of Isolation Procedure) containing:-  *
    *   Definition stored in entity %ISOSTPH;.                           *
    *====================================================================*
    *   Optional Single Group                                            *
    *====================================================================*
    *     Definition stored in entity %ISOSTPA;                          *
    *     question  - Mandatory Single   contains Parsed Character Data. *
    *     answer    - Mandatory Single   contains yesno,sel-list,entfield*
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - REQUIRED - Isolation step ID                      *
    *  Attribute Definition List stored in entity %CHECKSTP;             *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:group ref="ISOSTPH"/>
					<xs:sequence minOccurs="0">
						<xs:group ref="ISOSTPA" minOccurs="0" maxOccurs="unbounded"/>						
						<xs:element ref="question"/>
						<xs:element ref="answer"/>
					</xs:sequence>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attributeGroup ref="CHECKSTP"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="isoend">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	 
    * Define Element isoend (Final Step of Isolation Procedure)          *
    * containing:-                                                       *
    *   Definition stored in entity %ISOSTPH;.                           *
    *   Definition stored in entity %ISOSTPA;.                           *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - REQUIRED - Isolation End Step ID                  *
    *  Attribute Definition List stored in entity %CHECKSTP;             *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:group ref="ISOSTPH"/>
					<xs:group ref="ISOSTPA" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attributeGroup ref="CHECKSTP"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="action">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element action (Action to be performed) containing:-        *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *   Definition stored in entity %text;                               *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="fft_inc"/>
				<xs:group ref="text"/>	
			</xs:choice>
			
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="question">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element question (Question) containing:-                    *
    *   Parsed Character Data.                                           *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="answer">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element answer (Answer to Question) containing:-            *
    *   yesno     - Mandatory Single   contains yes, no.                 *
    * or                                                                 *
    *   sel-list  - Mandatory Single   contains choice.                  *
    * or                                                                 *
    *   entfield  - Mandatory Single   contains No Other Tags.           *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>				
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>	
				<xs:element ref="yesno"/>
				<xs:element ref="sel-list"/>
				<xs:element ref="entfield"/>
			</xs:choice>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="yesno">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element yesno (Yes or No Answer) containing:-               *
    *   yes   - Mandatory Single     contains No Other Tags.             *
    *   no    - Mandatory Single     contains No Other Tags.             *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="yes"/>
					<xs:element ref="no"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="sel-list">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element sel-list (Selection List Answer) containing:-       *
    *   choice - Mandatory Repeatable   contains Parsed Character Data.  *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="choice" maxOccurs="unbounded"/>		
			</xs:choice>	
		</xs:complexType>
	</xs:element>

	<xs:element name="yes">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element yes (Yes) containing:-                              *
    *   No Other Tags.                                                   *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  refid    - IDREF   - REQUIRED - Refer to an isostep or isoend     *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="refid" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="no">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element no (No) containing:-                                *
    *   No Other Tags.                                                   *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  refid    - IDREF   - REQUIRED - Refer to an isostep or isoend     *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="refid" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="entfield">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element entfield (Entry Field) containing:-                 *
    *   No Other Tags.                                                   *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  refid    - IDREF   - REQUIRED - Refer to an isostep or isoend     *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="refid" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="choice">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************	
    * Define Element choice (Choice in a Selection List) containing:-    *
    *   Parsed Character Data.                                           *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  refid    - IDREF   - REQUIRED - Refer to an isostep or isoend     *
    **********************************************************************	 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:group ref="fft_inc" minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="refid" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
	

</xs:schema>