doctypes/S1000D_2-1/xml_schema/dm/fig_tab.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier.                                       *
    * 2. CPF 2000-04D: Amend element legend by attribute list defined    *
    *                  in entity %bodyatt;.                              *
    * 3. Bug fix:      Redefine attributes charoff and char on element   *
    *                  tgroup consistently with other occurrences of     *
    *                  these attributes, ie they are now optional        *
    *                  without a default value.                          *
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % EXTFTAB PUBLIC                                          *
    *   "-//S1000D//ELEMENTS Figure And Table Breakdown 20030531//EN" >  *
    * %EXTFTAB;                                                          *
    ********************************************************************** -->


<xs:element name="foldout">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element foldout (A3 Foldout) containing:-                   *
    *  figure   - Mandatory  Single     contains Definition stored in    *
    *                                   entity %titles;, applic, graphic,*
    *                                   sheet, rfa, legend.              *
    * or                                                                 *
    *  table    - Mandatory  Single     contains Definition stored in    *
    *                                   entity %titles;, tgroup, graphic.*
    **********************************************************************
    * EXCLUSION: foldout.                                                *
    **********************************************************************
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:choice>
			<xs:element ref="figure"/>
			<xs:element ref="table"/>
		</xs:choice>
	</xs:complexType>
</xs:element>

<xs:element name="figure">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element figure (Figure) containing:-                        *
    *====================================================================*
    * Mandatory Single Group.                                            *
    *====================================================================*
    *  Definition stored in entity %titles;                              *
    *++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*
    *  graphic  - Mandatory  Single      contains No Other Tags.         *
    *  rfa      - Optional   Repeatable  contains APPLIC, Definition     *
    *                                    stored in entity %text;         *
    * or                                                                 *
    *====================================================================*
    * Mandatory Repeatable Group.                                        *
    *====================================================================*
    *  applic   - Optional   Single      contains type, model.           *
    *  sheet    - Mandatory  Single      contains No Other Tags.         *
    *  graphic  - Mandatory  Single      contains No Other Tags.         *
    *  rfa      - Optional   Repeatable  contains applic, Definition     *
    *                                    stored in entity %text;         *
    *====================================================================*
    *++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*
    *  legend   - Optional   Single      contains deflist.               *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    * Attribute Definition List stored in entity %bodyatt;               *
    * Attribute Definition List stored in entity %secur;                 *
    **********************************************************************
    * EXCLUSION: figure, foldout, table.                                 *
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:group ref="titles"/>	
			<xs:choice>
				<xs:sequence>
					<xs:element ref="graphic"/>
					<xs:element ref="rfa" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="applic" minOccurs="0"/>
					<xs:element ref="sheet"/>
					<xs:element ref="graphic"/>
					<xs:element ref="rfa" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
			<xs:element ref="legend" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="bodyatt"/>
		<xs:attributeGroup ref="secur"/>
	</xs:complexType>
</xs:element>

<xs:element name="sheet">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element sheet (Figure Sheet) containing:-                   *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  sheetno  - NUMBER   - REQUIRED - Sheet number.                    *
    *  total    - NUMBER   - REQUIRED - Total number of sheets.          *
    *  Attribute Definition List stored in entity %bodyatt;              *
    **********************************************************************
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="sheetno" type="xs:string" use="required"/>
		<xs:attribute name="total" type="xs:string" use="required"/>
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
</xs:element>

<xs:element name="rfa">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element rfa (Reason For Amendment) containing:-             *
    *  applic   - Optional   Single      contains type, model.           *
    *====================================================================*
    *  Mandatory Repeatable Group.                                       *
    *====================================================================*
    *   Definition stored in entity %text;                               *
    *====================================================================*
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>
	<xs:complexType mixed="true">
		<xs:sequence minOccurs="0">
			<xs:element ref="applic" minOccurs="0"/>
			<xs:group ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="legend">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element legend (Legend) containing:-                        *
    *  deflist  - Mandatory  Single      contains Definition stored in   *
    *                                    entity %titles;, term, def.     *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;.             *
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>	
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="deflist"/>
		</xs:sequence>
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
</xs:element>

<xs:element name="table">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element table (Table) containing:-                          *
    *  applic   - Optional   Single      contains type, model.           *
    *  title    - Optional   Single      contains Definition stored in   *
    *                                    entity %text;                   *
    *====================================================================*
    *  tgroup   - Mandatory  Repeatable  contains colspec, spanspec,     *
    *                                    thead, tfoot, tbody.            *
    * or                                                                 *
    *  graphic  - Mandatory  Repeatable  contains No Other Tags.         *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  tabstyle - NMTOKEN  - IMPLIED  - A unique table style.            *
    *  tocentry - NUMBER   - "1"      - Included in list of tables.      *
    *  frame    - Declared - IMPLIED  - Position of border siderules, as *
    *                      - well as the required top and bottom rules.  *
    *           - "top"    -                                             *
    *           - "bottom" -                                             *
    *           - "topbot" -                                             *
    *           - "all"    -                                             *
    *           - "sides"  -                                             *
    *           - "none"   -                                             *
    *  colsep   - NUMBER   - IMPLIED  - Internal Column rulings.         *
    *           - "0"      - Do Not display internal column rulings.     *
    *           - "1"      - Display internal column rulings.            *
    *  rowsep   - NUMBER   - IMPLIED  - Internal Row rulings.            *
    *           - "0"      - Do Not display internal row rulings.        *
    *           - "1"      - Display internal row rulings.               *
    *  orient   - Declared - "port"   - Writing direction of table.      *
    *           - "port"   - Table writing direction (along rows) is the *
    *                      - same as marginal text.                      *
    *           - "land"   - Table writing direction is 90 degrees       *
    *                      - counterclockwise to marginal text and title.*
    *  pgwide   - NUMBER   - "1"      - Width of table.                  *
    *           - "0"      - The table runs just across the (galley)     *
    *                      - width of the current column of the page.    *
    *           - "1"      - The table runs across the page.             *
    *  Attribute Definition List stored in entity %bodyatt;.             *
    *  Attribute Definition List stored in entity %secur;.               *
    **********************************************************************
    * EXCLUSION: figure, foldout, table.                                 *
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="applic" minOccurs="0"/>
			<xs:element ref="title" minOccurs="0"/>
			<xs:choice>
				<xs:element ref="tgroup" maxOccurs="unbounded"/>
				<xs:element ref="graphic" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="tabstyle" type="xs:NMTOKEN"/>
		<xs:attribute name="tocentry" type="yesorno" default="1"/>
		<xs:attribute name="frame">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="topbot"/>
					<xs:enumeration value="all"/>
					<xs:enumeration value="sides"/>
					<xs:enumeration value="none"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="colsep" type="yesorno"/>
		<xs:attribute name="rowsep" type="yesorno"/>
		<xs:attribute name="orient">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="port"/>
					<xs:enumeration value="land"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pgwide" type="xs:string"/>
		<xs:attributeGroup ref="bodyatt"/>
		<xs:attributeGroup ref="secur"/>
	</xs:complexType>
</xs:element>

<xs:element name="tgroup">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element tgroup (Table Group) containing:-                   *
    *  colspec  - Optional   Repeatable  contains No Other Tags.         *
    *  spanspec - Optional   Repeatable  contains No Other Tags.         *
    *  thead    - Optional   Single      contains colspec, row.          *
    *  tfoot    - Optional   Single      contains colspec, row.          *
    *  tbody    - Mandatory  Single      contains row.                   *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  cols     - NUMBER   - REQUIRED - The number of distinct columns.  *
    *  tgstyle  - NMTOKEN  - IMPLIED  - A unique table group style.      *
    *  colsep   - NUMBER   - IMPLIED  - Internal Column rulings.         *
    *           - "0"      - Do Not display internal column rulings.     *
    *           - "1"      - Display internal column rulings.            *
    *  rowsep   - NUMBER   - IMPLIED  - Internal Row rulings.            *
    *           - "0"      - Do Not display internal row rulings.        *
    *           - "1"      - Display internal row rulings.               *
    *  align    - Declared - "left"   - Text horizontal position within  *
    *                        the column (or portion controlled by this   *
    *                        tgroup.                                     *
    *           - "left"   - Quad (flush) left.                          *
    *           - "center" - Centered.                                   *
    *           - "right"  - Quad (flush) right.                         *
    *           - "justify"- Both quad left and quad right.              *
    *           - "char"   - Align on leftmost of char, position be      *
    *                        charoff.                                    *
    *  charoff  - NUTOKEN  - IMPLIED  - The percent of the current width *
    *                        to the left of the (left edge of) the       *
    *                        alignment character, eg "50".               *
    *  char     - CDATA    - IMPLIED  - The value is the alignment       *
    *                        character on which entries controlled by    *
    *                        this tgroup are aligned.                    *
    **********************************************************************
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="colspec" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="spanspec" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="thead" minOccurs="0"/>
			<xs:element ref="tfoot" minOccurs="0"/>
			<xs:element ref="tbody"/>
		</xs:sequence>
		<xs:attribute name="cols" type="xs:string" use="required"/>
		<xs:attribute name="tgstyle" type="xs:NMTOKEN"/>
		<xs:attribute name="colsep" type="yesorno"/>
		<xs:attribute name="rowsep" type="yesorno"/>
		<xs:attribute name="align" default="left">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="charoff" type="xs:string" default="50"/>
		<xs:attribute name="char" type="xs:string"/>
	</xs:complexType>
</xs:element>

<xs:element name="colspec">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element colspec (Column Specification) containing:-         *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute List:-                                                   *
    *  colnum   - NUMBER   - IMPLIED  - This identifies the number of    *
    *                        the column counting from 1 at left of table.*
    *  colname  - NMTOKEN  - IMPLIED  - Name of the column.              *
    *  align    - Declared - "left"   - Text horizontal position within  *
    *                        the column (or portion controlled by this   *
    *                        tgroup.                                     *
    *           - "left"   - Quad (flush) left.                          *
    *           - "center" - Centered.                                   *
    *           - "right"  - Quad (flush) right.                         *
    *           - "justify"- Both quad left and quad right.              *
    *           - "char"   - Align on leftmost of char, position be      *
    *                        charoff.                                    *
    *  charoff  - NUTOKEN  - IMPLIED  - The percent of the current width *
    *                        to the left of the (left edge of) the       *
    *                        alignment character, eg "50".               *
    *  char     - CDATA    - IMPLIED  - The value is the alignment       *
    *                        character on which entries are aligned.     *
    *  colwidth - CDATA    - IMPLIED  - Width of the column.             *
    *  colsep   - NUMBER   - IMPLIED  - Internal Column rulings.         *
    *           - "0"      - Do Not display internal column rulings.     *
    *           - "1"      - Display internal column rulings.            *
    *  rowsep   - NUMBER   - IMPLIED  - Internal Row rulings.            *
    *           - "0"      - Do Not display internal row rulings.        *
    *           - "1"      - Display internal row rulings.               *
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="colnum" type="xs:string"/>
		<xs:attribute name="colname" type="xs:NMTOKEN"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="colwidth" type="xs:string"/>
		<xs:attribute name="colsep" type="yesorno"/>
		<xs:attribute name="rowsep" type="yesorno"/>
	</xs:complexType>
</xs:element>

<xs:element name="spanspec">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element spanspec (Span Column Specification) containing:-   *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  namest   - NMTOKEN  - REQUIRED - Name of the left most column of  *
    *                        the span.                                   *
    *  nameend  - NMTOKEN  - REQUIRED - Name of the right most column of *
    *                        the span.                                   *
    *  spanname - NMOTKEN  - REQUIRED - Name of the horizontal span.     *
    *  align    - Declared - "left"   - Text horizontal position within  *
    *                        the column.                                 *
    *           - "left"   - Quad (flush) left.                          *
    *           - "center" - Centered.                                   *
    *           - "right"  - Quad (flush) right.                         *
    *           - "justify"- Both quad left and quad right.              *
    *           - "char"   - Align on leftmost of char, position be      *
    *                        charoff.                                    *
    *  charoff  - NUTOKEN  - IMPLIED  - The percent of the current width *
    *                        to the left of the (left edge of) the       *
    *                        alignment character, eg "50".               *
    *  char     - CDATA    - IMPLIED  - The value is the alignment       *
    *                        character on which entries are aligned.     *
    *  colsep   - NUMBER   - IMPLIED  - Internal Column rulings.         *
    *           - "0"      - Do Not display internal column rulings.     *
    *           - "1"      - Display internal column rulings.            *
    *  rowsep   - NUMBER   - IMPLIED  - Internal Row rulings.            *
    *           - "0"      - Do Not display internal row rulings.        *
    *           - "1"      - Display internal row rulings.               *
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:attribute name="namest" type="xs:NMTOKEN" use="required"/>
		<xs:attribute name="nameend" type="xs:NMTOKEN" use="required"/>
		<xs:attribute name="spanname" type="xs:NMTOKEN" use="required"/>
		<xs:attribute name="align" default="center">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="colsep" type="yesorno"/>
		<xs:attribute name="rowsep" type="yesorno"/>
	</xs:complexType>
</xs:element>

<xs:element name="thead">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element thead (Table Header) containing:-                   *
    *  colspec  - Optional   Repeatable  contains No Other Tags.         *
    *  row      - Mandatory  Repeatable  contains entry.                 *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  valign   - Declared - "bottom" - Text vertical positioning within *
    *                                   the entries.                     *
    *           - "top"    - Align text vertically to top of entries.    *
    *           - "middle" - Approximately vertically centered.          *
    *           - "bottom" - Align text vertically to bottom of entries. *
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="colspec" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="row" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="valign" default="bottom">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>

<xs:element name="tfoot">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element tfoot (Table Footer) containing:-                   *
    *  colspec  - Optional   Repeatable  contains No Other Tags.         *
    *  row      - Mandatory  Repeatable  contains entry.                 *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  valign   - Declared - "top"    - Text vertical positioning within *
    *                                   the entries.                     *
    *           - "top"    - Align text vertically to top of entries.    *
    *           - "middle" - Approximately vertically centered.          *
    *           - "bottom" - Align text vertically to bottom of entries. *
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="colspec" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="row" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="valign" default="top">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>

<xs:element name="tbody">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element tbody (Table Body) containing:-                     *
    *   row      - Mandatory  Repeatable  contains entry.                *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  valign   - Declared - "top"    - Text vertical positioning within *
    *                                   the entries.                     *
    *           - "top"    - Align text vertically to top of entries.    *
    *           - "middle" - Approximately vertically centered.          *
    *           - "bottom" - Align text vertically to bottom of entries. *
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="row" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="valign" default="top">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:element>

<xs:element name="row">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element row (Row Of Table) containing:-                     *
    *   entry    - Mandatory  Repeatable  contains para, warning, caution*
    *                                     note, legend, Defintion stored *
    *                                     in entity %paracon;            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  rowsep   - NUMBER   - IMPLIED  - Internal Row rulings.            *
    *           - "0"      - Do Not display internal row rulings.        *
    *           - "1"      - Display internal row rulings.               *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="entry"/>
		</xs:sequence>
		<xs:attribute name="rowsep" type="yesorno"/>
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
</xs:element>

<xs:element name="entry">
	<xs:annotation>
		<xs:documentation>
    **********************************************************************
    * Define Element entry (Table Entry) containing:-                    *
    *====================================================================*
    * Mandatory Repeatable Group.                                        *
    *====================================================================*
    *   para     - Mandatory  Single      contains Definition stored in  *
    *                                     entity %paracon;               *
    *  or                                                                *
    *   warning  - Mandatory  Single      contains applic, para,         *
    *                                     Definition stored in entity    *
    *                                     %list;                         *
    *  or                                                                *
    *   caution  - Mandatory  Single      contains applic, para,         *
    *                                     Definition stored in entity    *
    *                                     %list;                         *
    *  or                                                                *
    *   note     - Mandatory  Single      contains applic, para,         *
    *                                     Definition stored in entity    *
    *                                     %list;                         *
    *  or                                                                *
    *   legend   - Mandatory  Single      contains deflist.              *
    *  or                                                                *
    *   Definition stored in entity %paracon;.                           *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  colname  - NMTOKEN  - IMPLIED  - Column name of entry.            *
    *                                                                    *
    * Note.                                                              *
    *  The following attributes namest and nameend are included for      *
    * compatibility with MIL-M-28001A. They are not currently applicable *
    * to S1000D Data Module use.                                         *
    *                                                                    *
    *  namest   - NMTOKEN  - IMPLIED  - Name of the left most column of  *
    *                                   the span.                        *
    *  nameend  - NMTOKEN  - IMPLIED  - Name of the right most column of *
    *                                   the span.                        *
    *  spanname - NMTOKEN  - IMPLIED  - Name of horizontal span.         *
    *  morerows - NUMBER   - "0"      - Number of additional rows in a   *
    *                        vertical straddle.                          *
    *  colsep   - NUMBER   - IMPLIED  - Internal Column rulings.         *
    *           - "0"      - Do Not display internal column rulings.     *
    *           - "1"      - Display internal column rulings.            *
    *  rowsep   - NUMBER   - IMPLIED  - Internal Row rulings.            *
    *           - "0"      - Do Not display internal row rulings.        *
    *           - "1"      - Display internal row rulings.               *
    *  rotate   - NUMBER   - "0"      - Rotation of entry content.       *
    *           - "0"      - Content is in the orientation of the table. *
    *           - "1"      - Content is 90 degrees counterclockwise to   *
    *                        table orientation.                          *
    *  valign   - Declared - "top"    - Text vertical positioning within *
    *                                   the entries.                     *
    *           - "top"    - Align text vertically to top of entries.    *
    *           - "middle" - Approximately vertically centered.          *
    *           - "bottom" - Align text vertically to bottom of entries. *
    *  align    - Declared - IMPLIED  - Text horizontal position within  *
    *                                   the column.                      *
    *           - "left"   - Quad (flush) left.                          *
    *           - "center" - Centered.                                   *
    *           - "right"  - Quad (flush) right.                         *
    *           - "justify"- Both quad left and quad right.              *
    *           - "char"   - Align on leftmost of char, position be      *
    *                        charoff.                                    *
    *  charoff  - NUTOKEN  - IMPLIED  - The percent of the current width *
    *                        to the left of the (left edge of) the       *
    *                        alignment character, eg "50".               *
    *  char     - CDATA    - IMPLIED  - The value is the alignment       *
    *                        character on which entries are aligned.     *
    *  id       - ID       - IMPLIED  - The unique identifier of this    *
    *                                   table entry.                     *
    ********************************************************************** 
		</xs:documentation>
	</xs:annotation>
	<xs:complexType mixed="true">
		<xs:choice minOccurs="0"  maxOccurs="unbounded">
			<xs:element ref="para"/>
			<xs:element ref="warning"/>
			<xs:element ref="caution"/>
			<xs:element ref="note"/>
			<xs:element ref="legend"/>
			<xs:group ref="paracon"/>
		</xs:choice>
		<xs:attribute name="colname" type="xs:NMTOKEN"/>
		<xs:attribute name="namest" type="xs:NMTOKEN"/>
		<xs:attribute name="nameend" type="xs:NMTOKEN"/>
		<xs:attribute name="spanname" type="xs:NMTOKEN"/>
		<xs:attribute name="morerows" type="xs:string" default="0"/>
		<xs:attribute name="colsep" type="yesorno"/>
		<xs:attribute name="rowsep" type="yesorno"/>
		<xs:attribute name="rotate" type="yesorno" default="0"/>
		<xs:attribute name="valign" default="top">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="middle"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="charoff" type="xs:string"/>
		<xs:attribute name="char" type="xs:string"/>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
</xs:element>


</xs:schema>