doctypes/S1000D_2-1/xml_schema/dm/paras.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier.                                       *
    * 2. CPF 2001-41D:  Allow elements subpara1, subpara2, subpara3 and  *
    *                   subpara4 to be used "zero or multiple" within    *
    *                   the context of para0.                            *
    * 3. CPF 2002-38SE: Redefine content model in entity %NPAR; due to   *
    *                   deletion of element specpara.                    *
    *                   Redefine content model in entity %HEADING;       *
    *                   by call of entity %HEADING1;.                    *
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % EXTPARA  PUBLIC                                         *
    *   "-//S1000D//ELEMENTS Numbered Paragraphs Breakdown 20030531//EN">*
    * %EXTPARA;                                                          *
    ********************************************************************** -->


	<xs:group name="nparcon">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Entity %nparcon; (Numbered/Titled Paragraphs) containing:-  *
    *  Definition stored in entity %HEADING;                             *
    *  Definition stored in entity %NPAR;                                *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>		
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="gen_inc" minOccurs="0"/>
				<xs:sequence>
					<xs:group ref="HEADING" minOccurs="0"/>
					<xs:group ref="NPAR" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:group>

	<xs:group name="SUBPAR1">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Entity %SUBPAR1; (Sub Paragraph 1) containing:-             *
    *  subpara1 - Optional   Repeatable  contains Definition stored in   *
    *                                    entity %nparcon;, subpara2.     *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>		
			<xs:element ref="subpara1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>		
	</xs:group>

	<xs:element name="para0">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element para0 (Primary Paragraph) containing:-              *
    *  Definition stored in entity %nparcon;                             *
    *  Definition stored in entity %SUBPAR1;                             *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">	
				<xs:group ref="nparcon" minOccurs="0"/>
				<xs:group ref="SUBPAR1" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
			<xs:attributeGroup ref="secur"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="subpara1">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element subpara1 (Sub Paragraph Level 1) containing:-       *
    *  Definition stored in entity %nparcon;                             *
    *  subpara2 - Optional  Repeatable   contains Definition stored in   *
    *                                    entity %nparcon;, subpara3.     *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:group ref="nparcon" minOccurs="0"/>
				<xs:element ref="subpara2" minOccurs="0" maxOccurs="unbounded"/>
		 	</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
			<xs:attributeGroup ref="secur"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="subpara2">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element subpara2 (Sub Paragraph Level 2) containing:-       *
    *  Definition stored in entity %nparcon;                             *
    *  subpara3 - Optional  Repeatable   contains Definition stored in   *
    *                                    entity %nparcon;, subpara4.     *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>	
			<xs:sequence maxOccurs="unbounded">
				<xs:group ref="nparcon" minOccurs="0"/>
				<xs:element ref="subpara3" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
			<xs:attributeGroup ref="secur"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="subpara3">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element subpara3 (Sub Paragraph Level 3) containing:-       *
    *  Definition stored in entity %nparcon;                             *
    *  subpara4 - Optional  Repeatable   contains Definition stored in   *
    *                                    entity %nparcon;.               *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>	
			<xs:sequence maxOccurs="unbounded">
				<xs:group ref="nparcon" minOccurs="0"/>
				<xs:element ref="subpara4" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
			<xs:attributeGroup ref="secur"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="subpara4">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element subpara4 (Sub Paragraph Level 4) containing:-       *
    *  Definition stored in entity %nparcon;.                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:group ref="nparcon" minOccurs="0"/>
			<xs:attributeGroup ref="bodyatt"/>
			<xs:attributeGroup ref="secur"/>
		</xs:complexType>
	</xs:element>


</xs:schema>