doctypes/S1000D_2-1/xml_schema/dm/wcnp.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier.                                       *
    * 2. CPF 1999-70D: Replace element graphic in content models of      *
    *                  warning, caution and note by element symbol.      *
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % WCNP PUBLIC                                             *
    *   "-//S1000D//ELEMENTS Warning Caution Note Paragraphs 20030531    *
    *    //EN" >                                                         *
    * %WCNP;                                                             *
    ********************************************************************** -->


	<xs:element name="warning">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element warning (Warning) containing:-                      *
    *   applic  - Optional   Single      contains type, model.           *
    *====================================================================*
    * Mandatory Repeatable Group.                                        *
    *====================================================================*
    *   symbol  - Mandatory  Single      contains No Other Tags.         *
    *  or                                                                *
    *   para    - Mandatory  Single      contains applic, Definition     *
    *                                     stored in entity %paracon;.    *
    *  or                                                                *
    *   Definition stored in entity %list;                               *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  type     - CDATA    - IMPLIED  - Specifies the type of Warning.   *
    *  xrefid   - IDREF    - IMPLIED  - Specifies a unique identifier of *
    *                                   an element.                      *
    *  vital    - NUMBER   - "0"      - Declares if vital warning.       *
    *           - "0"      - None Vital Warning.                         *
    *           - "1"      - Vital Warning.                              *
    *  Attribute Definition List stored in entity %bodyatt;              *
    **********************************************************************
    * EXCLUSION:- figure, foldout, table.                                *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="applic" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="symbol"/>
					<xs:element ref="para"/>
					<xs:group ref="list"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="xrefid" type="xs:IDREF"/>
			<xs:attribute name="vital" type="yesorno" default="0"/>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="caution">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element caution (Caution) containing:-                      *
    *   applic  - Optional   Single      contains type, model.           *
    *====================================================================*
    * Mandatory Repeatable Group.                                        *
    *====================================================================*
    *   symbol  - Mandatory  Single      contains No Other Tags.         *
    *  or                                                                *
    *   para    - Mandatory  Single      contains applic, Definition     *
    *                                     stored in entity %paracon;.    *
    *  or                                                                *
    *   Definition stored in entity %list;                               *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  type     - CDATA    - IMPLIED  - Specifies the type of Caution.   *
    *  xrefid   - IDREF    - IMPLIED  - Specifies a unique identifier of *
    *                                   an element.                      *
    *  Attribute Definition List stored in entity %bodyatt;              *
    **********************************************************************
    * EXCLUSION:- figure, foldout, table.                                *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="applic" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="symbol"/>
					<xs:element ref="para"/>
					<xs:group ref="list"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="xrefid" type="xs:IDREF"/>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="note">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element note (Note) containing:-                            *
    *   applic  - Optional   Single      contains type, model.           *
    *====================================================================*
    * Mandatory Repeatable Group.                                        *
    *====================================================================*
    *   symbol  - Mandatory  Single      contains No Other Tags.         *
    *  or                                                                *
    *   para    - Mandatory  Single      contains applic, Definition     *
    *                                     stored in entity %paracon;.    *
    *  or                                                                *
    *   Definition stored in entity %list;                               *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  type     - CDATA    - IMPLIED  - Specifies the type of Note.      *
    *  xrefid   - IDREF    - IMPLIED  - Specifies a unique identifier of *
    *                                   an element.                      *
    *  Attribute Definition List stored in entity %bodyatt;              *
    **********************************************************************
    * EXCLUSION:- figure, foldout, table.                                *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="applic" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="symbol"/>
					<xs:element ref="para"/>
					<xs:group ref="list"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="xrefid" type="xs:IDREF"/>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="para">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element para (Paragraph) containing:-                       *
    *   applic  - Optional   Single      contains type, model.           *
    *   Definition stored in entity %paracon;                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute definition list stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="gen_inc"/>
				<xs:sequence>
					<xs:element ref="applic" minOccurs="0"/>
					<xs:group ref="paracon"/>
				</xs:sequence>
			</xs:choice>
			<xs:attributeGroup ref="bodyatt"/>
			<xs:attributeGroup ref="secur"/>
		</xs:complexType>
	</xs:element>


</xs:schema>