doctypes/ATA_Spec2300_2017.1/common/limit/limit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../basicDataTypes/comment.xsd"/>
	  <!--=============================================-->
	<!-- limit  element								  										-->
	<!--=============================================-->
	<xs:element name="limit" type="limitPerfoType">
		    <xs:annotation>
			      <xs:documentation>limitation (perfValue or literal) optionally followed by a comment. Used if the operation of the airplane is restricted.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- perfo element						  		  					 -->
	<!--=============================================-->
	<xs:element name="perform" type="limitPerfoType">
		    <xs:annotation>
			      <xs:documentation>Listing of performance decrements (list, table, statements, graphics, etc.). Used if the airplane’s baseline performance is affected</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- limitPerfoType  element						  		  						  -->
	<!--=============================================-->
	<xs:complexType name="limitPerfoType">
		    <xs:sequence>
			      <xs:choice>
				        <xs:element name="perfValue" type="perfValueType">
					          <xs:annotation>
						            <xs:documentation>limitation composed of a couple perf-value</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:group ref="literalLimitPerfoGroup" maxOccurs="unbounded"/>
			      </xs:choice>
			      <xs:element name="comment" type="commentType" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- perfValueType element								  						-->
	<!--=============================================-->
	<xs:complexType name="perfValueType">
		    <xs:sequence>
			      <xs:element name="perf" type="paraType">
				        <xs:annotation>
					          <xs:documentation>Performance parameter related to a performance limitation.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="value" type="paraType">
				        <xs:annotation>
					          <xs:documentation>Value of the performance limitation.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- literalLimitType								  								-->
	<!--=============================================-->
	<xs:group name="literalLimitPerfoGroup">
		    <xs:choice>
			      <xs:group ref="textGroupType"/>
			      <xs:element ref="figure"/>
			      <xs:element ref="multimedia"/>
			      <xs:element ref="extApplication"/>
			      <xs:group ref="wcnGroupType"/>
		    </xs:choice>
	  </xs:group>
	  <xs:group name="caseExtensionGroup">
		    <xs:choice>
			      <xs:element ref="limit"/>
		    </xs:choice>
	  </xs:group>
	  <xs:group name="listItemExtensionGroup">
		    <xs:choice>
			      <xs:element ref="limit"/>
		    </xs:choice>
	  </xs:group>
	  <xs:group name="entryExtensionGroup">
		    <xs:choice>
			      <xs:element ref="limit"/>
		    </xs:choice>
	  </xs:group>
</xs:schema>