doctypes/ATA_Spec2300_2017.1/common/approbation/approvalData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../basicDataTypes/text.xsd"/>
	  <!--=============================================-->
	<!--  common approval data used in Approval and SubSetHeader -->
	<!--=============================================-->
	<xs:element name="approvedBy" type="approvedByType">
		    <xs:annotation>
			      <xs:documentation>gives the details of approval responsible</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="approvedByType">
		    <xs:sequence>
			      <xs:element name="name" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Name of the approver</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="jobTitle" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Job title of the approver</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="department" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Department of the approver</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="approvalComment" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Comment given by the approver if any.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="signature" type="signatureType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>graphic (scan) of the signature</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="signatureType">
		    <xs:choice>
			      <xs:element ref="figure"/>
			      <xs:element ref="multimedia"/>
		    </xs:choice>
	  </xs:complexType>
	  <xs:complexType name="approvalCommentType">
		    <xs:sequence>
			      <xs:element name="para" type="paraType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>General purpose container for textual information and structured data.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
</xs:schema>