doctypes/ATA_Spec2300_2017.1/Limitations/Limitation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="limitation"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/figure.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/multimedia.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extApplication.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/wcn.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/list.xsd"/>
	  <xs:include schemaLocation="../common/systems/commonDescriptionTypes.xsd"/>
	  <xs:redefine schemaLocation="../common/limit/limit.xsd">
		    <xs:complexType name="limitPerfoType">
			      <xs:complexContent>
				        <xs:extension base="limitPerfoType">
					          <xs:attribute name="certificateLimitation" type="xs:boolean">
						            <xs:annotation>
							              <xs:documentation>Specifies if a limit value is certified or not. Not provided attribute means not specified if certified or not.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- Limitation Element Declaration-->
	<!--=============================================-->
	<xs:element name="limitation" type="limitationType">
		    <xs:annotation>
			      <xs:documentation>provide limits within which aircraft must be operated</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- Limitation Element Definition -->
	<!--=============================================-->
	<xs:complexType name="limitationType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice>
				        <xs:element ref="limitContent">
					          <xs:annotation>
						            <xs:documentation>limitation content</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="subLevel" type="LimitationSubLevelType">
					          <xs:annotation>
						            <xs:documentation>limitation content in a sub level</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:choice>
			      <xs:element name="subLevel" type="LimitationSubLevelType" minOccurs="0"
                     maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>limitation content in a sub level</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- limitContent Element Definition -->
	<!--=============================================-->
	<xs:element name="limitContent">
		    <xs:complexType>
			      <xs:choice maxOccurs="unbounded">
				        <xs:group ref="coreTextGroup"/>
				        <xs:group ref="listGroup"/>
				        <xs:group ref="caseGroup"/>
				        <xs:element ref="figure"/>
				        <xs:element ref="multimedia"/>
				        <xs:element ref="extApplication"/>
				        <xs:group ref="wcnGroupType"/>
				        <xs:element ref="limit"/>
			      </xs:choice>
			      <xs:attribute name="id" type="idType" use="optional">
				        <xs:annotation>
					          <xs:documentation>Optional id for data management</xs:documentation>
				        </xs:annotation>
			      </xs:attribute>
		    </xs:complexType>
	  </xs:element>
	  <!--=============================================-->
	<!-- Sublevel  Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="LimitationSubLevelType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>title of sub level</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice>
				        <xs:element ref="limitContent"/>
				        <xs:element name="subLevel" type="LimitationSubLevelType"/>
			      </xs:choice>
			      <xs:element name="subLevel" type="LimitationSubLevelType" minOccurs="0"
                     maxOccurs="unbounded">
				        <xs:annotation/>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
</xs:schema>