doctypes/ATA_Spec2300_2017.1/common/attrs/commonAttrs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <!--=============================================-->
	<!--  id Type Attribute Definition -->
	<!--=============================================-->
	<xs:simpleType name="idType">
		    <xs:annotation>
			      <xs:documentation>A unique identifier</xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:ID"/>
	  </xs:simpleType>
	  <!--=============================================-->
	<!--  layer Attribute Definition -->
	<!--=============================================-->
	<xs:simpleType name="layerType">
		    <xs:annotation>
			      <xs:documentation>Layer of information details</xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="1"/>
			      <xs:enumeration value="2"/>
			      <xs:enumeration value="3"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <!--=============================================-->
	<!-- priorityLevel Attribute Definition -->
	<!--=============================================-->
	<xs:simpleType name="priorityLevelType">
		    <xs:annotation>
			      <xs:documentation>Level of priority for an electronic message or a annunciationr</xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:NMTOKEN">
			      <xs:enumeration value="advisory"/>
			      <xs:enumeration value="caution"/>
			      <xs:enumeration value="warning"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <!--=============================================-->
	<!-- messageCategory Attribute Definition -->
	<!--=============================================-->
	<xs:simpleType name="messageCategoryType">
		    <xs:annotation>
			      <xs:documentation>Type of the message (such Alert, Memo, Message)</xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:NMTOKEN">
			      <xs:enumeration value="alert"/>
			      <xs:enumeration value="memo"/>
			      <xs:enumeration value="message"/>
			      <xs:enumeration value="communication"/>
			      <xs:enumeration value="status"/>
			      <xs:enumeration value="dispatch"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <!--=============================================-->
	<!-- logicalOperator Attribute Definition -->
	<!--=============================================-->
	<xs:attributeGroup name="logicalOperatorAttGrp">
		    <xs:attribute name="logicalOperator" type="logicalOperatorType" use="required">
			      <xs:annotation>
				        <xs:documentation>specifies the logical operation to perform on the results of all child elements</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <xs:attributeGroup name="logicalOperatorOptionalAttGrp">
		    <xs:attribute name="logicalOperator" type="logicalOperatorType" use="optional">
			      <xs:annotation>
				        <xs:documentation>specifies the logical operation to perform on the results of all child elements</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <xs:attributeGroup name="logicalOperationAndOrAttGrp">
		    <xs:attribute name="logicalOperator" type="logicalOperatorAndOrType" use="required">
			      <xs:annotation>
				        <xs:documentation>specifies the logical operation (AND or OR) to perform on the results of all child elements</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <xs:simpleType name="logicalOperatorAndOrType">
		    <xs:restriction base="logicalOperatorType">
			      <xs:enumeration value="and"/>
			      <xs:enumeration value="or"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="logicalOperatorType">
		    <xs:restriction base="xs:NMTOKEN">
			      <xs:enumeration value="and"/>
			      <xs:enumeration value="or"/>
			      <xs:enumeration value="not"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <!--=============================================-->
	<!-- ident extension AttributesDefinition -->
	<!--=============================================-->
	<xs:attributeGroup name="icnExtensionAttGrp">
		    <xs:attribute name="extensionProducer" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>the graphic/multimediaObject/symbol producer the value of which forms part of the universally unique identifier of a graphic/multimediaObject/symbol instance</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="extensionCode" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>the graphic/multimediaObject/symbol extended code the value of which is decided by the graphic/multimediaObject/symbol producer.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
</xs:schema>