doctypes/9977K1CV6aD0P0/9977K1CV6aD0P0.dtd

<!-- *****  START OF FILE ***** -->
<!-- 9977K1CV6aD0P0.dtd
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+  DTD TITLE:	Nonnuclear Munitions Basic Information Manual 
	+
	+  SPECIFICATION NUMBER:	MIL-PRF-9977K Amendment 1
	+
	+  SPECIFICATION POC:	Bill Garrity
	+
	+  DOCUMENT TYPE DEFINITION (DTD):	9977K1CV6aD0P0.dtd
	+
	+  MIL-STANDARD VERSION:	38784STD-BV6a
	+
	+  LAST MODIFICATION:	21 January 2004
	+
	+ 
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+
	+  This file is made available to provide the user with a digital 
	+  representation of the DTD found in:  Appendix C of MIL-PRF-9977K
	+  This file is incomplete without MIL-PRF-9977K.
	+
	+  The following set of declarations may be referred to by using a
	+  public entity as follows:
	+
	+  <!ENTITY % mnnmunbas PUBLIC "-//USA-DOD//DTD MIL-PRF-9977K1CV6aD0P0//EN">
	+  %mnnmunbas;
	+
	+  NOTE: In order to parse the following DTD subset alone, append
	+  the following statement to the beginning of the file:
	+
	+		<!DOCTYPE doc [
	+
	+		and the associated  ]>  to the end of the file.
	+
	+  NOTE: The start and end of this file are marked with notations.
	+  If these notations are not present, the file may not be complete!
	+
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+
	+	AUTHORED BY:  Chris A. Tanner, TMSS, AF, TDD
	+
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+  OTHER DTDS NEEDED:		
	+  
	+	 	38784STD-BV6a.dtd
	+		
	+	
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+  MODIFICATIONS SINCE PREVIOUS RELEASE:  
	+	
	+	CCB#:  9977-C-04021-01
	+	Description: 	Update to spec Amendment 1.  Added <suppeq> element
	+			and it's required children.
	+	cat, 1/21/04
	+	
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


-->
<!-- ENTITY DECLARATIONS -->

<!ENTITY % doc "docnnmunbas">

<!-- CCB#: 9977-C-04021-01 -->
<!ENTITY % bodyele "munitdesc, suspequipdesc, gunpodsdesc, sedesc,
suppinfo, suppeq?" >

<!ENTITY % titles "title" >

<!ENTITY % sedesc "%titles;, bombliftruck, munadapters, munitrailers,
ammoloadsys, testequip, testadapters" >

<!ENTITY % parazero "%titles;, warning*, caution*, note*, (para, note?)?,
(step1, step1+)?" >

<!ENTITY % sect "(para0+)" >

<!-- CCB#: 38784std-02030-22-->

<!ENTITY % idinf "tmidno+, (chgnum, chgdate)?, 
chghistory, pretmidno*, volnum?, revnum?, doctype, maintlvl?, prtitle, subtitle?, 
(mfr+, contractno+)?, seal?, supersed?, suppl*, effdatenot?, volnot?, discl?, distrib, expcont?,
 destr?, copyright*, cogact?, moveddata?, authnot, downgrd?, pubdate" >

<!ENTITY % frnt "idinfo, warnpage?, chginssht?, (lep | vollep), verstat?,
tpdr?, chgrec?, (contents | volcontents), (foreword | preface | intro), safesum?" >

<!ENTITY % distrib.att "type (A | B | C | D | E | F | X | other) #REQUIRED" > 

<!ENTITY % m38784       PUBLIC "-//USA-DOD//DTD 38784STD-BV7//EN" >
%m38784;

<!-- ELEMENT and ATTRIBUTE LIST DECLARATIONS -->

<!ELEMENT ammoloadsys - o (%sect;) >
<!ATTLIST ammoloadsys %sectatt; >

<!ELEMENT bombliftruck - o (%sect;) >
<!ATTLIST bombliftruck %sectatt; >

<!ELEMENT bombtypemun - o (%sect;) >
<!ATTLIST bombtypemun %sectatt; >

<!ELEMENT cartchafflar - o (%sect;) >
<!ATTLIST cartchafflar %sectatt; >

<!ELEMENT docnnmunbas - - (front, body, rear?) +(pgbrk | brk
				| subjinfo | line | modreq | location) >
				
<!ELEMENT fuzes - o (%sect;) >
<!ATTLIST fuzes %sectatt; >

<!ELEMENT gunpods - o (%sect;) >
<!ATTLIST gunpods %sectatt; >

<!ELEMENT gunpodsdesc - - (%titles;, guns, gunpods?)
				+(figure | table) >
<!ATTLIST gunpodsdesc %chapatt; >

<!ELEMENT guns - o (%sect;) >
<!ATTLIST guns %sectatt; >

<!ELEMENT lnchdispensers - o (%sect;) >
<!ATTLIST lnchdispensers %sectatt; >

<!ELEMENT missrockammo - o (%sect;) >
<!ATTLIST missrockammo %sectatt; >

<!ELEMENT munadapters - o (%sect;) >
<!ATTLIST munadapters %sectatt; >

<!ELEMENT munitacc - o (%sect;) >
<!ATTLIST munitacc %sectatt; >

<!ELEMENT munitdesc - - (%titles;, missrockammo, bombtypemun,
				fuzes, cartchafflar, munitacc)
				+(figure | table) >
<!ATTLIST munitdesc %chapatt; >

<!ELEMENT munitrailers - o (%sect;) >
<!ATTLIST munitrailers %sectatt; >

<!ELEMENT racks - o (%sect;) >
<!ATTLIST racks %sectatt; >

<!ELEMENT sedesc - - (%sedesc;) +(figure | table) >
<!ATTLIST sedesc %chapatt; >

<!-- CCB#: 9977-C-04021-01 -->
<!ELEMENT seic - o (%sect;) >
<!ATTLIST seic %sectatt; >

<!-- CCB#: 9977-C-04021-01 -->
<!ELEMENT seipb - - (seipbfwordpart, seipbplpart, seipbnumindxpart?, seipbrfdsindxpart?) >
<!ATTLIST seipb %sectatt; >

<!-- CCB#: 9977-C-04021-01 -->
<!ELEMENT seipbfwordpart - -  (%ipbforwd;)   +(figure | table) >
<!ATTLIST seipbfwordpart %sectatt; >

<!-- CCB#: 9977-C-04021-01 -->
<!ELEMENT seipbplpart - -  (ipbplgrp+) +(ipbplbrk)>
<!ATTLIST seipbplpart %sectatt; >

<!-- added chgatt to this element. jls -->
<!-- CCB#: 9977-C-04021-01 -->
<!ELEMENT seipbnumindxpart - o  (ipbnumgrp)  +(ipbgroup10) >
<!ATTLIST seipbnumindxpart cols (2 | 3) "3"
                     autobuild NUMBER #CONREF
                     id ID #IMPLIED
		     label CDATA #IMPLIED
		     sssn CDATA #IMPLIED
		     indexid  CDATA  #IMPLIED
		     %secur;
		     %chgatt; > 

<!-- CCB#: 9977-C-04021-01 -->
<!ELEMENT seipbrfdsindxpart - o  (ipbrfdsgrp)  +(ipbgroup10) >
<!ATTLIST seipbrfdsindxpart autobuild NUMBER #CONREF 
                       type (refdes | sssn | both) "refdes"
                       cols (2 | 3) "3"
                       %sectatt; >

<!ELEMENT spectools - o (%sect;) >
<!ATTLIST spectools %sectatt; >

<!-- CCB#: 9977-C-04021-01 -->
<!ELEMENT suppeq - - (%titles;, seic?, seipb?) +(figure | table) >
<!ATTLIST suppeq %chapatt; >

<!ELEMENT suppinfo - - (%titles;, (para0+ | (spectools,
				suppinfosect+))) +(figure | table) >
<!ATTLIST suppinfo %chapatt; >

<!ELEMENT suppinfosect - o (%titles;, para0+) >
<!ATTLIST suppinfosect %sectatt; >

<!ELEMENT suspequipdesc - o (%titles;, racks, lnchdispensers)
				+(figure | table) >
<!ATTLIST suspequipdesc %chapatt; >

<!ELEMENT testadapters - o (%sect;) >
<!ATTLIST testadapters %sectatt; >

<!ELEMENT testequip - o (%sect;) >
<!ATTLIST testequip %sectatt; >

<!-- **************************** END OF FILE **************************** -->
