doctypes/ATA_Spec2300_2017.1/General/FrontMatter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../common/basicDataTypes/figure.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/multimedia.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extApplication.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/wcn.xsd"/>
	  <xs:include schemaLocation="../common/procedure/introducedActions.xsd"/>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="frontMatter"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!-- dmodule Element Declaration-->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- frontMatter Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="frontMatter" type="frontMatterType">
		    <xs:annotation>
			      <xs:documentation>front Matter info from regulatory agency</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- frontMatter Type Definition -->
	<!--=============================================-->
	<xs:complexType name="frontMatterType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>a heading for the info to follow</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice>
				        <xs:element name="description" type="frontMatterDescriptionType">
					          <xs:annotation>
						            <xs:documentation>front Matter content</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="subLevel" type="frontMatterSubLevelType">
					          <xs:annotation>
						            <xs:documentation>container to allow for hierarchy of info</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:choice>
			      <xs:element name="subLevel" type="frontMatterSubLevelType" minOccurs="0"
                     maxOccurs="unbounded"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  Description Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="frontMatterDescriptionType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="textGroupType"/>
			      <xs:element ref="figure"/>
			      <xs:element ref="multimedia"/>
			      <xs:element ref="extApplication"/>
			      <xs:group ref="wcnGroupType"/>
			      <xs:element name="elementIntroduction" type="elementIntroductionType">
				        <xs:annotation>
					          <xs:documentation>Introduce the presentation of data elements that may be presented elsewhere in the publication.</xs:documentation>
					
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="elementIntroductionType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:element ref="land"/>
			      <xs:element ref="continueFlight"/>
		    </xs:choice>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- frontMatter subLevel Type Definition -->
	<!--=============================================-->
	<xs:complexType name="frontMatterSubLevelType">
		    <xs:annotation>
			      <xs:documentation>container to allow for hierarchy of info</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>a heading for the info to follow</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice>
				        <xs:element name="description" type="frontMatterDescriptionType">
					          <xs:annotation>
						            <xs:documentation>front Matter content</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="subLevel" type="frontMatterSubLevelType">
					          <xs:annotation>
						            <xs:documentation/>
					          </xs:annotation>
				        </xs:element>
			      </xs:choice>
			      <xs:element name="subLevel" type="frontMatterSubLevelType" minOccurs="0"
                     maxOccurs="unbounded"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
</xs:schema>