doctypes/S1000D_2-1/xml_schema/pm/datarest.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. New public identifier.                                          *
    *====================================================================*
    * Typical invocation:-                                               *
    * <!ENTITY % EXTRESTR PUBLIC                                         *
    *   "-//S1000D//ELEMENTS Data Restrictions 20030531//EN">            *
    * %EXTRESTR;                                                         *
    ********************************************************************** -->


	<xs:element name="datarest">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element datarest (Data Restrictions) containing:-           *
    *  instruct  - Mandatory   Single    contains distrib, handling,     *
    *                                             destruct, disclose.    *
    *  inform    - Optional    Single    contains copyright, polref,     *
    *                                             datacond.              *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="instruct"/>
				<xs:element ref="inform" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="instruct">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element instruct (Specific Instructions) containing:-       *
    *  distrib  - Mandatory   Single    contains Parsed Character Data.  *
    *  expcont  - Optional    Single    contains Parsed Character Data.  *
    *  handling - Optional    Single    contains Parsed Character Data.  *
    *  destruct - Optional    Single    contains Parsed Character Data.  *
    *  disclose - Optional    Single    contains Parsed Character Data.  *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="distrib"/>
				<xs:element ref="expcont" minOccurs="0"/>
				<xs:element ref="handling" minOccurs="0"/>
				<xs:element ref="destruct" minOccurs="0"/>
				<xs:element ref="disclose" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="distrib">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element distrib (Distribution Requirements) containing:-    *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="expcont">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element expcont (Export Control Notice) containing:-        *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>


	<xs:element name="handling">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element handling (Data Handling Requirements) containing:-  *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="destruct">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element destruct (Destruction Requirements) containing:-    *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="disclose">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element disclose (Intended Use or Disclosure) containing:-  *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="inform">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element inform (Additional Information)  containing:-       *
    *  copyright - mandatory  single    contains holder, firstyear,      *
    *                                   lastyear, registeredwith,        *
    *                                   govtlicense.                     *
    *  polref    - optional   single    contains Parsed Character Data.  *
    *  datacond  - optional   single    contains Parsed Character Data.  *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="copyright"/>
				<xs:element ref="polref" minOccurs="0"/>
				<xs:element ref="datacond" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="copyright">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element copyright (Copyright) containing:-                  *
    **********************************************************************
    *  holder           - mandatory single contains Parsed Character Data*
    *  firstyear        - mandatory single contains Parsed Character Data*
    *  lastyear         - mandatory single contains Parsed Character Data*
    *  registeredwith   - mandatory single contains Parsed Character Data*
    *  govtlicense	- mandatory single contains Parsed Character Data*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="holder"/>
				<xs:element ref="firstyear" minOccurs="0"/>
				<xs:element ref="lastyear" minOccurs="0"/>
				<xs:element ref="registeredwith" minOccurs="0"/>
				<xs:element ref="govtlicense" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="holder">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element holder (Holder) containing:-                        *
    *  Parsed Character Data.                                            *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
		</xs:complexType>
	</xs:element>

	<xs:element name="firstyear" >	
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element firstyear (First Year the Copyright was claimed)    *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
		</xs:complexType>
	</xs:element>

	<xs:element name="lastyear">	
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element lastyear (Last Year the Copyright was claimed)      *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
		</xs:complexType>
	</xs:element>

	<xs:element name="registeredwith">	
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element registeredwith (Names the Agencies with which the   *
    *                                  Copyright has been registered)    *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
		</xs:complexType>
	</xs:element>

	<xs:element name="govtlicense">	
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element govtlicense (Government License) containing:-       *
    *  Parsed Character Data.                                            *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
		</xs:complexType>
	</xs:element>

	<xs:element name="polref">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element polref (Security Policy Document Reference)         *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="datacond">
		<xs:annotation>
			<xs:documentation>
    ********************************************************************** 
    * Define Element datacond (Specific Conditions) containing:-         *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

</xs:schema>