doctypes/S1000D_2-1/xml_schema/pm/dmaddr3.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">
           	
<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier.                                       *
    * 2. Reflect the changes done for the DM DTD.                        *
    *====================================================================*
    * Typical invocation:-                                               *
    * <!ENTITY % DMADDR3 PUBLIC                                          *
    * "-//S1000D//ELEMENTS DM Address Details 3rd Part 20030531//EN">    *
    * %DMADDR3;                                                          *
    ********************************************************************** -->


	<xs:element name="dmtitle">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element dmtitle (Data Module Title) containing:-            *
    *  techname - Mandatory  Single      contains Parsed Character Data. *
    *  infoname - Optional   Single      contains Parsed Character Data. *
    **********************************************************************
		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="techname"/>
				<xs:element ref="infoname" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="techname" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element techname (Technical Name) containing:-              *
    *  Parsed Character Data.                                            *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="infoname" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element infoname (Information Name) containing:-            *
    *  Parsed Character Data.                                            *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>		
	</xs:element>

	<xs:element name="language">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element language (Language of Data Module) containing:-     *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  language - CDATA     - REQUIRED - Language Code (lowercase).      *
    *  country  - CDATA     - IMPLIED  - Country Code (uppercase).       *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="language" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
    						<xs:pattern value="[a-z]{2,3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="country">
				<xs:simpleType>
					<xs:restriction base="xs:string">
    						<xs:pattern value="[A-Z]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="rpc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element rpc (Responsible Partner Company) of DM             *
    * containing:-                                                       *
    *  Parsed Character Data (May contain the full name of the RPC).     *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  rpcname  - Declared - IMPLIED - contains Definition stored in     *
    *                                  entity %RPCNAME;.                 *
    *                                  May contain an abbreviated name   *
    *                                  or the NCAGE code of the RPC      *
    *                                  responsible for the DM in the     *
    *                                  list entry.                       *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>

		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="rpcname" type="RPCNAME"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>


</xs:schema>
