doctypes/S1000D_2-1/xml_schema/pm/pmlistcode.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. New public identifier.                                          *
    * 2. Reflect the changes done for the DM DTD.                        *
    *====================================================================*
    * Typical invocation:-                                               *
    * <!ENTITY % PMLISTCODE PUBLIC                                       *
    *  "-//S1000D//ELEMENTS Publication Module List Code Definitions     *
    *                       20030531//EN" >                              *
    * %PMLISTCODE;                                                       *
    ********************************************************************** -->


	<!-- call with mixed="true" -->
	<xs:group name="SPAR">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Entity %SPAR; (Simple Paragraphs) containing:-              *
    *====================================================================*
    * Optional  Repeatable Group.                                        *
    *====================================================================*
    *   Parsed Character Data.                                           *
    *  or                                                                *
    *   p        - Mandatory Single     contains Definition stored in    *
    *                                   entity %SPARCON;                 *
    *====================================================================*
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="p"/>
		</xs:sequence>
	</xs:group>

	<!-- call with mixed="true" -->
	<xs:group name="SPARCON">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Entity %SPARCON; (Simple Paragraph Continuation)            *
    * containing:-                                                       *
    *====================================================================*
    * Optional Repeatable Group                                          *
    *====================================================================*
    *   Parsed Character Data.                                           *
    *  or                                                                *
    *   subscrpt - mandatory single  contains Replaceable Character Data.*
    *  or                                                                *
    *   supscrpt - mandatory single  contains Replaceable Character Data.*
    *====================================================================*
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="subscrpt"/>
			<xs:element ref="supscrpt"/>
		</xs:choice>
	</xs:group>

	<xs:element name="p">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element p (Simple Paragraph) containing:-                   *
    *  Definition stored in entity %SPARCON;                             *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:group ref="SPARCON" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="subscrpt">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element subscrpt (Sub Script) containing:-                  *
    *  Replaceable Character Data.                                       *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true"/>	 
	</xs:element>

	<xs:element name="supscrpt">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element supscrpt (Super Script) containing:-                *
    *  Replaceable Character Data.                                       *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true"/>
	</xs:element>

	<xs:element name="remarks">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define element remarks (Remarks) containing:-                      *
    *   Definition stored in entity %SPAR;                               *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:group ref="SPAR" minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>


</xs:schema>