doctypes/ATA_Spec2300_2017.1/Approval/Approval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp2 (http://www.altova.com) by Airbus (Airbus Operations GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ataebiz.org/XMLSchema" xmlns:m="http://www.w3.org/1998/Math/MathML" targetNamespace="http://www.ataebiz.org/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		<xs:documentation>Version Number: 2017.1</xs:documentation>
		<xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		<xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	</xs:annotation>
	<xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		<xs:complexType name="contentElemType">
			<xs:complexContent>
				<xs:extension base="contentElemType">
					<xs:sequence>
						<xs:element ref="approval"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	<xs:include schemaLocation="../common/dataManagement/modelIdent.xsd"/>
	<xs:include schemaLocation="../common/dataManagement/norm.xsd"/>
	<xs:include schemaLocation="../common/approbation/approvalData.xsd"/>
	<xs:include schemaLocation="../common/approbation/approvalDate.xsd"/>
	<xs:include schemaLocation="../common/approbation/approvalRef.xsd"/>
	<xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	<!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	<!--=============================================-->
	<!-- approval Element Declaration-->
	<!--=============================================-->
	<xs:element name="approval" type="approvalType">
		<xs:annotation>
			<xs:documentation>Initial or revision approval data</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="approvalType">
		<xs:sequence>
			<xs:element name="title" type="nameType">
				<xs:annotation>
					<xs:documentation>General title/info for the DM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="modelIdent" minOccurs="0"/>
					<xs:element ref="norm" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="regulatoryDirective" type="regulatoryDirectiveType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text mandated by the regulatory authority to describe the use of the manual, or who uses the manual.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataSupplier" type="supplierType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The name and contact information of the provider of the data being approved</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="approbationIdentification" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifiers of the approved document and the approbation process</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="issueNumber" type="xs:string">
								<xs:annotation>
									<xs:documentation>issue sequential number</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="minorIssueNumber" type="xs:string" use="optional">
								<xs:annotation>
									<xs:documentation>minor issue number</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="approbationInternalReference" type="xs:string" use="optional">
								<xs:annotation>
									<xs:documentation>The supplier internal reference or number to track the approbation</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:choice>
					<xs:element ref="figure"/>
					<xs:element ref="multimedia"/>
				</xs:choice>
			</xs:choice>
			<xs:element name="approvalData" type="approvalDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The data provided by the approval</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="regulatoryDirectiveType">
		<xs:sequence>
			<xs:element name="para" type="paraType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="supplierType">
		<xs:sequence>
			<xs:element name="para" type="paraType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="approvalDataType">
		<xs:sequence>
			<xs:element name="comment" type="approvalCommentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A statement given by publisher for the benefit of the approver or end user</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authority" type="nameType">
				<xs:annotation>
					<xs:documentation>Agency responsible of the approval</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="approvalDate">
				<xs:annotation>
					<xs:documentation>Date of approval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="approvalReference"/>
			<xs:element ref="approvedBy"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
