doctypes/ATA_Spec2300_2017.1/Approval/SubSetHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp2 (http://www.altova.com) by Airbus (Airbus Operations GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ataebiz.org/XMLSchema" targetNamespace="http://www.ataebiz.org/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		<xs:documentation>Version Number: 2017.1</xs:documentation>
		<xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		<xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	<xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		<xs:complexType name="contentElemType">
			<xs:complexContent>
				<xs:extension base="contentElemType">
					<xs:sequence>
						<xs:element ref="subSetHeader"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:include schemaLocation="../common/dataManagement/norm.xsd"/>
	<xs:include schemaLocation="../common/dataManagement/product.xsd"/>
	<xs:include schemaLocation="../common/approbation/approvalData.xsd"/>
	<xs:include schemaLocation="../common/approbation/approvalRef.xsd"/>
	<xs:include schemaLocation="../common/approbation/approvalDate.xsd"/>
	<xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	<!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	<!--=============================================-->
	<!-- SubsetHeader Element Declaration-->
	<!--=============================================-->
	<xs:element name="subSetHeader" type="subSetHeaderType">
		<xs:annotation>
			<xs:documentation>The data describing a sub set (such a bulletin).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="subSetHeaderType">
		<xs:sequence>
			<xs:element name="title" type="nameType">
				<xs:annotation>
					<xs:documentation>General title/info for a subset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="productIdent" minOccurs="0"/>
			<xs:element name="productIssueInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&gt;issue info of related product</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="issueInfoElemType">
							<xs:attribute name="issueNumber" type="xs:string" use="optional">
								<xs:annotation>
									<xs:documentation>issue sequential number</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="minorIssueNumber" type="xs:string" use="optional">
								<xs:annotation>
									<xs:documentation>minor issue number</xs:documentation>
								</xs:annotation>
						</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="reasonForSubSet" type="basicTextIdType">
				<xs:annotation>
					<xs:documentation>Gives the reason of the subset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reasonForRevision" type="basicTextIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gives the reason of the revision the subset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicableTo" type="basicTextIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gives the criteria the subset is applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cancelledBy" type="basicTextIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Criteria allowing to cancel the subset.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="norm" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="approvalData" type="approvalDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The data provided by the approval</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="approvalDataType">
		<xs:sequence>
			<xs:element name="comment" type="approvalCommentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specific comments on the subset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subSetApprovalOrganization" type="nameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gives the subset approval orgnization</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="approvalDate"/>
			<xs:element ref="approvalReference" minOccurs="0"/>
			<xs:element ref="approvedBy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>gives the details of OEM approval responsible of the subset</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
