doctypes/ATA_Spec2300_2017.1/common/dataManagement/applicability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../attrs/commonAttrs.xsd"/>
	  <xs:include schemaLocation="../basicDataTypes/links.xsd"/>
	  <xs:include schemaLocation="crossreftables.xsd"/>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  applicability : Content model	 											-->
	<!--=============================================-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  element declarations														-->
	<!--=============================================-->
	<xs:element name="applicCrossRefTableRef" type="applicCrossRefTableRefElemType">
		    <xs:annotation>
			      <xs:documentation>contains a pointer to the Applicability Cross-reference Table (ACT) data module that applies to the</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="displayText" type="displayTextElemType">
		    <xs:annotation>
			      <xs:documentation>optional element providing a human readable and printable branch of the applicability annotation.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="assert" type="assertElemType">
		    <xs:annotation>
			      <xs:documentation>provides for a single test for the computable branch of the applicability annotation. The assert annotation specifies the product attribute or condition to test and a set of values and/or ranges to test against. The result of evaluating an assert annotation will be a Boolean value of 'true' or 'false'.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="evaluate" type="evaluateElemType">
		    <xs:annotation>
			      <xs:documentation>used to group tests together and provide the logical operation to apply to the test results</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  element content models definitions									-->
	<!--=============================================-->
	<xs:complexType name="applicCrossRefTableRefElemType">
		    <xs:sequence>
			      <xs:element ref="dmRef"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="applicElemType">
		    <xs:choice>
			      <xs:sequence>
				        <xs:element ref="displayText"/>
				        <xs:choice minOccurs="0">
					          <xs:element ref="assert"/>
					          <xs:element ref="evaluate"/>
				        </xs:choice>
			      </xs:sequence>
			      <xs:choice>
				        <xs:element ref="assert"/>
				        <xs:element ref="evaluate"/>
			      </xs:choice>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="displayTextElemType">
		    <xs:sequence>
			      <xs:element name="simplePara" minOccurs="0" maxOccurs="unbounded"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="assertElemType" mixed="true">
		    <xs:attributeGroup ref="assertAttGrp"/>
	  </xs:complexType>
	  <xs:complexType name="evaluateElemType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:element ref="evaluate"/>
			      <xs:element ref="assert"/>
		    </xs:choice>
		    <xs:attributeGroup ref="logicalOperatorAttGrp"/>
		    <xs:attributeGroup ref="applicDisplayClassAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  attributes declarations														-->
	<!--=============================================-->
	<xs:attributeGroup name="assertAttGrp">
		    <xs:attribute name="applicPropertyIdent" type="xs:NCName">
			      <xs:annotation>
				        <xs:documentation>the identifier of either the product attribute (element productAttribute attribute id from the ACT data module) or condition (element cond attribute id from the CCT data module) to test</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="applicPropertyType" type="applicPropertyTypeAttType">
			      <xs:annotation>
				        <xs:documentation>indicates whether the attribute applicPropertyIdent value references a product attribute or a condition</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="applicPropertyValues" type="applicPropertyValuesAttType">
			      <xs:annotation>
				        <xs:documentation>the values and/or ranges to test against.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="applicDisplayClassAttGrp"/>
	  </xs:attributeGroup>
	  <xs:attributeGroup name="applicDisplayClassAttGrp">
		    <xs:attribute name="applicDisplayClass" type="xs:string">
			      <xs:annotation>
				        <xs:documentation>provides a style for formatting.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
</xs:schema>