doctypes/ATA_Spec2300_2017.1/common/dataManagement/crossreftables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../attrs/commonAttrs.xsd"/>
	  <xs:include schemaLocation="dmIdent.xsd"/>
	  <xs:include schemaLocation="../basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  common structures for ACT, CCT, PCT and applicability				-->
	<!--=============================================-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  element declarations														-->
	<!--=============================================-->
	<xs:element name="name" type="xs:string">
		    <xs:annotation>
			      <xs:documentation>the name of the product/condition attribute</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="displayName" type="xs:string">
		    <xs:annotation>
			      <xs:documentation>used to define text which can be used to help automated generation the human readable display text on an applicability annotation</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="descr" type="xs:string">
		    <xs:annotation>
			      <xs:documentation>used to contain further clarification of the meaning of the product/condition attribute.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="enumeration">
		    <xs:annotation>
			      <xs:documentation>provides the allowable values for the product/condition attribute.</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			      <xs:attribute name="applicPropertyValues" type="applicPropertyValuesAttType" use="required">
				        <xs:annotation>
					          <xs:documentation>defines the values and ranges of values that are allowed for this product/condition attribute.</xs:documentation>
				        </xs:annotation>
			      </xs:attribute>
		    </xs:complexType>
	  </xs:element>
	  <xs:attributeGroup name="valuePatternAttGrp">
		    <xs:attribute name="valuePattern" type="xs:string"/>
	  </xs:attributeGroup>
	  <xs:simpleType name="applicPropertyValuesAttType">
		    <xs:restriction base="xs:string">
			      <xs:pattern value="[^~|\t\n\r]+(~[^~|\t\n\r]+)?(\|[^~|\t\n\r]+(~[^~|\t\n\r]+)?)*"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="applicConfigurationAttType">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="allowed"/>
			      <xs:enumeration value="built"/>
			      <xs:enumeration value="designed"/>
			      <xs:enumeration value="installed"/>
			      <xs:enumeration value="manufactured"/>
			      <xs:enumeration value="supported"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="applicPropertyTypeAttType">
		    <xs:restriction base="xs:NMTOKEN">
			      <xs:enumeration value="condition"/>
			      <xs:enumeration value="prodattr"/>
		    </xs:restriction>
	  </xs:simpleType>
</xs:schema>