doctypes/ATA_Spec2300_2017.1/common/dataManagement/pmIdent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="./dmIdent.xsd"/>
	  <!--=============================================-->
	<!-- pmIdent Content model												 -->
	<!--=============================================-->
	<xs:element name="pmIdent" type="pmIdentElemType">
		    <xs:annotation>
			      <xs:documentation>PM Status List identification</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="pmIdentElemType">
		    <xs:sequence>
			      <xs:element ref="identExtension" minOccurs="0"/>
			      <xs:element ref="pmCode"/>
			      <xs:element ref="language" minOccurs="0"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:element name="pmCode" type="pmCodeElemType">
		    <xs:annotation>
			      <xs:documentation>publication module list code</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="pmCodeElemType">
		    <xs:attribute name="modelIdentCode" type="modelIdentCodeAttType" use="required">
			      <xs:annotation>
				        <xs:documentation>the model identifier using NSPA Model Identification Code list</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="pmIssuer" type="pmIssuerAttType" use="required">
			      <xs:annotation>
				        <xs:documentation>the CAGE code of the publication module issuing company.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="pmNumber" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>a unique alphanumeric identifier depending on the model identification code (attribute modelIdentCode) and the issuing authority (attribute pmIssuer).</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="pmVolume" type="pmVolumeAttType" use="required">
			      <xs:annotation>
				        <xs:documentation>the volume of the publication module. Set to "00" if only one volume.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:simpleType name="pmIssuerAttType">
		    <xs:restriction base="xs:string">
			      <xs:pattern value="[A-Z0-9]{5}"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="pmVolumeAttType">
		    <xs:restriction base="xs:nonNegativeInteger">
			      <xs:pattern value="\d{2}"/>
		    </xs:restriction>
	  </xs:simpleType>
</xs:schema>