doctypes/ATA_Spec2300_2017.1/common/dataManagement/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="./norm.xsd"/>
	  <!--=============================================-->
	<!-- product Content model												 -->
	<!--=============================================-->
	<xs:element name="productIdent" type="productIdentType">
		    <xs:annotation>
			      <xs:documentation>Identification info about the product</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="productIdentType">
		    <xs:sequence>
			      <xs:element ref="norm" minOccurs="0" maxOccurs="unbounded"/>
		    </xs:sequence>
		    <xs:attributeGroup ref="productCodeAttGrp"/>
		    <xs:attribute name="productNumber" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>Uniquely assigned product code or designator</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="productPubScope" use="required">
			      <xs:annotation>
				        <xs:documentation>Scope of publication that a product is issued for (ALL, ENVMOD, FLEET(+COC), MSN(+COC))</xs:documentation>
				
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="all"/>
					          <xs:enumeration value="envmod"/>
					          <xs:enumeration value="fleet"/>
					          <xs:enumeration value="fleetCoc"/>
					          <xs:enumeration value="msn"/>
					          <xs:enumeration value="msnCoc"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="productPubType" use="required">
			      <xs:annotation>
				        <xs:documentation>Type of publication that a product is issued for (NR, TR, CP, OSD)</xs:documentation>
				
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="nr"/>
					          <xs:enumeration value="tr"/>
					          <xs:enumeration value="cp"/>
					          <xs:enumeration value="osd"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:attributeGroup name="productCodeAttGrp">
		    <xs:attribute name="productCode" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>General product acronym or abbreviation</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
</xs:schema>