doctypes/ATA_Spec2300_2017.1/common/dataManagement/qualification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../attrs/commonAttrs.xsd"/>
	  <xs:include schemaLocation="../basicDataTypes/links.xsd"/>
	  <!--=============================================-->
	<!-- qualficiation element content model								 -->
	<!--=============================================-->
	<xs:complexType name="qualificationType">
		    <xs:sequence>
			      <xs:element name="value" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Specific value provided in case of a local qualfier Value must match pattern or an enumerated value if provided in qualifierRep.</xs:documentation>
				        </xs:annotation>
				        <xs:complexType mixed="true">
					          <xs:choice minOccurs="0" maxOccurs="unbounded">
						            <xs:element ref="emphasis"/>
						            <xs:element ref="symbol"/>
						            <xs:element ref="dmRef"/>
						            <xs:element ref="externalRef"/>
						            <xs:element ref="multimedia"/>
						            <xs:element ref="extApplication"/>
					          </xs:choice>
				        </xs:complexType>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="qualifierIdent" type="xs:NCName" use="required">
			      <xs:annotation>
				        <xs:documentation>identification of a qualifier defined in the qualifier repository DM</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
</xs:schema>