doctypes/ATA_Spec2300_2017.1/common/dataManagement/revision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../basicDataTypes/text.xsd"/>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  element declarations														-->
	<!--=============================================-->
	<!--=============================================-->
	<!--RFU																		  			-->
	<!--=============================================-->
	<xs:complexType name="reasonForUpdateElemType">
		    <xs:choice>
			      <xs:element name="del">
				        <xs:annotation>
					          <xs:documentation>indicates something deleted, using XPATH adress in path attribute</xs:documentation>
				        </xs:annotation>
				        <xs:complexType>
					          <xs:attributeGroup ref="xpathAttrGrp"/>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="move">
				        <xs:annotation>
					          <xs:documentation>indicates moved data, using XPATH adress in path attribute,</xs:documentation>
				        </xs:annotation>
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="from">
							              <xs:annotation>
								                <xs:documentation>previous location of moved data</xs:documentation>
							              </xs:annotation>
							              <xs:complexType>
								                <xs:attributeGroup ref="xpathAttrGrp"/>
							              </xs:complexType>
						            </xs:element>
						            <xs:element name="to">
							              <xs:annotation>
								                <xs:documentation>new location of moved data</xs:documentation>
							              </xs:annotation>
							              <xs:complexType>
								                <xs:attributeGroup ref="xpathAttrGrp"/>
							              </xs:complexType>
						            </xs:element>
					          </xs:sequence>
					          <xs:attributeGroup ref="xpathAttrGrp"/>
				        </xs:complexType>
			      </xs:element>
			      <xs:sequence>
				        <xs:element name="aircraftAdd" type="xs:string" minOccurs="0">
					          <xs:annotation>
						            <xs:documentation>provides the list of aircraft identifiers added in the applicability</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="aircraftDel" type="xs:string" minOccurs="0">
					          <xs:annotation>
						            <xs:documentation>provides the list of aircraft identifers deleted in the applicability</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:sequence>
			      <xs:choice maxOccurs="unbounded">
				        <xs:group ref="basicTextGroupType"/>
			      </xs:choice>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="updateReasonType">
			      <xs:annotation>
				        <xs:documentation>set to indicate the type of the reason for update that it applies to: techical , editorial, other.</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="technical"/>
					          <xs:enumeration value="editorial"/>
					          <xs:enumeration value="other"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="date" type="xs:dateTime">
			      <xs:annotation>
				        <xs:documentation>date of the RFU.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:element name="id" type="xs:string"/>
	  <!--=============================================-->
	<!--Revision marks													  			-->
	<!--=============================================-->
	<xs:complexType name="revisionsType">
		    <xs:sequence>
			      <xs:element ref="change" minOccurs="0" maxOccurs="unbounded"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:element name="change">
		    <xs:annotation>
			      <xs:documentation>a change mark. change is addressed using XPATH in path attribute and optionnal start and end position to adress a part of content.</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			      <xs:attributeGroup ref="extendedXpathAttrGrp"/>
			      <xs:attributeGroup ref="changeAttGroup"/>
		    </xs:complexType>
	  </xs:element>
	  <xs:attributeGroup name="changeAttGroup">
		    <xs:attribute name="changeType" use="required">
			      <xs:annotation>
				        <xs:documentation>specify the type of the change</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:NMTOKEN">
					          <xs:enumeration value="add"/>
					          <xs:enumeration value="modify"/>
					          <xs:enumeration value="move"/>
					          <xs:enumeration value="moveAndModify"/>
					          <xs:enumeration value="changeComment"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="changeProducer" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>Allow to identify who has made the change</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="reasonForUpdateRefIds" type="xs:IDREFS">
			      <xs:annotation>
				        <xs:documentation>reference one or more reasonForUpdate</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!--XPath													  			-->
	<!--=============================================-->
	<xs:attributeGroup name="xpathAttrGrp">
		    <xs:attribute name="path" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>XPATH adress</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <xs:attributeGroup name="extendedXpathAttrGrp">
		    <xs:attributeGroup ref="xpathAttrGrp"/>
		    <xs:attribute name="startPos" type="xs:positiveInteger">
			      <xs:annotation>
				        <xs:documentation>start position of an inline change</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="endPos" type="xs:positiveInteger">
			      <xs:annotation>
				        <xs:documentation>start position of an inline change</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
</xs:schema>