doctypes/S1000D_2-2/xml_dtd/pm/dtd/datarest_pm.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                 XML Document Type Definition                       *
    *                                                                    *
    *                     Release Version 2.2                            *
    *                       Date: 2005-05-01                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. New public identifier.                                          *
    * 2. CPF 2004-22GB: Replace entity %EXTRESTR; by %EXTRESTRPM; and    *
    *                   redefine element <copyright> to contain Parsed   *
    *                   Character Data or element <p> or element <refdm>.*
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % EXTRESTRPM PUBLIC                                       *
    *   "-//S1000D//ELEMENTS Data Restrictions for Publication Modules   *
    *                        20050501//EN//XML"                          *
    *   "datarest_pm.ent">                                               *
    * %EXTRESTRPM;                                                       *
    ********************************************************************** -->


<!--**********************************************************************
    * Define Element datarest (Data Restrictions) containing:-           *
    *  instruct  - Mandatory   Single    contains distrib, handling,     *
    *                                             destruct, disclose.    *
    *  inform    - Optional    Single    contains copyright, polref,     *
    *                                             datacond.              *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->
<!ELEMENT datarest   (instruct, inform?) >
<!ATTLIST datarest   %bodyatt; >


<!--**********************************************************************
    * Define Element instruct (Specific Instructions) containing:-       *
    *  distrib  - Mandatory   Single    contains Parsed Character Data.  *
    *  expcont  - Optional    Single    contains Parsed Character Data.  *
    *  handling - Optional    Single    contains Parsed Character Data.  *
    *  destruct - Optional    Single    contains Parsed Character Data.  *
    *  disclose - Optional    Single    contains Parsed Character Data.  *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->
<!ELEMENT instruct   (distrib, expcont?, handling?, destruct?, disclose?) >
<!ATTLIST instruct   %bodyatt; >


<!--**********************************************************************
    * Define Element distrib (Distribution Requirements) containing:-    *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT distrib   (#PCDATA) >
<!ATTLIST distrib   %bodyatt; >


<!--**********************************************************************
    * Define Element expcont (Export Control Notice) containing:-        *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT expcont   (#PCDATA) >
<!ATTLIST expcont   %bodyatt; >


<!--**********************************************************************
    * Define Element handling (Data Handling Requirements) containing:-  *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT handling   (#PCDATA) >
<!ATTLIST handling   %bodyatt; >


<!--**********************************************************************
    * Define Element destruct (Destruction Requirements) containing:-    *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT destruct   (#PCDATA) >
<!ATTLIST destruct   %bodyatt; >


<!--**********************************************************************
    * Define Element disclose (Intended Use or Disclosure) containing:-  *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT disclose   (#PCDATA) >
<!ATTLIST disclose   %bodyatt; >


<!--**********************************************************************
    * Define Element inform (Additional Information)  containing:-       *
    *  copyright - Mandatory  Single    contains Parsed Character Data   *
    *                                            or p or refdm.          *
    *  polref    - Optional   Single    contains Parsed Character Data.  *
    *  datacond  - Optional   Single    contains Parsed Character Data.  *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->
<!ELEMENT inform   (copyright, polref?, datacond?) >
<!ATTLIST inform   %bodyatt; >


<!--**********************************************************************
    * Define Element copyright (Copyright) containing:-                  *
    *====================================================================*
    * Optional  Repeatable Group.                                        *
    *====================================================================*
    *   Parsed Character Data.                                           *
    *  or                                                                *
    *   p        - Mandatory Single     contains Parsed Character Data   *
    *                                            or subscrpt or supscrpt.*
    *  or                                                                *
    *   refdm    - Mandatory Single     contains dmc, dmtitle, issno,    *
    *                                            issdate, language.      *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->
<!ELEMENT copyright   (#PCDATA | p | refdm)* >
<!ATTLIST copyright   %bodyatt; >
<!-- Content model changed -->


<!--**********************************************************************
    * Define Element polref (Security Policy Document Reference)         *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->
<!ELEMENT polref   (#PCDATA) >
<!ATTLIST polref   %bodyatt; >


<!--**********************************************************************
    * Define Element datacond (Specific Conditions) containing:-         *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->
<!ELEMENT datacond   (#PCDATA) >
<!ATTLIST datacond   %bodyatt; >


<!--** End of XML EXTRESTRPM Entity **-->
