doctypes/S1000D_2-2/xml_dtd/pm/dtd/pmlistcode.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                 XML Document Type Definition                       *
    *                                                                    *
    *                     Release Version 2.2                            *
    *                       Date: 2005-05-01                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier date.                                  *
    * 2. TPSMG request: Amend element <p> by attribute definitions of    *
    *                   entity %bodyatt;.                                *
    *====================================================================*
    * Typical invocation:-                                               *
    * <!ENTITY % PMLISTCODE PUBLIC                                       *
    *  "-//S1000D//ELEMENTS Publication Module List Code Definitions     *
    *                       20050501//EN//XML" "pmlistcode.ent">         *
    * %PMLISTCODE;                                                       *
    ********************************************************************** -->


<!--**********************************************************************
    * Define Element subscrpt (Sub Script) containing:-                  *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
<!ELEMENT subscrpt  (#PCDATA) >


<!--**********************************************************************
    * Define Element supscrpt (Super Script) containing:-                *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
<!ELEMENT supscrpt  (#PCDATA) >


<!--**********************************************************************
    * Define Element p (Simple Paragraph) containing:-                   *
    *====================================================================*
    * Optional Repeatable Group                                          *
    *====================================================================*
    *  Parsed Character Data.                                            *
    *  or                                                                *
    *   subscrpt - Mandatory Single     contains Parsed Character Data.  *
    *  or                                                                *
    *   supscrpt - Mandatory Single     contains Parsed Character Data.  *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;.             *
    ********************************************************************** -->
<!ELEMENT p  (#PCDATA | subscrpt | supscrpt)* >
<!ATTLIST p
             %bodyatt; >
<!-- Attribute definition list added -->


<!--**********************************************************************
    * Define Element remarks (Remarks) containing:-                      *
    *====================================================================*
    * Optional  Repeatable Group.                                        *
    *====================================================================*
    *   Parsed Character Data.                                           *
    *  or                                                                *
    *   p        - Mandatory Single     contains Parsed Character Data or*
    *                                            subscrpt or supscrpt.   *
    *====================================================================*
    ********************************************************************** -->
<!ELEMENT remarks  (#PCDATA | p)* >


<!--** End of XML PMLISTCODE Entity **-->
