doctypes/ATA_Spec2300_2017.1/common/performance/perfoSoftware.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../dataManagement/modelIdent.xsd"/>
	  <!--=============================================-->
	<!-- digitalPerformanceInfo element									   -->
	<!--=============================================-->
	<xs:element name="digitalPerformanceInfo">
		    <xs:annotation>
			      <xs:documentation>provided information of a digital performance software</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			      <xs:sequence>
				        <xs:element ref="modelIdent"/>
				        <xs:element ref="perfoSoftwareRef"/>
				        <xs:element ref="perfoSoftwareVersion"/>
				        <xs:element ref="perfoDatabaseVersion"/>
			      </xs:sequence>
		    </xs:complexType>
	  </xs:element>
	  <!--=============================================-->
	<!-- perfoSoftwareRef element					  						   -->
	<!--=============================================-->
	<xs:element name="perfoSoftwareRef" type="emphType">
		    <xs:annotation>
			      <xs:documentation>Performance software reference, such as serial number</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- perfoSoftwareVersion element					  				   -->
	<!--=============================================-->
	<xs:element name="perfoSoftwareVersion" type="emphType">
		    <xs:annotation>
			      <xs:documentation>Performance software version</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- perfoDatabaseVersion element					  				   -->
	<!--=============================================-->
	<xs:element name="perfoDatabaseVersion" type="emphType">
		    <xs:annotation>
			      <xs:documentation>Performance database version</xs:documentation>
		    </xs:annotation>
	  </xs:element>
</xs:schema>