doctypes/ATA_Spec2300_2017.1/common/performance/perfoData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../basicDataTypes/wcn.xsd"/>
	  <xs:include schemaLocation="../basicDataTypes/invalidConfig.xsd"/>
	  <xs:include schemaLocation="../basicDataTypes/figure.xsd"/>
	  <!--=============================================-->
	<!-- perfoData  element						  							   -->
	<!--=============================================-->
	<xs:element name="perfoData" type="perfoDataType">
		    <xs:annotation>
			      <xs:documentation>Performance tables</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="perfoDataType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:element ref="commonCondition"/>
			      <xs:element name="table" type="perfoTableType">
				        <xs:annotation>
					          <xs:documentation>A performance table</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="figure"/>
			      <xs:element ref="note"/>
		    </xs:choice>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- =============================================-
			Warning : this uses locally defined CALS structure without reuse of
			common coreTable.xsd defined CALS structures, allowing to 
			extend it locally for performance table
			=============================================-->
	<!--=============================================-->
	<!-- perfoTable  element						  							   -->
	<!--=============================================-->
	<xs:complexType name="perfoTableType">
		    <xs:choice>
			      <xs:sequence>
				        <xs:element name="title" type="tblTitleType" minOccurs="0">
					          <xs:annotation>
						            <xs:documentation>title or name of the performance table</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="tgroup" type="perfoTgroupType" maxOccurs="unbounded">
					          <xs:annotation>
						            <xs:documentation>Performance table</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="ftnote" type="ftnoteType" minOccurs="0" maxOccurs="unbounded">
					          <xs:annotation>
						            <xs:documentation>container for the footer information of the perfor table</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:sequence>
			      <xs:element ref="figure" maxOccurs="unbounded"/>
		    </xs:choice>
		    <xs:attributeGroup ref="tableAttGrp"/>
		    <xs:attributeGroup ref="fomlTableAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- perfo tgroup  element						  							   -->
	<!--=============================================-->
	<xs:complexType name="perfoTgroupType">
		    <xs:sequence>
			      <xs:element name="colspec" type="colspecType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>specification for a table column</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="spanspec" type="spanspecType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>specification for the horizontal span of the table column</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="thead" type="perfoTheadType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>container of all heading rows within a table group (tgroup)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="tfoot" type="perfoTfootType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>container of all footer rows within a table group (tgroup)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="tbody" type="perfoTbodyType">
				        <xs:annotation>
					          <xs:documentation>container of all table body rows within a table group (tgroup)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="tgroupAttGrp"/>
		    <xs:attributeGroup ref="fomlTgroupAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- perfo thead, tfoot and tbody  elements 							   -->
	<!--=============================================-->
	<xs:complexType name="perfoTheadType">
		    <xs:sequence>
			      <xs:element name="colspec" type="colspecType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>specification for a table column</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="row" type="perfoHeadRowType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>container for a performance table row</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="valignAttGrp"/>
		    <xs:attributeGroup ref="idAttGrp"/>
	  </xs:complexType>
	  <xs:complexType name="perfoTfootType">
		    <xs:sequence>
			      <xs:element name="colspec" type="colspecType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>specification for a table column</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="row" type="perfoFootRowType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>container for a performance table row</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="valignAttGrp"/>
		    <xs:attributeGroup ref="idAttGrp"/>
	  </xs:complexType>
	  <xs:complexType name="perfoTbodyType">
		    <xs:sequence>
			      <xs:element name="row" type="perfoRowType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>container for a performance table row</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="valignAttGrp"/>
		    <xs:attributeGroup ref="idAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- perfo row (of tBody) element 							  							 -->
	<!--=============================================-->
	<xs:complexType name="perfoRowType">
		    <xs:sequence>
			      <xs:element name="entry" type="perfoEntryType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>container for a performance table cell : depending of the part of the table (conditions, inputs, outputs, split definitions, correction frame), the content model of the entry is different</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="rowAttGrp"/>
		    <xs:attributeGroup ref="idAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- perfo entry element 							  							 -->
	<!--=============================================-->
	<xs:complexType name="perfoEntryType">
		    <xs:choice>
			      <xs:element name="rowValue" type="paraType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>Value of the row parameter of the Performance table Body.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="perfoOutput" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>A performance table output</xs:documentation>
				        </xs:annotation>
				        <xs:complexType mixed="true">
					          <xs:choice minOccurs="0" maxOccurs="unbounded">
						            <xs:element ref="abbreviation"/>
					          </xs:choice>
					          <xs:attributeGroup ref="splitAreaAttGrp"/>
				        </xs:complexType>
			      </xs:element>
			      <xs:element ref="invalidConfig"/>
		    </xs:choice>
		    <xs:attributeGroup ref="entryAttGrp"/>
		    <xs:attributeGroup ref="idAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- perfo row (of tHead) element 							  					 -->
	<!--=============================================-->
	<xs:complexType name="perfoHeadRowType">
		    <xs:sequence>
			      <xs:element name="entry" type="perfoHeadEntryType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>cell of the thead part of performance tables</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="rowAttGrp"/>
		    <xs:attributeGroup ref="idAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- perfo entry element 							  							      -->
	<!--=============================================-->
	<xs:complexType name="perfoHeadEntryType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:element ref="commonCondition"/>
			      <xs:element name="valueLegend" type="paraType">
				        <xs:annotation>
					          <xs:documentation>Description of the parameters that are stored in each of the Performance table Body cells.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="colTitle" type="paraType">
				        <xs:annotation>
					          <xs:documentation>Name of the column parameter of the Performance table Body.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="rowTitle" type="paraType">
				        <xs:annotation>
					          <xs:documentation>Name of the row parameter of the Performance table Body.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="colValue" type="paraType">
				        <xs:annotation>
					          <xs:documentation>Value of the column parameter of the Performance table Body.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="para" type="paraType">
				        <xs:annotation>
					          <xs:documentation>a paragraphe giving more general explanations</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
		    <xs:attributeGroup ref="entryAttGrp"/>
		    <xs:attributeGroup ref="idAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- perfo row (of tFoot) element 							  					 -->
	<!--=============================================-->
	<xs:complexType name="perfoFootRowType">
		    <xs:sequence>
			      <xs:element name="entry" type="perfoFootEntryType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>cell of the tfoot part of performance tables</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="rowAttGrp"/>
		    <xs:attributeGroup ref="idAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- perfo entry tFoot element 							  						 -->
	<!--=============================================-->
	<xs:complexType name="perfoFootEntryType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:element name="splitDefinition">
				        <xs:annotation>
					          <xs:documentation>Significance of a split area applied to the Performance table body.</xs:documentation>
				        </xs:annotation>
				        <xs:complexType>
					          <xs:complexContent>
						            <xs:extension base="paraType">
							              <xs:attributeGroup ref="splitAreaAttGrp"/>
						            </xs:extension>
					          </xs:complexContent>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="correctionType" type="paraType">
				        <xs:annotation>
					          <xs:documentation>Names of the influence parameters and names of the corrected parameters in the Correction section of the Performance table.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="correctionValue" type="paraType">
				        <xs:annotation>
					          <xs:documentation>Values associated to the influence parameters and corrected parameters in the Correction section of the Performance table.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="para" type="paraType">
				        <xs:annotation>
					          <xs:documentation>a paragraphe giving more general explanations</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
		    <xs:attributeGroup ref="entryAttGrp"/>
		    <xs:attributeGroup ref="idAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- commonCondition element 							  					   -->
	<!--=============================================-->
	<xs:element name="commonCondition">
		    <xs:annotation>
			      <xs:documentation>Values of paramaters that apply to the whole Performance table Body.</xs:documentation>
			
		    </xs:annotation>
		    <xs:complexType>
			      <xs:sequence>
				        <xs:element name="para" type="paraType" minOccurs="0">
					          <xs:annotation>
						            <xs:documentation>condition explanation</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element ref="commonCondition" minOccurs="0" maxOccurs="unbounded"/>
			      </xs:sequence>
		    </xs:complexType>
	  </xs:element>
	  <!--=============================================-->
	<!-- splitArea attribute 							  							      -->
	<!--=============================================-->
	<xs:attributeGroup name="splitAreaAttGrp">
		    <xs:attribute name="splitArea" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>used to define the split area of an output cell in the performance table</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
</xs:schema>