doctypes/S1000D_2-2/sgml_dtd/comment/dtd/comment.dtd

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                                                                    *
    *                SGML Document Type Definition                       *
    *                          Commenting                                *
    *                                                                    *
    *                     Release Version 2.2                            *
    *                       Date: 2005-05-01                             *
    *                                                                    *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update Comment DTD public identifier date.                      *
    * 2. CPF 2004-06SE: Update public identifier date of entity %DMADDR1;*
    * 3. CPF 2004-22GB, CPF 2004-24GB:                                   *
    *                   Update public identifier date of entity %DMADDR2;*
    * 4. CPF 2004-30DE: Introduce public identifier date on entity       *
    *                   %PROJECT;.                                       *
    * 5. CPF 2004-63DE: Introduce optional sub element <language> in the *
    *                   content model of element <cstatus>.              *
    * 6. CPF 2005-06SE: Update public identifier date of entity %EXTPMC;.*
    * 7. TPSMG request: Update public identifier date of entity          *
    *                   %LISTCODE;.                                      *
    *====================================================================*
    * The following DOCTYPE statement may be used to call this set of    *
    * declarations:-                                                     *
    *                                                                    *
    * <!DOCTYPE comment PUBLIC	                                         *
    *   "-//S1000D//DTD S1000D Commenting 20050501//EN"	[]>              *
    ********************************************************************** -->


<!--**********************************************************************
    * Define Entity %PROJECT; (PROJECT Configuration) containing:- the   *
    * formal public identifier for the Project Configuration public text.*
    ********************************************************************** -->
<!ENTITY % PROJECT
  PUBLIC "-//S1000D//ENTITIES S1000D Project Configuration 20050501//EN" >
<!-- Public identifier date introduced -->  


<!--**********************************************************************
    * Define Entity %ISOENTS; (ISO Entity Definitions)                   *
    ********************************************************************** -->
<!ENTITY % ISOENTS PUBLIC
  "-//S1000D//ENTITIES ISO Entity Definitions 20030531//EN" >

<!--**********************************************************************
    * Call the ISO Entity Definitions                                    *
    ********************************************************************** -->
%ISOENTS;


<!--**********************************************************************
    * Define Entity %DMADDR1; (DM Address Details 1st Part)              *
    ********************************************************************** -->
<!ENTITY % DMADDR1 PUBLIC
  "-//S1000D//ENTITIES DM Address Details 1st Part 20050501//EN" >
<!-- Public identifer date updated -->

<!--**********************************************************************
    * Call the DM Address Details 1st Part                               *
    ********************************************************************** -->
%DMADDR1;


<!--**********************************************************************
    * Define Entity %DMADDR2; (DM Address Details 2nd Part)              *
    ********************************************************************** -->
<!ENTITY % DMADDR2 PUBLIC
  "-//S1000D//ELEMENTS DM Address Details 2nd Part 20050501//EN" >
<!-- Public identifer date updated -->

<!--**********************************************************************
    * Call the DM Address Details 2nd Part                               *
    ********************************************************************** -->
%DMADDR2;


<!--**********************************************************************
    * Define Entity %DMADDR3R; (DM Address Details 3rd Part Reduced)     *
    ********************************************************************** -->
<!ENTITY % DMADDR3R PUBLIC
  "-//S1000D//ELEMENTS DM Address Details 3rd Part Reduced 20030531//EN" >

<!--**********************************************************************
    * Call the DM Address Details 3rd Part Reduced                       *
    ********************************************************************** -->
%DMADDR3R;


<!--**********************************************************************
    * Define Entity %LISTCODE; (List Code Definitions)                   *
    ********************************************************************** -->
<!ENTITY % LISTCODE PUBLIC
  "-//S1000D//ELEMENTS List Code Definitions 20050501//EN" >
<!-- Public identifier date updated -->  

<!--**********************************************************************
    * Call the List Code Definitions                                     *
    ********************************************************************** -->
%LISTCODE;


<!--**********************************************************************
    * Define Entity %EXTPMC; (Publication Module Code Breakdown)         *
    * containing:-                                                       *
    * the formal public identifier for the Publication Module Code       *
    * Breakdown public text.                                             *
    ********************************************************************** -->
<!ENTITY % EXTPMC PUBLIC
  "-//S1000D//ELEMENTS Publication Module Code Breakdown 20050501//EN" >
<!-- Public identifer date updated -->

<!--**********************************************************************
    * Call the Publication Module Code Breakdown Public Text. The formal *
    * public identifier is stored in the entity %EXTPMC;                 *
    ********************************************************************** -->
%EXTPMC;


<!--**********************************************************************
    * Define Entity %DISPADDR; (Dispatch Address Details)                *
    ********************************************************************** -->
<!ENTITY % DISPADDR PUBLIC
  "-//S1000D//ELEMENTS Dispatch Address Details 20030531//EN">

<!--**********************************************************************
    * Call the Dispatch Address Details                                  *
    ********************************************************************** -->
%DISPADDR;


<!--**********************************************************************
    * Define Element comment (Comment) containing:-                      *
    *   cstatus   - Mandatory Single     contains ccode, ctitle, issdate,*
    *                                             language, corig,       *
    *                                             security, datarest,    *
    *                                             priority, response,    *
    *                                             crefs, remarks.        *
    *   ccontent  - Mandatory Single     contains p, refcattach.         *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id       - ID       - IMPLIED  - Unique identifier of element.    *
    ********************************************************************** -->
<!ELEMENT comment  - - (cstatus, ccontent) >
<!ATTLIST comment
	  id            ID      #IMPLIED >


<!--**********************************************************************
    * Define Element cstatus (Comment Status) containing:-               *
    *   ccode    - Mandatory Single     contains modelic, sendid, diyear,*
    *                                            seqnum, ctype.          *
    *   ctitle   - Optional  Single     contains Parsed Character Data.  *
    *   issdate  - Mandatory Single     contains No Other Tags.          *
    *   language - Optional  Single     contains No Other Tags.          *
    *   corig    - Mandatory Single     contains dispaddr.               *
    *   security - Mandatory Single     contains No Other Tags.          *
    *   datarest - Optional  Single     contains instruct, inform.       *
    *   priority - Mandatory Single     contains No Other Tags.          *
    *   response - Optional  Single     contains No Other Tags.          *
    *   crefs    - Mandatory Single     contains No Other Tags.          *
    *   remarks  - Optional  Single     contains definition stored in    *
    *                                            entity %SPAR;.          *
    ********************************************************************** -->
<!ELEMENT cstatus  - - (ccode, ctitle?, issdate, language?, corig, 
                        security, datarest?, priority, response?, crefs, 
                        remarks?) >
<!-- Element <language> introduced in content model -->


<!--**********************************************************************
    * Define Element ccode (Comment Code generated by the Originator of  *
    *                       the Comment)                                 *
    * containing:-                                                       *
    *  modelic   - Mandatory   Single    contains Parsed Character Data. *
    *  sendid    - Mandatory   Single    contains Parsed Character Data. *
    *  diyear    - Mandatory   Single    contains Parsed Character Data. *
    *  seqnum    - Mandatory   Single    contains Parsed Character Data. *
    *  ctype     - Mandatory   Single    contains No Other Tags.         *
    ********************************************************************** -->
<!ELEMENT ccode  - O  (modelic, sendid, diyear, seqnum, ctype) >


<!--**********************************************************************
    * Define Element ctype (Type of Comment) containing:-                *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  ctype   - Declared - REQUIRED   - Identifies Type of Comment:     *
    *           - "q"        - Query (raised comment)                    *
    *           - "i"        - Interim response                          *
    *           - "r"        - Final response                            *
    ********************************************************************** -->
<!ELEMENT ctype  - O EMPTY >
<!ATTLIST ctype
                type  (q | i | r )  #REQUIRED >


<!--**********************************************************************
    * Define Element ctitle (Comment Title) containing:-                 *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
<!ELEMENT ctitle - O  (#PCDATA)  >


<!--**********************************************************************
    * Define Element corig (Comment Originator) containing:-             *
    *  dispaddr - Mandatory Single    contains enterprise,person,address.*
    ********************************************************************** -->
<!ELEMENT  corig  - - (dispaddr) >


<!--**********************************************************************
    * Define Element priority (Priority of the Comment) containing:-     *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  cprio    - %CPRIOS;        - Level of comment priority.           *
    *                               %CPRIOS; is declared in DMADDR2.ENT. *
    *    Examples:                                                       *
    *             - "cp01"        - Routine                              *
    *             - "cp02"        - Emergency                            *
    *             - "cp03"        - Safety critical                      *
    *             - . . . . .                                            *
    ********************************************************************** -->
<!ELEMENT priority - O  EMPTY >
<!ATTLIST priority
            cprio  %CPRIOS; >


<!--**********************************************************************
    * Define Element response (Type of Response to the Comment)          * 
    *   containing:-        No Other Tags.                               *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  rsptype  - %RSPTYPES   - REQUIRED  - Identifying the type of      *
    *                                       response to a comment.       *
    *                           %RSPTYPES; is declared in DMADDR2.ENT.   *
    *    Examples:                                                       *
    *              - "rt01"     - Accepted                               *
    *              - "rt02"     - Pending                                *
    *              - "rt03"     - Partly Accepted                        *
    *              - "rt04"     - Rejected                               *
    *              - . . . . .                                           *
    ********************************************************************** -->
<!ELEMENT response - O  EMPTY  >
<!ATTLIST response
             rsptype %RSPTYPES;  #REQUIRED >


<!--**********************************************************************
    * Define Element crefs (References) containing:-                     *
    *  cnorefs  - Mandatory  Single      contains No Other Tags.         *
    * or                                                                 *
    *  crefdms  - Mandatory  Single      contains refdm.                 *
    * or                                                                 *
    *  crefdmls - Mandatory  Single      contains dmlref.                *
    * or                                                                 *
    *  crefpms  - Mandatory  Single      contains crefpm.                *
    * or                                                                 *
    *  crefddns - Mandatory  Single      contains crefddn.               *
    ********************************************************************** -->
<!ELEMENT crefs - O (cnorefs | crefdms  | crefdmls | crefpms | crefddns) >


<!--**********************************************************************
    * Define Element cnorefs (No References) containing:-                *
    *  No Other Tags.                                                    *
    ********************************************************************** -->
<!ELEMENT cnorefs - O EMPTY >


<!--**********************************************************************
    * Define Element crefdms (Reference Data Modules) containing:-       *
    *  crefdm    - Mandatory  Repeatable  contains dmc, issno, dmtitle,  *
    *                                              issdate, language.    *
    ********************************************************************** -->
<!ELEMENT crefdms - O (crefdm+) >


<!--**********************************************************************
    * Define Element crefdm (Reference Data Module) containing:-         *
    *  dmc      - Mandatory  Single      contains age, avee.             *
    *  dmtitle  - Optional   Single      contains Techname, infoname.    *
    *  issno    - Optional   Single      contains No Other Tags.         *
    *  issdate  - Optional   Single      contains No Other Tags.         *
    *  language - Optional   Single      contains No Other Tags.         *
    ********************************************************************** -->
<!ELEMENT crefdm - - (dmc,dmtitle?,issno?,issdate?,language?) >


<!--**********************************************************************
    * Define Element crefdmls (Reference Data Module Lists)              *
    * containing:-                                                       *
    *  dmlref    - Mandatory  Repeatable  contains dmlc, issno.          *
    ********************************************************************** -->
<!ELEMENT crefdmls - O (dmlref+) >


<!--**********************************************************************
    * Define Element dmlref (Data Module List Reference) containing:-    *
    *  dmlc      - Mandatory   Single      contains modelic, sendid,     *
    *                                               type, diyear, seqnum.*
    *  issno     - Optional    Single      contains No Other Tags.       *
    ********************************************************************** -->
<!ELEMENT dmlref - O (dmlc,issno?) >


<!--**********************************************************************
    * Define Element dmlc (Data Module List Code) containing:-           *
    *  modelic   - Mandatory   Single     contains Parsed Character Data.*
    *  sendid    - Mandatory   Single     contains Parsed Character Data.*
    *  dmltype   - Mandatory   Single     contains No Other Tags.        *
    *  diyear    - Mandatory   Single     contains Parsed Character Data.*
    *  seqnum    - Mandatory   Single     contains Parsed Character Data.*
    ********************************************************************** -->
<!ELEMENT dmlc   - - (modelic,sendid,dmltype,diyear,seqnum) >


<!--**********************************************************************
    * Define Element dmltype (Type of Data Module List) containing:-     *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  dmltype   - Declared - REQUIRED   - Identifies Type of DML:       *
    *            - "c"  - Complete Data Module Requirement List (DMRL-C) *
    *            - "p"  - Partial Data Module Requirement List (DMRL-P)  *
    *            - "s"  - CSDB Status List (CSL)                         *
    ********************************************************************** -->
<!ELEMENT dmltype  - O EMPTY >
<!ATTLIST dmltype
                type  (c | p | s )  #REQUIRED >


<!--**********************************************************************
    * Define Element crefpms (Reference Publication Modules)             *
    * containing:-                                                       *
    *  crefpm  - Mandatory  Repeatable    contains pmc, pmtitle, issno,  *
    *                                              issdate, language.    *
    ********************************************************************** -->
<!ELEMENT crefpms - - (crefpm+) >


<!--**********************************************************************
    * Define Element crefpm (Reference Publication Module)               *
    * containing:-                                                       *
    *  pmc      - Mandatory Single      contains modelic, pmissuer,      *
    *                                            pmnumber, pmvolume.     *
    *  pmtitle  - Optional  Single      contains Parsed Character Data.  *
    *  issno    - Optional  Single      contains No Other Tags.          *
    *  issdate  - Optional  Single      contains No Other Tags.          *
    *  language - Optional  Single      contains No Other Tags.          *
    ********************************************************************** -->
<!ELEMENT crefpm - - (pmc, pmtitle?, issno?, issdate?, language?) >


<!--**********************************************************************
    * Define Element pmtitle (Publication Module Title) containing:-     *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
<!ELEMENT pmtitle  - O (#PCDATA) >


<!--**********************************************************************
    * Define Element crefddns (Reference Data Dispatch Notes)            *
    * containing:-                                                       *
    *  crefddn  - Mandatory  Repeatable   contains ddnc, issdate.        *
    ********************************************************************** -->
<!ELEMENT crefddns - - (crefddn+) >


<!--**********************************************************************
    * Define Element crefddn (Reference Data Dispatch Note)              *
    * containing:-                                                       *
    *  ddnc     - Mandatory Single      contains modelic, sendid, recvid,*
    *                                            diyear, seqnum.         *
    *  issdate  - Optional  Single      contains No Other Tags.          *
    ********************************************************************** -->
<!ELEMENT crefddn - - (ddnc, issdate?) >


<!--**********************************************************************
    * Define Element ddnc (Data Dispatch Note Identification Code)       *
    * containing:-                                                       *
    *  modelic   - Mandatory   Single     contains Parsed Character Data.*
    *  sendid    - Mandatory   Single     contains Parsed Character Data.*
    *  recvid    - Mandatory   Single     contains Parsed Character Data.*
    *  diyear    - Mandatory   Single     contains Parsed Character Data.*
    *  seqnum    - Mandatory   Single     contains Parsed Character Data.*
    ********************************************************************** -->
<!ELEMENT ddnc   - - (modelic,sendid,recvid,diyear,seqnum) >


<!--**********************************************************************
    * Define Element recvid (Receiver Identification) containing:-       *
    *  Parsed Character Data                                             *
    * must contain the NCAGE code.                                       *
    ********************************************************************** -->
<!ELEMENT recvid    - O (#PCDATA) >


<!--**********************************************************************
    * Define Element ccontent (Comment Content) containing:-             *
    *  p           - Mandatory Repeatable   contains definition stored   *
    *                                                in entity %SPARCON;.*
    *  refcattach  - Optional  Repeatable   contains No Other Tags.      *
    ********************************************************************** -->
<!ELEMENT ccontent  - -  (p+, refcattach*) >


<!--**********************************************************************
    * Define Element refcattach (Reference To Attached File)             *
    * containing:-                                                       *   
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  seqatt   - NUMBER - REQUIRED - 2-digit Number of Attachment(XX).  *
    *  extend   - CDATA  - REQUIRED - File extension of Attachment.      *
    ********************************************************************** -->
<!ELEMENT refcattach  - O EMPTY >
<!ATTLIST refcattach
            seqatt    NUMBER  #REQUIRED 
            extend    CDATA   #REQUIRED >
