doctypes/S1000D_2-2/sgml_dtd/pm/dtd/pmc.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                SGML Document Type Definition                       *
    *                                                                    *
    *                     Release Version 2.2                            *
    *                       Date: 2005-05-01                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier date.                                  *
    * 2. CPF 2005-06SE: Publication module number <pmnumber> within      *
    *                   publication module code <pmc> to be alphanumeric.*
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % EXTPMC PUBLIC                                           *
    * "-//S1000D//ELEMENTS Publication Module Code Breakdown 20050501    *
    *  //EN" >                                                           *
    * %EXTPMC;                                                           *
    ********************************************************************** -->


<!--**********************************************************************
    * Define Element pmc (Publication Module Code) containing:-          *
    *   modelic  - Mandatory Single     contains Parsed Character Data.  *
    *   pmissuer - Mandatory Single     contains Parsed Character Data.  *
    *   pmnumber - Mandatory Single     contains Parsed Character Data.  *
    *   pmvolume - Mandatory Single     contains Parsed Character Data.  * 
    ********************************************************************** -->

<!ELEMENT pmc - O  (modelic, pmissuer, pmnumber, pmvolume) >


<!--**********************************************************************
    * Define Element pmissuer (5-character NCAGE Code of Issuing         *
    *                          Authority (YYYYY))                        *
    * containing:-                                                       *
    *   Parsed Character Data.                                           *
    ********************************************************************** -->

<!ELEMENT pmissuer - O  (#PCDATA) >


<!--**********************************************************************
    * Define Element pmnumber (5-character Publication Module Number     *
    *                          (YYYYY) depending on modelic, pmissuer)   *
    * containing:-                                                       *
    *   Parsed Character Data.                                           *
    ********************************************************************** -->

<!ELEMENT pmnumber - O  (#PCDATA) >
<!-- Content shall be alphanumeric -->


<!--**********************************************************************
    * Define Element pmvolume (2-digit sequential Publication Volume     *
    *                          Number (NN), default is 00 for a single   *
    *                          volume publication)                       *
    * containing:-                                                       *
    *   Parsed Character Data.                                           *
    ********************************************************************** -->

<!ELEMENT pmvolume - O  (#PCDATA) >
