doctypes/S1000D_2-2/sgml_dtd/pm/dtd/pmlistcode.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                SGML Document Type Definition                       *
    *                                                                    *
    *                     Release Version 2.2                            *
    *                       Date: 2005-05-01                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier date.                                  *
    * 2. TPSMG request: Amend element <p> by attribute definitions of    *
    *                   entity %bodyatt;. Entities %SPAR; and %SPARCON;  *
    *                   moved to file dmaddr2_pm.ent.                    *
    *====================================================================*
    * Typical invocation:-                                               *
    * <!ENTITY % PMLISTCODE PUBLIC                                       *
    *  "-//S1000D//ELEMENTS Publication Module List Code Definitions     *
    *                       20050501//EN" >                              *
    * %PMLISTCODE;                                                       *
    ********************************************************************** -->


<!--**********************************************************************
    * Define Element subscrpt (Sub Script) containing:-                  *
    *  Replaceable Character Data.                                       *
    ********************************************************************** -->
<!ELEMENT subscrpt - - RCDATA >


<!--**********************************************************************
    * Define Element supscrpt (Super Script) containing:-                *
    *  Replaceable Character Data.                                       *
    ********************************************************************** -->
<!ELEMENT supscrpt - - RCDATA >


<!--**********************************************************************
    * Define Element p (Simple Paragraph) containing:-                   *
    *  Definition stored in entity %SPARCON;                             *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;.             *
    ********************************************************************** -->
<!ELEMENT p - - (%SPARCON;) >
<!ATTLIST p
             %bodyatt; >
<!-- Attribute definition list added -->


<!--**********************************************************************
    * Define Element remarks (Remarks) containing:-                      *
    *   Definition stored in entity %SPAR;                               *
    ********************************************************************** -->
<!ELEMENT remarks - - (%SPAR;) >


<!--** End of PMLISTCODE Entity **-->
