doctypes/ATA_Spec2300_2017.1/common/procedure/action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../basicDataTypes/comment.xsd"/>
	  <!--=============================================-->
	<!-- challengeResponse element		  		  						   -->
	<!--=============================================-->
	<xs:element name="challengeResponse" type="challengeResponseType">
		    <xs:annotation>
			      <xs:documentation>an action composed of a paire challenge/response</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="challengeResponseType">
		    <xs:sequence>
			      <xs:element name="challenge" type="nameType"/>
			      <xs:element ref="response"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  Response Element Definition -->
	<!--=============================================-->
	<xs:element name="response" type="responseType">
		    <xs:annotation>
			      <xs:documentation/>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="responseType" mixed="true">
		    <xs:annotation>
			      <xs:documentation/>
		    </xs:annotation>
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:group ref="basicMixedContentGroup"/>
			      <xs:group ref="crossRefGroup"/>
			      <xs:element name="variableInput">
				        <xs:annotation>
					          <xs:documentation>A variable displayed value that the pilot must confirm</xs:documentation>
				        </xs:annotation>
				        <xs:complexType/>
			      </xs:element>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- command  element						  		  						   -->
	<!--=============================================-->
	<xs:element name="command" type="commandType">
		    <xs:annotation>
			      <xs:documentation>action written literally</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="commandType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="textGroupType"/>
			      <xs:element ref="figure"/>
			      <xs:element ref="multimedia"/>
			      <xs:element ref="extApplication"/>
			      <xs:group ref="wcnGroupType"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- action  element		  		  						   -->
	<!--=============================================-->
	<xs:element name="action" type="actionType">
		    <xs:annotation>
			      <xs:documentation>An action. Can be a challengeResponse or a command, optionally followed by a comment</xs:documentation>
			
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="actionType">
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  comment in actions content model								 -->
	<!--=============================================-->
	<xs:complexType name="commentActionType">
		    <xs:complexContent>
			      <xs:extension base="commentType">
				        <xs:attribute name="direct" type="xs:boolean" use="optional">
					          <xs:annotation>
						            <xs:documentation>Used to write a comment on a single line.</xs:documentation>
					          </xs:annotation>
				        </xs:attribute>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- actionBlock  element		  		  						   -->
	<!--=============================================-->
	<xs:element name="actionBlock" type="actionBlockType">
		    <xs:annotation>
			      <xs:documentation>Two or more linked actions</xs:documentation>
			
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="actionBlockType">
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <!--xs:sequence>
			<xs:element name="title" type="nameType" minOccurs="0"/>
			<xs:element ref="action" minOccurs="2" maxOccurs="unbounded"/>
		</xs:sequence-->
	</xs:complexType>
	  <!--=============================================-->
	<!-- actionGroup	  		  						   									-->
	<!--=============================================-->
	<xs:group name="actionGroup">
		    <xs:choice>
			      <xs:element ref="action"/>
			      <xs:element ref="actionBlock"/>
		    </xs:choice>
	  </xs:group>
	  <!--=============================================-->
	<!-- actionInstruction	  						   									-->
	<!--=============================================-->
	<xs:element name="actionInstruction" type="paraType">
		    <xs:annotation>
			      <xs:documentation>provide instruction on how to perform the action (e.g. without delay)</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- actionDependencyAttGrp                                                                 -->
	<!--=============================================-->
	<xs:attributeGroup name="actionDenpendencyAttGrp">
		    <xs:attribute name="actionDependencyRefId" type="xs:IDREF" use="optional">
			      <xs:annotation>
				        <xs:documentation>Reference to another action, simultaneousAction or actionBlock upon which the subject is dependent</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!-- actionChallengerResponderAttGrp                                                                 -->
	<!--=============================================-->
	<xs:attributeGroup name="actionChallengerResponderAttGrp">
		    <xs:attribute name="challenger" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>crew member responsible for verbalizing the action</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="responder" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>crew member responsible for responding to the action</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
</xs:schema>