doctypes/ATA_Spec2300_2017.1/common/procedure/failureConsequences.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp2 (http://www.altova.com) by Airbus (Airbus Operations GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ataebiz.org/XMLSchema" xmlns:m="http://www.w3.org/1998/Math/MathML" targetNamespace="http://www.ataebiz.org/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		<xs:documentation>Version Number: 2017.1</xs:documentation>
		<xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		<xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../basicDataTypes/text.xsd"/>
	<xs:include schemaLocation="../basicDataTypes/case.xsd"/>
	<xs:include schemaLocation="../basicDataTypes/comment.xsd"/>
	<xs:include schemaLocation="./inform.xsd"/>
	<!--xs:include schemaLocation="../limit/limit.xsd"/-->
	<!--=============================================-->
	<!-- associatedProcedures Element Definition -->
	<!--=============================================-->
	<xs:element name="associatedProcedures" type="associatedProceduresType">
		<xs:annotation>
			<xs:documentation>1 or several associated alerts</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="associatedProceduresType">
		<xs:sequence>
			<xs:element name="associatedProcedure" type="associatedProcedureType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>1 associated alert (primary or independent)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="associatedProcedureType">
		<xs:sequence>
			<xs:element ref="electronicMessage"/>
			<xs:element ref="dmRef" minOccurs="0"/>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level">
			<xs:annotation>
				<xs:documentation>the associated alert is primary ("Primary" is used for a failure that affects a system, or an equipment item, and causes the loss of other systems, or equipment items) or independent ("Independent" is used for a failure that affects an isolated system, or an equipment item, but does not degrade the performance of other aircraft systems)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="primary"/>
					<xs:enumeration value="independent"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- secondaryFailures Element Definition -->
	<!--=============================================-->
	<xs:element name="secondaryFailures" type="secondaryFailuresType">
		<xs:annotation>
			<xs:documentation>The System pages indicating the loss of a system, or a system reconfiguration , or a system limitation, that is the result of a primary failure</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="secondaryFailuresType">
		<xs:sequence>
			<xs:element name="systemPageRef" type="systemPageRefType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The reference to a system page where are indicated affected parts of the failed system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="systemPageRefType">
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>system page name.</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="abbreviation"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dmRef" minOccurs="0"/>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- systemRestrictions Element Definition -->
	<!--=============================================-->
	<xs:element name="systemRestrictions" type="systemRestrictionsType">
		<xs:annotation>
			<xs:documentation>system limitations which are related to a failure and its procedure.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="systemRestrictionsType">
		<xs:sequence>
			<xs:element name="systemRestrictionsGroup" type="systemRestrictionsGroupType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>group of system restrictions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="systemRestrictionsGroupType">
		<xs:sequence>
			<xs:element name="flightPhaseRestrictions" type="flightPhaseRestrictionsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of restrictions for ALL or a specific phase of flight</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="display" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Name of the display where the inoperatives items are conveyed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="flightPhaseRestrictionsType">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="limit"/>
				<xs:element name="limitCondition" type="limitConditionType">
					<xs:annotation>
						<xs:documentation>limits depending of a condition</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="phaseOfFlightCode" type="xs:NMTOKENS" use="optional">
			<xs:annotation>
				<xs:documentation>Contains a single of a list of phase or sub-phase of flight codes or All.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="limitConditionType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="caseCond">
					<xs:annotation>
						<xs:documentation>A condition statement</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="caseCondBlock" type="caseCondBlockType">
					<xs:annotation>
						<xs:documentation>A block of condition statements</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element ref="limit" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- deferredProcedures Element Definition -->
	<!--=============================================-->
	<xs:element name="deferredProcedures" type="deferredProceduresType">
		<xs:annotation>
			<xs:documentation>Procedures step to be considered later during the flight.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="deferredProceduresType">
		<xs:sequence>
			<xs:element name="flightPhaseDeferredProc" type="flightPhaseDeferredProcType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Deferred procedures step to be applied during ALL or a specific flight phase.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="flightPhaseDeferredProcType">
		<xs:sequence>
			<xs:element name="procContent" type="deferredProcContentType">
				<xs:annotation>
					<xs:documentation>Deferred procedural content</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="phaseOfFlightCode" type="xs:NMTOKENS" use="optional">
			<xs:annotation>
				<xs:documentation>Contains a single of a list of phase or sub-phase of flight codes or All.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="deferredProcContentType">
		<xs:annotation>
			<xs:appinfo>to extend</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- statusInfo Element Definition -->
	<!--=============================================-->
	<xs:element name="statusInfo" type="failureConsequenceInfoType">
		<xs:annotation>
			<xs:documentation>Status information displayed on electronic monitoring device</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="failureConsequenceInfoType">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="electronicInform"/>
				<xs:element name="infoCondition" type="infoConditionType">
					<xs:annotation>
						<xs:documentation>status info depending of a condition</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="infoConditionType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="caseCond">
					<xs:annotation>
						<xs:documentation>A condition statement</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="caseCondBlock" type="caseCondBlockType">
					<xs:annotation>
						<xs:documentation>A block of condition statements</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element ref="electronicInform" maxOccurs="unbounded"/>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- inoperativeItems;  inoperativeSystems and notAvailFunctions Element Definition -->
	<!--=============================================-->
	<xs:group name="inopItemsGroup">
		<xs:choice>
			<xs:element name="inoperativeItems" type="inoperativeItemsType">
				<xs:annotation>
					<xs:documentation>a set of inoperative items after accomplishing the procedure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="inoperativeSystems" type="inoperativeItemsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>a set of inoperative systems after accomplishing the procedure.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="notAvailFunctions" type="notAvailFunctionsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The list of functions to the flight crew that are non available because of the alert</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:group>
	<xs:complexType name="inoperativeItemsType">
		<xs:sequence>
			<xs:element name="inopItemsGroup" type="inopItemsGroupType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>group of inoperative systems</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="inopItemsGroupType">
		<xs:sequence>
			<xs:element name="title" type="nameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of inopItems group.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="flightPhaseInopSys" type="flightPhaseInopSysType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>List of inop sys for ALL or a specific phase of flight</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="comment" type="commentType" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="inopItemsGroup" type="inopItemsGroupType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>group of inoperative systems</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="display" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Name of the display where the inoperatives items are conveyed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="criticalImpact" use="optional">
			<xs:annotation>
				<xs:documentation>Set the critical impact level (caution or advisory) of the includes inoperative items</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="caution"/>
					<xs:enumeration value="advisory"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="flightPhaseInopSysType">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="inopItem"/>
				<xs:element name="inopItemCondition" type="inopItemConditionType">
					<xs:annotation>
						<xs:documentation>inoperative items depending of a condition</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="phaseOfFlightCode" type="xs:NMTOKENS" use="optional">
			<xs:annotation>
				<xs:documentation>Contains a single of a list of phase or sub-phase of flight codes or All.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="inopItem" type="inopItemType">
		<xs:annotation>
			<xs:documentation>1 inoperative item or system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="inopItemType">
		<xs:sequence>
			<xs:element name="name" type="paraType">
				<xs:annotation>
					<xs:documentation>Inoperative item or system name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="consequence" type="paraType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the consequence of the inoperative item or system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="inopItemConditionType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="caseCond">
					<xs:annotation>
						<xs:documentation>A condition statement</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="caseCondBlock" type="caseCondBlockType">
					<xs:annotation>
						<xs:documentation>A block of condition statements</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element ref="inopItem" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="notAvailFunctionsType">
		<xs:sequence>
			<xs:element name="function" type="functionType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A function not available</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="functionType">
		<xs:sequence>
			<xs:element name="name" type="paraType">
				<xs:annotation>
					<xs:documentation>function name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- redundancyLosses Element Definition -->
	<!--=============================================-->
	<xs:element name="redundancyLosses" type="failureConsequenceInfoType">
		<xs:annotation>
			<xs:documentation>system redundancy losses.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--=============================================-->
	<!-- AdditionalInformation Element Definition -->
	<!--=============================================-->
	<xs:element name="additionalInformation" type="additionalInformationType">
		<xs:annotation>
			<xs:documentation>additional text relative to the aircraft status.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="additionalInformationType">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="inform"/>
				<xs:element ref="electronicInform"/>
				<xs:element name="infoCondition" type="additionalInformationConditionType">
					<xs:annotation>
						<xs:documentation>info depending of a condition</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="additionalInformationConditionType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="caseCond">
					<xs:annotation>
						<xs:documentation>A condition statement</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="caseCondBlock" type="caseCondBlockType">
					<xs:annotation>
						<xs:documentation>A block of condition statements</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="inform"/>
				<xs:element ref="electronicInform"/>
			</xs:choice>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--=============================================-->
	<!-- memoPage Element Definition -->
	<!--=============================================-->
	<xs:element name="memoPage" type="memoPageType">
		<xs:annotation>
			<xs:documentation>List of memos displayed.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="memoPageType">
		<xs:sequence>
			<xs:element name="memosGroup" type="memosGroupType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>group of displayed memos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="memosGroupType">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="electronicMessage"/>
				<xs:element name="memoCondition" type="memoConditionType">
					<xs:annotation>
						<xs:documentation>displayed memos depending of a condition</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="comment" type="commentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="display" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Name of the display where the memos messages are conveyed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="memoConditionType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="caseCond">
					<xs:annotation>
						<xs:documentation>A condition statement</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="caseCondBlock" type="caseCondBlockType">
					<xs:annotation>
						<xs:documentation>A block of condition statements</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element ref="electronicMessage" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
