doctypes/ATA_Spec2300_2017.1/common/procedure/inform.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../basicDataTypes/comment.xsd"/>
	  <xs:include schemaLocation="../basicDataTypes/table.xsd"/>
	  <!--=============================================-->
	<!-- inform element								  		  						   -->
	<!--=============================================-->
	<xs:element name="inform">
		    <xs:annotation>
			      <xs:documentation>Block of descriptive content (para, list, table, wcn, figure, …) giving informative text.</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			      <xs:choice maxOccurs="unbounded">
				        <xs:group ref="textGroupType"/>
				        <xs:element ref="figure"/>
				        <xs:element ref="multimedia"/>
				        <xs:element ref="extApplication"/>
				        <xs:group ref="wcnGroupType"/>
			      </xs:choice>
			      <xs:attribute name="id" type="idType" use="optional">
				        <xs:annotation>
					          <xs:documentation>Optional id for data management</xs:documentation>
				        </xs:annotation>
			      </xs:attribute>
			      <xs:attribute name="layer" type="layerType" use="optional">
				        <xs:annotation>
					          <xs:documentation>Layer of information</xs:documentation>
				        </xs:annotation>
			      </xs:attribute>
		    </xs:complexType>
	  </xs:element>
	  <!--=============================================-->
	<!-- electronicInform Element Definition -->
	<!--=============================================-->
	<xs:element name="electronicInform" type="electronicInformType">
		    <xs:annotation>
			      <xs:documentation>An inform displayed on an electronic display.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="electronicInformType">
		    <xs:sequence>
			      <xs:choice maxOccurs="unbounded">
				        <xs:element name="para" type="paraType"/>
				        <xs:element name="table" type="tableType">
					          <xs:annotation>
						            <xs:documentation>A markup representation of a table as standardized in the CALS (Continuous Acquisition and Life-Cycle Support, previously known as Computer-aided Acquisition and Logistic Support) initiative.</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:group ref="listGroup"/>
			      </xs:choice>
			      <xs:element name="comment" type="commentType" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="priorityLevel" type="priorityLevelType" use="optional">
			      <xs:annotation>
				        <xs:documentation>If the attribute is provided, it means that the action is displayed on the ECAM/EICAS. It provides then the classification of the action based on level of urgency.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="priorityRanking" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>Used to convey additional information to clarify the Priority Level of the action.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
</xs:schema>