doctypes/ATA_Spec2300_2017.1/common/procedure/nonNormalProcContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../systems/commonDescriptionTypes.xsd"/>
	  <xs:redefine schemaLocation="../limit/limit.xsd">
		    <xs:complexType name="limitPerfoType">
			      <xs:complexContent>
				        <xs:extension base="limitPerfoType">
					          <xs:attribute name="priorityLevel" type="priorityLevelType" use="optional">
						            <xs:annotation>
							              <xs:documentation>If the attribute is provided, it means that the limit/performance is displayed on the ECAM/EICAS. It provides then the classification based on level of urgency.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
					          <xs:attribute name="priorityRanking" type="xs:string" use="optional">
						            <xs:annotation>
							              <xs:documentation>Used to convey additional information to clarify the Priority Level.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="./introducedActions.xsd"/>
	  <xs:redefine schemaLocation="./action.xsd">
		    <xs:complexType name="actionType">
			      <xs:complexContent>
				        <xs:extension base="actionType">
					          <xs:sequence>
						            <xs:element name="precaution" type="paraType" minOccurs="0">
							              <xs:annotation>
								                <xs:documentation>additional visibility using Precautions</xs:documentation>
							              </xs:annotation>
						            </xs:element>
						            <xs:element ref="actionInstruction" minOccurs="0"/>
						            <xs:choice>
							              <xs:element ref="challengeResponse"/>
							              <xs:element ref="command"/>
							              <xs:element ref="response"/>
							              <xs:element name="doNotAccomplish" type="doNotAccomplishType">
								                <xs:annotation>
									                  <xs:documentation>List of the checklists that should not be accomplished</xs:documentation>
								                </xs:annotation>
							              </xs:element>
							              <xs:element ref="land"/>
							              <xs:element ref="continueFlight"/>
						            </xs:choice>
						            <xs:element name="comment" type="commentActionType" minOccurs="0" maxOccurs="unbounded"/>
					          </xs:sequence>
					          <xs:attribute name="crm" type="xs:string" use="optional">
						            <xs:annotation>
							              <xs:documentation>crew member responsible for performing the action</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
					          <xs:attributeGroup ref="actionChallengerResponderAttGrp"/>
					          <xs:attribute name="memory" type="xs:boolean" use="optional">
						            <xs:annotation>
							              <xs:documentation>shall the action be known by heart.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
					          <xs:attribute name="priorityLevel" type="priorityLevelType" use="optional">
						            <xs:annotation>
							              <xs:documentation>If the attribute is provided, it means that the action is displayed on the ECAM/EICAS. It provides then the classification of the action based on level of urgency.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
					          <xs:attribute name="priorityRanking" type="xs:string" use="optional">
						            <xs:annotation>
							              <xs:documentation>Used to convey additional information to clarify the Priority Level of the action.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
					          <xs:attribute name="timeActionFlag" type="xs:boolean" use="optional">
						            <xs:annotation>
							              <xs:documentation>Flag an action as a time action (e.g. "wait 30 seconds")</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
					          <xs:attributeGroup ref="actionDenpendencyAttGrp"/>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
		    <xs:complexType name="challengeResponseType">
			      <xs:complexContent>
				        <xs:extension base="challengeResponseType">
					          <xs:attribute name="confirm" type="xs:boolean" use="optional">
						            <xs:annotation>
							              <xs:documentation>Used to direct both crew members to verify or confirm they are taking the proper action or selecting the correct switch.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
		    <xs:complexType name="actionBlockType">
			      <xs:complexContent>
				        <xs:extension base="actionBlockType">
					          <xs:sequence>
						            <xs:element name="title" type="nameType" minOccurs="0"/>
						            <xs:element ref="actionInstruction" minOccurs="0"/>
						            <xs:element ref="action" minOccurs="2" maxOccurs="unbounded"/>
					          </xs:sequence>
					          <xs:attribute name="memory" type="xs:boolean" use="optional">
						            <xs:annotation>
							              <xs:documentation>shall the action be known by heart.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
					          <xs:attributeGroup ref="actionDenpendencyAttGrp"/>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="./inform.xsd"/>
	  <xs:include schemaLocation="./nestedProcedure.xsd"/>
	  <xs:redefine schemaLocation="./condition.xsd">
		    <xs:complexType name="conditionType">
			      <xs:complexContent>
				        <xs:extension base="conditionType">
					          <xs:sequence>
						            <xs:group ref="conditionIntroGroup"/>
						            <xs:group ref="nonNormalProcLevelGroup" minOccurs="0"/>
						            <xs:element ref="endOfProc" minOccurs="0"/>
					          </xs:sequence>
					          <xs:attribute name="atAnyTime" type="xs:boolean" use="optional">
						            <xs:annotation>
							              <xs:documentation>if set to true, the condition is applicable at any time during the course of the procedure</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
					          <xs:attribute name="priorityLevel" type="priorityLevelType" use="optional">
						            <xs:annotation>
							              <xs:documentation>If the attribute is provided, it means that the limit/performance is displayed on the ECAM/EICAS. It provides then the classification based on level of urgency.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
					          <xs:attribute name="priorityRanking" type="xs:string" use="optional">
						            <xs:annotation>
							              <xs:documentation>Used to convey additional information to clarify the Priority Level.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
		    <xs:complexType name="exclusiveConditionsType">
			      <xs:complexContent>
				        <xs:extension base="exclusiveConditionsType">
					          <xs:sequence>
						            <xs:group ref="conditionIntroGroup" minOccurs="0"/>
						            <xs:element ref="condition" minOccurs="2" maxOccurs="unbounded"/>
					          </xs:sequence>
					          <xs:attribute name="priorityLevel" type="priorityLevelType" use="optional">
						            <xs:annotation>
							              <xs:documentation>If the attribute is provided, it means that the limit/performance is displayed on the ECAM/EICAS. It provides then the classification based on level of urgency.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
					          <xs:attribute name="priorityRanking" type="xs:string" use="optional">
						            <xs:annotation>
							              <xs:documentation>Used to convey additional information to clarify the Priority Level.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:redefine schemaLocation="./simultaneousActions.xsd">
		    <xs:complexType name="simultaneousStepType">
			      <xs:complexContent>
				        <xs:extension base="simultaneousStepType">
					          <xs:choice maxOccurs="unbounded">
						            <xs:element ref="action"/>
						            <xs:element ref="actionBlock"/>
						            <xs:element ref="condition"/>
					          </xs:choice>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:redefine schemaLocation="./wcnProc.xsd">
		    <xs:complexType name="wcnProcType">
			      <xs:complexContent>
				        <xs:extension base="wcnProcType">
					          <xs:choice minOccurs="0" maxOccurs="unbounded">
						            <xs:group ref="actionGroup"/>
						            <xs:group ref="conditionGroup"/>
						            <xs:element ref="limit"/>
						            <xs:element ref="electronicInform"/>
					          </xs:choice>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <!--=============================================-->
	<!-- procContent Element Definition -->
	<!--=============================================-->
	<xs:element name="procContent" type="procContentType">
		    <xs:annotation>
			      <xs:documentation>procedural content..</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="procContentType">
		    <xs:annotation>
			      <xs:appinfo>to extend</xs:appinfo>
		    </xs:annotation>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- utils groups -->
	<!--=============================================-->
	<xs:group name="nonNormalProcContentGroup">
		    <xs:choice>
			      <xs:group ref="actionGroup"/>
			      <xs:element ref="simultaneousActions"/>
			      <xs:group ref="conditionGroup"/>
			      <xs:element name="navigationItem" type="navigationItemType">
				        <xs:annotation>
					          <xs:documentation>Navigation Item can redirect to a Step or Checklist or Anything else (Note, Inoperative Item List, etc)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="limit"/>
			      <xs:element ref="perform"/>
			      <xs:element ref="inform"/>
			      <xs:element ref="electronicInform"/>
			      <xs:element ref="nestedProcedure"/>
			      <xs:group ref="wcnProcGroup"/>
		    </xs:choice>
	  </xs:group>
	  <xs:group name="nonNormalProcLevelGroup">
		    <xs:sequence>
			      <xs:element name="procDescription" type="descriptionType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>procedure description</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="procContent" type="procContentType">
				        <xs:annotation>
					          <xs:documentation>procedural content..</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:group>
	  <!--=============================================-->
	<!-- doNotAccomplish  Element Definition -->
	<!--=============================================-->
	<xs:complexType name="doNotAccomplishType">
		    <xs:sequence maxOccurs="unbounded">
			      <xs:element ref="dmRef"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	
	  <!--=============================================-->
	<!-- navigationItem Element Definition -->
	<!--=============================================-->
	<xs:complexType name="navigationItemType">
		    <xs:group ref="crossRefGroup"/>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
</xs:schema>