doctypes/ATA_Spec2300_2017.1/common/procedure/whatIf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../basicDataTypes/case.xsd"/>
	  <xs:include schemaLocation="../basicDataTypes/links.xsd"/>
	  <!--=============================================-->
	<!-- inform element								  		  						   -->
	<!--=============================================-->
	<xs:element name="whatIf" type="whatIfType">
		    <xs:annotation>
			      <xs:documentation>get access to several scenarios related to the information the flight crew is reading</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="whatIfType">
		    <xs:sequence maxOccurs="unbounded">
			      <xs:element name="ifCondition" type="ifConditionType">
				        <xs:annotation>
					          <xs:documentation>if condition in a What-If</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="ifConditionType">
		    <xs:sequence>
			      <xs:element ref="caseCond"/>
			      <xs:group ref="crossRefGroup"/>
		    </xs:sequence>
	  </xs:complexType>
</xs:schema>