doctypes/S1000D_2-2/xml_dtd/ddn/dtd/listcode.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                 XML Document Type Definition                       *
    *                                                                    *
    *                     Release Version 2.2                            *
    *                       Date: 2005-05-01                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier date.                                  *
    * 2. TPSMG request: Amend element <p> by attribute definitions of    *
    *                   entity %bodyatt;.                                *
    *====================================================================*
    * Typical invocation:-                                               *
    * <!ENTITY % LISTCODE PUBLIC                                         *
    *   "-//S1000D//ELEMENTS List Code Definitions 20050501//EN//XML"    *
    *   "listcode.ent">                                                  *
    * %LISTCODE;                                                         *
    ********************************************************************** -->


<!--**********************************************************************
    * Define Element sendid (Senders Identification) containing:-        *
    *  Parsed Character Data.                                            *
    * may contain the NCAGE code                                         *
    ********************************************************************** -->
<!ELEMENT sendid  (#PCDATA) >


<!--**********************************************************************
    * Define Element diyear (Data Identification Year) containing:-      *
    *  Parsed Character Data                                             *
    ********************************************************************** -->
<!ELEMENT diyear  (#PCDATA) >


<!--**********************************************************************
    * Define Element seqnum (Sequence Number of DDN, DML or COM for      *
    *                        current year)                               *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
<!ELEMENT seqnum  (#PCDATA) >


<!--**********************************************************************
    * Define Element subscrpt (Sub Script) containing:-                  *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
<!ELEMENT subscrpt  (#PCDATA) >


<!--**********************************************************************
    * Define Element supscrpt (Super Script) containing:-                *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
<!ELEMENT supscrpt  (#PCDATA) >


<!--**********************************************************************
    * Define Element p (Simple Paragraph) containing:-                   *
    *====================================================================*
    * Optional Repeatable Group                                          *
    *====================================================================*
    *  Parsed Character Data.                                            *
    *  or                                                                *
    *   subscrpt - mandatory single     contains Parsed Character Data.  *
    *  or                                                                *
    *   supscrpt - mandatory single     contains Parsed Character Data.  *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;.             *
    ********************************************************************** -->
<!ELEMENT p  (#PCDATA | subscrpt | supscrpt)* >
<!ATTLIST p
             %bodyatt; >
<!-- Attribute definition list added -->


<!--**********************************************************************
    * Define Element remarks (Remarks) containing:-                      *
    *====================================================================*
    * Optional  Repeatable Group.                                        *
    *====================================================================*
    *   Parsed Character Data.                                           *
    *  or                                                                *
    *   p        - mandatory single     contains Parsed Character Data or*
    *                                            subscrpt or supscrpt.   *
    *====================================================================*
    ********************************************************************** -->
<!ELEMENT remarks  (#PCDATA | p)* >



<!--** End of XML LISTCODE Entity **-->
