doctypes/S1000D_2-1/sgml_dtd/dml/dtd/dmaddr3.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier.                                       *
    * 2. Reflect the changes done for the DM DTD.                        *
    *====================================================================*
    * Typical invocation:                                                *
    * <!ENTITY % DMADDR3 PUBLIC                                          *
    * "-//S1000D//ELEMENTS DM Address Details 3rd Part 20030531//EN">    *
    * %DMADDR3;                                                          *
    ********************************************************************** -->


<!--**********************************************************************
    * Define Element dmtitle (Data Module Title) containing:-            *
    *  techname - Mandatory  Single      contains Parsed Character Data. *
    *  infoname - Optional   Single      contains Parsed Character Data. *
    ********************************************************************** -->
<!ELEMENT dmtitle - O (techname,infoname?) >


<!--**********************************************************************
    * Define the following Elements:-                                    *
    *   techname - Technical Name.                                       *
    *   infoname - Information Name.                                     *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
<!ELEMENT (techname | infoname) - O (#PCDATA) >


<!--**********************************************************************
    * Define Element language (Language of Data Module) containing:-     *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  language - CDATA     - REQUIRED - Language Code (lowercase).      *
    *  country  - CDATA     - IMPLIED  - Country Code (uppercase).       *
    ********************************************************************** -->
<!ELEMENT language - O EMPTY>
<!ATTLIST language
             language CDATA #REQUIRED
             country  CDATA #IMPLIED >


<!--**********************************************************************
    * Define Element rpc (Responsible Partner Company) of DM             *
    * containing:-                                                       *
    *  Parsed Character Data (May contain the full name of the RPC).     *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  rpcname  - Declared - IMPLIED - contains definition stored in     *
    *                                  entity %RPCNAME;.                 *
    *                                  May contain an abbreviated name   *
    *                                  or the NCAGE code of the RPC      *
    *                                  responsible for the DM in the     *
    *                                  list entry.                       *
    ********************************************************************** -->
<!ELEMENT rpc      - O (#PCDATA) >
<!ATTLIST rpc
            rpcname  %RPCNAME;  #IMPLIED >


<!--** End of DMADDR3 Entity **-->