doctypes/ATA_Spec2300_2017.1/common/dispatch/commonDispatch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../systems/commonDescriptionTypes.xsd"/>
	  <!--=============================================-->
	<!-- dispcondCode attribute	  						   								-->
	<!--=============================================-->
	<xs:attributeGroup name="dispCondCodeAttrGrp">
		    <xs:attribute name="dispCondCode" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>provides a code that identifies a dispatch condition for applications such performance computation</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!-- repairIntervalType   								  						   -->
	<!--=============================================-->
	<xs:simpleType name="repairIntervalType">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="A"/>
			      <xs:enumeration value="B"/>
			      <xs:enumeration value="C"/>
			      <xs:enumeration value="D"/>
			      <xs:enumeration value="O"/>
			      <xs:enumeration value="NA"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <!--=============================================-->
	<!-- placard Element Definition -->
	<!--=============================================-->
	<xs:element name="placard">
		    <xs:annotation>
			      <xs:documentation>a notice or plaque being placed on the equipment to alert the users</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			      <xs:choice minOccurs="0" maxOccurs="unbounded">
				        <xs:group ref="basicTextGroupType"/>
			      </xs:choice>
			      <xs:attribute name="id" type="idType" use="optional">
				        <xs:annotation>
					          <xs:documentation>Optional id for data management</xs:documentation>
				        </xs:annotation>
			      </xs:attribute>
		    </xs:complexType>
	  </xs:element>
	  <!--=============================================-->
	<!-- noRemark Element Definition -->
	<!--=============================================-->
	<xs:complexType name="noRemarkType" mixed="true">
		    <xs:annotation>
			      <xs:documentation>No proviso</xs:documentation>
		    </xs:annotation>
		    <xs:complexContent>
			      <xs:restriction base="paraType">
				        <xs:choice minOccurs="0" maxOccurs="unbounded">
					          <xs:group ref="basicMixedContentGroup"/>
					          <xs:group ref="crossRefGroup"/>
				        </xs:choice>
				        <xs:attribute name="id" type="idType" use="optional">
					          <xs:annotation>
						            <xs:documentation>Optional id for data management</xs:documentation>
					          </xs:annotation>
				        </xs:attribute>
				        <xs:attribute name="layer" type="layerType" use="prohibited">
					          <xs:annotation>
						            <xs:documentation>Layer of information</xs:documentation>
					          </xs:annotation>
				        </xs:attribute>
			      </xs:restriction>
		    </xs:complexContent>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- oProcedureRefType Definition -->
	<!--=============================================-->
	<xs:complexType name="oProcedureRefType">
		    <xs:sequence>
			      <xs:element ref="dmRef"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- mProcedureRefType Definition -->
	<!--=============================================-->
	<xs:complexType name="mProcedureRefType">
		    <xs:sequence>
			      <xs:choice>
				        <xs:element ref="dmRef">
					          <xs:annotation>
						            <xs:documentation>reference to a (m) procedure</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element ref="externalRef" maxOccurs="unbounded">
					          <xs:annotation>
						            <xs:documentation>reference to external maintenance task or procedure</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:choice>
			      <xs:element name="applicationInterval" type="repairLimitApplicationIntervalType"
                     minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>the maintenance application interval : composed of a number of (flights or days or flight hours or flight days)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- repairLimitApplicationIntervalType Definition-->
	<!--=============================================-->
	<xs:complexType name="repairLimitApplicationIntervalType">
		    <xs:attribute name="nbr" type="xs:positiveInteger" use="required">
			      <xs:annotation>
				        <xs:documentation>set a number of... unit</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="unit" use="required">
			      <xs:annotation>
				        <xs:documentation>unit (hours, calendarDays, flightCycles, flightHours, flightDays)</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="hours"/>
					          <xs:enumeration value="calendarDays"/>
					          <xs:enumeration value="flightCycles"/>
					          <xs:enumeration value="flightHours"/>
					          <xs:enumeration value="flightDays"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- proviso/@role attribute definition-->
	<!--=============================================-->
	<xs:attributeGroup name="provisoRoleAttGrp">
		    <xs:attribute name="roles" use="optional">
			      <xs:annotation>
				        <xs:documentation>One or more proviso roles</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:list itemType="provisoRoleType"/>
			      </xs:simpleType>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <xs:simpleType name="provisoRoleType">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="GroundHandling"/>
			      <xs:enumeration value="Maintenance"/>
			      <xs:enumeration value="Dispatch"/>
			      <xs:enumeration value="Cabin"/>
			      <xs:enumeration value="Flight"/>
			      <xs:enumeration value="OperationalSecurity"/>
			      <xs:enumeration value="Cargo"/>
			      <xs:enumeration value="Organization"/>
		    </xs:restriction>
	  </xs:simpleType>
</xs:schema>