doctypes/ATA_Spec2300_2017.1/common/basicDataTypes/case.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="./text.xsd"/>
	  <xs:annotation>
		    <xs:documentation>Schema for case (condition) Structures</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="./figure.xsd"/>
	  <xs:include schemaLocation="./multimedia.xsd"/>
	  <xs:include schemaLocation="./extApplication.xsd"/>
	  <!--=============================================-->
	<!--  Case element Type declaration                                       -->
	<!-- WARNING : a specific definition of case content model  -->
	<!-- is also provided in common/limit/limit.xsd 	                       -->
	<!--  caseWithLimitType                                                         -->
	<!-- check to impact changes if necessary                           -->
	<!--=============================================-->
	<xs:complexType name="caseType">
		    <xs:annotation>
			      <xs:documentation>A part of description content under a condition</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element ref="caseCond"/>
			      <xs:choice maxOccurs="unbounded">
				        <xs:group ref="textGroupType"/>
				        <xs:element ref="figure"/>
				        <xs:element ref="multimedia"/>
				        <xs:element ref="extApplication"/>
				        <xs:group ref="wcnGroupType"/>
				        <xs:group ref="caseExtensionGroup"/>
			      </xs:choice>
		    </xs:sequence>
		    <xs:attributeGroup ref="caseAttrGrp"/>
	  </xs:complexType>
	  <xs:attributeGroup name="caseAttrGrp">
		    <xs:attribute name="direct" type="xs:boolean" use="optional">
			      <xs:annotation>
				        <xs:documentation>Used to write a condition on a single line.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!--  caseCond declaration-->
	<!--=============================================-->
	<xs:element name="caseCond" type="nameType">
		    <xs:annotation>
			      <xs:documentation>A condition</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- caseCondBlock element								     				-->
	<!--=============================================-->
	<xs:complexType name="caseCondBlockType">
		    <xs:annotation>
			      <xs:documentation>a block of condition</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element ref="caseCond" minOccurs="2" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>A condition statement</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="logicalOperatorAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- conditionIntroGroup element								     -->
	<!--=============================================-->
	<xs:group name="conditionIntroGroup">
		    <xs:annotation>
			      <xs:documentation>content group for condition element</xs:documentation>
		    </xs:annotation>
		    <xs:choice>
			      <xs:element ref="caseCond">
				        <xs:annotation>
					          <xs:documentation>A condition statement</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="caseCondBlock" type="caseCondBlockType">
				        <xs:annotation>
					          <xs:documentation>A block of condition statements</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
	  </xs:group>
	  <!--=============================================-->
	<!--  Case element Type declaration									-->
	<!--=============================================-->
	<xs:complexType name="exclusiveCasesType">
		    <xs:annotation>
			      <xs:documentation>List of exclusive conditional descriptive content</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:group ref="conditionIntroGroup" minOccurs="0"/>
			      <xs:element name="case" type="caseType" minOccurs="2" maxOccurs="unbounded"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  Case elements group													  -->
	<!-- WARNING : a specific group 										 -->
	<!-- is also provided in common/limit/limit.xsd 	                       -->
	<!--  caseWithLimitGroup                                                       -->
	<!-- check to impact changes if necessary                           -->
	<!--=============================================-->
	<xs:group name="caseGroup">
		    <xs:choice>
			      <xs:element name="case" type="caseType">
				        <xs:annotation>
					          <xs:documentation>A part of content under a condition</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="exclusiveCases" type="exclusiveCasesType">
				        <xs:annotation>
					          <xs:documentation>Two or more exclusive conditional descriptive content</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
	  </xs:group>
</xs:schema>