doctypes/ATA_Spec2300_2017.1/common/basicDataTypes/coreTable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:annotation>
		    <xs:documentation>Table schema that is modeled after the ATA CALS table structure used in ATA DTDs.</xs:documentation>
		    <xs:documentation>This table schema (coreTable.xsd) is designed as a stand-alone schema that contains only table related elements and attributes. It can be a stand-alone table specficiation that can be used to redefine the content models for the table. The table.xsd schema module is then used to re-define any elements or attributes that need to be extended specifically to meet one's content model. The elements typically need to be extended are tableType, entryType, ftnoteType, etc.</xs:documentation>
	  </xs:annotation>
	  <!--=====================================================-->
	<!--  table element definition -->
	<!--=====================================================-->
	<xs:complexType name="tableType">
		    <xs:annotation>
			      <xs:documentation>main CALS table container</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:group ref="tableCoreContentGroup"/>
		    </xs:sequence>
		    <xs:attributeGroup ref="tableAttGrp"/>
	  </xs:complexType>
	  <xs:attributeGroup name="tableAttGrp">
		    <xs:attribute name="tabstyle" type="xs:NMTOKEN"/>
		    <xs:attribute name="frame">
			      <xs:simpleType>
				        <xs:restriction base="xs:NMTOKEN">
					          <xs:enumeration value="top"/>
					          <xs:enumeration value="bottom"/>
					          <xs:enumeration value="topbot"/>
					          <xs:enumeration value="all"/>
					          <xs:enumeration value="sides"/>
					          <xs:enumeration value="none"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="colsep" type="yesorno"/>
		    <xs:attribute name="rowsep" type="yesorno"/>
		    <xs:attribute name="orient">
			      <xs:simpleType>
				        <xs:restriction base="xs:NMTOKEN">
					          <xs:enumeration value="port"/>
					          <xs:enumeration value="land"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="pgwide" type="yesorno"/>
	  </xs:attributeGroup>
	  <!--=====================================================-->
	<!--  table tite content to redefine -->
	<!--=====================================================-->
	<xs:complexType name="tblTitleType" mixed="true"/>
	  <!--=====================================================-->
	<!--  table content group-->
	<!--=====================================================-->
	<xs:group name="tableCoreContentGroup">
		    <xs:annotation>
			      <xs:documentation>basic content structure for the table element</xs:documentation>
			      <xs:appinfo>defined here as a group, so it can be redefined and extended in the
				table.xsd schema.</xs:appinfo>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="title" type="tblTitleType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>title or name of the table</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="tgroup" type="tgroupType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>CALS table grouping container of header, body and footer.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="ftnote" type="ftnoteType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>container for the footer information of the table</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:group>
	  <!--=====================================================-->
	<!-- tgroup element definition -->
	<!--=====================================================-->
	<xs:complexType name="tgroupType">
		    <xs:annotation>
			      <xs:documentation>CALS table grouping container of header, body and footer.</xs:documentation>
			      <xs:appinfo>In the ATA DTDs, there was only one tgroup allowed for each table element.
				It has been expanded to allow multiple tgroups per CALS spec.</xs:appinfo>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="colspec" type="colspecType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>specification for a table column</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="spanspec" type="spanspecType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>specification for the horizontal span of the table column</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="thead" type="theadType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>container of all heading rows within a table group (tgroup)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="tfoot" type="tfootType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>container of all footer rows within a table group (tgroup)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="tbody" type="tbodyType">
				        <xs:annotation>
					          <xs:documentation>container of all table body rows within a table group (tgroup)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="tgroupAttGrp"/>
	  </xs:complexType>
	  <xs:attributeGroup name="tgroupAttGrp">
		    <xs:attribute name="cols" type="xs:positiveInteger" use="required"/>
		    <xs:attribute name="colsep" type="yesorno"/>
		    <xs:attribute name="rowsep" type="yesorno"/>
		    <xs:attribute name="align" type="alignType" default="left"/>
		    <xs:attribute name="charoff" type="xs:string" default="50"/>
		    <xs:attribute name="char" type="xs:string"/>
	  </xs:attributeGroup>
	  <!--=====================================================-->
	<!-- colspec element definition -->
	<!--=====================================================-->
	<xs:complexType name="colspecType">
		    <xs:annotation>
			      <xs:documentation>specification for a table column</xs:documentation>
		    </xs:annotation>
		    <xs:attribute name="colwidth" type="xs:string"/>
		    <xs:attribute name="colnum" type="xs:positiveInteger" use="optional"/>
		    <xs:attribute name="colname" type="xs:token" use="optional"/>
		    <xs:attribute name="align" type="alignType" default="left"/>
		    <xs:attribute name="charoff" type="xs:string"/>
		    <xs:attribute name="char" type="xs:string"/>
		    <xs:attribute name="colsep" type="yesorno"/>
		    <xs:attribute name="rowsep" type="yesorno"/>
	  </xs:complexType>
	  <!--=====================================================-->
	<!-- spanspec element definition -->
	<!--=====================================================-->
	<xs:complexType name="spanspecType">
		    <xs:annotation>
			      <xs:documentation>specification for the horizontal span of the table column</xs:documentation>
		    </xs:annotation>
		    <xs:attribute name="namest" type="xs:NMTOKEN" use="required"/>
		    <xs:attribute name="nameend" type="xs:NMTOKEN" use="required"/>
		    <xs:attribute name="spanname" type="xs:NMTOKEN" use="required"/>
		    <xs:attribute name="align" type="alignType" default="center"/>
		    <xs:attribute name="charoff" type="xs:string"/>
		    <xs:attribute name="char" type="xs:string"/>
		    <xs:attribute name="colsep" type="yesorno"/>
		    <xs:attribute name="rowsep" type="yesorno"/>
	  </xs:complexType>
	  <!--=====================================================-->
	<!--  thead element definition -->
	<!--=====================================================-->
	<xs:complexType name="theadType">
		    <xs:annotation>
			      <xs:documentation>container of all heading rows within a table group (tgroup)</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="colspec" type="colspecType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>specification for a table column</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="row" type="rowType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>container for a table row</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="valignAttGrp"/>
	  </xs:complexType>
	  <!--=====================================================-->
	<!--  tfoot element definition -->
	<!--=====================================================-->
	<xs:complexType name="tfootType">
		    <xs:annotation>
			      <xs:documentation>container of all footer rows within a table group (tgroup)</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="colspec" type="colspecType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>specification for a table column</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="row" type="rowType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>container for a table row</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="valignAttGrp"/>
	  </xs:complexType>
	  <!--=====================================================-->
	<!--  tbody element definition -->
	<!--=====================================================-->
	<xs:complexType name="tbodyType">
		    <xs:annotation>
			      <xs:documentation>container of all table body rows within a table group (tgroup)</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="row" type="rowType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>container for a table row</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="valignAttGrp"/>
	  </xs:complexType>
	  <xs:attributeGroup name="valignAttGrp">
		    <xs:attribute name="valign" type="valignType" default="bottom"/>
	  </xs:attributeGroup>
	  <!--=====================================================-->
	<!--  row element definition -->
	<!--=====================================================-->
	<xs:complexType name="rowType">
		    <xs:annotation>
			      <xs:documentation>container for a table row</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="entry" type="entryType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>container for a table cell</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="rowAttGrp"/>
	  </xs:complexType>
	  <xs:attributeGroup name="rowAttGrp">
		    <xs:attribute name="rowsep" type="yesorno"/>
	  </xs:attributeGroup>
	  <!--=====================================================-->
	<!--  entry element definition -->
	<!--=====================================================-->
	<xs:complexType name="entryType">
		    <xs:annotation>
			      <xs:documentation>container for a table cell</xs:documentation>
			      <xs:appinfo>The content model for the entryType in the core-table schema is empty to
				allow for the extension when it's being incoporated into the real table
				schema.</xs:appinfo>
		    </xs:annotation>
		    <xs:attributeGroup ref="entryAttGrp"/>
	  </xs:complexType>
	  <xs:attributeGroup name="entryAttGrp">
		    <xs:attribute name="colname" type="xs:NMTOKEN"/>
		    <xs:attribute name="namest" type="xs:NMTOKEN"/>
		    <xs:attribute name="nameend" type="xs:NMTOKEN"/>
		    <xs:attribute name="spanname" type="xs:NMTOKEN"/>
		    <xs:attribute name="morerows" type="xs:nonNegativeInteger" default="0"/>
		    <xs:attribute name="colsep" type="yesorno"/>
		    <xs:attribute name="rowsep" type="yesorno"/>
		    <xs:attribute name="rotate" type="yesorno"/>
		    <xs:attribute name="align" type="alignType"/>
		    <xs:attribute name="valign" type="valignType" default="top"/>
		    <xs:attribute name="charoff" type="xs:string"/>
		    <xs:attribute name="char" type="xs:string"/>
	  </xs:attributeGroup>
	  <!--=====================================================-->
	<!-- ftnote element definition -->
	<!--=====================================================-->
	<xs:complexType name="ftnoteType">
		    <xs:annotation>
			      <xs:documentation>container for the footer of the table</xs:documentation>
			      <xs:appinfo>The content model for the ftnoteType in the core-table schema is empty to
				allow for the extension when it's being incoporated into the real table
				schema.</xs:appinfo>
		    </xs:annotation>
	  </xs:complexType>
	  <!--=====================================================-->
	<!--  simpleTypes definition -->
	<!--=====================================================-->
	<!--=====================================================-->
	<!--  align attribute -->
	<!--=====================================================-->
	<xs:simpleType name="alignType">
		    <xs:annotation>
			      <xs:documentation>horizontal alignment of the content in the table cell</xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:NMTOKEN">
			      <xs:enumeration value="left"/>
			      <xs:enumeration value="right"/>
			      <xs:enumeration value="center"/>
			      <xs:enumeration value="justify"/>
			      <xs:enumeration value="char"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <!--=====================================================-->
	<!--  valign attribute -->
	<!--=====================================================-->
	<xs:simpleType name="valignType">
		    <xs:annotation>
			      <xs:documentation>vertical alignment of the content in the table cell</xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:NMTOKEN">
			      <xs:enumeration value="top"/>
			      <xs:enumeration value="middle"/>
			      <xs:enumeration value="bottom"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <!--=====================================================-->
	<!--  yes-or-no attribute -->
	<!--=====================================================-->
	<xs:simpleType name="yesorno">
		    <xs:annotation>
			      <xs:documentation>boolean type attribute</xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:integer"/>
	  </xs:simpleType>
</xs:schema>