doctypes/ATA_Spec2300_2017.1/common/basicDataTypes/figure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../attrs/commonAttrs.xsd"/>
	  <xs:include schemaLocation="./links.xsd"/>
	  <xs:include schemaLocation="./text.xsd"/>
	  <xs:include schemaLocation="./wcn.xsd"/>
	  <xs:include schemaLocation="./table.xsd"/>
	  <!--=============================================-->
	<!--=============================================-->
	<!-- Figure and symbol  content models 									-->
	<!--=============================================-->
	<!--=============================================-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  element declarations														-->
	<!--=============================================-->
	<xs:element name="figure" type="figureElemType">
		    <xs:annotation>
			      <xs:documentation>container for the graphical reference and information.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="graphic" type="graphicElemType">
		    <xs:annotation>
			      <xs:documentation>contains the external reference to the illustration file</xs:documentation>
			
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="hotspot" type="hotspotElemType">
		    <xs:annotation>
			      <xs:documentation>contains the definition of graphical regions in an illustration and contains information needed to navigate between graphical objects or between graphical objects and text</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="legend" type="legendElemType">
		    <xs:annotation>
			      <xs:documentation>contains the legend</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!--  Symbol element													-->
	<!--=============================================-->
	<xs:element name="symbol" type="symbolElemType">
		    <xs:annotation>
			      <xs:documentation>contains illustrations and graphics that are intended to be presented inline within the normal text.</xs:documentation>
			
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  element content models definitions									-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  Figure/Graphic/Hotspot content models	 			-->
	<!--=============================================-->
	<xs:complexType name="figureElemType">
		    <xs:sequence>
			      <xs:element name="displayInstructions" type="displayInstructionsType" minOccurs="0"
                     maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>Provides some display instruction for a target display device/format</xs:documentation>
					
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="linktext" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Text where the hyperlink is formatted for</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="title" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Title or name of the graphic</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="graphic" maxOccurs="3">
				        <xs:annotation>
					          <xs:documentation>reference to an external illustration file. Possible 3 graphics for 3 layers of the same graphic.</xs:documentation>
					          <xs:appinfo>The maxOccurs of 3 means there may be three graphics for three
						layers of the graphical information, not three completely different
						illustrations. The third illustration provides the most detailed
						one.</xs:appinfo>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="displayInstructionsType">
		    <xs:attribute name="targetName" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>Name of a devices, electronic consultation tools or publication format</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="anchorMode" use="optional">
			      <xs:annotation>
				        <xs:documentation>Default anchor mode for a graphic</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="inline"/>
					          <xs:enumeration value="thumbnaill"/>
					          <xs:enumeration value="linkText"/>
					          <xs:enumeration value="unanchored"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="displayMode" use="optional">
			      <xs:annotation>
				        <xs:documentation>Describes the location where a graphical object is presented on a display screen</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="inlineLeft"/>
					          <xs:enumeration value="inlineRight"/>
					          <xs:enumeration value="inlineCenter"/>
					          <xs:enumeration value="frameVertical"/>
					          <xs:enumeration value="frameHorizontal"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="spread" type="xs:boolean" use="optional">
			      <xs:annotation>
				        <xs:documentation>Indicates if the graphic is spread on the whole screen</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="zoomMode" type="xs:integer" use="optional">
			      <xs:annotation>
				        <xs:documentation>Provides the percentage of zoom</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="rotation" use="optional">
			      <xs:annotation>
				        <xs:documentation>Indicates if the graphic must be rotated and the rotation direction (clockwise or anticlockwise)</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="clockwise"/>
					          <xs:enumeration value="antiClockwise"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="gColor" type="xs:boolean" use="optional">
			      <xs:annotation>
				        <xs:documentation>Indicates if the graphic must be rendered in color.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="graphicElemType">
		    <xs:sequence>
			      <xs:element ref="hotspot" minOccurs="0" maxOccurs="unbounded"/>
			      <xs:element ref="legend" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attributeGroup ref="graphicAttGrp"/>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional"/>
	  </xs:complexType>
	  <xs:complexType name="hotspotElemType">
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:element ref="hotspot"/>
			      <xs:group ref="crossRefGroup"/>
		    </xs:choice>
		    <xs:attributeGroup ref="hotspotAttGrp"/>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="legendElemType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="shortTextGroupType"/>
			      <xs:group ref="wcnGroupType"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  Figure/Graphic/Hotspot content models	 			-->
	<!--=============================================-->
	<xs:complexType name="symbolElemType">
		    <xs:attributeGroup ref="graphicAttGrp"/>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  attributes declarations														-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  figure/graphic.hotpsot attributes										-->
	<!--=============================================-->
	<xs:attributeGroup name="graphicAttGrp">
		    <xs:attribute name="infoIdent" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>The population of this attribute must include the complete ICN with the prefix "ICN-"</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="icnExtensionAttGrp"/>
		    <xs:attribute name="reproductionWidth" type="xs:string"/>
		    <xs:attribute name="reproductionHeight" type="xs:string"/>
		    <xs:attribute name="reproductionScale" type="xs:string"/>
		    <xs:attribute name="mimeType" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>provide the MIME type of the graphic object in compliance with the standard - IANA Media Types</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <xs:attributeGroup name="hotspotAttGrp">
		    <xs:attribute name="applicationStructureIdent" type="xs:string"/>
		    <xs:attribute name="applicationStructureName" type="xs:string"/>
		    <xs:attribute name="hotspotTitle" type="xs:string"/>
		    <xs:attribute name="hotspotType" type="xs:string"/>
		    <xs:attribute name="objectCoordinates" type="xs:string"/>
		    <xs:attribute name="objectDescr" type="xs:string"/>
		    <xs:attribute name="visibility" type="visibilityAttType" default="visible"/>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!--  simpletypes definitions													-->
	<!--=============================================-->
	<xs:simpleType name="visibilityAttType">
		    <xs:restriction base="xs:NMTOKEN">
			      <xs:enumeration value="visible"/>
			      <xs:enumeration value="hidden"/>
		    </xs:restriction>
	  </xs:simpleType>
</xs:schema>