doctypes/ATA_Spec2300_2017.1/common/basicDataTypes/links.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="./text.xsd"/>
	  <xs:include schemaLocation="../dataManagement/dmIdent.xsd"/>
	  <!--=============================================-->
	<!--  Links group -->
	<!--=============================================-->
	<xs:group name="crossRefGroup">
		    <xs:annotation>
			      <xs:documentation>Cross references elements</xs:documentation>
		    </xs:annotation>
		    <xs:choice>
			      <xs:element ref="internalRef"/>
			      <xs:element ref="dmRef"/>
			      <xs:element ref="externalRef"/>
		    </xs:choice>
	  </xs:group>
	  <!--=============================================-->
	<!--  internalRef element													-->
	<!--=============================================-->
	<xs:element name="internalRef" type="internalRefElemType">
		    <xs:annotation>
			      <xs:documentation>Used to mark up a cross-reference from one point in a data module to another point in the same data module</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!--  dmRef elements													-->
	<!--=============================================-->
	<xs:element name="dmRef" type="dmRefElemType">
		    <xs:annotation>
			      <xs:documentation>References to data modules</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="dmRefIdent" type="dmRefIdentElemType">
		    <xs:annotation>
			      <xs:documentation>Contains the items forming a unique identification of the destination data module</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="behavior" type="behaviorElemType">
		    <xs:annotation>
			      <xs:documentation>Specifies how the link operates, when a reference is supposed to be realized as a link.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  element content models definitions									-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  internalRef content model												-->
	<!--=============================================-->
	<xs:complexType name="internalRefElemType" mixed="true">
		    <xs:sequence>
			      <xs:group ref="basicMixedContentGroup" minOccurs="0" maxOccurs="unbounded"/>
		    </xs:sequence>
		    <xs:attributeGroup ref="internalRefAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  dmRef elements content model										-->
	<!--=============================================-->
	<xs:complexType name="dmRefElemType">
		    <xs:sequence>
			      <xs:element name="linktext" type="nameType" minOccurs="0"/>
			      <xs:element ref="dmRefIdent"/>
			      <xs:element ref="behavior" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attribute name="referredFragment" type="xs:string">
			      <xs:annotation>
				        <xs:documentation>contains the identification of an exact target within a data module when a reference addresses a specific location within another data module rather than the whole data module. The target must be an element in the destination data module and the target identification is the id attribute of the target element.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="dmRefIdentElemType">
		    <xs:sequence>
			      <xs:element ref="identExtension" minOccurs="0"/>
			      <xs:element ref="dmCode"/>
			      <xs:element ref="language"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="behaviorElemType">
		    <xs:attributeGroup ref="behaviorAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  attributes declarations														-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  internalRef attributes														-->
	<!--=============================================-->
	<xs:attributeGroup name="internalRefAttGrp">
		    <xs:attribute name="internalRefId" type="xs:IDREF">
			      <xs:annotation>
				        <xs:documentation>The target id</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="internalRefTargetType" type="internalRefTargetTypeAttType">
			      <xs:annotation>
				        <xs:documentation>Used indicate the type of destination of the reference.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="targetTitle" type="xs:string">
			      <xs:annotation>
				        <xs:documentation>Used to provide a human-readable label for the link destination, which could be presented after the target identifier or be displayed when for instance the cursor is hovering over the target identifier</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!--  dmRef attributes																-->
	<!--=============================================-->
	<xs:attributeGroup name="behaviorAttGrp">
		    <xs:attribute name="linkShow" type="linkShowAttType">
			      <xs:annotation>
				        <xs:documentation>specifies the link appearance.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="linkActuate" type="linkActuateAttType">
			      <xs:annotation>
				        <xs:documentation>specifies the link behavior</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!--  simpletypes definitions													-->
	<!--=============================================-->
	<xs:simpleType name="internalRefTargetTypeAttType">
		    <xs:restriction base="xs:NMTOKEN">
			      <xs:annotation>
				        <xs:appinfo>
					
				</xs:appinfo>
			      </xs:annotation>
			      <xs:enumeration value="figure"/>
			      <xs:enumeration value="table"/>
			      <xs:enumeration value="multimedia"/>
			      <xs:enumeration value="multimediaObject"/>
			      <xs:enumeration value="paragraph"/>
			      <xs:enumeration value="graphic"/>
			      <xs:enumeration value="hotspot"/>
			      <xs:enumeration value="other"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="linkActuateAttType">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="onLoad">
				        <xs:annotation>
					          <xs:documentation>present the referred context automatically when the link is loaded (ie when the link appears in the currently viewed context)</xs:documentation>
				        </xs:annotation>
			      </xs:enumeration>
			      <xs:enumeration value="onRequest">
				        <xs:annotation>
					          <xs:documentation>present the referred context on user request only</xs:documentation>
				        </xs:annotation>
			      </xs:enumeration>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="linkShowAttType">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="newPane">
				        <xs:annotation>
					          <xs:documentation>show the referred context in a new pane</xs:documentation>
				        </xs:annotation>
			      </xs:enumeration>
			      <xs:enumeration value="embedInContext">
				        <xs:annotation>
					          <xs:documentation>embed the referred context in the current context</xs:documentation>
				        </xs:annotation>
			      </xs:enumeration>
			      <xs:enumeration value="replaceAndReturnToSource">
				        <xs:annotation>
					          <xs:documentation>show the referred context instead of the current context, and return automatically to the current context when the referred context has been viewed</xs:documentation>
				        </xs:annotation>
			      </xs:enumeration>
			      <xs:enumeration value="replaceAndNoReturn">
				        <xs:annotation>
					          <xs:documentation>show the referred context instead of the current context, but do not automatically return to the current context when the referred context has been viewed</xs:documentation>
				        </xs:annotation>
			      </xs:enumeration>
		    </xs:restriction>
	  </xs:simpleType>
	  <!-- =============================================-->
	<!--  externalRef element definition -->
	<!--=============================================-->
	<xs:element name="externalRef">
		    <xs:annotation>
			      <xs:documentation>External reference to a non-Spec2300 data fragment.</xs:documentation>
		    </xs:annotation>
		    <xs:complexType mixed="true">
			      <xs:sequence>
				        <xs:group ref="basicMixedContentGroup" minOccurs="0" maxOccurs="unbounded"/>
			      </xs:sequence>
			      <xs:attributeGroup ref="externalRefAttGrp"/>
		    </xs:complexType>
	  </xs:element>
	  <!--=============================================-->
	<xs:attributeGroup name="externalRefAttGrp">
		    <xs:attribute name="productRefOwner" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>product owner in which the external reference is targeted</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="productRefModel" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>product model attribute in which the external reference is targeted</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="productRefSerial" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>product serial number attribute in which the external reference is targeted</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="productRefName" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>product name in which the external reference is targeted</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="productRefNbr" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>product number in which the external reference is targeted</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="productRefDataFormat" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>data format of the product in which the external reference is targeted</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="productRefDataSpec" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>product name in which the external reference is targeted</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="targetRefId" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>ID in which the external reference is targeted</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="targetRefTitle" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>Title in which the external reference is targeted</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!--  Single dmRef type definition -->
	<!--=============================================-->
	<xs:complexType name="dmRefItemType">
		    <xs:sequence>
			      <xs:element ref="dmRef"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!-- =============================================-->
	<!--  refs element definition -->
	<!--=============================================-->
	<xs:element name="refs">
		    <xs:complexType>
			      <xs:choice maxOccurs="unbounded">
				        <xs:element ref="dmRef"/>
			      </xs:choice>
		    </xs:complexType>
	  </xs:element>
</xs:schema>