doctypes/ATA_Spec2300_2017.1/common/basicDataTypes/list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../attrs/commonAttrs.xsd"/>
	  <xs:include schemaLocation="./figure.xsd"/>
	  <xs:include schemaLocation="./multimedia.xsd"/>
	  <xs:include schemaLocation="./extApplication.xsd"/>
	  <xs:include schemaLocation="./text.xsd"/>
	  <xs:annotation>
		    <xs:documentation>Schema for Unnumbered/Numbered List Structures</xs:documentation>
	  </xs:annotation>
	  <!--=============================================-->
	<!--  List elements Definition-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  list  elements group													  -->
	<!-- WARNING : a specific group 										 -->
	<!-- is also provided in common/limit/limit.xsd 	                       -->
	<!--  listWithLimitGroup                                                       -->
	<!-- check to impact changes if necessary                           -->
	<!--=============================================-->
	<xs:group name="listGroup">
		    <xs:choice>
			      <xs:element name="seqList" type="commonListType">
				        <xs:annotation>
					          <xs:documentation>A set of items of text in which the sequence of the items listed is significant.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="randList" type="commonListType">
				        <xs:annotation>
					          <xs:documentation>A set of items of text in which the sequence of the items listed is not significant.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
	  </xs:group>
	  <!--=============================================-->
	<!--  CommonListType element Definition                               -->
	<!-- WARNING : a specific definition of case content model  -->
	<!-- is also provided in common/limit/limit.xsd 	                       -->
	<!--  commonListWithLimitType                                               -->
	<!-- check to impact changes if necessary                           -->
	<!--=============================================-->
	<xs:complexType name="commonListType">
		    <xs:sequence>
			      <xs:element name="listTitle" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>A description of the purpose of a list. Normally only used to differentiate between consecutive repetitions of a list structure unseparated by a higher level list item.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="para" type="paraType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>General purpose container for textual information and structured data.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="listItem" type="listItemType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>A set of elements that describe the names, words or other items transmitted as part of a list.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="commonListAttrGrp"/>
	  </xs:complexType>
	  <xs:attributeGroup name="commonListAttrGrp">
		    <xs:attribute name="listStyle" type="xs:NMTOKEN" use="optional">
			      <xs:annotation>
				        <xs:documentation>describe list formats (bullet style for randList or numbering style for seqList)</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="associationType" use="optional">
			      <xs:annotation>
				        <xs:documentation>allows to specify if this is an inclusive or exclusive list</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="inclusive"/>
					          <xs:enumeration value="exclusive"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!--  ListItem type definition-->
	<!-- WARNING : a specific definition of case content model  -->
	<!-- is also provided in common/limit/limit.xsd 	                       -->
	<!--  listItemWithLimitType                                               -->
	<!-- check to impact changes if necessary                           -->
	<!--=============================================-->
	<xs:complexType name="listItemType">
		    <xs:annotation>
			      <xs:documentation>Type definition for a list item</xs:documentation>
		    </xs:annotation>
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:group ref="textGroupType"/>
			      <xs:group ref="wcnGroupType"/>
			      <xs:element ref="figure"/>
			      <xs:element ref="multimedia"/>
			      <xs:element ref="extApplication"/>
			      <xs:group ref="listItemExtensionGroup"/>
		    </xs:choice>
		    <xs:attributeGroup ref="listItemAttrGrp"/>
	  </xs:complexType>
	  <xs:attributeGroup name="listItemAttrGrp">
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!--  pairedItem type definition-->
	<!--=============================================-->
	<xs:complexType name="pairedItemType">
		    <xs:annotation>
			      <xs:documentation>A Pair allowing bi-column association optionally with a separator character-</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="leftPart" type="leftPartType">
				        <xs:annotation>
					          <xs:documentation>The left part of a paired item</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="rightPart" type="rightPartType">
				        <xs:annotation>
					          <xs:documentation>The right part of a paired item</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="sepchar" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>separator character</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="width" use="required">
			      <xs:annotation>
				        <xs:documentation>position of the separator character : is a percent of global width</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:decimal">
					          <xs:maxInclusive value="100"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  leftPartType and leftPartType  type definition-->
	<!--=============================================-->
	<xs:complexType name="leftPartType" mixed="true">
		    <xs:annotation>
			      <xs:documentation>Type of the left part of a paired item</xs:documentation>
		    </xs:annotation>
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:group ref="basicMixedContentGroup"/>
			      <xs:group ref="crossRefGroup"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="rightPartType">
		    <xs:annotation>
			      <xs:documentation>Type of the right part of a paired item</xs:documentation>
		    </xs:annotation>
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="basicTextGroupType"/>
			      <xs:group ref="wcnGroupType"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
</xs:schema>