doctypes/ATA_Spec2300_2017.1/common/basicDataTypes/multimedia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../attrs/commonAttrs.xsd"/>
	  <xs:include schemaLocation="./text.xsd"/>
	  <xs:include schemaLocation="./wcn.xsd"/>
	  <xs:include schemaLocation="./table.xsd"/>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  Multimedia : Content model	 											-->
	<!--=============================================-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  element declarations														-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  Multimedia elements											-->
	<!--=============================================-->
	<xs:element name="multimedia" type="multimediaElemType">
		    <xs:annotation>
			      <xs:documentation>container for multimedia data</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="multimediaObject" type="multimediaObjectElemType">
		    <xs:annotation>
			      <xs:documentation>contains the external reference to the multimedia file</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="parameter" type="parameterElemType">
		    <xs:annotation>
			      <xs:documentation>parameters of an multimedia object</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- alternative element											-->
	<!--=============================================-->
	<xs:element name="alternative" type="alternativeElemType">
		    <xs:annotation>
			      <xs:documentation>alternative content in environment without support of multimedia format</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  element content models definitions									-->
	<!--=============================================-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  Multimedia content model definitions					-->
	<!--=============================================-->
	<xs:complexType name="multimediaElemType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Title or name of the multimedia object</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="multimediaObject" maxOccurs="unbounded"/>
			      <xs:element ref="alternative"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional"/>
	  </xs:complexType>
	  <xs:complexType name="multimediaObjectElemType">
		    <xs:sequence>
			      <xs:element ref="parameter" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="infoIdent" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>The population of this attribute must include the complete ICN with the prefix "ICN-"</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="icnExtensionAttGrp"/>
		    <xs:attribute name="mimeType" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>provide the MIME type of the multimedia object in compliance with the standard - IANA Media Types</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="multimediaObjectAttGrp"/>
	  </xs:complexType>
	  <xs:complexType name="parameterElemType">
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="parameterAttGrp"/>
	  </xs:complexType>
	  <xs:complexType name="alternativeElemType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="shortTextGroupType"/>
			      <xs:group ref="wcnGroupType"/>
			      <xs:element ref="figure"/>
			      <xs:element name="table" type="tableType"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--=============================================-->
	<!--  attributes declarations														-->
	<!--=============================================-->
	<!--=============================================-->
	<!--  multimedia attributes													-->
	<!--=============================================-->
	<xs:attributeGroup name="multimediaObjectAttGrp">
		    <xs:attribute name="autoPlay" type="yesOrNoAttType"/>
		    <xs:attribute name="fullScreen" type="yesOrNoAttType"/>
		    <xs:attribute name="multimediaObjectHeight" type="xs:string"/>
		    <xs:attribute name="multimediaObjectWidth" type="xs:string"/>
		    <xs:attribute name="runTimeDuration" type="xs:integer"/>
		    <xs:attribute name="showPluginControls" type="showPluginControlsAttType"/>
	  </xs:attributeGroup>
	  <xs:attributeGroup name="parameterAttGrp">
		    <xs:attribute name="parameterIdent" type="xs:string"/>
		    <xs:attribute name="parameterName" type="xs:string"/>
		    <xs:attribute name="parameterValue" type="xs:string"/>
	  </xs:attributeGroup>
	  <!--=============================================-->
	<!--  simpletypes definitions													-->
	<!--=============================================-->
	<xs:simpleType name="showPluginControlsAttType">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="hide"/>
			      <xs:enumeration value="show"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="yesOrNoAttType">
		    <xs:annotation>
			      <xs:appinfo>TODO : To replace to xs:boolean ? (to be discussed)</xs:appinfo>
		    </xs:annotation>
		    <xs:restriction base="xs:int">
			      <xs:pattern value="[01]"/>
		    </xs:restriction>
	  </xs:simpleType>
</xs:schema>