doctypes/ATA_Spec2300_2017.1/common/basicDataTypes/text.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../attrs/commonAttrs.xsd"/>
	  <xs:include schemaLocation="basictext.xsd"/>
	  <xs:include schemaLocation="links.xsd"/>
	  <xs:include schemaLocation="list.xsd"/>
	  <xs:include schemaLocation="table.xsd"/>
	  <xs:include schemaLocation="wcn.xsd"/>
	  <xs:include schemaLocation="case.xsd"/>
	  <xs:include schemaLocation="example.xsd"/>
	  <!--=============================================-->
	<!--  Para Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="paraType" mixed="true">
		    <xs:annotation>
			      <xs:documentation/>
		    </xs:annotation>
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:group ref="basicMixedContentGroup"/>
			      <xs:group ref="crossRefGroup"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  Title Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="nameType" mixed="true">
		    <xs:annotation>
			      <xs:documentation>A common name that can be used for identifidation purposes or navigation events.</xs:documentation>
		    </xs:annotation>
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:group ref="basicMixedContentGroup"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  emph Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="emphType" mixed="true">
		    <xs:annotation>
			      <xs:documentation>basic mixed content with emphasis and ifInstalled</xs:documentation>
		    </xs:annotation>
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:element ref="emphasis"/>
			      <xs:element ref="ifInstalled"/>
			      <xs:element ref="ifOperated"/>
			      <xs:element ref="ifOperative"/>
		    </xs:choice>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  Message Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="messageType" mixed="true">
		    <xs:annotation>
			      <xs:documentation>A electronic message content.</xs:documentation>
		    </xs:annotation>
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:element ref="abbreviation"/>
			      <xs:element ref="techLabel"/>
			      <xs:element ref="emphasis"/>
			      <xs:element ref="measure"/>
			      <xs:element ref="symbol"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=====================================================-->
	<!--  General short text group  -->
	<!--=====================================================-->
	<xs:group name="basicTextGroupType">
		    <xs:annotation>
			      <xs:documentation>A standard grouping of textually oriented data</xs:documentation>
		    </xs:annotation>
		    <xs:choice>
			      <xs:group ref="listGroup"/>
			      <xs:element name="para" type="paraType">
				        <xs:annotation>
					          <xs:documentation>General purpose container for textual information and structured data.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
	  </xs:group>
	  <xs:group name="interTextGroupType">
		    <xs:annotation>
			      <xs:documentation>A standard grouping of textually oriented data</xs:documentation>
		    </xs:annotation>
		    <xs:choice>
			      <xs:group ref="basicTextGroupType"/>
			      <xs:element name="table" type="tableType">
				        <xs:annotation>
					          <xs:documentation>A markup representation of a table as standardized in the CALS (Continuous Acquisition and Life-Cycle Support, previously known as Computer-aided Acquisition and Logistic Support) initiative.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="pairedItem" type="pairedItemType">
				        <xs:annotation>
					          <xs:documentation>A Pair allowing bi-column association optionally with a separator character-</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
	  </xs:group>
	  <!--=====================================================-->
	<!--  General short text group  -->
	<!--=====================================================-->
	<xs:group name="shortTextGroupType">
		    <xs:annotation>
			      <xs:documentation>A standard grouping of textually oriented data</xs:documentation>
		    </xs:annotation>
		    <xs:choice>
			      <xs:group ref="basicTextGroupType"/>
			      <xs:element name="pairedItem" type="pairedItemType">
				        <xs:annotation>
					          <xs:documentation>A Pair allowing bi-column association optionally with a separator character-</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="case" type="caseType">
				        <xs:annotation>
					          <xs:documentation>A part of content under a condition</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="exclusiveCases" type="exclusiveCasesType">
				        <xs:annotation>
					          <xs:documentation>Two or more exclusive conditional descriptive content</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
	  </xs:group>
	  <!--=====================================================-->
	<!--  General short text type  -->
	<!--=====================================================-->
	<xs:complexType name="shortTextType">
		    <xs:sequence>
			      <xs:group ref="shortTextGroupType" minOccurs="0" maxOccurs="unbounded"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="interTextType">
		    <xs:sequence>
			      <xs:group ref="interTextGroupType" minOccurs="1" maxOccurs="unbounded"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="basicTextType">
		    <xs:sequence>
			      <xs:group ref="basicTextGroupType" minOccurs="1" maxOccurs="unbounded"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="basicTextIdType">
		    <xs:complexContent>
			      <xs:extension base="basicTextType">
				        <xs:attribute name="id" type="idType" use="optional">
					          <xs:annotation>
						            <xs:documentation>Optional id for data management</xs:documentation>
					          </xs:annotation>
				        </xs:attribute>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <!--=====================================================-->
	<!--  core  text group  -->
	<!--=====================================================-->
	<xs:group name="coreTextGroup">
		    <xs:annotation>
			      <xs:documentation>A standard grouping of textually oriented data</xs:documentation>
		    </xs:annotation>
		    <xs:choice>
			      <xs:element name="para" type="paraType">
				        <xs:annotation>
					          <xs:documentation>General purpose container for textual information and structured data.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="table" type="tableType">
				        <xs:annotation>
					          <xs:documentation>A markup representation of a table as standardized in the CALS (Continuous Acquisition and Life-Cycle Support, previously known as Computer-aided Acquisition and Logistic Support) initiative.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="pairedItem" type="pairedItemType">
				        <xs:annotation>
					          <xs:documentation>A Pair allowing bi-column association optionally with a separator character-</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="example" type="exampleType">
				        <xs:annotation>
					          <xs:documentation>A bloc of content marked as an example</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
	  </xs:group>
	  <!--=====================================================-->
	<!--  General text group  -->
	<!--=====================================================-->
	<xs:group name="textGroupType">
		    <xs:annotation>
			      <xs:documentation>A standard grouping of textually oriented data</xs:documentation>
		    </xs:annotation>
		    <xs:choice>
			      <xs:group ref="listGroup"/>
			      <xs:group ref="coreTextGroup"/>
			      <xs:group ref="caseGroup"/>
		    </xs:choice>
	  </xs:group>
</xs:schema>