doctypes/ATA_Spec2300_2017.1/common/basicDataTypes/wcn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../attrs/commonAttrs.xsd"/>
	  <xs:include schemaLocation="text.xsd"/>
	  <xs:include schemaLocation="./figure.xsd"/>
	  <xs:annotation>
		    <xs:documentation>This Schema file contains definitions for Warning, Caution and Note elements.</xs:documentation>
	  </xs:annotation>
	  <!--=====================================================-->
	<!--  Warning element definition -->
	<!--=====================================================-->
	<xs:element name="warning" type="warningType">
		    <xs:annotation>
			      <xs:documentation>Call attention to the use of materials, processes, methods, procedures, or limits, which must be followed precisely to avoid injury to persons.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=====================================================-->
	<xs:complexType name="warningType">
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:group ref="textGroupType"/>
			      <xs:element ref="figure"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=====================================================-->
	<!--  Caution element definition -->
	<!--=====================================================-->
	<xs:element name="caution" type="cautionType">
		    <xs:annotation>
			      <xs:documentation>Call attention to the use of materials, processes, methods, procedures, or limits, which must be followed precisely to avoid damage to equipment.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=====================================================-->
	<xs:complexType name="cautionType">
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:group ref="textGroupType"/>
			      <xs:element ref="figure"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=====================================================-->
	<!--  Note element definition -->
	<!--=====================================================-->
	<xs:element name="note" type="noteType">
		    <xs:annotation>
			      <xs:documentation>Descriptive information used to provide recommendations or additional information, but not directly required for the accomplishment of a procedure.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=====================================================-->
	<xs:complexType name="noteType">
		    <xs:annotation>
			      <xs:documentation>Descriptive information used to provide recommendations or additional information, but not directly required for the accomplishment of a procedure.</xs:documentation>
		    </xs:annotation>
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:group ref="textGroupType"/>
			      <xs:element ref="figure"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=====================================================-->
	<!--  WCN group  -->
	<!--=====================================================-->
	<xs:group name="wcnGroupType">
		    <xs:annotation>
			      <xs:documentation>A grouping of elements that provide advisory information of special significance or emphasis.</xs:documentation>
		    </xs:annotation>
		    <xs:choice>
			      <xs:element ref="warning"/>
			      <xs:element ref="caution"/>
			      <xs:element ref="note"/>
		    </xs:choice>
	  </xs:group>
</xs:schema>