doctypes/S1000D_2-1/xml_schema/comment/dmc.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier.                                       *
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % EXTDMC PUBLIC                                           *
    *   "-//S1000D//ELEMENTS Data Module Code Breakdown 20030531//EN" >  *
    * %EXTDMC;                                                           *
    ********************************************************************** -->

	<xs:group name="ALLDMC">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Entity %ALLDMC; (All Data Module Codes) containing:-        *
    **********************************************************************
    * The entity %ALLDMC; is used to allow reqdm and refdm to access     *
    * Data Modules Codes of different types (AGE or AVEE).               *
    **********************************************************************
    *   age      - Mandatory Single     contains modelic, supeqvc,       *
    *                                   ecscs, eidc, cidc,               *
    *                                   discode , discodev, incode,      *
    *                                   incodev, itemloc.                *
    *  or                                                                *
    *   avee     - Mandatory Single     contains modelic, sdc, chapnum,  *
    *                                   section, subsect, discode,       *
    *                                   discodev, incode, incodev,       *
    *                                   itemloc.                         *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="age"/>
			<xs:element ref="avee"/>
		</xs:choice>
	</xs:group>

	<xs:element name="dmc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element dmc (Data Module Code) containing:-                 *
    *  Definition stored in entity %ALLDMC;                              *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:group ref="ALLDMC"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="age">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element age (Aircraft Ground Equipment) containing:-        *
    *====================================================================*
    * This defines the structure of the Data Module Code for Aircraft    *
    * Ground Equipment Data Modules.                                     *
    *====================================================================*
    *   modelic  - Mandatory Single     contains Parsed Character Data.  *
    *   supeqvc  - Mandatory Single     contains Parsed Character Data.  *
    *   ecscs    - Mandatory Single     contains Parsed Character Data.  *
    *   eidc     - Mandatory Single     contains Parsed Character Data.  *
    *   cidc     - Mandatory Single     contains Parsed Character Data.  *
    *   discode  - Mandatory Single     contains Parsed Character Data.  *
    *   discodev - Mandatory Single     contains Parsed Character Data.  *
    *   incode   - Mandatory Single     contains Parsed Character Data.  *
    *   incodev  - Mandatory Single     contains Parsed Character Data.  *
    *   itemloc  - Mandatory Single     contains Parsed Character Data.  *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="modelic"/>
				<xs:element ref="supeqvc"/>
				<xs:element ref="ecscs"/>
				<xs:element ref="eidc"/>
				<xs:element ref="cidc"/>
				<xs:element ref="discode"/>
				<xs:element ref="discodev"/>
				<xs:element ref="incode"/>
				<xs:element ref="incodev"/>
				<xs:element ref="itemloc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="avee">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element avee (Air Vehicle, Engines, Equipment)              *
    *  containing:-                                                      *
    *====================================================================*
    * This defines the structure of the Data Module Code for Air Vehicle,*
    * Engines, Equipment Data Modules.                                   *
    *====================================================================*
    *   modelic  - Mandatory Single     contains Parsed Character Data.  *
    *   sdc      - Mandatory Single     contains Parsed Character Data.  *
    *   chapnum  - Mandatory Single     contains Parsed Character Data.  *
    *   section  - Mandatory Single     contains Parsed Character Data.  *
    *   subsect  - Mandatory Single     contains Parsed Character Data.  *
    *   subject  - Mandatory Single     contains Parsed Character Data.  *
    *   discode  - Mandatory Single     contains Parsed Character Data.  *
    *   discodev - Mandatory Single     contains Parsed Character Data.  *
    *   incode   - Mandatory Single     contains Parsed Character Data.  *
    *   incodev  - Mandatory Single     contains Parsed Character Data.  *
    *   itemloc  - Mandatory Single     contains Parsed Character Data.  *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="modelic"/>
				<xs:element ref="sdc"/>
				<xs:element ref="chapnum"/>
				<xs:element ref="section"/>
				<xs:element ref="subsect"/>
				<xs:element ref="subject"/>
				<xs:element ref="discode"/>
				<xs:element ref="discodev"/>
				<xs:element ref="incode"/>
				<xs:element ref="incodev"/>
				<xs:element ref="itemloc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="modelic">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element modelic (Model Identification Code) containing:-    *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{2,14}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="supeqvc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element supeqvc (Support Equipment Variant Code)            *
    * containing:-                                                       *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{1,4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="ecscs">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element ecscs (Equipment Category and Sub-Category Code)    *
    * containing:-                                                       *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{2,3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="eidc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element eidc (Equipment Identification Code) containing:-   *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="cidc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element cidc (Component Identification Code) containing:-   *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="([A-Za-z0-9]{2}|[A-Za-z0-9]{4})"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="discode">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element discode (Disassembly Code) containing:-             *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="discodev">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element discodev (Disassembly Code Variant) containing:-    *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{1,3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="incode">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element incode (Information Code) containing:-              *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="incodev">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element incodev (Information Code Variant) containing:-     *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{1}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="itemloc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element itemloc (Item Location Code) containing:-           *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{1}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="subject">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element subject (Subject Number) containing:-               *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="([A-Za-z0-9]{2}|[A-Za-z0-9]{4})"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="sdc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element sdc (System Difference Code) containing:-           *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{1,4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="chapnum">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element chapnum (Chapter Number) containing:-               *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{2,3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="section">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element section (Section Number) containing:-               *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{1}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="subsect">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element subsect (Sub-Section Number) containing:-           *
    *   Parsed Character Data.                                           *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{1}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>


</xs:schema>