doctypes/S1000D_2-1/xml_schema/comment/pmc.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. New public identifier.                                          *
    * 2. CPF 2002-12FR: New element pmc introduced to allow for          *
    *                   references to publication modules.               *
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % EXTPMC PUBLIC                                           *
    * "-//S1000D//ELEMENTS Publication Module Code Breakdown 20030531    *
    *  //EN" >                                                           *
    * %EXTPMC;                                                           *
    ********************************************************************** -->


	<xs:element name="pmc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element pmc (Publication Module Code) containing:-          *
    *   modelic  - Mandatory Single     contains Parsed Character Data.  *
    *   pmissuer - Mandatory Single     contains Parsed Character Data.  *
    *   pmnumber - Mandatory Single     contains Parsed Character Data.  *
    *   pmvolume - Mandatory Single     contains Parsed Character Data.  * 
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="modelic"/>
				<xs:element ref="pmissuer"/>
				<xs:element ref="pmnumber"/>
				<xs:element ref="pmvolume"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="pmissuer">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element pmissuer (5-character NCAGE Code of Issuing         *
    *                          Authority (YYYYY))                        *
    * containing:-                                                       *
    *   Parsed Character Data.                                           *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{5}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="pmnumber">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element pmnumber (5-digit Publication Module Number (XXXXX) *
    * containing:-                                                       *
    *   Parsed Character Data.                                           *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:pattern value="[0-9]{5}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="pmvolume" type="NONNEGI2">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element pmvolume (2-digit sequential Publication Volume     *
    *                          Number (NN), default is 00 for a single   *
    *                          volume publication)                       *
    * containing:-                                                       *
    *   Parsed Character Data.                                           *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	

</xs:schema>