doctypes/ATA_Spec2300_2017.1/DataManagement/ApplicCrossRefTable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../common/basicDataTypes/links.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/crossreftables.xsd"/>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="applicCrossRefTable"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!--applicCrossRefTable Element Declaration-->
	<!--=============================================-->
	<xs:element name="applicCrossRefTable" type="applicCrossRefTableElemType">
		    <xs:annotation>
			      <xs:documentation>The Applicability Cross-reference Table (ACT) data module is used to declare product attributes.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="applicCrossRefTableElemType">
		    <xs:sequence>
			      <xs:element name="productAttributeList" type="productAttributeListElemType">
				        <xs:annotation>
					          <xs:documentation>contains a list of attributes of the Product.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="condCrossRefTableRef" type="condCrossRefTableRefElemType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>provides a reference to the CCT data module for this project.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="productCrossRefTableRef" type="productCrossRefTableRefElemType"
                     minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>provides a reference to the PCT data module for this project.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="productAttributeListElemType">
		    <xs:sequence>
			      <xs:element name="productAttribute" type="productAttributeElemType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>used to declare a single attribute of the Product, such as "serial number" or "model"</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="productAttributeElemType">
		    <xs:sequence>
			      <xs:element ref="name">
				        <xs:annotation>
					          <xs:documentation>the name of the product attribute</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="displayName" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>used to define text which can be used to help automated generation the human readable display text on an applicability annotation</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="descr">
				        <xs:annotation>
					          <xs:documentation>used to contain further clarification of the meaning of the product attribute.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="enumeration" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>provides the allowable values for the product attribute.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="required">
			      <xs:annotation>
				        <xs:documentation>element id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="valuePatternAttGrp"/>
	  </xs:complexType>
	  <xs:complexType name="condCrossRefTableRefElemType">
		    <xs:sequence>
			      <xs:element ref="dmRef"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="productCrossRefTableRefElemType">
		    <xs:sequence>
			      <xs:element ref="dmRef"/>
		    </xs:sequence>
	  </xs:complexType>
</xs:schema>