doctypes/ATA_Spec2300_2017.1/DataManagement/ExchangePackageStatusList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/links.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/issue.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/dmIdent.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/receiver.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/dmAttrs.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/pmRef.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/statusEntryCode.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!-- exchangePackageStatusList Element Declaration -->
	<!--=============================================-->
	<xs:element name="dml">
		    <xs:annotation>
			      <xs:documentation>Exchange package Status List</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			      <xs:sequence>
				        <xs:element name="dmlIdent" type="dmlIdentElemType">
					          <xs:annotation>
						            <xs:documentation>Exchange Status List identification</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="issueInfo" type="issueInfoElemType"/>
				        <xs:element ref="receiverIdent" minOccurs="0"/>
				        <xs:element name="dmlIntro" type="basicTextType" minOccurs="0">
					          <xs:annotation>
						            <xs:documentation>Transmittal introductory info</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="dmlContent" type="dmlContentElemType">
					          <xs:annotation>
						            <xs:documentation>list of data module and publication module entries, including deleted data/publication modules and data/publication modules included in current delivery, with related dmEntryType or pmEntryType</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:sequence>
			      <xs:attribute name="id" type="idType" use="optional">
				        <xs:annotation>
					          <xs:documentation>Optional id for data management</xs:documentation>
				        </xs:annotation>
			      </xs:attribute>
			      <xs:attribute name="deliveryScope" use="required">
				        <xs:annotation>
					          <xs:documentation>Provides the scope of the delivery: Complete (package contains all resources), revised only (only revised resources are delivered), partial (complete XML but only revised external objects -graphics/multimedia)</xs:documentation>
				        </xs:annotation>
				        <xs:simpleType>
					          <xs:restriction base="xs:string">
						            <xs:enumeration value="complete"/>
						            <xs:enumeration value="revisedOnly"/>
						            <xs:enumeration value="partial"/>
					          </xs:restriction>
				        </xs:simpleType>
			      </xs:attribute>
			      <xs:attribute name="majorEvent" type="xs:boolean" use="optional" default="false">
				        <xs:annotation>
					          <xs:documentation>Indicator whether or not the event is pertaining to an emergency situation or other high priority.</xs:documentation>
				        </xs:annotation>
			      </xs:attribute>
		    </xs:complexType>
	  </xs:element>
	  <!--=============================================-->
	<!-- dmlIdentend Content model												 -->
	<!--=============================================-->
	<xs:complexType name="dmlIdentElemType">
		    <xs:annotation>
			      <xs:appinfo>compliant with ATA FOML dmodule structure</xs:appinfo>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element ref="identExtension" minOccurs="0"/>
			      <xs:element name="dmlCode" type="dmlCodeElemType">
				        <xs:annotation>
					          <xs:documentation>exchange package status list code</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="dmlCodeElemType">
		    <xs:attribute name="modelIdentCode" type="modelIdentCodeAttType" use="required">
			      <xs:annotation>
				        <xs:documentation>the model identifier using NSPA Model Identification Code list</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="senderIdent" type="senderIdentAttType" use="required">
			      <xs:annotation>
				        <xs:documentation>originator (sender) identification</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:simpleType name="senderIdentAttType">
		    <xs:restriction base="xs:string">
			      <xs:pattern value="[A-Z0-9]{5}"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <!--=============================================-->
	<!-- dmlContent Content model												 -->
	<!--=============================================-->
	<xs:complexType name="dmlContentElemType">
		    <xs:sequence>
			      <xs:element name="pmStatusEntry" type="pmStatusEntryElemType" minOccurs="0"
                     maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>the publication module status entry gives the information items concerning a publication module</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="dmStatusEntry" type="dmStatusEntryElemType" minOccurs="0"
                     maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>the data module status entry gives the information items concerning a data module</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="deletedObject" type="deletedObjectType" minOccurs="0"
                     maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>Identifies a external objects (graphics, multimedia) that is deleted in the current exchange package.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- dmStatusEntry Content model												 -->
	<!--=============================================-->
	<xs:complexType name="dmStatusEntryElemType">
		    <xs:sequence>
			      <xs:element ref="dmRef">
				        <xs:annotation>
					          <xs:documentation>reference to related data module</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="reasonForDeletion" type="reasonForDeletionElemType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>contains a reason for deletion for a data module</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="dmStatusEntryCodeAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- pmStatusEntry Content model												 -->
	<!--=============================================-->
	<xs:complexType name="pmStatusEntryElemType">
		    <xs:sequence>
			      <xs:element ref="pmRef">
				        <xs:annotation>
					          <xs:documentation>reference to related publication module</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="reasonForDeletion" type="reasonForDeletionElemType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>contains a reason for deletion for a publication module</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="pmStatusEntryCodeAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- deletedObject Content model												 -->
	<!--=============================================-->
	<xs:complexType name="deletedObjectType">
		    <xs:attribute name="objectType" use="required">
			      <xs:annotation>
				        <xs:documentation>Provides if the deleted object is a graphic or a multimediaObject</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="graphic"/>
					          <xs:enumeration value="multimedia"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="infoIdent" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>ICN of related deleted object"</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="icnExtensionAttGrp"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- reasonForDeletion Content model												 -->
	<!--=============================================-->
	<xs:complexType name="reasonForDeletionElemType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="basicTextGroupType"/>
		    </xs:choice>
	  </xs:complexType>
</xs:schema>