doctypes/ATA_Spec2300_2017.1/DataManagement/GlossaryRepository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="glossaryRepository"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- glossaryRepository Element Declaration-->
	<!--=============================================-->
	<xs:element name="glossaryRepository" type="glossaryRepositoryType">
		    <xs:annotation>
			      <xs:documentation>repository of terms and definitions</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="glossaryRepositoryType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>a heading for the repository of terms and defintions</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice maxOccurs="unbounded">
				        <xs:element name="glossaryItem" type="glossaryItemType" maxOccurs="unbounded">
					          <xs:annotation>
						            <xs:documentation>to specify a term and its definition(s)</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:choice>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- glossaryItem Element Declaration-->
	<!--=============================================-->
	<xs:complexType name="glossaryItemType">
		    <xs:sequence>
			      <xs:element name="term" type="termType">
				        <xs:annotation>
					          <xs:documentation>an acronym or abbreviation</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="definition" type="definitionType">
				        <xs:annotation>
					          <xs:documentation>an explanation or description of a Term</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="required">
			      <xs:annotation>
				        <xs:documentation>id used to be referenced by abbreviation</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="acronymOrAbbreviation">
			      <xs:annotation>
				        <xs:documentation>distinguish items as either abbreviations or acronyms</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="acronym"/>
					          <xs:enumeration value="abbreviation"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- term and definition content model Declaration-->
	<!--=============================================-->
	<xs:complexType name="termType" mixed="true">
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:element ref="emphasis"/>
		    </xs:choice>
	  </xs:complexType>
	  <xs:complexType name="definitionType" mixed="true">
		    <xs:choice minOccurs="0" maxOccurs="unbounded">
			      <xs:element ref="techLabel"/>
			      <xs:element ref="emphasis"/>
			      <xs:element ref="ifInstalled"/>
			      <xs:element ref="ifOperated"/>
			      <xs:element ref="ifOperative"/>
			      <xs:element ref="measure"/>
			      <xs:element ref="equation"/>
			      <xs:element ref="electronicMessage"/>
			      <xs:element ref="electronicMessageBlock"/>
			      <xs:element ref="symbol"/>
		    </xs:choice>
	  </xs:complexType>
</xs:schema>