doctypes/ATA_Spec2300_2017.1/DataManagement/LinkTargetRepository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/product.xsd"/>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="linkTargetRepository"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- glossaryRepository Element Declaration-->
	<!--=============================================-->
	<xs:element name="linkTargetRepository" type="linkTargetRepositoryType">
		    <xs:annotation>
			      <xs:documentation>repository containing complementary info for links.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="linkTargetRepositoryType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice>
				        <xs:element name="linkSummary" type="linkSummaryType" maxOccurs="unbounded">
					          <xs:annotation>
						            <xs:documentation>summary about the target of a specific link</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:choice>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="linkSummaryType">
		    <xs:sequence>
			      <xs:element name="source" type="sourceType">
				        <xs:annotation>
					          <xs:documentation>identification of the data modules where the link is found</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="target" type="targetType">
				        <xs:annotation>
					          <xs:documentation>Information about the link target. Link (element dmRef) references (by dmRefIdent) a DM identified by a dmIdent.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="sourceType">
		    <xs:sequence>
			      <xs:element ref="dmIdent" maxOccurs="unbounded"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="targetType">
		    <xs:sequence>
			      <xs:element ref="dmIdent"/>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>DM target title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="linkTargetLocation" type="xs:string">
				        <xs:annotation>
					          <xs:documentation>A textual description of the location of a link target within a PM.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="productCodeAttGrp"/>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
</xs:schema>