doctypes/ATA_Spec2300_2017.1/DataManagement/PackageOrganization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:element name="packageOrganization" type="packageOrganizationType">
		    <xs:annotation>
			      <xs:documentation>Entry point for a exchange package : it provides the physical organization of a package</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="packageOrganizationType">
		    <xs:sequence>
			      <xs:element name="exchangePackageStatusListLocation" type="xs:anyURI">
				        <xs:annotation>
					          <xs:documentation>Location of the exchange package status list XML fragment. Can be absolute or relative to the base URI.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="dataGroupLocation" type="dataGroupLocationType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>Provides the association for a data group (PM Content, PM Status, DM Content, DM Status, Graphics, Multimedia, XML Schemas, Custom),of the locations (the default location for folder/collection and specification of naming conventions)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="baseUri" type="xs:anyURI" use="required">
			      <xs:annotation>
				        <xs:documentation>Provides the base URI for the package content. It allows to manage all included location in relative with this base URI. Can be absolute or relative to this XML document. Use "." as default.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="projectId" type="xs:ID" use="optional">
			      <xs:annotation>
				        <xs:documentation>The identifier of a project allowing to define a unique set of rules, whether it applies to a specific aircraft, publication or whatever is defined by the data producer. Project ID should be unique and human readable</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="dataGroupLocationType">
		    <xs:sequence>
			      <xs:element name="defaultLocation" type="defaultLocationType">
				        <xs:annotation>
					          <xs:documentation>Default location for data group</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="conditionalLocation" type="conditionalLocationType" minOccurs="0"
                     maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>One or more locations for resources or sub group of resources with a different location than the default location</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attributeGroup ref="dataGroupAttrGrp"/>
	  </xs:complexType>
	  <xs:complexType name="defaultLocationType">
		    <xs:group ref="locationGroup"/>
	  </xs:complexType>
	  <xs:complexType name="conditionalLocationType">
		    <xs:sequence>
			      <xs:element name="conditionalLocationCriteria" type="xs:string">
				        <xs:annotation>
					          <xs:documentation>Provides the condition using an XPATH expression returning a boolean. XPATH expression evaluated in thecontext of dmIdent[dmRefIdent for a DM XML document (DM Content, DM Status),of pmIdent|pmRefIdent for a PM XML Document (PM Content, PM Status), of 'graphic' element for a graphicresource, of 'multimediaObject' for a multimedia resource</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:group ref="locationGroup"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:group name="locationGroup">
		    <xs:sequence>
			      <xs:element name="location" type="xs:anyURI">
				        <xs:annotation>
					          <xs:documentation>Provide the URL for the folder/collection where data of the group are located. The location can be relative to the base Uri of the package or absolute.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="resourceNaming" type="xs:string" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Provides a naming convention for the resources of the data group. Contains an XPATH expression that must return a string. XPATH expression evaluated in the context of dmIdent[dmRefIdent for a DM XML document (DM Content, DM Status),of pmIdent|pmRefIdent for a PM XML Document (PM Content, PM Status), of 'graphic' element for a graphic resource, of 'multimediaObject' for a multimedia resource</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:group>
	  <xs:attributeGroup name="dataGroupAttrGrp">
		    <xs:attribute name="dataGroup" use="required">
			      <xs:annotation>
				        <xs:documentation>what group of data part of the package ? PM Content, PM Status, DM Content, DM Status, Graphics, Multimedia, XML Schemas? May also be custom for a non-Spec 2300 resource. In that case, a additional customDataGroup attribute is provided.</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="pmContent"/>
					          <xs:enumeration value="pmStatus"/>
					          <xs:enumeration value="dmContent"/>
					          <xs:enumeration value="dmStatus"/>
					          <xs:enumeration value="graphic"/>
					          <xs:enumeration value="multimedia"/>
					          <xs:enumeration value="xmlSchema"/>
					          <xs:enumeration value="project"/>
					          <xs:enumeration value="custom"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="customDataGroup" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>provides the data group name for custom resources.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
</xs:schema>