doctypes/ATA_Spec2300_2017.1/DataManagement/Pm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../common/dataManagement/pmIdent.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/pmIssue.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/links.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/pmRef.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!-- pm Element Declaration (DM Status List  root element) -->
	<!--=============================================-->
	<xs:element name="pm" type="pmElemType">
		    <xs:annotation>
			      <xs:documentation>Publication module</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="pmElemType">
		    <xs:sequence>
			      <xs:element ref="pmIdent"/>
			      <xs:element name="issueInfo" type="pmIssueInfoElemType">
				        <xs:annotation>
					          <xs:documentation>issue date of the publication module</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="content" type="contentElemType">
				        <xs:annotation>
					          <xs:documentation>publication module content</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- content Content model												 -->
	<!--=============================================-->
	<xs:complexType name="contentElemType">
		    <xs:sequence>
			      <xs:element ref="pmEntry"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- pmEntry Content model												 -->
	<!--=============================================-->
	<xs:element name="pmEntry" type="pmEntryElemType">
		    <xs:annotation>
			      <xs:documentation>a publication module entry.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="pmEntryElemType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>publication module entry title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice>
				        <xs:choice maxOccurs="unbounded">
					          <xs:element ref="pmRef"/>
					          <xs:element ref="pmEntry"/>
				        </xs:choice>
				        <xs:choice maxOccurs="unbounded">
					          <xs:element name="dmRef" type="dmEntryRefType"/>
					          <xs:element ref="dmRefGroup"/>
				        </xs:choice>
			      </xs:choice>
		    </xs:sequence>
		    <xs:attribute name="pmEntryCode" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>code if the pm entry.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="pmEntryType" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>type of the pm entry.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- dmRefGroup Content model												 -->
	<!--=============================================-->
	<xs:complexType name="dmEntryRefType">
		    <xs:complexContent>
			      <xs:extension base="dmRefElemType">
				        <xs:attributeGroup ref="dmEntryCodeAttGrp"/>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <!--/xs:element-->
	<!--=============================================-->
	<!-- dmRefGroup Content model												 -->
	<!--=============================================-->
	<xs:element name="dmRefGroup" type="dmRefGroupType">
		    <xs:annotation>
			      <xs:documentation>A group of DM that must be published grouped.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="dmRefGroupType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>title of a dmEntryGroup</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="dmRef" type="dmEntryRefType" maxOccurs="unbounded"/>
		    </xs:sequence>
		    <xs:attributeGroup ref="dmEntryCodeAttGrp"/>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:attributeGroup name="dmEntryCodeAttGrp">
		    <xs:attribute name="dmEntryCode" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>code of a dmRef or dmRefGroup.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:attributeGroup>
</xs:schema>