doctypes/ATA_Spec2300_2017.1/DataManagement/PmStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../common/attrs/commonAttrs.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/dmAttrs.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/pmIdent.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/pmIssue.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/revision.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/modelIdent.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/product.xsd"/>
	  <xs:include schemaLocation="../common/dataManagement/receiver.xsd"/>
	  <xs:include schemaLocation="../common/approbation/approvalStatus.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!--  PM Status fragment root element									-->
	<!--=============================================-->
	<xs:element name="pmStatus" type="pmStatusElemType">
		    <xs:annotation>
			      <xs:documentation>Root element of the publication module status fragment</xs:documentation>
			
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- PM Status  content models												-->
	<!--=============================================-->
	<xs:complexType name="pmStatusElemType">
		    <xs:sequence>
			      <xs:element ref="pmIdent"/>
			      <xs:element name="issueInfo" type="pmIssueInfoElemType">
				        <xs:annotation>
					          <xs:documentation>issue date of the PM Status fragment.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="pmContentIssueInfo" type="pmIssueInfoElemType">
				        <xs:annotation>
					          <xs:documentation>issue info of related pm content fragment.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="modelIdent" maxOccurs="unbounded"/>
			      <xs:element ref="productIdent"/>
			      <xs:element ref="receiverIdent" minOccurs="0"/>
			      <xs:element ref="approvalInfo" maxOccurs="unbounded"/>
			      <xs:element name="restrictionUse" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>A label providing some specific restriction of the use of the publication.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="reasonForUpdate" type="reasonForUpdateElemType" minOccurs="0"
                     maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>contains a reason for update for a publication module, a summary of the changes and / or the reasons for the change made within the publication module. It can be referenced by one or more change mark.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="contentRevisions" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>revision marks on content. included changes reference dm content fragment.</xs:documentation>
				        </xs:annotation>
				        <xs:complexType>
					          <xs:complexContent>
						            <xs:extension base="revisionsType">
							              <xs:sequence>
								                <xs:element name="pmEntryRevDates" type="pmEntryRevDatesType" minOccurs="0"
                                    maxOccurs="unbounded">
									                  <xs:annotation>
										                    <xs:documentation>provide revision dates for open and closed applicability changesat a pmEntry level of the PM. pmEntry (in PM content XML fragment) is addressed with an Xpath (attribute path).</xs:documentation>
									                  </xs:annotation>
								                </xs:element>
							              </xs:sequence>
						            </xs:extension>
					          </xs:complexContent>
				        </xs:complexType>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="issueType" type="issueTypeType" use="required">
			      <xs:annotation>
				        <xs:documentation>Revision type/status of a data module</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="prevIssueDate" type="prevIssueDateType" use="optional">
			      <xs:annotation>
				        <xs:documentation>date of previous issue (if any)</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="pmEntryRevDatesType">
		    <xs:attribute name="closedApplicabilityRevDate" type="xs:dateTime" use="optional">
			      <xs:annotation>
				        <xs:documentation>provides the revision date of the pmEntry, considered for closed applicability.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="openApplicabilityRevDate" type="xs:dateTime" use="optional">
			      <xs:annotation>
				        <xs:documentation>provides the revision date of the pmEntry, considered for open applicability.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="xpathAttrGrp"/>
	  </xs:complexType>
</xs:schema>