doctypes/S1000D_2-1/sgml_dtd/pm/dtd/datarest.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. New public identifier.                                          *
    *====================================================================*
    * Typical invocation:-                                               *
    * <!ENTITY % EXTRESTR PUBLIC                                         *
    *   "-//S1000D//ELEMENTS Data Restrictions 20030531//EN">            *
    * %EXTRESTR;                                                         *
    ********************************************************************** -->


<!--**********************************************************************
    * Define Element datarest (Data Restrictions) containing:-           *
    *  instruct  - Mandatory   Single    contains distrib, handling,     *
    *                                             destruct, disclose.    *
    *  inform    - Optional    Single    contains copyright, polref,     *
    *                                             datacond.              *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT datarest   - O   (instruct, inform?) >
<!ATTLIST datarest   %bodyatt; >
<!-- Optional new element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element instruct (Specific Instructions) containing:-       *
    *  distrib  - Mandatory   Single    contains Parsed Character Data.  *
    *  expcont  - Optional    Single    contains Parsed Character Data.  *
    *  handling - Optional    Single    contains Parsed Character Data.  *
    *  destruct - Optional    Single    contains Parsed Character Data.  *
    *  disclose - Optional    Single    contains Parsed Character Data.  *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT instruct   - O   (distrib, expcont?, handling?, destruct?, 
                            disclose?) >
<!ATTLIST instruct   %bodyatt; >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element distrib (Distribution Requirements) containing:-    *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT distrib   - O   (#PCDATA) >
<!ATTLIST distrib   %bodyatt; >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element expcont (Export Control Notice) containing:-        *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT expcont   - O   (#PCDATA) >
<!ATTLIST expcont   %bodyatt; >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element handling (Data Handling Requirements) containing:-  *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT handling   - O   (#PCDATA) >
<!ATTLIST handling   %bodyatt; >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element destruct (Destruction Requirements) containing:-    *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT destruct   - O   (#PCDATA) >
<!ATTLIST destruct   %bodyatt; >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element disclose (Intended Use or Disclosure) containing:-  *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT disclose   - O   (#PCDATA) >
<!ATTLIST disclose   %bodyatt; >
<!-- Newly introduced element for additional data restriction requirements -->



<!--**********************************************************************
    * Define Element inform (Additional Information)  containing:-       *
    *  copyright - mandatory  single    contains holder, firstyear,      *
    *                                   lastyear, registeredwith,        *
    *                                   govtlicense.                     *
    *  polref    - optional   single    contains Parsed Character Data.  *
    *  datacond  - optional   single    contains Parsed Character Data.  *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT inform   - O   (copyright, polref?, datacond?) >
<!ATTLIST inform   %bodyatt; >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element copyright (Copyright) containing:-                  *
    **********************************************************************
    *  holder           - mandatory single contains Parsed Character Data*
    *  firstyear        - mandatory single contains Parsed Character Data*
    *  lastyear         - mandatory single contains Parsed Character Data*
    *  registeredwith   - mandatory single contains Parsed Character Data*
    *  govtlicense	- mandatory single contains Parsed Character Data*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT copyright - O (holder, firstyear, lastyear, registeredwith,
			 govtlicense) >
<!ATTLIST copyright   %bodyatt; >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element holder (Holder) containing:-                        *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT holder   - O  (#PCDATA) >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element firstyear (First Year the Copyright was claimed)    *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT firstyear - O  (#PCDATA) >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element lastyear (Last Year the Copyright was claimed)      *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT lastyear - O  (#PCDATA) >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element registeredwith (Names the Agencies with which the   *
    *                                  Copyright has been registered)    *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT registeredwith - O  (#PCDATA) >
<!-- Newly introduced element for additional data restriction requirements -->


<!--**********************************************************************
    * Define Element govtlicense (Government License) containing:-       *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT govtlicense - O  (#PCDATA) >
<!-- Newly introduced element for additional data restriction requirements -->




<!--**********************************************************************
    * Define Element polref (Security Policy Document Reference)         *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT polref   - O   (#PCDATA) >
<!ATTLIST polref   %bodyatt; >
<!-- Newly introduced element for additional data restriction requirements -->



<!--**********************************************************************
    * Define Element datacond (Specific Conditions) containing:-         *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT datacond   - O   (#PCDATA) >
<!ATTLIST datacond   %bodyatt; >
<!-- Newly introduced element for additional data restriction requirements -->


<!--** End of DATAREST Entity **-->