doctypes/S1000D_2-1/sgml_dtd/pm/dtd/pmlistcode.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. New public identifier.                                          *
    * 2. Reflect the changes done for the DM DTD.                        *
    *====================================================================*
    * Typical invocation:-                                               *
    * <!ENTITY % PMLISTCODE PUBLIC                                       *
    *  "-//S1000D//ELEMENTS Publication Module List Code Definitions     *
    *                       20030531//EN" >                              *
    * %PMLISTCODE;                                                       *
    ********************************************************************** -->


<!--**********************************************************************
    * Define Entity %SPAR; (Simple Paragraphs) containing:-              *
    *====================================================================*
    * Optional  Repeatable Group.                                        *
    *====================================================================*
    *  Parsed Character Data.                                            *
    *  or                                                                *
    *   p        - Mandatory Single     contains Definition stored in    *
    *                                            entity %SPARCON;.       *
    *====================================================================*
    ********************************************************************** -->
<!ENTITY % SPAR "(#PCDATA | p)*" >
<!-- Introduced to allow "simple" paragraph structures on remarks -->


<!--**********************************************************************
    * Define Entity %SPARCON; (Simple Paragraph Continuation)            *
    * containing:-                                                       *
    *====================================================================*
    * Optional Repeatable Group                                          *
    *====================================================================*
    *  Parsed Character Data.                                            *
    *  or                                                                *
    *   subscrpt - Mandatory Single  contains Replaceable Character Data.*
    *  or                                                                *
    *   supscrpt - Mandatory Single  contains Replaceable Character Data.*
    *====================================================================*
    ********************************************************************** -->
<!ENTITY % SPARCON "(#PCDATA | subscrpt | supscrpt)*" >
<!-- Introduced to allow "simple" paragraph structures on remarks -->


<!--**********************************************************************
    * Define Elements subscrpt (Sub Script) & supscrpt (Super Script)    *
    * containing:-                                                       *
    *  Replaceable Character Data.                                       *
    ********************************************************************** -->
<!ELEMENT (subscrpt | supscrpt) - - RCDATA >


<!--**********************************************************************
    * Define Element p (Simple Paragraph) containing:-                   *
    *  Definition stored in entity %SPARCON;                             *
    ********************************************************************** -->
<!ELEMENT p - - (%SPARCON;) >
<!-- Introduced to allow "simple" paragraph structures on remarks -->


<!--**********************************************************************
    * Define Element remarks (Remarks) containing:-                      *
    *   Definition stored in entity %SPAR;                               *
    ********************************************************************** -->
<!ELEMENT remarks - - (%SPAR;) >
<!-- Content model changed to allow simple paragraph structures on remarks -->


<!--** End of PMLISTCODE Entity **-->