doctypes/38807C-AV6D0P0/38807C-AV6D0P0.dtd

<!-- ********************** START OF FILE ******************** -->

<!--  **************************************************************************
      SPECIAL NOTE: 
	This DTD was modified for the Arbortext implementation.
      Changes:
      20030120 modified to reference the latest version of 38784 (Draft V7 to 
               include updated support for the change application)
      20030116 created three row wrappers for semantic tables:
                 serrow in sertable
                 numgrprow in numgrp
                 rfdsgrprow in rfdsgrp
               changed the contents of the related table to be the row wrapper, 
               and moved the contents into the new row wrapper element
      20040220 - removed 38784 subset in favor of an entity to 38784 directory
               - changed #PCDATA content model to %text; in the following:
                 chaplabel
                 chaptitle
                 chappageno
                 paralabel
                 partnosym
                 volno
               - added %chgatt to the following:
                 desc
                 group10   
                 numgrp
                 plgrp    
                 pl0tbl
                 smrcodes    
      ********************************************************************** -->

<!-- 
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+  DTD TITLE:	Illustrated Parts Breakdown
	+
	+  SPECIFICATION NUMBER:	MIL-PRF-38807C
	+
	+  SPECIFICATION POC:	Bill Garrity
	+
	+  DOCUMENT TYPE DEFINITION (DTD):	38807C-AV6D0P0.dtd
	+
	+  MIL-STANDARD VERSION:	38784STD-BV6
	+
	+  LAST MODIFICATION:	9 OCT 2001
	+
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+
	+  This file is made available to provide the user with a digital 
	+  representation of the DTD found in:  Appendix A of MIL-PRF-38807C
	+  This file is incomplete without MIL-PRF-38807C.
	+
	+  The following set of declarations may be referred to by using a
	+  public entity as follows:
	+
	+  <!ENTITY % m38807 PUBLIC "-//USA-DOD//DTD 38807C-AV6D0P0//EN" >
	+  %m38807;
	+
	+  NOTE: In order to parse the following DTD subset alone, append
	+  the following statement to the beginning of the file:
	+		
	+		<!DOCTYPE doc [
	+		
	+		and the associated  ]>  to the end of the file.
	+
	+  NOTE: The start and end of this file are marked with notations.
	+  If these notations are not present, the file may not be complete!
	+
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+
	+	AUTHORED BY: Ron Craft, TMSS, AF IDE PO
	+	
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+  OTHER DTDS NEEDED:		
	+  
	+	MIL-STD-38784	38784STD-BV6.dtd
	+	
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+  MODIFICATIONS SINCE PREVIOUS RELEASE:  (previous release: 38807C-AV4D2P0.dtd)
	+
	+	NOTE:	CCB# 38807-01283-03 Is still OPEN.  Currently, the subdivided
	+			lep is not correct when a subdivided book has more than
	+			subdivision.  The work around is to create each subdivision
	+			seperately and tag it as <lep> or manually correct the file 
	+			created when the lep script is executed.
	+
	+	rsc, 10/23/01
	+
	+	NOTE:	CCB# 000173-00-03 Is still OPEN.  Currently the work around
	+			puts the trailer dots at the end of the description.
	+			This does not follow the spec.  IF and When this can 
	+			can be corrected it will be.
	+	rsc, 7/11/01
	+
	+	NOTE:	CCB# 99230-05-02  Allows for an optional <figureno> so the 
	+			author can manually tag the top line when there
	+			is a mulit page MPL.  This is a work around until 
	+			there is a way to automatically continue this element.
	+	rsc, 7/11/01
	+
	+
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
-->
<!-- CCB# 00173-00-08 -->
<!ENTITY % cntnt "((chaplabel, chaptitle, chappageno)|(paralabel, paratitle, pageno)
| volno)+" >

<!-- CCB# 99230-02-04 -->
<!-- CCB# 99230-03-03 -->
<!-- CCB# 00136-00-02 -->

<!--NOTE: Use 'lep' for a single manual.  If subdivided manual is used, use 
'sublep'.-->

<!ENTITY % doc "(docipb)">

<!ENTITY % frnt "(idinfo, (lep|sublep), contents?)" >

<!-- CCB# 00173-00-05 -->
<!-- CCB# 99230-05-02 -->
<!-- CCB# 99230-06-01 -->
<!-- CCB# 99230-04-01 -->
<!-- CCB# 00136-00-14 -->
<!--NOTE: Numindx and Rfdsindx are built by the use of figureno.  If these
indexes are desired, figureno must be used-->

<!ENTITY % mpl "(figureno?, figindex, (partno, partnosym?, cagecodes, desc, units, 
                  useoncode?, smrcodes)+)+" >
                               
<!-- CCB# 00173-00-02 -->
<!-- CCB# 99230-01-03 -->
<!ENTITY % single "ipbforeword, pl, numindx?, rfdsindx?" >

<!-- CCB# 99230-01-04 -->
<!ENTITY % subdivided "(ipbforeword?, plchap?, numindxchap?, rfdsindxchap?)" >

<!-- CCB# 99230-01-02 -->
<!ENTITY % bodyele "(single|subdivided*)" >

<!ENTITY % ipbforwd "(para0*, modelcover, serialization?, finding?, simassem?, 
quickchgexpl?, symsect, abbrsect?, shtnoexpl?, useonexpl, smrexpl, ipbhci?, 
ipbesds?, partstd, mfrlist?, internatlstd?, lrp?, tctolist, tmimprep?, 
para0*)">

<!ENTITY % yesorno "NUMBER" >

<!-- CCB# 00209-02-01 -->
<!-- CCB# 00209-02-02 -->
<!-- CCB# 00209-02-03 -->
<!-- CCB# 00209-03-00 -->
<!-- CCB# 00209-05-00 -->
<!ENTITY % descatts
"attachpart %yesorno; '0'      
kit %yesorno; '0' 
quickchgexpl %yesorno; '0' " >

<!ENTITY % titles "title" >

<!ENTITY % parazero "(%titles;, warning*, caution?, note?, (para, note?)?, (step1, step1+)?)" > 

<!ENTITY % lrp "%parazero;, subpara1*, ipblrptable?" >

<!ENTITY % symsect "((%parazero;, subpara1*), (symtitle?, (term, def)+)?)" >

<!-- CCB# 38807-01150-01 -->

<!ENTITY % docatt
"docid CDATA #IMPLIED
docstat (revision|change|prelim|draft|formal) 'prelim'
	cover %yesorno; '0'">
<!-- CCB# 38807-01150-01 -->


<!ENTITY % itemid  
"unit CDATA #IMPLIED 
module CDATA #IMPLIED 
lru CDATA #IMPLIED 
compon CDATA #IMPLIED 
partno CDATA #IMPLIED 
refdes CDATA #IMPLIED" >

<!ENTITY % content
"skilltrk NMTOKENS #IMPLIED 
contype (desc|proc) #IMPLIED 
assocfig IDREFS #IMPLIED 
assoctab IDREFS #IMPLIED" >

<!ENTITY % db
"%itemid;
%content;" >



<!ENTITY % delstat    "delete|real|reserve|NA" >

<!ENTITY % status     "empty|deleted|reserved|notapp" >

<!ENTITY % chgatt
"deltype (%delstat;) #IMPLIED
inschlvl NMTOKEN #IMPLIED
delchlvl NMTOKEN #IMPLIED
status  (%status;) #IMPLIED
revchg %yesorno; '0'" > 

<!ENTITY % bodyatt
"label CDATA #IMPLIED 
sssn CDATA #IMPLIED 
indexid  CDATA  #IMPLIED
%chgatt;
%db; " >
        
<!ENTITY % secur "security (u|c|s|n) 'n'">
      
<!ENTITY % para0att
"emergency %yesorno; '0'
id ID #IMPLIED
esds %yesorno; '0'
nsp %yesorno; '0'
fcp %yesorno; '0'
hcp %yesorno; '0'
hci %yesorno; '0'
ocp %yesorno; '0'
oci %yesorno; '0'
applicref IDREFS #IMPLIED
%secur;
%bodyatt;" >
<!-- CCB# 38807-01150-01 -->


<!-- ATI added entity to 38784 -->
<!ENTITY % m38784       PUBLIC "-//USA-DOD//DTD 38784STD-BV7//EN" >
%m38784;



<!-- ELEMENT and ATTRIBUTE LIST DECLARATIONS -->

<!-- CCB# 00173-00-05 -->
<!ELEMENT cagecodes - o (cage+) >

<!ELEMENT cage     - o  (%text;) >

<!-- CCB# 00173-00-08 -->
<!-- ATI 20040220:  Changed PCDATA to %text; -->
<!ELEMENT chaplabel 	- o (%text;) >
<!ATTLIST chaplabel	%secur; >

<!-- CCB# 00173-00-08 -->
<!-- ATI 20040220:  Changed PCDATA to %text; -->
<!ELEMENT chaptitle 	- o (%text;) >
<!ATTLIST chaptitle	%secur; >

<!-- CCB# 00173-00-08 -->
<!-- ATI 20040220:  Changed PCDATA to %text; -->
<!ELEMENT chappageno 	- o (%text;) >
<!ATTLIST chappageno	%secur; >

<!-- CCB# 99230-04-01 -->
<!-- ATI 20040220:  Added %chgatt; -->
<!ELEMENT desc     - o  (nomen, refdes*, sssn*, remarks?) >
<!ATTLIST desc	   %descatts; 
                     %chgatt; >

<!-- CCB# 00173-00-06 -->
<!-- CCB# 99230-01-01 -->		 
<!ELEMENT docipb     - -  (front, body)   +(plbrk|pgbrk|brk|line|modreq|location) >
<!ATTLIST docipb	sssn CDATA #IMPLIED >


<!-- CCB# 00209-01-01 -->
<!ELEMENT figindex     - o  (%text;) >
<!ATTLIST figindex     shown %yesorno; '1'>

<!ELEMENT figureno     - o  (%text;) >

<!ELEMENT finding     - o  (%parazero;, subpara1*) >
<!ATTLIST finding     %para0att; >

<!-- CCB# 00136-00-14 -->
<!-- CCB# 38807-01150-02 -->
<!-- ATI 20040220:  Added %chgatt; -->
<!ELEMENT group10   - o  EMPTY >
<!ATTLIST group10   %chgatt; >

<!-- CCB# 8264-00-003
<!ELEMENT hci   - o  EMPTY >
-->


<!ELEMENT ipbesds     - o  (%parazero;, subpara1*) >
<!ATTLIST ipbesds     %para0att; >


<!ELEMENT ipbhci     - o  (%parazero;, subpara1*) >
<!ATTLIST ipbhci     %para0att; >


<!ELEMENT ipbforeword     - -  (%ipbforwd;)   +(figure|table) >
<!ATTLIST ipbforeword     %chapatt; >

<!-- CCB# 38807-01094-01 --> 

<!ELEMENT ipblrpentry - o  ((partno|(modelno|typedes)),tmidno,title?) >
<!ATTLIST ipblrpentry id ID #IMPLIED >

<!-- CCB# 38807-01094-01 -->

<!ELEMENT ipblrptable - o (ipblrpentry+) >
<!ATTLIST ipblrptable id ID #IMPLIED 
%bodyatt;
%secur;>

<!ELEMENT mfrlist     - o  (%parazero;, subpara1*) >
<!ATTLIST mfrlist     %para0att; >


<!ELEMENT modelcover     - o  (%parazero;, subpara1*) >
<!ATTLIST modelcover     %para0att; >

<!-- CCB# 99230-01-04 -->
<!-- CCB# 99230-02-03 -->
<!ELEMENT numindxchap    - o  (front?, numindx)  >

<!ELEMENT numindx    - o  (numgrp)  +(group10) >
<!ATTLIST numindx    cols (2|3) "3"
		     autobuild CDATA #CONREF  
                     %chapatt; > 

<!-- Arbortext 20030116: SFORT 
     moved the table contents into a row wrapper -->
<!ELEMENT numgrprow     - -  (partno, figindex) >
<!ATTLIST numgrprow     %chgatt;
                        %secur; >

<!-- Arbortext 20030116: SFORT 
     created a row wrapper for numgrp content -->
<!-- ATI 20040220:  Added %chgatt; -->
<!ELEMENT numgrp    - o  ((numgrprow)+) >
<!ATTLIST numgrp    %chgatt; >

<!-- CCB# 00173-00-08 -->
<!-- ATI 20040220:  Changed PCDATA to %text; -->
<!ELEMENT paralabel 	- o (%text;) >
<!ATTLIST paralabel	%secur; > 

<!-- CCB# 99230-03-00 -->
<!-- ATI 20040220:  Changed PCDATA to %text; -->
<!ELEMENT partnosym	- o	(%text;) > 

<!ELEMENT partstd     - o  (%parazero;, subpara1*) >
<!ATTLIST partstd     %para0att; >

<!-- CCB# 99230-01-04 -->
<!-- CCB# 99230-02-03 -->
<!ELEMENT plchap     - -  (front?,(plfirst| pl)) >

<!ELEMENT pl     - -  (plgrp+) +(plbrk)>
<!ATTLIST pl     %chapatt; >

<!ELEMENT plbrk  - o  EMPTY >

<!ELEMENT plfirst     - -  (plgrp+) +(plbrk)>
<!ATTLIST plfirst     %chapatt; >

<!-- ATI 20040220:  Added %chgatt; -->
<!ELEMENT plgrp    - -  (figure, pl0tbl) >
<!ATTLIST plgrp    %chgatt; >

<!-- CCB#  00084-00-01 -->
<!-- ATI 20040220:  Added %chgatt; -->
<!ELEMENT pl0tbl   - o  (pl0+, useoncodelist?) >
<!ATTLIST pl0tbl   %chgatt; >

<!-- CCB# 00084-00-01 -->
<!ELEMENT pl0      - -  (%mpl;, pl1*) >
<!ATTLIST pl0      %bodyatt;>
<!-- CCB# 38807-01150-01 --> 


<!ELEMENT pl1      - o  (%mpl;, pl2*) >
<!ATTLIST pl1      %bodyatt; >


<!ELEMENT pl2      - o  (%mpl;, pl3*) >
<!ATTLIST pl2      %bodyatt; >
                    

<!ELEMENT pl3     - o  (%mpl;, pl4*) >
<!ATTLIST pl3     %bodyatt; >


<!ELEMENT pl4      - o  (%mpl;, pl5*) >
<!ATTLIST pl4      %bodyatt; >


<!ELEMENT pl5      - o  (%mpl;, pl6*) >
<!ATTLIST pl5      %bodyatt; >


<!ELEMENT pl6      - o  (%mpl;, pl7*) >
<!ATTLIST pl6      %bodyatt; >


<!ELEMENT pl7      - o  (%mpl;) >
<!ATTLIST pl7      %bodyatt; >


<!ELEMENT quickchgexpl     - o  (%parazero;, subpara1*) >
<!ATTLIST quickchgexpl     %para0att; >


<!ELEMENT refdes     - o  (%text;) >
<!ATTLIST refdes     %secur; >

<!-- CCB# 99230-01-04 -->
<!-- CCB# 99230-02-03 -->
<!ELEMENT rfdsindxchap     - -  (front?, rfdsindx)  >

<!ELEMENT rfdsindx     - o  (rfdsgrp)  +(group10) >
<!ATTLIST rfdsindx     autobuild NUMBER #CONREF 
                       type (refdes|sssn|both) "refdes"
                       cols (2|3) "3"
                       %chapatt; >

<!-- Arbortext 20030116: SFORT 
     moved the table contents into a row wrapper -->
<!ELEMENT rfdsgrprow    -  o  ((refdes?, sssn?, figindex)) >
<!ATTLIST rfdsgrprow    %chgatt;
                        %secur; >

<!-- Arbortext 20030116: SFORT 
     created a row wrapper for sertable content -->
<!ELEMENT rfdsgrp    -  o  ((rfdsgrprow)+) >

<!ELEMENT serialization     - o  (%parazero;, subpara1*, sertable) >
<!ATTLIST serialization     %para0att; >

<!-- Arbortext 20030116: SFORT 
     moved the table contents into a row wrapper -->
<!ELEMENT serrow     - -  (nomen, modelno, serno) >
<!ATTLIST serrow     %chgatt;
                     %secur; >

<!-- Arbortext 20030116: SFORT 
     created a row wrapper for sertable content -->
<!ELEMENT sertable     - -  (title?, (serrow)+) >
<!ATTLIST sertable     col1width CDATA "1.75in"
                       col2width CDATA "1.25in" 
-- column #3 will be the remainder of the column not used by cols 1 & 2 --
                       %tabatts; >

<!ELEMENT shtnoexpl     - o  (%parazero;, subpara1*) >
<!ATTLIST shtnoexpl     %para0att; >


<!ELEMENT simassem     - o  (%parazero;, subpara1*) >
<!ATTLIST simassem     %para0att; >

<!-- CCB# 99230-01-03 -->
<!ELEMENT single  - -  (%single) >

<!ELEMENT smrcode     - o  (%text;) >

<!-- ATI 20040220:  Added %chgatt; -->
<!ELEMENT smrcodes    - o  (smrcode)+ >
<!ATTLIST smrcodes    %chgatt; >

<!ELEMENT smrexpl     - o  (%parazero;, subpara1*) >
<!ATTLIST smrexpl     %para0att; >


<!ELEMENT sssn     - o  (%text;) >
<!ATTLIST sssn     %secur; >

<!-- CCB# 99230-01-04 -->
<!ELEMENT subdivided  - -  (%subdivided;) >

<!ELEMENT sublep		- -  (sublepcontents) >  

<!-- CCB# 38807-01150-01 -->

<!ELEMENT sublepcontents	- o (%lepcontents;)+ >
<!ATTLIST sublepcontents	autobuild CDATA #CONREF 
				lepcount NUMBER '0'>

<!ELEMENT units     - o  (%text;) >
<!ATTLIST units     %secur; >

<!ELEMENT useoncode     - o  (%text;) >
<!ATTLIST useoncode     %secur; >


<!ELEMENT useoncodelist     - -  (term, def)+   +(note) >
<!ATTLIST useoncodelist     %bodyatt; >


<!ELEMENT useonexpl     - o  (%parazero;, subpara1*) >
<!ATTLIST useonexpl     %para0att; >

<!-- ATI 20040220:  Changed PCDATA to %text; -->
<!ELEMENT volno		- o (%text;) >
<!-- **************************** END OF FILE **************************** -->





