doctypes/ATA_Spec2300_2017.1/Procedures/CabinEquipMalfunction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="cabinEquipMalfunction"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/wcn.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/comment.xsd"/>
	  <xs:include schemaLocation="../common/systems/commonDescriptionTypes.xsd"/>
	  <xs:redefine schemaLocation="../common/procedure/action.xsd">
		    <xs:complexType name="actionType">
			      <xs:complexContent>
				        <xs:extension base="actionType">
					          <xs:sequence>
						            <xs:choice>
							              <xs:element ref="challengeResponse"/>
							              <xs:element ref="command"/>
						            </xs:choice>
						            <xs:element name="comment" type="commentActionType" minOccurs="0" maxOccurs="unbounded"/>
					          </xs:sequence>
					          <xs:attribute name="crm" type="xs:string" use="optional">
						            <xs:annotation>
							              <xs:documentation>crew member responsible for the action</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
		    <!-- actionBlock is not used, but as it is included, it is safer to define the default content model here -->
		<xs:complexType name="actionBlockType">
			      <xs:complexContent>
				        <xs:extension base="actionBlockType">
					          <xs:sequence>
						            <xs:element name="title" type="nameType" minOccurs="0"/>
						            <xs:element ref="action" minOccurs="2" maxOccurs="unbounded"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/procedure/inform.xsd"/>
	  <xs:include schemaLocation="../common/procedure/endOfProc.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- cabinEquipMalfunction Element Declaration-->
	<!--=============================================-->
	<xs:element name="cabinEquipMalfunction" type="cabinEquipMalfunctionType">
		    <xs:annotation>
			      <xs:documentation>Cabin Equipment Malfunction Decision Tree: guideline to try to isolate and eliminate equipment malfunctions in the cabin.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- cabinEquipMalfunction Element Definition -->
	<!--=============================================-->
	<xs:complexType name="cabinEquipMalfunctionType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="procDescription" minOccurs="0"/>
			      <xs:element ref="procContent"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- procContent Element Definition -->
	<!--=============================================-->
	<xs:element name="procDescription" type="descriptionType">
		    <xs:annotation>
			      <xs:documentation>procedure description</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="procContent" type="procContentType">
		    <xs:annotation>
			      <xs:documentation>procedural content..</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="procContentType">
		    <xs:sequence>
			      <xs:element name="malfunctionProc" type="malfunctionProcType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>Guide line for a specific equipment malfunction</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="malfunctionProcType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="symptom" type="paraType">
				        <xs:annotation>
					          <xs:documentation>Symptom of the malfunction observed by the cabin crew</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice maxOccurs="unbounded">
				        <xs:element name="malfunctionIsolate" type="malfunctionIsolateType">
					          <xs:annotation>
						            <xs:documentation>Question that will permit malfunction isolation. It refers to the steps to perform in case of true answer or false answer or if the procedure is ending</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="malfunctionEliminate" type="malfunctionEliminateType">
					          <xs:annotation>
						            <xs:documentation>One or more action(s) to be performed in order to eliminate some failure causes or to solve the malfunction</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element ref="inform"/>
			      </xs:choice>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="malfunctionIsolateType">
		    <xs:sequence>
			      <xs:element ref="question"/>
			      <xs:element ref="yes"/>
			      <xs:element ref="no"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:complexType name="malfunctionEliminateType">
		    <xs:sequence>
			      <xs:element name="elimProc" type="elimProcType">
				        <xs:annotation>
					          <xs:documentation>Set of actions to be performed by the cabin crew</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="question" minOccurs="0"/>
			      <xs:element ref="yes"/>
			      <xs:element ref="no"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:element name="question" type="paraType">
		    <xs:annotation>
			      <xs:documentation>Question allowing to isolate the malfunction</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="yes" type="resultType">
		    <xs:annotation>
			      <xs:documentation>Step to peform in case of true answer to the question</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="no" type="resultType">
		    <xs:annotation>
			      <xs:documentation>Step to peform in case of false answer to the question</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:complexType name="elimProcType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:element name="para" type="paraType"/>
			      <xs:group ref="wcnGroupType"/>
			      <xs:element ref="action"/>
			      <xs:element name="comment" type="commentType"/>
		    </xs:choice>
	  </xs:complexType>
	  <xs:complexType name="resultType">
		    <xs:choice>
			      <xs:element ref="internalRef"/>
			      <xs:element ref="endOfProc"/>
		    </xs:choice>
	  </xs:complexType>
</xs:schema>