doctypes/ATA_Spec2300_2017.1/Procedures/FailureConsequences.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="failureConsequences"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:redefine schemaLocation="../common/procedure/nonNormalProcContent.xsd">
		    <xs:complexType name="procContentType">
			      <xs:complexContent>
				        <xs:extension base="procContentType">
					          <xs:choice maxOccurs="unbounded">
						            <xs:group ref="nonNormalProcContentGroup"/>
					          </xs:choice>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:redefine schemaLocation="../common/procedure/failureConsequences.xsd">
		    <xs:complexType name="deferredProcContentType">
			      <xs:complexContent>
				        <xs:extension base="deferredProcContentType">
					          <xs:group ref="nonNormalProcContentGroup" maxOccurs="unbounded"/>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- FailureConsequences Element Declaration-->
	<!--=============================================-->
	<xs:element name="failureConsequences" type="failureConsequencesType">
		    <xs:annotation>
			      <xs:documentation>Consequences of the failure, associated to a NonNormal procedure.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- FailureConsequences Element Definition -->
	<!--=============================================-->
	<xs:complexType name="failureConsequencesType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:group ref="failureConsequencesGroup"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- failureConsequencesGroup -->
	<!--=============================================-->
	<xs:group name="failureConsequencesGroup">
		    <xs:sequence>
			      <xs:element ref="associatedProcedures" minOccurs="0"/>
			      <xs:element ref="secondaryFailures" minOccurs="0"/>
			      <xs:element ref="systemRestrictions" minOccurs="0"/>
			      <xs:element ref="deferredProcedures" minOccurs="0"/>
			      <xs:group ref="inopItemsGroup" minOccurs="0"/>
			      <xs:element ref="statusInfo" minOccurs="0"/>
			      <xs:element ref="redundancyLosses" minOccurs="0"/>
			      <xs:element ref="additionalInformation" minOccurs="0"/>
			      <xs:element ref="memoPage" minOccurs="0"/>
			      <xs:element name="comment" type="commentType" minOccurs="0"/>
		    </xs:sequence>
	  </xs:group>
</xs:schema>