doctypes/ATA_Spec2300_2017.1/Procedures/NonNormalProcedure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="nonNormalProcedure"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/figure.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/multimedia.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extApplication.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/wcn.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/list.xsd"/>
	  <xs:redefine schemaLocation="../common/procedure/nonNormalProcContent.xsd">
		    <xs:complexType name="procContentType">
			      <xs:complexContent>
				        <xs:extension base="procContentType">
					          <xs:choice maxOccurs="unbounded">
						            <xs:group ref="nonNormalProcContentGroup"/>
						            <xs:group ref="failureConsequencesGroup"/>
					          </xs:choice>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:redefine schemaLocation="../common/procedure/failureConsequences.xsd">
		    <xs:complexType name="deferredProcContentType">
			      <xs:complexContent>
				        <xs:extension base="deferredProcContentType">
					          <xs:group ref="nonNormalProcContentGroup" maxOccurs="unbounded"/>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/procedure/procAttrs.xsd"/>
	  <xs:include schemaLocation="../common/procedure/whatIf.xsd"/>
	  <xs:include schemaLocation="../common/procedure/context.xsd"/>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- nonNormalProcedure Element Declaration-->
	<!--=============================================-->
	<xs:element name="nonNormalProcedure" type="nonNormalProcedureType">
		    <xs:annotation>
			      <xs:documentation>contains a Abnormal/Non-Normal Procedures or a Emergency Procedure or a Manoeuver procedure</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- nonNormalProcedure Element Definition -->
	<!--=============================================-->
	<xs:complexType name="nonNormalProcedureType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="context" minOccurs="0"/>
			      <xs:element ref="whatIf" minOccurs="0"/>
			      <xs:element name="objective" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>accomplished goal(s) when the procedure is performed.</xs:documentation>
				        </xs:annotation>
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="para" type="paraType" maxOccurs="unbounded"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="landingCapability" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>indicates the approach category restriction</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="procDescription" type="descriptionType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>procedure description</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice minOccurs="0">
				        <xs:element ref="procContent">
					          <xs:annotation>
						            <xs:documentation>procedural content..</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="noProcContent">
					          <xs:annotation>
						            <xs:documentation>used in case of an empty crew awareness procedure</xs:documentation>
					          </xs:annotation>
					          <xs:complexType/>
				        </xs:element>
			      </xs:choice>
			      <xs:element name="subLevel" type="procSubLevelType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>procedure content in a sub level</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="priorityLevel" type="priorityLevelType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Classification of the non normal procedure based on level of urgency.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="crewQualificationAttrGrp"/>
		    <xs:attribute name="enhancedReadability" type="xs:boolean" use="optional">
			      <xs:annotation>
				        <xs:documentation>indicates that the procedure need to be displayed with an enhanced readability</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="interactiveTargetsAttrGrp"/>
		    <xs:attribute name="crewAwareness" type="xs:boolean" use="optional">
			      <xs:annotation>
				        <xs:documentation>allow to flag that this is a crew awarness procedure</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- Sublevel Description Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="procSubLevelType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>title of sub level</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="procDescription" type="descriptionType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>procedure description</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="procContent" type="procContentType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>procedural content..</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="subLevel" type="procSubLevelType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>procedure content in a sub level</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- failureConsequences group : embed in procedural content -->
	<!--=============================================-->
	<xs:group name="failureConsequencesGroup">
		    <xs:choice>
			      <xs:element ref="associatedProcedures"/>
			      <xs:element ref="secondaryFailures"/>
			      <xs:element ref="systemRestrictions"/>
			      <xs:element ref="deferredProcedures"/>
			      <xs:group ref="inopItemsGroup"/>
			      <xs:element ref="statusInfo"/>
			      <xs:element ref="nonElectronicStatusInfo">
				        <xs:annotation>
					          <xs:documentation>Status information that is not displayed on electronic monitoring device</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="redundancyLosses"/>
			      <xs:element ref="additionalInformation"/>
			      <xs:element ref="memoPage"/>
			      <xs:element name="comment" type="commentType"/>
		    </xs:choice>
	  </xs:group>
	  <!--=============================================-->
	<!-- nonElectronicStatusInfo Element Definition -->
	<!--=============================================-->
	<xs:element name="nonElectronicStatusInfo">
		    <xs:annotation>
			      <xs:documentation>Status information that is not displayed on electronic monitoring device, used in a summary item</xs:documentation>
		    </xs:annotation>
		    <xs:complexType>
			      <xs:sequence>
				        <xs:element ref="inform" maxOccurs="unbounded"/>
				        <xs:element name="comment" type="commentType" minOccurs="0"/>
			      </xs:sequence>
		    </xs:complexType>
	  </xs:element>
</xs:schema>