doctypes/S1000D_2-2/xml_dtd/comment/dtd/dmaddr2.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                 XML Document Type Definition                       *
    *                                                                    *
    *                     Release Version 2.2                            *
    *                       Date: 2005-05-01                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier date.                                  *
    * 2. CPF 2004-21GB: Amend value list of attribute change by "modify" *
    *                   within entity %INSDEL;.                          *
    * 3. CPF 2004-22GB: Replace entity %EXTRESTR; by %EXTRESTR2; defined *
    *                   in DTD file DATAREST2.ENT.                       *
    * 4. CPF 2004-24GB: Introduce entity %MNTLVLS; for the definition of *
    *                   generic maintenance levels.                      *
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % DMADDR2 PUBLIC                                          *
    * "-//S1000D//ELEMENTS DM Address Details 2nd Part 20030531//EN//XML"*
    * "dmaddr2.ent">                                                     *
    * %DMADDR2;                                                          *
    ********************************************************************** -->


<!--**********************************************************************
    * Call the Project Configuration Text.                               *
    * Project Configuration may alter delaration of selected objects.    *
    * For information on which objects are available for tailoring,      *
    * refer to S1000D!                                                   *
    ********************************************************************** -->
%PROJECT; 


<!--**********************************************************************
    * Define parameter entities for declared values for project          *
    *  configurable attribute values.                                    *
    *  See specification text for definition of allowable sets of values.*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Declared param ents:-                                              *
    *                                                                    *
    *  %ACROTYPS; - CDATA - Type of acronym or abbreviation              *
    *  %CAVEATS;  - CDATA - Type of caveats                              *
    *  %CLASSES;  - CDATA - Security classification                      *
    *  %COLOURS;  - CDATA - Color of the caption                         *
    *  %COMMCLSS; - CDATA - Commercial Security classification           *
    *  %CPRIOS;   - CDATA - Priority level of a comment                  *
    *  %CREWMEMS; - CDATA - Crew member required for drill or step       *
    *  %DRILLTPS; - CDATA - Type of aircrew drill (Flight deck present.) *
    *  %EMPHS;    - CDATA - Type of emphasis                             *
    *  %MNTLVLS;  - CDATA - Maintenance level                            *
    *  %PREFIXES; - CDATA - Prefix of random list items                  *
    *  %RSPTYPES; - CDATA - Type of response to a comment                *
    *  %SKILLS;   - CDATA - Personnel skill level                        *
    *  %SUP.LEVS; - CDATA - Supervisor level                             *
    *  %TYPES;    - CDATA - Limit type                                   *
    *  %THIUOMS;  - CDATA - Unit of measurement for theshold interval    *
    ********************************************************************** -->
<!ENTITY % ACROTYPS " CDATA 'at01' " >
<!ENTITY % CAVEATS  " CDATA " >
<!ENTITY % CLASSES  " CDATA " >
<!ENTITY % COLOURS  " CDATA 'co09' " >
<!ENTITY % COMMCLSS " CDATA " >
<!ENTITY % CPRIOS   " CDATA 'cp01' " >
<!ENTITY % CREWMEMS " CDATA " >
<!ENTITY % DRILLTPS " CDATA 'dt00' " >
<!ENTITY % EMPHS    " CDATA 'em01' " >
<!ENTITY % MNTLVLS  " CDATA " >
<!ENTITY % PREFIXES " CDATA 'pf02' " >
<!ENTITY % RSPTYPES " CDATA " >
<!ENTITY % SKILLS   " CDATA " >
<!ENTITY % SUP.LEVS " CDATA " >
<!ENTITY % TYPES    " CDATA " >
<!ENTITY % THIUOMS  " CDATA " >
<!-- Entity %MNTLVLS; introduced -->


<!--**********************************************************************
    * Define Entity %COMMSEC; (Commercial Security) containing:-         *
    *  Attribute Definition List.                                        *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *                                                                    *
    *  commcls    - Declared - IMPLIED - Identifies Commercial Security. *
    *  caveat     - Declared - IMPLIED - Identifies Caveats.             *
    ********************************************************************** -->
<!ENTITY % COMMSEC "commcls %COMMCLSS; #IMPLIED
                    caveat  %CAVEATS;  #IMPLIED" >


<!--**********************************************************************
    * Define Entity %SECURIT; (Status Security) containing:-             *
    *  Attribute Definition List.                                        *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  class    - Declared - REQUIRED - Identifies Security Marking.     *
    *  Definition stored in entity %COMMSEC;                             *
    ********************************************************************** -->
<!ENTITY % SECURIT "class %CLASSES; #REQUIRED 
                    %COMMSEC;" >


<!--**********************************************************************
    * Define Entity %RPCNAME; (Responsible Partner Company Names)        *
    * containing:-                                                       *
    *====================================================================*
    *  RPC names allowed by the project.                                 *
    **********************************************************************-->
<!ENTITY % RPCNAME "CDATA" >


<!--**********************************************************************
    * Define Entity %DATE; (Date breakdown) containing:-                 *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  year     - NMTOKEN - REQUIRED - The year. (YYYY)                  *
    *  month    - NMTOKEN - REQUIRED - The month of the year. (MM)       *
    *  day      - NMTOKEN - REQUIRED - The day of the month. (DD)        *
    ********************************************************************** -->
<!ENTITY % DATE "year  NMTOKEN  #REQUIRED
                 month NMTOKEN  #REQUIRED
                 day   NMTOKEN  #REQUIRED" >


<!--**********************************************************************
    * Define Entity %INSDEL; (Change Level Attributes)                   *
    *  containing:-                                                      *
    *  Attribute Definition List.                                        *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  level  - NMTOKEN   - IMPLIED  - Identifies the level or data issue*
    *                          (project specific) at which the           *
    *                          information was revised/updated           *
    *  mark   - NMTOKEN   - IMPLIED - Revision Bar. (This can be used in *
    *                          conjunction which level to only produce   *
    *                          revision bar for the current level/issue  *
    *                          of a data module.)                        *
    *                        - "0" Do not mark change with Revision bars *
    *                        - "1" Mark this change with Revision Bars   *
    *  change - Declared  - IMPLIED  - Identifies the type of change     *
    *              - "add"    - Information was added                    *
    *              - "delete" - Information was deleted                  *
    *              - "modify" - Information was modified                 *
    *  rfc    - CDATA     - IMPLIED  - Specifies the reason for change.  *
    ********************************************************************** -->
<!ENTITY % INSDEL
	  "level  NMTOKEN                  #IMPLIED
	   mark   NMTOKEN                  #IMPLIED
	   change (add | delete | modify)  #IMPLIED
	   rfc    CDATA                    #IMPLIED" >
<!-- Attribute value list of change amended by "modify" -->


<!--**********************************************************************
    * Define Entity %bodyatt; (Body Attributes) containing:-             *
    *  Attribute Definition List.                                        *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - IMPLIED  - An identifier of the element which is  *
    *                             assigned at origination and which      *
    *                             remains unchanged as the document is   *
    *                             revised or updated even though the     *
    *                             automatically assigned enumeration     *
    *                             "labels" change. The value of "id" is  *
    *                             used when making references to the     *
    *                             element from other portions of the     *
    *                             document.                              *
    *  Attribute Definition List stored in entity %INSDEL;               *
    ********************************************************************** -->
<!ENTITY % bodyatt
  	"id ID #IMPLIED	%INSDEL;" >


<!--**********************************************************************
    * Define Element issno (Issue Number) containing:-                   *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  issno  - NMTOKEN   - REQUIRED - Issue Number (XXX).               *
    *  inwork - NMTOKEN   - IMPLIED  - Sub-Issue Number (XX).            *
    *  type   - Declared  - "new"    - Status of this issue              *
    *         - "new"     - New object.                                  *
    *         - "changed" - Changed. Changes marked by change markers.   *
    *         - "deleted" - Deleted.                                     *
    *         - "revised" - Completely Revised. Changes not marked by    *
    *                        change markers.                             *
    *         - "status"  - Only Status information changed.             *
    *         - "rinstate-changed" - Reinstated and content changed.     *
    *         - "rinstate-revised" - Reinstated and content completely   *
    *                                revised.                            *
    *         - "rinstate-status"  - Reinstated and status only changed. *
    ********************************************************************** -->
<!ELEMENT issno   EMPTY >
<!ATTLIST issno
          issno  NMTOKEN  #REQUIRED
          inwork NMTOKEN  #IMPLIED
          type   (new | changed | deleted | revised | status | 
                  rinstate-changed | rinstate-revised | rinstate-status)
                 "new"  >


<!--**********************************************************************
    * Define Element issdate (Issue Date) containing:-                   *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Definition stored in entity %DATE;.                               *
    ********************************************************************** -->
<!ELEMENT issdate    EMPTY >
<!ATTLIST issdate    %DATE; >


<!--**********************************************************************
    * Define Element security (Security Marking) containing:-            *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in Entity %SECURIT;              *
    ********************************************************************** -->
<!ELEMENT security   EMPTY >
<!ATTLIST security   %SECURIT; >


<!--**********************************************************************
    * Define Entity %EXTRESTR2; (Data Restriction definitions for other  *
    *                            CSDB Objects).                          *
    ********************************************************************** -->
<!ENTITY % EXTRESTR2 PUBLIC
  "-//S1000D//ELEMENTS Data Restrictions for other CSDB Objects 20050501//EN//XML" 
  "datarest2.ent" >
<!-- Entity and Public identifier replaced -->


<!--**********************************************************************
    * Call the Data Restriction definitions (see DATAREST2.ENT).         *
    ********************************************************************** -->
%EXTRESTR2;


<!--** End of XML DMADDR2 Entity **-->
