doctypes/ATA_iSpec2200_2003.1/amm.dtd

<!-- =========================================================== -->
<!-- This is the DTD for the Aircraft Maintenance Manual         -->
<!-- =========================================================== -->
<!-- DTD Reference : -//ATA-TEXT//DTD AMM-VER15-LEVEL2//EN       -->
<!-- DTD Level     : 2                                           -->
<!-- Rev Date      : 07 Jul 2023                                 -->
<!-- Parsed Date   : 07 Jul 2023                                 -->
<!--                                                             -->
<!--  Highlights    :                                            -->
<!--  1) Increased the "VER" number to 15.0.                     -->
<!--  2) changed element TR structure: element TRLIST? moved out -->
<!--     of the choice (CR-2023-01).                             -->
<!--  3) Add lbrhour as an optional choice to manhour in         -->
<!--     assodata element (CR-2022-40).                          -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!-- 1) Increased the "VER" number to 14.0.                      -->
<!-- 2) Added optional ID attribute to LxITEM elements           -->
<!--    (CR-2020-12).                                            -->
<!-- 3) Added optional TRLIST element to TR choices              -->
<!--    (CR-2021-24).                                            -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!-- 1) Increased the "VER" number to 13.0.                      -->
<!-- 2) CHGDTYPE optional attribute added to CHGDESC(CR-2016-02) -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!-- 1) Increased the "VER" number to 12.0.                      -->
<!-- 2) REGULATORY changed to optional repeatable in PGBLK,      -->
<!--    TASK, SUBTASK, PRCITEM, LxITEM elements.                 -->
<!--    Optional EFFECT and GRSYMBOL added to REGULATION.        -->
<!--    REGTYPE attribute of REGULATION changed to CDATA and     -->
<!--    new REGSOURCE and REGVALUE attributes added to the       -->
<!--    REGULATION element. (CR-2013-07)                         -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!-- 1) Increased the "VER" number to 11.0.                      -->
<!-- 2) Added new REGULATORY element to PGBLK, TASK, SUBTASK,    -->
<!--   PRCITEM, L1ITEM, L2ITEM, L3ITEM, L4ITEM, L5ITEM, L6ITEM   -->
<!--   L7ITEM elements (CR-2011-10)                              -->
<!-- 3) Added REGULATORY element to ENTRY (CR-2011-11)           -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!-- 1) Increased the "VER" number to 10.0.                      -->
<!-- 2) Changed SBNRMFR to optional repeating in SBDATA.         -->
<!--     (CR-2008-06)                                            -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!--  1) Formatting changes made for readability.                -->
<!--  2) Increased the "VER" number to 9.0.                      -->
<!--  3) Added optional LEGALNTC element prior to TRFMATR within -->
<!--     the TR element structure (CR-2007-14-legalntc).         -->
<!--  4) Added the equipment name (EQUNAME) associated with the  -->
<!--     equipment identifiers (EIN) which power supply is       -->
<!--     secured by a list of circuit breakers (CBSUBLST)        -->
<!--     (CR-2007-13_Equname).                                   -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!--  1) Editorial improvements of notations for readability.    -->
<!--  2) Increased the version number to 8.2                     -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!--  1) Added CHGDESC* and %deleted; to GLOSSARY.               -->
<!--     (CR eTEXT.TRAN.006.2004)                                -->
<!--  2) TRLIST is optional in MFMATR content.                   -->
<!--     (CR eTEXT.TRAN.006.2004)                                -->
<!--  3) Editorial improvements of notations for readability.    -->
<!--  4) Increased the version number to 8.1                     -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!--  1) Added ACTION and CHKSUM attributes to CB element.       -->
<!--     (CR AIB.AMM.001.2004)                                   -->
<!--  2) Added CONTYPE and HAZD attributes to CON element. Added -->
<!--     Added optional REFINT element to CON content.           -->
<!--     (CR AIB.AMM.002.2004)                                   -->
<!--  3) Added element ZAC to MFMATR with a content of CHGDESC,  -->
<!--     ZONING, ACCLST and GRAPHIC.                             -->
<!--     Added new element ACCLST with a content of CHGDESC*,    -->
<!--     TITLE?, %text;?, (ACCESS+|ISEMPTY).                     -->
<!--     Added new element ACCESS with a content of EFFECT?, PAN -->
<!--     and ACCDATA+.                                           -->
<!--     Added new element ACCDATA with a content of EFFECT,     -->
<!--     ZONE, ACCEIN, ACCESSTO, FASTENER, DD, OPENHOUR, GRPHCREF-->
<!--     Added new element ACCEIN with a content of EIN.         -->
<!--     Added new element FASTENER with a content of FSTTYPE and-->
<!--     FSTQTY.                                                 -->
<!--     Added new EMPTY DD element.                             -->
<!--     Added new elements ACCESSTO, FSTTYPE, FSTQTY,OPENHOUR   -->
<!--     with a content of PCDATA.                               -->
<!--     Added new ZONING element with a content of CHGDESC*,    -->
<!--     TITLE?, %text;?, (MAJZONE+|ISEMPTY).                    -->
<!--     Added new element MAJZONE with a content of EFFECT,     -->
<!--     ZONE, ZONDATA and SUBZONE.                              -->
<!--     Added new SUBZONE element with a content of EFFECT,     -->
<!--     ZONE, ZONDATA and SPECZONE.                             -->
<!--     Added new element SPECZONE with a content of EFFECT,    -->
<!--     ZONE and ZONDATA.                                       -->
<!--     Added new ZONDATA element with a content of EFFECT,     -->
<!--     ZONEDESC, SIDE, BNDFROM, BNDTO and GRPHCREF.            -->
<!--     Added new EMPTY SIDE element.                           -->
<!--     Added new elements BNDFROM and BNDTO with a content of  -->
<!--     BOUNDARY.                                               -->
<!--     Added new element BOUNDARY containing a choice between  -->
<!--     PCDATA, FRAM, RIB, STNNBR and STGR elements.            -->
<!--     Added new element ZONEDESC, FRAME, STNNBR, RIB, STGR    -->
<!--     with a content of PCDATA.                               -->
<!--     Added element ZAC, ZONING and ACCLST to TR and INCREV.  -->
<!--     (CR AIB.AMM.003.2004)                                   -->
<!--  4) Added new NBRPERS element with a content of PCDATA to   -->
<!--     ASSODATA element. (CR AIB.AMM.004.2004)                 -->
<!--  5) Added new SFTLST element with a content of SFTDATA to   -->
<!--     EQUDATA element. Added new SFTDATA element with a       -->
<!--     content of EFFECT, EIN and EQUNAME.                     -->
<!--     (CR AIB.AMM.005.2004)                                   -->
<!--  6) Added attribute CFNBR to SHEET for companion file       -->
<!--     referencing. Added gcf notation definition.             -->
<!--     (CR AIB.GRAPHIC.001.2004)                               -->
<!--  7) Added new REFMEDIA element to reference a media file.   -->
<!--     Added PDF, PNG, JPEG, VRML, MPEG and MP3 notations.     -->
<!--     (CR 2004-Media-001).                                    -->
<!--  8) Added GLOSSARY element to MFMATR, TR and INCREV with a  -->
<!--     content of repeatable GLOSDATA elements.                -->
<!--     Added new GLOSDATA element with a content of one TERM   -->
<!--     and one DEF elements to describe a glossary entry       -->
<!--     Added new TERM and DEF elements with a content of       -->
<!--     #PCDATA to describe a term and its definition           -->
<!--     (CR AIB.TRAN.002.2004)                                  -->
<!--  9) Added EFFLEN and EFFTYPE attribute to root element.     -->
<!--     (CR AIB.TRAN.003.2004)                                  -->
<!--  10) Added GRSYMBOL element to PARA content to reference    -->
<!--      inline graphics (CR inline graphics).                  -->
<!--  11) Increased the version number to 8.                     -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!--  1) Added attributes COCCOND and COCREV to element COCEFF.  -->
<!--     Aligns the COCEFF with the SBEFF attribute structure    -->
<!--     and provides a means for reporting COCEFF status. To    -->
<!--     keep the DTD backwards compatible the attribute is      -->
<!--     IMPLIED. Added to all ATA DTDs with COCEFF.             -->
<!--     Change per ATA approved CR BOE.WM.002.2003.             -->
<!--  2) Increased the "REV" number to 7.2 (am020702.dtd).       -->
<!--  3) Made several editorial improvements to previous         -->
<!--     Revision History remarks for clarification.             -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!--  1) Added attribute TYPE to EIN element (CR 2002-WM-002).   -->
<!--  2) Increased the "VER-REV" number to 7.1 (am020701.dtd).   -->
<!--  3) Made some editorial improvements for readability.       -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!--  1) Added attribute PANTYPE to PAN.                         -->
<!--     Change per ATA approved CR AIB.AMM.001.2003.            -->
<!--  2) Added optional ASSODATA element to TASK with a content  -->
<!--     of optional ZONELST, EINLST, TASKREQ, ELAPSTIM and      -->
<!--     MANHOUR. Added new element ZONELST with a content of    -->
<!--     repeatable ZONE.                                        -->
<!--     Added new element EINLST with a content of repeatable   -->
<!--     EINDATA that contains EFFECT and %EIN.                  -->
<!--     Added new EMPTY element TASKREQ with attributes         -->
<!--     MECHREQ, PANREQ, TEDREQ.                                -->
<!--     Added new elements ELAPSTIM, MANHOUR with a content of  -->
<!--     #PCDATA.                                                -->
<!--     Change per ATA approved CR AIB.AMM.002.2003.            -->
<!--  3) Added attribute CBTYPE to CB.                           -->
<!--     Change per ATA approved CR AIB.AMM.003.2003.            -->
<!--  4) Added repeatable REFBLOCK to PARA.                      -->
<!--     Change per ATA approved CR AIB.AMM.004.2003.            -->
<!--  5) Added repeatable TOR element to PARA with a content of  -->
<!--     repeatable TORVALUE element.                            -->
<!--     Added new EMPTY element TORVALUE with attributes MIN,   -->
<!--     MAX, UNIT.                                              -->
<!--     Change per ATA approved CR AIB.AMM.005.2003.            -->
<!--  6) Added STDNAME and, TOOLNBR elements to PARA.            -->
<!--     TED and STD content becomes repeatable.                 -->
<!--     STDNBR element becomes optional in STD.                 -->
<!--     Change per ATA approved CR AIB.AMM.006.2003.            -->
<!--  7) Added new EQULST element to PRCITEM with a content of   -->
<!--     EQUDATA elements.                                       -->
<!--     Added new elements EQUDATA with a content of optional   -->
<!--     EFFECT, %EIN, EQUNAME, optional ZONE, optional          -->
<!--     repeatable PAN, optional ATANBR.                        -->
<!--     Added new element EQUNAME with a content of #PCDATA.    -->
<!--     Change per ATA approved CR AIB.AMM.007.2003.            -->
<!--  8) Added new repeatable element EXPD to PARA with a        -->
<!--     content of CSN, optional EXPDNAME, optional ITEMNBR,    -->
<!--     optional GRPHCREF and with an EXPDTYPE attribute.       -->
<!--     Added new elements EXPDNAME, ITEMNBR with a content of  -->
<!--     #PCDATA.                                                -->
<!--     Change per ATA approved CR AIB.AMM.008.2003.            -->
<!--  9) Added new element CBLST to L1ITEM and PRCITEM with a    -->
<!--     content of new repeatable element CBSUBLST and new      -->
<!--     attributes CHECKSUM and ACTION.                         -->
<!--     Added new element CBSUBLST with a content of optional   -->
<!--     EFFECT, optional repeatable %EIN, repeatable CBDATA and -->
<!--     attribute CHECKSUM.                                     -->
<!--     Added new element CBDATA with a content of optional     -->
<!--     EFFECT, CB, CBNAME, optional PAN, optional CBLOC        -->
<!--     Added new elements CBNAME, CBLOC with a content of      -->
<!--     #PCDATA.                                                -->
<!--     Change per ATA approved CR AIB.AMM.009.2003.            -->
<!-- 10) CONNAME becomes optional in CON content.                -->
<!--     Change per ATA approved CR AIB.AMM.011.2003.            -->
<!-- 11) For compatibility between AMM, AIPC and WM DTD, added   -->
<!--     new optional elements ECT, ESNBR, CUSAID, CAC, FSLGNBR  -->
<!--     and OPERATOR with a content of #PCDATA to EFFDATA       -->
<!--     structure. ACN element becomes optional.                -->
<!--     Change per ATA approved CR AIB.TRAN.001.2003.           -->
<!-- 12) For compatibility between AMM, AIPC and WM DTD, added   -->
<!--     STATUS attribute to ICS element and added optional      -->
<!--     elements SBREV, SBNRMFR, and ACLIST to SBDATA.          -->
<!--     Added new SBREV element with a content of #PCDATA.      -->
<!--     Added new SBNRMFR element with a content of SBNBR and   -->
<!--     MFR. Added new MFR element with a content of #PCDATA    -->
<!--     Added new EMPTY ACLIST element with CDATA attributes    -->
<!--     STATUS and EFFRG.                                       -->
<!--     Change per ATA approved CR AIB.TRAN.002.2003.           -->
<!-- 13) For compatibility between AMM, AIPC and WM DTD, added   -->
<!--     optional ACLIST element to COCDATA.                     -->
<!--     Change per ATA approved CR AIB.TRAN.003.2003.           -->
<!-- 14) For compatibility between AMM, AIPC and WM DTD, added   -->
<!--     new EINMFR element to identify vendor EIN. Added %ein;  -->
<!--     entity which is a choice between EIN and EINMFR. The    -->
<!--     %ein; entity replaces the EIN element use in the DTD.   -->
<!--     Change per ATA approved CR AIB.TRAN.004.2003.           -->
<!-- 15) Added %REVATT to INTRO and added INTRO to TR choices    -->
<!--     per CR BOE-Tran-001-2003.                               -->
<!-- 16) Added attribute ID to PRCITEM 1 thru 7 for referencing. -->
<!--     Change per ATA approved CR BOE.Tran.002.2003.           -->
<!-- 17) Increased the Version number to 7 (am020700.dtd).       -->
<!-- 18) Made some editorial improvements for readability.       -->
<!--                                                             -->
<!-- DTD REVISION HISTORY:                                       -->
<!-- 1) Incorporated ISObox, ISOamso & ISOamsc per ATA approved  -->
<!--    DTD CR 2003-All-001.                                     -->
<!-- 2) Increased the Version number to 6 (am020600.dtd).        -->
<!--                                                             -->
<!-- DTD Reference : -//ATA-TEXT//DTD AMM-VER5-REV3-LEVEL2//EN   -->
<!-- Rev Date      : 19 Mar 2002                                 -->
<!-- 1) Added attribute FUNC back in element SUBTASK. This was   -->
<!--    removed by mistake when CHAPPREF was added.              -->
<!-- 2) Increased Revision number to 3. (am020503.dtd).          -->
<!--                                                             -->
<!-- DTD Reference : -//ATA-TEXT//DTD AMM-VER5-REV2-LEVEL2//EN   -->
<!-- Rev Date      : 11 Feb 2002                                 -->
<!-- 1) Added attribute CHAPPREF to CHAPTER, SECTION, SUBJECT,   -->
<!--    PGBLK, TASK, SUBTASK, GRAPHIC. This attribute is used    -->
<!--    to identify multiple engine chapters.                    -->
<!-- 2) Increased Revision number to 2. (am020502.dtd).          -->
<!--                                                             -->
<!-- DTD Reference : -//ATA-TEXT//DTD AMM-VER5-REV1-LEVEL2//EN   -->
<!-- Rev Date      : 04 Dec 2001                                 -->
<!-- 1) Added optional COCLIST to MFMATR.                        -->
<!-- 2) Added COCLIST & HAZMTLST to INCREV & TR.                 -->
<!-- 3) Increased Revision number to 1. (am020501.dtd).          -->
<!-- 4) Made some editorial improvements for readability.        -->
<!--                                                             -->
<!-- DTD Reference : -//ATA-TEXT//DTD AMM-VER5-LEVEL2//EN        -->
<!-- 1) Added optional EFFECT element to SECTION & SUBJECT.      -->
<!--    Added EFFECT inclusions to PBFMATR, WARNING, NOTE &      -->
<!--    CAUTION.                                                 -->
<!-- 2) Added new elements SUB & SUPER to PARA, EQU & TITLE      -->
<!--    with a content of #PCDATA.                               -->
<!-- 3) Added optional HAZMTLST element to MFMATR with a         -->
<!--    content of TITLE, optional PRETOPIC & HAZMT. Added new   -->
<!--    element HAZMT with a content of TITLE & WARNING.         -->
<!-- 4) Added REFBLOCK to entity %G.R. Added new element         -->
<!--    REFBLOCK with a content of #PCDATA or REFINT or REFEXT   -->
<!--    or GRPHCREF.                                             -->
<!-- 5) Increased the "VER" number to 5.                         -->
<!-- 6) Made some editorial improvements for readability.        -->
<!--                                                             -->
<!-- DTD Reference : -//ATA-TEXT//DTD AMM-VER4-LEVEL2//EN        -->
<!-- Rev Date      : 20 Dec 2000                                 -->
<!-- 1) Increased the "VER" number to 4.                         -->
<!-- 2) Added ISOgrk2,3,4 and ISOlat1 to entity area.            -->
<!-- 3) ADDED optional element LEGALNTC (Legal Notice) to        -->
<!--    document, TR and INCREV.                                 -->
<!-- 4) Added implied attribute IMGAREA (Image Area) to SHEET.   -->
<!--                                                             -->
<!-- DTD Reference : -//ATA-TEXT//DTD AMM-VER3-LEVEL2//EN        -->
<!-- Rev Date      : 01 Dec 1995                                 -->
<!-- Highlights    : Updated to incorporate changes in March     -->
<!--                 1996 Technical Requirements Document.       -->
<!-- 1) Increased the "VER" number to 3.                         -->
<!-- 2) Removed poschg and poskey attributes from the revatt     -->
<!--    entity per tech-req 1.2.1 section.                       -->
<!-- 3) Following changes were incremental changes during        -->
<!--    the publication cycle of 1995 and 1996:                  -->
<!--                                                             -->
<!-- Rev Date      : 08 June 1995                                -->
<!-- Highlights    : Change seq attribute to CDATA in task,      -->
<!--                 subtask and graphic. Make graphic amtoss    -->
<!--                 attributes implied.                         -->
<!-- =========================================================== -->

<!-- DOCTYPE amm [  -->

<!-- The following set of declarations may be referred to
     using the public entity as follows:
<!DOCTYPE amm PUBLIC
  "-//ATA-TEXT//DTD AMM-VER15-LEVEL2//EN" [ ]>                   -->

<!-- =========================================================== -->
<!--          NOTATIONS                                          -->
<!-- =========================================================== -->

<!NOTATION cgm PUBLIC
  "-//USA-DOD//NOTATION Computer Graphics Metafile//EN"            >

<!NOTATION ccitt4 PUBLIC
  "-//USA-DOD//NOTATION CCITT Group4 Facsimile//EN"                >

<!NOTATION gcf PUBLIC
  "-//ATA-TEXT//NOTATION Graphic Companion File//EN"               >

<!NOTATION pdf PUBLIC
  "-//Adobe Inc.//NOTATION Portable Document Format//EN"           >

<!NOTATION png PUBLIC
  "-//W3C//NOTATION Portable Network Graphics//EN"                 >

<!NOTATION jpeg PUBLIC
  "+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Joint
   Photographic Experts Group Raster//EN"                          >

<!NOTATION vrml PUBLIC
  "-//ATA-TEXT//NOTATION Virtual Reality Modeling Language//EN"    >

<!NOTATION mpeg PUBLIC
  "-//ATA-TEXT//NOTATION Motion Pictures Expert Group//EN"         >

<!NOTATION mp3 PUBLIC
  "-//ATA-TEXT//NOTATION Motion Pictures Expert Group, Audio
   Layer 3//EN"                                                    >

<!-- =========================================================== -->
<!--          ENTITIES                                           -->
<!-- =========================================================== -->

<!ENTITY   % g.r     "(refblock* | (grphcref*, refext*, refint*))" >
<!ENTITY   % w.c     "(warning*, caution*)"                        >
<!ENTITY   % text    "(para | table | unlist | numlist | note)+"   >
<!ENTITY   % deleted "(deleted, chgdesc*)"                         >
<!ENTITY   % yesorno "NUMBER"                                      >
<!ENTITY   % revatt
            "chg      (N|R|U|D)                     #REQUIRED
             key      ID                            #REQUIRED
             revdate  NUMBER                        #REQUIRED"     >

<!ENTITY   % ein    "(ein | einmfr)"                               >

<!ENTITY   % ISOtech      PUBLIC
     "ISO 8879-1986//ENTITIES   General Technical//EN"             >
<!ENTITY   % ISOpub      PUBLIC
     "ISO 8879-1986//ENTITIES Publishing//EN"                      >
<!ENTITY   % ISOnum      PUBLIC
   "ISO 8879-1986//ENTITIES   Numeric and Special Graphic//EN"     >
<!ENTITY   % ISOgrk1     PUBLIC
     "ISO 8879-1986//ENTITIES   Greek Letters//EN"                 >
<!ENTITY   % ISOgrk2     PUBLIC
     "ISO 8879-1986//ENTITIES Monotoniko Greek//EN"                >
<!ENTITY   % ISOgrk3     PUBLIC
     "ISO 8879-1986//ENTITIES Greek Symbols//EN"                   >
<!ENTITY   % ISOgrk4     PUBLIC
     "ISO 8879-1986//ENTITIES Alternative Greek Symbols//EN"       >
<!ENTITY   % ISOlat1     PUBLIC
     "ISO 8879-1986//ENTITIES Added Latin 1//EN"                   >
<!ENTITY   % ISObox      PUBLIC
     "ISO 8879-1986//ENTITIES Box and Line Drawing//EN"            >
<!ENTITY   % ISOamso     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Ordinary//EN"    >
<!ENTITY   % ISOamsc     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Delimiters//EN"  >

%ISOtech; %ISOpub; %ISOnum; %ISOgrk1; %ISOgrk2; %ISOgrk3;
%ISOgrk4; %ISOlat1; %ISObox; %ISOamso; %ISOamsc;

<!-- =========================================================== -->
<!--     AMM TOP LEVEL STRUCTURE                                 -->
<!-- =========================================================== -->

<!ELEMENT amm       - -  ((title, legalntc?, mfmatr, chapter+)
                         | increv | tr+)
                    +(revst|revend|cocst|cocend|docunit|hotlink)   >

<!ATTLIST amm
          spl       CDATA                             #REQUIRED
          model     CDATA                             #REQUIRED
          oidate    NUMBER                            #REQUIRED
          revdate   NUMBER                            #REQUIRED
          tsn       CDATA                             #REQUIRED
          cus       CDATA                             #IMPLIED
          cusname   CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED
          lang      CDATA                             #REQUIRED
          chg       (N|R|U)                           "N"
          efflen    NUMBER                            #IMPLIED
          efftype   CDATA                             #IMPLIED     >

<!ELEMENT increv    - -  (transltr?, (legalntc?, (chapter
                         | section | subject | pgblk | task
                         | subtask | sheet | graphic | trlist
                         | intro | effxref | sblist | coclist
                         | drindex | hazmtlst | zac | zoning
                         | acclst | glossary)+))                   >

<!ELEMENT tr        - -  (legalntc?, trfmatr, trlist?, (chapter
                         | section+ | subject+ | pgblk+ | task+
                         | subtask+ | sheet+ | graphic+ | intro
                         | effxref | sblist | coclist | drindex
                         | legalntc | hazmtlst | zac | zoning
                         | acclst | glossary))                     >

<!ELEMENT trfmatr   - -  (title, trreason, (%text;)?)              >
<!ATTLIST trfmatr
          trnbr     CDATA                             #REQUIRED
          trdel     CDATA                             #IMPLIED
          trrepl    CDATA                             #IMPLIED
          issdate   NUMBER                            #REQUIRED    >
<!ELEMENT trreason  - -  (#PCDATA)                                 >

<!-- =========================================================== -->
<!--       Legal Notice Information                              -->
<!-- =========================================================== -->

<!ELEMENT legalntc  - -  (exprtcl | cpyrght | proptary | geninfo)+ >
<!ATTLIST legalntc
          %revatt;                                                 >

<!ELEMENT proptary  - -  (fullstmt, partstmt?)                     >
<!ELEMENT fullstmt  - -  (title?, cpyrght?, para+)                 >
<!ELEMENT partstmt  - -  (title?, para+)                           >
<!ELEMENT exprtcl   - -  (para | unlist | numlist | note)+         >
<!ELEMENT cpyrght   - -  (year*, holder*, geninfo)                 >
<!ELEMENT year      - -  (#PCDATA)                                 >
<!ELEMENT holder    - -  (#PCDATA)                                 >
<!ELEMENT geninfo   - -  (para | unlist | numlist | note)+         >

<!-- =========================================================== -->
<!--     AMM FRONT MATTER                                        -->
<!-- =========================================================== -->

<!ELEMENT mfmatr    - -  (transltr?, trlist?, intro, effxref,
                          sblist, coclist?, drindex?, hazmtlst?,
                          zac?, glossary?)                         >
<!ELEMENT transltr  - -  (chgdesc*, title, (prclist1 | %text;))    >
<!ATTLIST transltr
          %revatt;                                                 >
<!ELEMENT trlist    - -  ((%text;)?, (trdata+ | isempty))          >
<!ATTLIST trlist
          %revatt;                                                 >
<!ELEMENT trdata    - -  (trnbr, trstatus, trloc+)                 >
<!ELEMENT intro     - -  (chgdesc*, title, prclist1)               >
<!ATTLIST intro
          %revatt;                                                 >
<!ELEMENT effxref   - -  (chgdesc*, title, (%text;)?, effdata+)    >
<!ATTLIST effxref
          %revatt;                                                 >
<!ELEMENT effdata   - -  (cus?, modtype?, cec, linenbr?, ect?,
                          venbr?, esnbr?, benbr?, msnbr, acn?,
                          operator?, fslgnbr?, cac?, cusaid?)      >
<!ELEMENT ect       - -  (#PCDATA)                                 >
<!ELEMENT esnbr     - -  (#PCDATA)                                 >
<!ELEMENT cusaid    - -  (#PCDATA)                                 >
<!ELEMENT cac       - -  (#PCDATA)                                 >
<!ELEMENT fslgnbr   - -  (#PCDATA)                                 >
<!ELEMENT operator  - -  (#PCDATA)                                 >

<!ELEMENT sblist    - -  (chgdesc*, title, %text;, (sbdata+
                         | isempty))                               >
<!ATTLIST sblist
          %revatt;                                                 >
<!ELEMENT sbdata    - -  (sbnbr?, sbrev?, sbtitle?, sbnrmfr*,
                          eonbr*, atanbr?, mdnbr*, cocnbr*, sc?,
                          aclist*, ics, custeff?)                  >
<!ELEMENT sbnrmfr   - -  (sbnbr, mfr?)                             >
<!ELEMENT mfr       - -  (#PCDATA)                                 >
<!ELEMENT sbrev     - -  (#PCDATA)                                 >
<!ELEMENT aclist    - O  EMPTY                                     >
<!ATTLIST aclist
          status         CDATA                        #IMPLIED
          effrg          CDATA                        #IMPLIED     >

<!ELEMENT custeff   - -  (cus, effrc)+                             >

<!ELEMENT coclist   - -  (chgdesc*, title, %text;, (cocdata+
                         | isempty))                               >
<!ATTLIST coclist
          %revatt;                                                 >
<!ELEMENT cocdata   - -  (cocnbr?, cocrev?, eonbr*, atanbr?, mdnbr*,
                          custeff?, sc?, aclist*, title?, (icdate |
                          ics))                                    >

<!ELEMENT cocrev    - -  (#PCDATA)                                 >
<!ELEMENT icdate    - -  (#PCDATA)                                 >
<!ELEMENT eonbr     - -  (#PCDATA)                                 >

<!ELEMENT drindex   - -  (chgdesc*, title, %text;, drdata+)        >
<!ATTLIST drindex
          %revatt;                                                 >
<!ELEMENT drdata    - - (refext, drdesc, refint+)                  >
<!ELEMENT cus       - -  (#PCDATA)                                 >
<!ELEMENT effrc     - -  (#PCDATA)                                 >
<!ELEMENT modtype   - -  (#PCDATA)                                 >
<!ELEMENT cec       - -  (#PCDATA)                                 >
<!ELEMENT linenbr   - -  (#PCDATA)                                 >
<!ELEMENT venbr     - -  (#PCDATA)                                 >
<!ELEMENT benbr     - -  (#PCDATA)                                 >
<!ELEMENT sc        - -  (#PCDATA)                                 >
<!ELEMENT sbnbr     - -  (#PCDATA)                                 >
<!ELEMENT sbtitle   - -  (#PCDATA)                                 >
<!ELEMENT acn       - -  (#PCDATA)                                 >
<!ELEMENT drdesc    - -  (#PCDATA)                                 >
<!ELEMENT atanbr    - -  (#PCDATA)                                 >
<!ELEMENT mdnbr     - -  (#PCDATA)                                 >
<!ELEMENT cocnbr    - -  (#PCDATA)                                 >
<!ELEMENT ics       - -  (#PCDATA)                                 >
<!ATTLIST ics
          status         CDATA                        #IMPLIED     >
<!ELEMENT msnbr     - -  (#PCDATA)                                 >
<!ELEMENT trnbr     - -  (#PCDATA)                                 >
<!ELEMENT trstatus  - -  (#PCDATA)                                 >
<!ELEMENT trloc     - -  (#PCDATA)                                 >

<!ELEMENT hazmtlst  - -  (title, pretopic*, hazmt+)                >
<!ATTLIST hazmtlst
          %revatt;                                                 >
<!ELEMENT hazmt     - -  (title, warning)                          >
<!ATTLIST hazmt
          id        ID                                #REQUIRED    >

<!-- =========================================================== -->
<!--             Aircraft Zoning and Access                      -->
<!-- =========================================================== -->
<!ELEMENT zac       - -  (chgdesc*, zoning?, acclst?, graphic*)    >
<!ATTLIST zac
          %revatt;                                                 >

<!-- Access description -->
<!ELEMENT acclst    - -  (chgdesc*, title?, (%text;)?, (access+
                         | isempty))                               >
<!ATTLIST acclst
          %revatt;                                                 >
<!ELEMENT access    - -  (effect?, pan, accdata+)                  >
<!ELEMENT accdata   - -  (effect?, zone, accein?, accessto?,
                         fastener?, dd?, openhour?, grphcref*)     >
<!ELEMENT accein    - -  (%ein;)+                                  >
<!ELEMENT accessto  - -  (#PCDATA)                                 >
<!ELEMENT fastener  - -  (fsttype, fstqty)                         >
<!ATTLIST fastener
          hing      %yesorno;                         #IMPLIED     >
<!ELEMENT fsttype   - -  (#PCDATA)                                 >
<!ELEMENT fstqty    - -  (#PCDATA)                                 >

<!ELEMENT dd        - O  EMPTY                                     >
<!ATTLIST dd
          width     NMTOKEN                           #IMPLIED
          length    NMTOKEN                           #IMPLIED
          dia       NMTOKEN                           #IMPLIED
          unit      (ft|in|mm|cm|m)                   #IMPLIED     >
<!ELEMENT openhour  - -  (#PCDATA)                                 >

<!-- zones description -->
<!ELEMENT zoning    - -  (chgdesc*, title?, (%text;)?, (majzone+
                         | isempty))                               >
<!ATTLIST zoning
          %revatt;                                                 >
<!ELEMENT majzone   - -  (effect?, zone, zondata+, subzone*)       >
<!ELEMENT subzone   - -  (effect?, zone, zondata+, speczone*)      >
<!ELEMENT speczone  - -  (effect?, zone, zondata+)                 >
<!ELEMENT zondata   - -  (effect?, zonedesc, side, bndfrom?, bndto?,
                          grphcref*)                               >
<!ELEMENT side      - O  EMPTY                                     >
<!ATTLIST side
          hand      (LH | RH | LR)                    #REQUIRED    >
<!ELEMENT zonedesc  - -  (#PCDATA)                                 >
<!ELEMENT bndfrom   - -  (boundary)+                               >
<!ELEMENT bndto     - -  (boundary)+                               >
<!ELEMENT boundary  - -  (#PCDATA| frame| rib | stnnbr | stgr)*    >
<!ELEMENT frame     - -  (#PCDATA)                                 >
<!ELEMENT stnnbr    - -  (#PCDATA)                                 >
<!ELEMENT rib       - -  (#PCDATA)                                 >
<!ELEMENT stgr      - -  (#PCDATA)                                 >

<!-- =========================================================== -->
<!--                     Glossary                                -->
<!-- =========================================================== -->
<!ELEMENT glossary  - -  ((chgdesc*, title, (%text;)?, glosdata*)
                         | %deleted;)                              >
<!ATTLIST glossary
          oldkey    NAME                              #IMPLIED
          %revatt;                                                 >

<!ELEMENT glosdata  - -  (term, def)                               >
<!ELEMENT term      - -  (#PCDATA)                                 >
<!ELEMENT def       - -  (#PCDATA)                                 >
<!-- =========================================================== -->
<!--     CHAPTER                                                 -->
<!-- =========================================================== -->

<!ELEMENT chapter   - -  ((effect?, chgdesc*, title, section+)
                         | %deleted;)                              >
<!ATTLIST chapter
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          %revatt;                                                 >

<!-- =========================================================== -->
<!--     SECTION                                                 -->
<!-- =========================================================== -->

<!ELEMENT section   - -  ((effect?, chgdesc*, title, subject+)
                         | %deleted;)                              >
<!ATTLIST section
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          %revatt;                                                 >

<!-- =========================================================== -->
<!--     SUBJECT                                                 -->
<!-- =========================================================== -->

<!ELEMENT subject   - -  ((effect?, chgdesc*, title, pgblk+)
                         | %deleted;)                              >
<!ATTLIST subject
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          %revatt;                                                 >

<!-- =========================================================== -->
<!--     PAGEBLOCK                                               -->
<!-- =========================================================== -->

<!ELEMENT pgblk     - -  ((effect, chgdesc*, title, pbfmatr?,
                         regulatory*, (task+ | prclist1)?, graphic*)
                         | %deleted;)                              >
<!ATTLIST pgblk
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          pgblknbr  NUMBER                            #REQUIRED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                 >

<!ELEMENT pbfmatr   - -  (title, %g.r;, (list1 | %text;)) +(effect)>

<!-- =========================================================== -->
<!--     TASK                                                    -->
<!-- =========================================================== -->

<!ELEMENT task      - -  ((effect, chgdesc*, title, %g.r;,
                          regulatory*, %w.c;, note*, assodata?,
                          tfmatr?, topic*, graphic*) | %deleted;)  >
<!ATTLIST task
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          func      CDATA                             #REQUIRED
          seq       CDATA                             #REQUIRED
          confltr   CDATA                             #IMPLIED
          varnbr    NUMBER                            #IMPLIED
          alunqi    CDATA                             #IMPLIED
          pgblknbr  NUMBER                            #REQUIRED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                 >

<!-- =========================================================== -->
<!--     TASK ASSOCIATED DATA                                    -->
<!-- =========================================================== -->

<!ELEMENT assodata  - -  (zonelst?, einlst?, taskreq?, elapstim?,
                          (manhour|lbrhour)?, nbrpers?)            >
<!ELEMENT einlst    - -  (eindata+)                                >
<!ELEMENT eindata   - -  (effect, %ein;)                           >
<!ELEMENT zonelst   - -  (zone+)                                   >
<!ELEMENT taskreq   - O  EMPTY                                     >
<!ATTLIST taskreq
          mechreq   (mech | nomech)                   #IMPLIED
          panreq    (pan | nopan)                     #IMPLIED
          tedreq    (ted | noted)                     #IMPLIED     >

<!ELEMENT elapstim  - -  (#PCDATA)                                 >
<!ELEMENT manhour   - -  (#PCDATA)                                 >
<!ELEMENT lbrhour   - -  (#PCDATA)                                 >
<!ELEMENT nbrpers   - -  (#PCDATA)                                 >

<!-- =========================================================== -->
<!--     TASK ASSOCIATED ELEMENTS                                -->
<!-- =========================================================== -->

<!ELEMENT tfmatr    - -  (pretopic+)                               >
<!ELEMENT pretopic  - -  (title, (%text; | list1))     +(effect)   >
<!ELEMENT topic     - -  (effect?, title, %g.r;, %w.c;, note*,
                          subtask*)                                >

<!-- =========================================================== -->
<!--     SUBTASK                                                 -->
<!-- =========================================================== -->

<!ELEMENT subtask   - -  ((effect, chgdesc*, %g.r;, regulatory*,
                         %w.c;, note*, list1) | %deleted;)
                         +(effect)                                 >
<!ATTLIST subtask
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          func      CDATA                             #REQUIRED
          seq       CDATA                             #REQUIRED
          confltr   CDATA                             #IMPLIED
          varnbr    NUMBER                            #IMPLIED
          alunqi    CDATA                             #IMPLIED
          pgblknbr  NUMBER                            #REQUIRED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                 >

<!-- =========================================================== -->
<!--     PROCEDURE(INC D&O) LIST STRUCTURE                       -->
<!-- =========================================================== -->

<!ELEMENT prclist1  - -  (prcitem1+)                   +(effect)   >
<!ELEMENT prclist2  - -  (prcitem2+)                               >
<!ELEMENT prclist3  - -  (prcitem3+)                               >
<!ELEMENT prclist4  - -  (prcitem4+)                               >
<!ELEMENT prclist5  - -  (prcitem5+)                               >
<!ELEMENT prclist6  - -  (prcitem6+)                               >
<!ELEMENT prclist7  - -  (prcitem7+)                               >

<!ELEMENT prcitem1  - -  (prcitem, prclist2?, graphic*)            >
<!ATTLIST prcitem1
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem2  - -  (prcitem, prclist3?)                      >
<!ATTLIST prcitem2
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem3  - -  (prcitem, prclist4?)                      >
<!ATTLIST prcitem3
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem4  - -  (prcitem, prclist5?)                      >
<!ATTLIST prcitem4
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem5  - -  (prcitem, prclist6?)                      >
<!ATTLIST prcitem5
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem6  - -  (prcitem, prclist7?)                      >
<!ATTLIST prcitem6
          id        ID                                #IMPLIED     >
<!ELEMENT prcitem7  - -  (prcitem)                                 >
<!ATTLIST prcitem7
          id        ID                                #IMPLIED     >

<!ELEMENT prcitem   - -  (title?, regulatory*, (%w.c; | %text;
                         | equlst| cblst)*)                        >

<!-- =========================================================== -->
<!--     STANDARD LISTS                                          -->
<!-- =========================================================== -->
<!ELEMENT list1     - -  (l1item+)                                 >
<!ELEMENT list2     - -  (ltitle?, l2item+)                        >
<!ELEMENT list3     - -  (l3item+)                                 >
<!ELEMENT list4     - -  (l4item+)                                 >
<!ELEMENT list5     - -  (l5item+)                                 >
<!ELEMENT list6     - -  (l6item+)                                 >
<!ELEMENT list7     - -  (l7item+)                                 >

<!ELEMENT l1item    - -  (%w.c;, regulatory*, %text;, ((cblst |
                          list2 | art), note*)*)                   >
<!ATTLIST l1item
          id        ID                             #IMPLIED        >
<!ELEMENT l2item    - -  (%w.c;, regulatory*, %text;,
                          (list3, note*)?)                         >
<!ATTLIST l2item
          id        ID                             #IMPLIED        >
<!ELEMENT l3item    - -  (%w.c;, regulatory*, %text;,
                          (list4, note*)?)                         >
<!ATTLIST l3item
          id        ID                             #IMPLIED        >
<!ELEMENT l4item    - -  (%w.c;, regulatory*, %text;,
                          (list5, note*)?)                         >
<!ATTLIST l4item
          id        ID                             #IMPLIED        >
<!ELEMENT l5item    - -  (%w.c;, regulatory*, %text;,
                          (list6, note*)?)                         >
<!ATTLIST l5item
          id        ID                             #IMPLIED        >
<!ELEMENT l6item    - -  (%w.c;, regulatory*, %text;,
                          (list7, note*)?)                         >
<!ATTLIST l6item
          id        ID                             #IMPLIED        >
<!ELEMENT l7item    - -  (%w.c;, regulatory*, %text;)              >
<!ATTLIST l7item
          id        ID                             #IMPLIED        >

<!-- =========================================================== -->
<!--     REGULATORY                                              -->
<!-- =========================================================== -->
<!ELEMENT regulatory  - - (effect?, regulation+)                   >
<!ELEMENT regulation  - - (effect?, grsymbol?, #PCDATA)            >
<!ATTLIST regulation
          regtype   CDATA                             #REQUIRED
          regsource CDATA                             #IMPLIED
          regvalue  CDATA                             #IMPLIED     >

<!-- =========================================================== -->
<!--     ACTION RESULT TABLE                                     -->
<!-- =========================================================== -->

<!ELEMENT art       - -  (ltitle?, (%w.c;, note*, action)+)        >
<!ELEMENT action    - -  (%text;, result*)                         >
<!ELEMENT result    - -  (%text;)                                  >

<!-- =========================================================== -->
<!--     DATA ASSOCIATED TO EQUIPMENTS                           -->
<!-- =========================================================== -->

<!ELEMENT equlst    - -  (equdata+)                                >
<!ELEMENT equdata   - -  (effect?, %ein;, equname, sftlst?, zone?,
                          pan*, atanbr?)                           >
<!ELEMENT equname   - -  (#PCDATA)                                 >
<!ELEMENT sftlst    - -  (sftdata+)                                >
<!ELEMENT sftdata   - -  (effect?, %ein;, equname, atanbr?)        >

<!-- =========================================================== -->
<!--     CIRCUIT BREAKER TABLE                                   -->
<!-- =========================================================== -->

<!ELEMENT cblst     - -  (cbsublst+)                               >
<!ATTLIST cblst
          chksum    CDATA                             #IMPLIED
          action    CDATA                             #IMPLIED     >
<!ELEMENT cbsublst  - -  (effect?, ((%ein;), equname?)*, cbdata+)  >
<!ATTLIST cbsublst
          chksum    CDATA                             #IMPLIED     >
<!ELEMENT cbdata    - -  (effect?, cb, cbname, pan?, cbloc?)       >
<!ELEMENT cbname    - -  (#PCDATA)                                 >
<!ELEMENT cbloc     - -  (#PCDATA)                                 >

<!-- =========================================================== -->
<!--     TABLE (CELLULAR, CALS BASED)                            -->
<!-- =========================================================== -->

<!ELEMENT table     - -  ((title?, tgroup, ftnote*) | graphic+)
                                                       -(table)    >
<!ATTLIST table
          tabstyle  NMTOKEN                           #IMPLIED
          frame     (top | bottom | topbot | all
                    | sides | none)                   #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          orient    (port|land)                       #IMPLIED
          pgwide    %yesorno;                         #IMPLIED
          id        ID                                #IMPLIED     >

<!ELEMENT tgroup    - O  (colspec*, spanspec*, thead?, tfoot?,
                          tbody)                                   >
<!ATTLIST tgroup
          cols      NUMBER                            #REQUIRED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          align     (left | right | center
                    | justify | char)                 "left"
          charoff   NUTOKEN                           "50"
          char      CDATA                             ""           >

<!ELEMENT colspec   - O  EMPTY                                     >
<!ATTLIST colspec
          colnum    NUMBER                            #IMPLIED
          colname   NMTOKEN                           #IMPLIED
          align     (left | right | center
                    | justify | char)                 #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          colwidth  CDATA                             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED     >

<!ELEMENT spanspec  - O  EMPTY                                     >
<!ATTLIST spanspec
          namest    NMTOKEN                           #REQUIRED
          nameend   NMTOKEN                           #REQUIRED
          spanname  NMTOKEN                           #IMPLIED
          align     (left | right | center
                    | justify | char)                 "center"
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED     >

<!ELEMENT thead     - O  (colspec*, row+)                          >
<!ATTLIST thead
          valign    (top | middle | bottom)           "bottom"     >

<!ELEMENT tfoot     - O  (colspec*, row+)                          >
<!ATTLIST tfoot
          valign    (top | middle | bottom)           "top"        >

<!ELEMENT tbody     - O  (row+)                                    >
<!ATTLIST tbody
          valign    (top | middle | bottom)           "top"        >

<!ELEMENT row       - O  (entry+)                                  >
<!ATTLIST row
          rowsep    %yesorno;                         #IMPLIED     >

<!ELEMENT entry     - O  (regulatory | %text; | %w.c; | graphic)*  >
<!ATTLIST entry
          colname   NMTOKEN                           #IMPLIED
          namest    NMTOKEN                           #IMPLIED
          nameend   NMTOKEN                           #IMPLIED
          spanname  NMTOKEN                           #IMPLIED
          morerows  NUMBER                            "0"
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          rotate    %yesorno;                         "0"
          valign    (top|middle|bottom)               "top"
          align     (left | right | center
                    | justify | char)                 #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED     >

<!ELEMENT ftnote    - -  %text;                                    >
<!ATTLIST ftnote
          ftnoteid  ID                                #REQUIRED    >

<!-- =========================================================== -->
<!--    REFERENCE BLOCK and GRAPHIC REFERENCING MECHANISMS       -->
<!-- =========================================================== -->

<!ELEMENT refblock  - -  (#PCDATA | refint | refext | grphcref)*   >

<!ELEMENT grphcref  - -  (effect?, #PCDATA)                        >
<!ATTLIST grphcref
          refid     IDREF                             #IMPLIED
          sheetnbr  CDATA                             #IMPLIED
          structid  CDATA                             #IMPLIED
          shownow   %yesorno;                         "0"          >

<!ELEMENT graphic   - -  ((effect, chgdesc*, title?, sheet+)
                         | %deleted;)                              >
<!ATTLIST graphic
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #IMPLIED
          sectnbr   NUMBER                            #IMPLIED
          subjnbr   NUMBER                            #IMPLIED
          func      CDATA                             #IMPLIED
          seq       CDATA                             #IMPLIED
          confltr   CDATA                             #IMPLIED
          varnbr    NUMBER                            #IMPLIED
          alunqi    CDATA                             #IMPLIED
          pgblknbr  NUMBER                            #IMPLIED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                 >

<!ELEMENT sheet     - -  ((effect, chgdesc*, title?, gdesc?)
                         | %deleted;)                              >
<!ATTLIST sheet
          gnbr      ENTITY                            #REQUIRED
          cfnbr     ENTITY                            #IMPLIED
          sheetnbr  CDATA                             #IMPLIED
          imgarea   (AP|BP|CP|DL|EL|FP|GP|HL|IL)      #IMPLIED
          %revatt;                                                 >

<!ELEMENT gdesc     - -  (unlist | numlist)                        >

<!-- =========================================================== -->
<!--     NUMBERED & UN-NUMBERED LIST                             -->
<!-- =========================================================== -->

<!ELEMENT unlist    - -  (unlitem+)                                >
<!ATTLIST unlist
          bulltype  (NONE|BULLET|NDASH|MDASH|DIAMOND|ASTERISK
                    |DELTA|SQUARE|SYSTEM)             "SYSTEM"     >

<!ELEMENT unlitem   - -  (para+)                                   >
<!ELEMENT numlist   - -  (numlitem+)                               >
<!ATTLIST numlist
          numtype   (NNP|AUP|NNB|ALB|NNS|RUP|RLP|RUR|RLR
                    |NNR|AUR|ALR)                     "NNP"        >
<!ELEMENT numlitem  - -  (para+)                                   >

<!-- =========================================================== -->
<!--     PARAGRAPH                                               -->
<!-- =========================================================== -->

<!ELEMENT para      - -  (#PCDATA | cb | con | csn | equ | grphcref
                         | (%ein;) | ncon | pan | refext | refint
                         | sub | super | ted | toc | txtgrphc
                         | std | zone| expd | stdname | tor
                         | refblock | toolnbr | refmedia
                         | grsymbol)+                              >

<!-- =========================================================== -->
<!--     PARAGRAPH CONTENTS                                      -->
<!-- =========================================================== -->

<!ELEMENT cb        - -  (#PCDATA)                                 >
<!ATTLIST cb
          cbtype    CDATA                             #IMPLIED
          action    CDATA                             #IMPLIED
          chksum    CDATA                             #IMPLIED     >
<!ELEMENT con       - -  (connbr, conname?, refint?)               >
<!ATTLIST con
          contype   CDATA                             #IMPLIED
          hazd      %yesorno;                         #IMPLIED     >
<!ELEMENT connbr    - -  (#PCDATA)                                 >
<!ELEMENT conname   - -  (#PCDATA)                                 >
<!ELEMENT csn       - -  (#PCDATA)                                 >
<!ELEMENT einmfr    - -  (ein, mfr?)                               >
<!ELEMENT ein       - -  (#PCDATA)                                 >
<!ATTLIST ein
          type      CDATA                             #IMPLIED     >
<!ELEMENT equ       - -  (#PCDATA | sub | super)+                  >
<!ELEMENT ncon      - -  (#PCDATA)                                 >
<!ELEMENT pan       - -  (#PCDATA)                                 >
<!ATTLIST pan
          pantype   CDATA                             #IMPLIED     >

<!ELEMENT refext    - -  (#PCDATA)                                 >
<!ATTLIST refext
          refman    CDATA                             #IMPLIED
          refspl    CDATA                             #IMPLIED
          refmodel  CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED
          refloc    CDATA                             #IMPLIED     >

<!ELEMENT refint    - -  (#PCDATA)                                 >
<!ATTLIST refint
          reftype   CDATA                             #IMPLIED
          refid     IDREF                             #IMPLIED     >

<!ELEMENT refmedia  - -  (#PCDATA)                                 >
<!ATTLIST refmedia
          mednbr    ENTITY                            #REQUIRED    >

<!ELEMENT grsymbol    - O   EMPTY                                  >
<!ATTLIST grsymbol
          gnbr            ENTITY                      #REQUIRED
          reprowid        CDATA                       #IMPLIED
          reprohgt        CDATA                       #IMPLIED
          reproscl        CDATA                       #IMPLIED     >

<!ELEMENT expd      - -  (csn, expdname?, itemnbr?, grphcref?)     >
<!ATTLIST expd
          expdtype  CDATA                             #IMPLIED     >
<!ELEMENT expdname  - -  (#PCDATA)                                 >
<!ELEMENT itemnbr   - -  (#PCDATA)                                 >

<!ELEMENT std       - -  (stdnbr?, stdname)+                       >
<!ELEMENT stdnbr    - -  (#PCDATA)                                 >
<!ELEMENT stdname   - -  (#PCDATA)                                 >
<!ELEMENT sub       - -  (#PCDATA)                                 >
<!ELEMENT super     - -  (#PCDATA)                                 >
<!ELEMENT ted       - -  (toolnbr, toolname)+                      >
<!ELEMENT toolnbr   - -  (#PCDATA)                                 >
<!ELEMENT toolname  - -  (#PCDATA)                                 >

<!ELEMENT tor       - -  (torvalue+)                               >
<!ELEMENT torvalue  - O  EMPTY                                     >
<!ATTLIST torvalue
          min       CDATA                             #REQUIRED
          max       CDATA                             #IMPLIED
          unit      (lbf.in|lbf.ft|m.daN|m.N)         #REQUIRED    >

<!ELEMENT toc       - - (#PCDATA)                                  >
<!ATTLIST toc
          readable  %yesorno;                         "1"          >

<!ELEMENT txtgrphc  - -  (txtline+)                                >
<!ELEMENT txtline   - -  (#PCDATA)                                 >
<!ELEMENT zone      - -  (#PCDATA)                                 >

<!-- =========================================================== -->
<!--     TITLE etc                                               -->
<!-- =========================================================== -->

<!ELEMENT title     - -  (#PCDATA | %ein; | sbnbr | sub | super)+  >
<!ELEMENT ltitle    - -  (#PCDATA)                                 >
<!ELEMENT warning   - -  (%text;)             -(note)  +(effect)   >
<!ELEMENT note      - -  (%text;)             -(note)  +(effect)   >
<!ELEMENT caution   - -  (%text;)             -(note)  +(effect)   >

<!-- =========================================================== -->
<!--     MISCELLANEOUS CONSTRUCTIONS TO:                         -->
<!--     MARK EFFECTIVITIES AND DOCUMENT UNITS                   -->
<!--     MARK DELETED AND REVISED ELEMENTS                       -->
<!--     SUPPORT CROSS-REFERENCING MECHANISMS                    -->
<!-- =========================================================== -->

<!ELEMENT effect    - -  ((sbeff | coceff)*)                       >
<!ATTLIST effect
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED     >

<!ELEMENT sbeff     - O  EMPTY                                     >
<!ATTLIST sbeff
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED
          sbnbr     CDATA                             #REQUIRED
          sbcond    CDATA                             #REQUIRED
          sbrev     CDATA                             #IMPLIED     >

<!ELEMENT coceff    - O  EMPTY                                     >
<!ATTLIST coceff
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED
          cocnbr    CDATA                             #REQUIRED
          coccond   CDATA                             #IMPLIED
          cocrev    CDATA                             #IMPLIED     >

<!ELEMENT deleted   - O EMPTY                                      >
<!ELEMENT isempty   - O EMPTY                                      >
<!ELEMENT revst     - O EMPTY                                      >
<!ELEMENT revend    - O EMPTY                                      >
<!ELEMENT cocst     - O EMPTY                                      >
<!ELEMENT cocend    - O EMPTY                                      >
<!ELEMENT chgdesc   - - (#PCDATA)                                  >
<!ATTLIST chgdesc
          chgdtype       (edit|tech|effect|sgml)      #IMPLIED     >
<!ELEMENT hotlink   - O  EMPTY                                     >
<!ATTLIST hotlink
          targetid     CDATA                          #IMPLIED
          targetrefid  CDATA                          #IMPLIED     >

<!ELEMENT docunit   - O  EMPTY                                     >
<!ATTLIST docunit
          docunbr   CDATA                             #IMPLIED     >
<!--   ]>   -->
