doctypes/ATA_iSpec2200_2003.1/eipc.dtd

<!-- ============================================================== -->
<!--                      DTD header                                -->
<!-- ============================================================== -->
<!-- This DTD is for an Engine Illustrated Parts Catalog            -->
<!--                                                                -->
<!-- DTD Reference : -//ATA-TEXT//DTD EIPC-VER13-LEVEL2//EN         -->
<!-- Level         : 2                                              -->
<!-- Rev Date      : 07 Jul 2023                                    -->
<!-- Parsed Date   : 07 Jul 2023                                    -->
<!--                                                                -->
<!-- Highlights    :                                                -->
<!-- 1) Increased the "VER" number to 13.0.                         -->
<!-- 2) changed element TR structure: element TRLIST? moved out     -->
<!--    of the choice (CR-2023-01).                                 -->
<!-- 3) Added optional and repeatable CHGDESC element to LEGALNTC,  -->
<!--    INTRO,VENDLIST, GLOSSARY, OPTLIST, SBLIST, EFFCLIST, NUTOPT -->
<!--    CLMPOPT, MATLIST, APPENDIX, CHAPTER, SECTION, UNIT, FIGURE  -->
<!--    (CR2023-13)                                                 -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- 1) Increased the "VER" number to 12.0.                         -->
<!-- 2) Added ID optional attribute to LxITEM elements              -->
<!--    (CR-2020-12).                                               -->
<!-- 3) Added optional TRANSLTR to MFMATR element structure.        -->
<!--    (CR-2021-29_2200_EIPC-mfmatr)                               -->
<!-- 4) Added optional TRLIST to MFMATR element structure.          -->
<!--    Added optional TRLIST element to TR choices.                -->
<!--    (CR-2021-32_2200_EIPC-TR)                                   -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- 1) Increased the "VER" number to 11.0.                         -->
<!-- 2) New REGULATORY element added to FIGURE, ITEM, PART and      -->
<!--    ITEMSPEC elements (CR 2018-88)                              -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- 1) Increased the "VER" number to 10.0.                         -->
<!-- 2) Added optional OPTMFR element to the part element           -->
<!--    (CR-2015-02).                                               -->
<!-- 3) Added RPS and SDES optional elements to ITEMSPEC element    -->
<!--    (CR-2015-20).                                               -->
<!-- 4) CHGDTYPE optional attribute added to CHGDESC (CR-2016-02)   -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- 1) Increased the "VER" number to 9.0.                          -->
<!-- 2) RONTYPE optional attribute added to the RON element         -->
<!--    (CR-2014-03).                                               -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- 1) Formatting changes made for readability.                    -->
<!-- 2) Increased the "VER" number to 8.0.                          -->
<!-- 3) Added optional LEGALNTC element prior to TRFMATR within the -->
<!--    TR element structure (CR-2007-14-legalntc).                 -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- 1) Editorial improvements of notations for readability.        -->
<!-- 2) Increased the version number to 7.1                         -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- Rev Date     : 4 Jan 2006                                      -->
<!--  1) Added new SPL and OSC elements to PART.                    -->
<!--     (CR AIB.IPC.001.2005)                                      -->
<!--  2) Added new MDTY element  to ITEMSPEC.                       -->
<!--     (CR AIB.IPC.002.2005)                                      -->
<!--  3) Increased the version number to 7.0                        -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- Rev Date     : 7 Dec 2004                                      -->
<!-- 1) Editorial improvements of notations for readability.        -->
<!-- 2) Increased the version number to 6.1                         -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- Rev Date     : 17 Nov 2004                                     -->
<!-- 1) Added attribute CFNBR to SHEET for companion file           -->
<!--    referencing. Added gcf notation definition.                 -->
<!--    (CR AIB.GRAPHIC.001.2004)                                   -->
<!-- 2) Added new REFMEDIA element to reference a media file.       -->
<!--    Added PDF, PNG, JPEG, VRML, MPEG and MP3 notations.         -->
<!--    (CR 2004-Media-001).                                        -->
<!-- 3) Added EFFLEN and EFFTYPE attribute to root element.         -->
<!--    (CR AIB.TRAN.003.2004)                                      -->
<!-- 4) Added GRSYMBOL element to PARA content to reference inline  -->
<!--    graphics (CR inline graphics).                              -->
<!-- 5) Increased the "VER-REV" number to 6.0.                      -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- Rev Date     : 23 Jan 2004                                     -->
<!--  1) Added attributes COCCOND and COCREV to element COCEFF.     -->
<!--     Aligns the COCEFF with the SBEFF attribute structure       -->
<!--     and provides a means for reporting COCEFF status. To       -->
<!--     keep the DTD backwards compatible the attribute is         -->
<!--     IMPLIED. Added to all ATA DTDs with COCEFF.                -->
<!--     Change per ATA approved CR BOE.WM.002.2003.                -->
<!--  2) Added attribute SBCOND to element SBEFF for alignment      -->
<!--     with other ATA DTD SBEFF structures. The attribute SBCOND  -->
<!--     is IMPLIED for backwards compatibility.                    -->
<!--     Change per ATA approved CR BOE.WM.002.2003.                -->
<!--  3) Increased the "VER-REV" number to 5.2 (ei020502.dtd).      -->
<!--  4) Made editorial improvements for readability.               -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- Rev Date     : 20 Jan 2004                                     -->
<!--  1) Added attribute TYPE to EIN element (CR 2002-WM-002)       -->
<!--  2) Added attribute SYM to FIGURE (CR AIB.IPC.006.2003)        -->
<!--  3) Added optianal element SYM to ITEMSPEC content             -->
<!--     (CR AIB.IPC.006.2003)                                      -->
<!--  4) Increased the "VER-REV" number to 5.1 (ei020501.dtd).      -->
<!--  5) Made editorial improvements for readability.               -->
<!--                                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- Rev Date     : 04 Dec 2003                                     -->
<!--  1) Added TR (Temporary Revision) element structure to the     -->
<!--     DTD. This would allow the data producer to provide SGML    -->
<!--     TRs separate of the regular scheduled revision cycle.      -->
<!--     And it would align the EIPC DTD with the AIPC DTD and      -->
<!--     other ATA DTDs. (Boeing CR 2003-AIPC-003).                 -->
<!--  2) Added INTRO and other Front Matter structures to TR        -->
<!--     choices per CR BOE-Tran-001-2003.                          -->
<!--  3) Incorporated ISObox, ISOamso & ISOamsc per ATA approved    -->
<!--     DTD CR 2003-All-001.                                       -->
<!--  4) Increased the "VER" number to 5 (ei020500.dtd).            -->
<!--  5) Made some editorial improvements for readability.          -->
<!--                                                                -->
<!-- Highlights   :                                                 -->
<!-- Rev Date     : 04 Dec 2001                                     -->
<!--  1) Changed TABLE ENTRY to "*" optional repeating to avoid     -->
<!--     empty tags <para> </para> for blank table cell entries.    -->
<!--  2) Added HZMTLST as choice to INCREV and TR.                  -->
<!--  3) Increased the "VER-REV" number to 4.1 (ei020401.dtd).      -->
<!--  4) Made some editorial improvements for readability.          -->
<!--                                                                -->
<!-- Highlights   :                                                 -->
<!-- Rev Date     : 20 Jun 2001                                     -->
<!--  1) Added new elements SUB & SUPER to PARA and TITLE with      -->
<!--     a content of #PCDATA.                                      -->
<!--  2) Increased the "VER" number to 4  (ei020400.dtd).           -->
<!--  4) Made some editorial improvements for readability.          -->
<!--  NOTE: All other approved ATA CRs were not added because       -->
<!--  of the DTD itended purpose and functionality.                 -->
<!--                                                                -->
<!-- Highlights   :                                                 -->
<!--   1) Added entities ISOgrk2,3,4 and ISOlat1.                   -->
<!--   2) Added optional LEGALNTC (Legal Notice) element to top     -->
<!--      element structure.                                        -->
<!--   3) Added implied attribute IMGAREA to SHEET.                 -->
<!--   4) Increased version to 3.0                                  -->
<!--                                                                -->
<!-- Version      : Version 2.0                                     -->
<!-- Rev date     : Feb 13, 1998   9:15 AM                          -->
<!-- Highlights   : Many changes made to reflect engine             -->
<!--                 manufacturer data requirements and to use      -->
<!--                 the same structures as the engine manual       -->
<!--                 DTD where possible..                           -->
<!--                                                                -->
<!-- ============================================================== -->

<!-- DOCTYPE eipc   [ -->
<!-- The following set of declarations may be referred to
    using the public entity as follows:
<!DOCTYPE eipc PUBLIC
    "-//ATA-TEXT//DTD EIPC-VER13-LEVEL2//EN" [ ]>                   -->
<!--                                                                -->
<!-- ============================================================== -->
<!--                           NOTATIONS                            -->
<!-- ============================================================== -->
<!--                                                                -->
<!NOTATION cgm       PUBLIC
    "-//USA-DOD//NOTATION Computer Graphics Metafile//EN"             >

<!NOTATION ccitt4 PUBLIC
    "-//USA-DOD//NOTATION CCITT Group 4 Facsimile//EN"                >

<!NOTATION gcf PUBLIC
 "-//ATA-TEXT//NOTATION Graphic Companion File//EN"                   >

<!NOTATION pdf PUBLIC
 "-//Adobe Inc.//NOTATION Portable Document Format//EN"               >

<!NOTATION png PUBLIC
 "-//W3C//NOTATION Portable Network Graphics//EN"                     >

<!NOTATION jpeg PUBLIC
 "+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Joint
  Photographic Experts Group Raster//EN"                              >

<!NOTATION vrml PUBLIC
 "-//ATA-TEXT//NOTATION Virtual Reality Modeling Language//EN"        >

<!NOTATION mpeg PUBLIC
 "-//ATA-TEXT//NOTATION Motion Pictures Expert Group//EN"             >

<!NOTATION mp3 PUBLIC
 "-//ATA-TEXT//NOTATION Motion Pictures Expert Group, Audio
  Layer 3//EN"                                                        >
<!--                                                                -->
<!-- ============================================================== -->
<!--                           ENTITIES                             -->
<!-- ============================================================== -->
<!--                                                                -->
<!ENTITY  % text     "(para | table | unlist | numlist)*"             >

<!ENTITY  % w.c      "(warning*, caution*)"                           >

<!ENTITY  % yesorno  "NUMBER"                                         >

<!ENTITY  % revatt
           "chg       (N | D | R | I | U)             #REQUIRED
            key       ID                              #REQUIRED
            revdate   NUMBER                          #REQUIRED"      >

<!ENTITY   % ISOtech      PUBLIC
     "ISO 8879-1986//ENTITIES   General Technical//EN"                >
<!ENTITY   % ISOpub      PUBLIC
     "ISO 8879-1986//ENTITIES Publishing//EN"                         >
<!ENTITY   % ISOnum      PUBLIC
   "ISO 8879-1986//ENTITIES   Numeric and Special Graphic//EN"        >
<!ENTITY   % ISOgrk1     PUBLIC
     "ISO 8879-1986//ENTITIES   Greek Letters//EN"                    >
<!ENTITY   % ISOgrk2     PUBLIC
     "ISO 8879-1986//ENTITIES Monotoniko Greek//EN"                   >
<!ENTITY   % ISOgrk3     PUBLIC
     "ISO 8879-1986//ENTITIES Greek Symbols//EN"                      >
<!ENTITY   % ISOgrk4     PUBLIC
     "ISO 8879-1986//ENTITIES Alternative Greek Symbols//EN"          >
<!ENTITY   % ISOlat1     PUBLIC
     "ISO 8879-1986//ENTITIES Added Latin 1//EN"                      >
<!ENTITY   % ISObox      PUBLIC
     "ISO 8879-1986//ENTITIES Box and Line Drawing//EN"               >
<!ENTITY   % ISOamso     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Ordinary//EN"       >
<!ENTITY   % ISOamsc     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Delimiters//EN"     >

%ISOtech; %ISOpub; %ISOnum; %ISOgrk1; %ISOgrk2; %ISOgrk3;
%ISOgrk4; %ISOlat1; %ISObox; %ISOamso; %ISOamsc;

<!-- ============================================================== -->
<!--              EIPC  TOP LEVEL STRUCTURE                         -->
<!-- ============================================================== -->

<!ELEMENT eipc   - -  ((title, legalntc?, mfmatr, dplist)
                      | increv | tr+)
                      +(revst | revend | cocst | cocend | hotlink)    >
<!ATTLIST eipc
          model     CDATA                             #REQUIRED
          oidate    NUMBER                            #REQUIRED
          docnbr    CDATA                             #IMPLIED
          cus       CDATA                             #IMPLIED
          cusname   CDATA                             #IMPLIED
          tsn       CDATA                             #REQUIRED
          lang      CDATA                             #REQUIRED
          revdate   NUMBER                            #REQUIRED
          spl       CDATA                             #REQUIRED
          chg       (N|R|U)                           #REQUIRED
          efflen    NUMBER                            #IMPLIED
          efftype   CDATA                             #IMPLIED        >

<!-- ============================================================== -->
<!--              INCREMENTAL REVISION                              -->
<!-- ============================================================== -->

<!ELEMENT increv    - - (transltr?, legalntc?, (intro | appendix
                        | optlist | nutopt | matlist | vendlist
                        | sblist | clmpopt | glossary | effclist
                        | chapter | section | unit | figure | sheet
                        | graphic)+)                                  >

<!ELEMENT tr        - - (legalntc?, trfmatr, trlist?, (chapter
                        | section+ | unit+ | figure+ | legalntc
                        | intro | vendlist | glossary | optlist
                        | sblist | effclist | nutopt | clmpopt
                        | matlist | appendix | sheet+ | graphic))     >

<!ELEMENT trfmatr   - -  (title, trreason?, (%text;)?)                >
<!ATTLIST trfmatr
          trnbr     CDATA                             #REQUIRED
          trdel     CDATA                             #IMPLIED
          trrepl    CDATA                             #IMPLIED
          issdate   CDATA                             #IMPLIED        >

<!ELEMENT trreason  - -  (#PCDATA)                                    >

<!-- ============================================================== -->
<!--       Legal Notice Information                                 -->
<!-- ============================================================== -->

<!ELEMENT legalntc  - - (chgdesc*, (exprtcl | cpyrght | proptary 
                        | geninfo)+)                                  >
<!ATTLIST legalntc
          %revatt;                                                    >

<!ELEMENT proptary  - - (fullstmt, partstmt?)                         >
<!ELEMENT fullstmt  - - (title?, cpyrght?, para+)                     >
<!ELEMENT partstmt  - - (title?, para+)                               >
<!ELEMENT exprtcl   - - (para | unlist | numlist | note)+             >
<!ELEMENT cpyrght   - - (year*, holder*, geninfo)                     >
<!ELEMENT year      - - (#PCDATA)                                     >
<!ELEMENT holder    - - (#PCDATA)                                     >
<!ELEMENT geninfo   - - (para | unlist | numlist | note)+             >

<!-- ============================================================== -->
<!--                    FRONT MATTER                                -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT mfmatr    - -  (transltr?, trlist?, intro, (vendlist
                         | glossary | optlist | sblist | effclist
                         | nutopt | clmpopt | matlist | appendix)+)   >
<!--                                                                -->
<!ELEMENT trlist    - -  (title, (%text;)*, (trdata+ | isempty))      >
<!ATTLIST trlist
          %revatt;                                                    >

<!ELEMENT trdata    - -  (trnbr, trstatus, trloc+)                    >
<!ELEMENT trnbr     - -  (#PCDATA)                                    >
<!ELEMENT trstatus  - -  (#PCDATA)                                    >
<!ELEMENT trloc     - -  (#PCDATA)                                    >
<!--                                                                -->
<!ELEMENT intro     - -  (chgdesc*, title, ((title?, %text;)+ | list1),
                          graphic*)                                   >
<!ATTLIST intro
          %revatt;                                                    >

<!ELEMENT transltr  - -  (chgdesc*, title, (%text;))+                 >
<!ATTLIST transltr
          oldkey    NAME                              #IMPLIED
          %revatt;                                                    >
<!ELEMENT chgdesc   - -  (#PCDATA)                                    >
<!ATTLIST chgdesc
          chgdtype        (edit|tech|effect|sgml)     #IMPLIED        >
<!--                                                                -->
<!ELEMENT vendlist  - -  (chgdesc*, title, %text;, vendata+)          >
<!ATTLIST vendlist
          %revatt;                                                    >
<!ELEMENT vendata   - -  (mfr, mad+)                                  >
<!ELEMENT mfr       - -  (#PCDATA)                                    >
<!ELEMENT mad       - -  (madline | phone | fax | url | email
                         | mfrcont)+                                  >
<!ATTLIST mad
          mfropt    CDATA                             #IMPLIED        >
<!ELEMENT madline   - -  (#PCDATA)                                    >
<!ELEMENT phone     - -  (#PCDATA)                                    >
<!ELEMENT fax       - -  (#PCDATA)                                    >
<!ELEMENT url       - -  (#PCDATA)                                    >
<!ELEMENT email     - -  (#PCDATA)                                    >
<!ELEMENT mfrcont   - -  (#PCDATA)                                    >
<!--                                                                -->
<!ELEMENT glossary  - -  (chgdesc*, title, %text;, glosdata+)         >
<!ATTLIST glossary
          %revatt;                                                    >
<!ELEMENT glosdata  - -  (term, def)                                  >
<!ELEMENT term      - -  (#PCDATA)                                    >
<!ELEMENT def       - -  (#PCDATA)                                    >
<!--                                                                -->
<!ELEMENT optlist   - -  (chgdesc*, title?, %text;, optdata+)         >
<!ATTLIST optlist
          %revatt;                                                    >
<!ELEMENT optdata   - -  (pnr, kwd, (lookdif?, pnr)+)                 >
<!ELEMENT lookdif   - -  (#PCDATA)                                    >
<!--                                                                -->
<!ELEMENT sblist    - -  (chgdesc*, title, %text;, sbdata*)           >
<!ATTLIST sblist
          %revatt;                                                    >
<!ELEMENT sbdata    - -  (sbnbr, issdate?, ics?)                      >
<!ELEMENT sbnbr     - -  (#PCDATA)                                    >
<!ATTLIST sbnbr
          sbtype    CDATA                             #IMPLIED
          sbcat     %yesorno;                         "0"
          sbpart    CDATA                             #IMPLIED        >
<!--                                                                -->
<!ELEMENT issdate   - -  (#PCDATA)                                    >
<!ELEMENT ics       - -  (#PCDATA)                                    >
<!ELEMENT nutopt    - -  (chgdesc*, title?, %text;, option+)          >
<!ATTLIST nutopt
          %revatt;                                                    >
<!ELEMENT option    - -  (pnr, detail+)                               >
<!ELEMENT detail    - -  (pnr, nom, mfr?, csd?)                       >
<!--                                                                -->
<!ELEMENT effclist  - -  (chgdesc*,title, effcdata+)                  >
<!ATTLIST effclist
          %revatt;                                                    >
<!ELEMENT effcdata  - -  (effcode, effect, effcdesc, effcloc*)        >
<!ELEMENT effcloc   - O   EMPTY                                       >
<!ATTLIST effcloc
          chapnbr   NUMBER                            #IMPLIED
          sectnbr   NUMBER                            #IMPLIED
          unitnbr   NUMBER                            #IMPLIED
          fignbr    NUTOKEN                           #IMPLIED
          itemnbr   NUTOKEN                           #IMPLIED        >
<!ELEMENT effcode   - -  (#PCDATA)                                    >
<!ELEMENT effcdesc  - -  (#PCDATA)                                    >
<!--                                                                -->
<!ELEMENT clmpopt   - -  (chgdesc*, title, %text;)                    >
<!ATTLIST clmpopt
          %revatt;                                                    >
<!--                                                                -->
<!ELEMENT matlist   - -  (chgdesc*, title, %text;)+                   >
<!ATTLIST matlist
          %revatt;                                                    >

<!ELEMENT appendix  - -  (chgdesc*, title, (( title?, %text;)+ 
                          | list1),graphic*)                          >
<!ATTLIST appendix
          appnbr    CDATA                             #REQUIRED
          %revatt;                                                    >
<!--                                                                -->
<!-- ============================================================== -->
<!--                        DETAIL PARTS LIST                       -->
<!--  Contains all the information associated with an item in       -->
<!--  the Detailed Parts List.                                      -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT dplist    - -  (chapter+)                                   >

<!ELEMENT chapter   - -  ((effect?, chgdesc*, title, section+) 
                         | deleted)                                   >
<!ATTLIST chapter
          chapnbr   NUMBER                            #REQUIRED
          %revatt;                                                    >
<!--                                                                -->
<!ELEMENT section   - -  ((effect?, chgdesc*, title?, unit+) 
                         | deleted)                                   >
<!ATTLIST section
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          %revatt;                                                    >
<!--                                                                -->
<!ELEMENT unit      - -  ((effect?, chgdesc*, title?, figure+) 
                         | deleted)                                   >
<!ATTLIST unit
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          unitnbr   NUMBER                            #REQUIRED
          %revatt;                                                    >
<!--                                                                -->
<!ELEMENT figure    - -  ((effect?, chgdesc*, regulatory*, title, 
                         graphic, (prtlist | %text;)+) | deleted)     >
<!ATTLIST figure
          sym       %yesorno;                         #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          unitnbr   NUMBER                            #REQUIRED
          fignbr    NUTOKEN                           #REQUIRED
          %revatt;                                                    >
<!--                                                                -->
<!ELEMENT prtlist   - - (((effect?, %text;) | item)+)                 >
<!--                                                                -->
<!ELEMENT item      - - ((effect?, regulatory*, part, itemspec)+
                        | deleted)                                    >
<!ATTLIST item
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          unitnbr   NUMBER                            #REQUIRED
          fignbr    NUTOKEN                           #REQUIRED
          itemnbr   NUTOKEN                           #REQUIRED
          attach    %yesorno;                         "0"
          illusind  %yesorno;                         "1"
          indent    NUMBER                            #IMPLIED
          transport %yesorno;                         "0"
          key       ID                                #REQUIRED       >

<!-- ============================================================== -->
<!--                       PART                                     -->
<!-- ============================================================== -->
<!ELEMENT part      - -  (pnr, nom, regulatory*, (np | matl | refint
                         | refext| csd | afp | opn | optmfr |ee | sp
                         | alprtnbr | mfr| dd | cusnom | venptnbr
                         | osc | spl)*)                               >
<!ATTLIST part
          mp        CDATA                             #IMPLIED
          leadtime  CDATA                             #IMPLIED
          propart   CDATA                             #IMPLIED        >
<!--                                                                -->
<!ELEMENT pnr       - -  (#PCDATA)                                    >
<!ELEMENT np        - -  (#PCDATA)                                    >
<!ELEMENT matl      - -  (#PCDATA)                                    >
<!ELEMENT csd       - -  (#PCDATA)                                    >
<!ELEMENT afp       - -  (#PCDATA)                                    >
<!ELEMENT opn       - -  (#PCDATA)                                    >
<!ELEMENT optmfr    - -  (opt, mfr?)                                  >
<!ELEMENT opt       - -  (#PCDATA)                                    >
<!ELEMENT ee        - -  (#PCDATA)                                    >
<!ELEMENT sp        - -  (#PCDATA)                                    >
<!ELEMENT alprtnbr  - -  (#PCDATA)                                    >
<!ELEMENT dd        - -  (#PCDATA)                                    >
<!ELEMENT kwd       - -  (#PCDATA)                                    >
<!ELEMENT adt       - -  (#PCDATA)                                    >
<!ELEMENT cusnom    - -  (#PCDATA)                                    >
<!ELEMENT venptnbr  - -  (#PCDATA)                                    >
<!ELEMENT osc       - -  (#PCDATA)                                    >
<!ELEMENT spl       - -  (#PCDATA)                                    >

<!ELEMENT nom       - -  (kwd, adt?)                                  >
<!ATTLIST nom
          toc       %yesorno;                         "0"             >

<!-- ============================================================== -->
<!--                       ITEMSPEC                                 -->
<!-- ============================================================== -->
<!ELEMENT itemspec  - -  (upa, sym?, regulatory*, (symbol | tqe | sftq
                         | sfn | msc | effcode | os | us| uoa | refint
                         | refext | uwp | apn | rp | rps| sd | sdes
                         |rwk | sbnbr | ron | ein | or | repnbrs
                         | mdty)*)                      +(effect)     >
<!--                                                                -->
<!ELEMENT sym       - O  EMPTY                                        >
<!ATTLIST sym
          side      (LH|RH|LO|RO|LR)                  #IMPLIED        >

<!ELEMENT symbol    - -  (#PCDATA)                                    >
<!ELEMENT sftq      - -  (#PCDATA)                                    >
<!ELEMENT sfn       - -  (#PCDATA)                                    >
<!ELEMENT uoa       - -  (#PCDATA)                                    >
<!ELEMENT upa       - -  (#PCDATA)                                    >
<!ELEMENT tqe       - -  (#PCDATA)                                    >
<!ELEMENT uwp       - -  (#PCDATA)                                    >
<!ELEMENT apn       - -  (#PCDATA)                                    >
<!ELEMENT rwk       - -  (#PCDATA)                                    >
<!ELEMENT ein       - -  (#PCDATA)                                    >
<!ATTLIST ein
          type      CDATA                             #IMPLIED        >
<!ELEMENT rp        - -  (#PCDATA)                                    >
<!ELEMENT rps       - -  (#PCDATA)                                    >
<!ELEMENT sd        - -  (#PCDATA)                                    >
<!ELEMENT sdes      - -  (#PCDATA)                                    >
<!ELEMENT repnbrs   - -  (#PCDATA)                                    >
<!--                                                                -->
<!ELEMENT os        - O   EMPTY                                       >
<!ELEMENT us        - O   EMPTY                                       >
<!ELEMENT ron       - O   EMPTY                                       >
<!ATTLIST ron
          rontype   CDATA                             #IMPLIED        >
<!ELEMENT msc       - -  (para)                                       >
<!ELEMENT or        - O   EMPTY                                       >
<!ATTLIST or
          interchg  %yesorno;                         "0"             >

<!ELEMENT mdty       - O  EMPTY                                       >
<!ATTLIST mdty
          mdtytype   CDATA                            #IMPLIED        >

<!--                                                                -->
<!-- ============================================================== -->
<!--         INTERNAL & EXTERNAL CROSS REFERENCE                    -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT refext    - -  (#PCDATA)                                    >
<!ATTLIST refext
          refloc    CDATA                             #IMPLIED
          refmodel  CDATA                             #IMPLIED
          refspl    CDATA                             #IMPLIED
          refman    CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED        >
<!--                                                                -->
<!ELEMENT refint    - -  (#PCDATA)                                    >
<!ATTLIST refint
          refid     IDREF                             #REQUIRED
          reftype   CDATA                             #IMPLIED        >

<!ELEMENT refmedia - - (#PCDATA)                                      >
<!ATTLIST refmedia
          mednbr    ENTITY                            #REQUIRED       >


<!-- ============================================================== -->
<!--                         GRAPHIC                                -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT graphic   - -   ((effect?, title?, sheet+) | deleted)       >
<!ATTLIST graphic
          chapnbr   NUMBER                            #IMPLIED
          sectnbr   NUMBER                            #IMPLIED
          unitnbr   NUMBER                            #IMPLIED
          fignbr    NUTOKEN                           #IMPLIED
          %revatt;                                                    >
<!--                                                                -->
<!ELEMENT sheet     - -  (effect?, ((title?, gdesc?) | deleted))      >
<!ATTLIST sheet
          gnbr      ENTITY                            #REQUIRED
          cfnbr     ENTITY                            #IMPLIED
          sheetnbr  CDATA                             #REQUIRED
          imgarea   (AP|BP|CP|DL|EL|FP|GP|HL|IL)      #IMPLIED
          %revatt;                                                    >
<!--                                                                -->
<!ELEMENT gdesc     - -  (effect?, %text;)                            >
<!--                                                                -->
<!ELEMENT grsymbol   - O  EMPTY                                       >
<!ATTLIST grsymbol
          gnbr          ENTITY                        #REQUIRED
          reprowid      CDATA                         #IMPLIED
          reprohgt      CDATA                         #IMPLIED
          reproscl      CDATA                         #IMPLIED        >
<!-- ============================================================== -->
<!--                     GRPHCREF                                   -->
<!-- ============================================================== -->
<!ELEMENT grphcref  - -  (effect?, #PCDATA)                           >
<!ATTLIST grphcref
          refid     IDREF                             #REQUIRED
          sheetnbr  CDATA                             #IMPLIED
          structid  CDATA                             #IMPLIED
          shownow   %yesorno;                         "0"             >
<!--                                                                -->
<!-- ============================================================== -->
<!--               NUMBERED AND UN-NUMBERED LISTS                   -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT unlist    - -  (unlitem+)                                   >
<!ATTLIST unlist
          bulltype  (NONE | BULLET | NDASH | MDASH
                     | DIAMOND | ASTERISK| DELTA
                     | SQUARE | SYSTEM)               "SYSTEM"        >
<!--                                                                -->
<!ELEMENT unlitem   - -  (para+)                                      >
<!--                                                                -->
<!ELEMENT numlist   - -  (numlitem+)                                  >
<!ATTLIST numlist
          numtype   (NNP | AUP | NNB | ALB | NNS | ALS
                    | DBR | RUP | RLP | RUR | RLR | NNR
                    | AUR | ALR)                      "NNP"           >
<!--                                                                -->
<!ELEMENT numlitem  - -  (para+)                                      >
<!ATTLIST numlitem
          label     CDATA                             #IMPLIED        >
<!--                                                                -->
<!-- ============================================================== -->
<!--                        PARAGRAPH                               -->
<!-- ============================================================== -->
<!ELEMENT para      - -  (#PCDATA  | txtgrphc | grphcref | refint
                         | refext | pnr | sub | super | refmedia
                         | grsymbol)+                                 >
<!--                                                                -->
<!ELEMENT txtgrphc  - -  (txtline+)                                   >
<!ELEMENT txtline   - -  (#PCDATA)                                    >
<!ELEMENT sub       - -  (#PCDATA)                                    >
<!ELEMENT super     - -  (#PCDATA)                                    >
<!--                                                                -->
<!-- ============================================================== -->
<!--                  STANDARD LISTS                                -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT list1     - - (l1item+)                                     >
<!ELEMENT list2     - - (l2item+)                                     >
<!ELEMENT list3     - - (l3item+)                                     >
<!ELEMENT list4     - - (l4item+)                                     >
<!ELEMENT list5     - - (l5item+)                                     >
<!ELEMENT list6     - - (l6item+)                                     >
<!ELEMENT list7     - - (l7item+)                                     >
<!--                                                                -->
<!ELEMENT l1item    - - ((%w.c;), (%text;), (list2, note*)?)          >
<!ATTLIST l1item
          id        ID                             #IMPLIED           >
<!ELEMENT l2item    - - ((%w.c;), (%text;), (list3, note*)?)          >
<!ATTLIST l2item
          id        ID                             #IMPLIED           >
<!ELEMENT l3item    - - ((%w.c;), (%text;), (list4, note*)?)          >
<!ATTLIST l3item
          id        ID                             #IMPLIED           >
<!ELEMENT l4item    - - ((%w.c;), (%text;), (list5, note*)?)          >
<!ATTLIST l4item
          id        ID                             #IMPLIED           >
<!ELEMENT l5item    - - ((%w.c;), (%text;), (list6, note*)?)          >
<!ATTLIST l5item
          id        ID                             #IMPLIED           >
<!ELEMENT l6item    - - ((%w.c;), (%text;), (list7, note*)?)          >
<!ATTLIST l6item
          id        ID                             #IMPLIED           >
<!ELEMENT l7item    - - ((%w.c;), (%text;))                           >
<!ATTLIST l7item
          id        ID                             #IMPLIED           >
<!--                                                                -->
<!-- ============================================================== -->
<!--                  HOT LINK                                      -->
<!--  Retrieval engine's cross reference mechanism                  -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT hotlink   - O EMPTY                                         >
<!--                                                                -->
<!ATTLIST hotlink
          targetid      CDATA                         #IMPLIED
          targetrefid   CDATA                         #IMPLIED        >
<!-- ============================================================== -->
<!--                     TITLE                                      -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT title     - -  (#PCDATA | sub | super)+                     >
<!--                                                                -->
<!-- ============================================================== -->
<!--                  MARK REVISED ELEMENTS                         -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT revst     - O   EMPTY                                       >
<!ELEMENT revend    - O   EMPTY                                       >
<!ELEMENT cocst     - O   EMPTY                                       >
<!ELEMENT cocend    - O   EMPTY                                       >
<!--                                                                -->
<!-- ============================================================== -->
<!--                MARK DELETED OR ISEMPTY ELEMENTS                -->
<!--  Element for marking a deleted anchor                          -->
<!--  Element for showing an empty element                          -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT deleted   - O   EMPTY                                       >
<!ELEMENT isempty   - O   EMPTY                                       >
<!--                                                                -->
<!-- ============================================================== -->
<!--                     EFFECTIVITY                                -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT effect    - -  ((sbeff | coceff)*)                          >
<!ATTLIST effect
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED        >
<!--                                                                -->
<!ELEMENT sbeff     - O   EMPTY                                       >
<!ATTLIST sbeff
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED
          sbnbr     CDATA                             #REQUIRED
          sbtype    CDATA                             #REQUIRED
          sbcond    CDATA                             #IMPLIED
          sbrev     CDATA                             #IMPLIED        >
<!--                                                                -->
<!ELEMENT coceff    - O   EMPTY                                       >
<!ATTLIST coceff
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED
          cocnbr    CDATA                             #REQUIRED
          coccond   CDATA                             #IMPLIED
          cocrev    CDATA                             #IMPLIED        >

<!-- ============================================================== -->
<!--                 TABLE (CELLULAR, CALS BASED)                   -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT table     - -   ((title?, tgroup, ftnote*) | graphic+)
                                                      -(table)        >
<!ATTLIST table
          tabstyle  NMTOKEN                           #IMPLIED
          frame     (top | bottom | topbot
                    | all | sides | none)             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          orient    (port | land)                     #IMPLIED
          pgwide    %yesorno;                         #IMPLIED
          id        ID                                #IMPLIED        >

<!ELEMENT tgroup    - O  (colspec*, spanspec*, thead?, tfoot?, tbody) >
<!ATTLIST tgroup
          cols      NUMBER                            #REQUIRED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          align     (left | right | center
                    | justify | char)                 "left"
          charoff   NUTOKEN                           "50"
          char      CDATA                             ""              >

<!ELEMENT colspec   - O   EMPTY                                       >
<!ATTLIST colspec
          colnum    NUMBER                            #IMPLIED
          colname   NMTOKEN                           #IMPLIED
          align     (left | right | center
                    | justify | char)                 #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          colwidth  CDATA                             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED        >

<!ELEMENT spanspec  - O   EMPTY                                       >
<!ATTLIST spanspec
          namest    NMTOKEN                           #REQUIRED
          nameend   NMTOKEN                           #REQUIRED
          spanname  NMTOKEN                           #IMPLIED
          align     (left | right | center
                    | justify | char)                 "center"
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          colsep    %yesorno;                         #IMPLIED        >

<!ELEMENT thead     - O  (colspec*, row+)                             >
<!ATTLIST thead
          valign    (top | middle | bottom)           "bottom"        >

<!ELEMENT tfoot     - O  (colspec*, row+)                             >
<!ATTLIST tfoot
          valign    (top | middle | bottom)           "top"           >

<!ELEMENT tbody     - O  (row+)                                       >
<!ATTLIST tbody
          valign    (top | middle | bottom)           "top"           >

<!ELEMENT row       - O  (entry+)                                     >
<!ATTLIST row
          rowsep    %yesorno;                         #IMPLIED        >

<!ELEMENT entry     - O  (%text; | %w.c;)*                            >
<!ATTLIST entry
          colname   NMTOKEN                           #IMPLIED
          namest    NMTOKEN                           #IMPLIED
          nameend   NMTOKEN                           #IMPLIED
          spanname  NMTOKEN                           #IMPLIED
          morerows  NUMBER                            "0"
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          rotate    %yesorno;                         "0"
          valign    (top | bottom | middle)           "top"
          align     (left | right | center
                     | justify | char)                #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED        >
<!--                                                                -->
<!ELEMENT ftnote    - - (%text;)                                      >
<!ATTLIST ftnote
          ftnoteid  ID                                #REQUIRED       >
<!--                                                                -->
<!-- ============================================================== -->
<!--                    WARNING, CAUTION, NOTE                      -->
<!-- ============================================================== -->
<!--                                                                -->
<!ELEMENT warning   - - (effect?, (%text;))           -(note)         >
<!ELEMENT note      - - (effect?, (%text;))           -(note)         >
<!ELEMENT caution   - - (effect?, (%text;))           -(note)         >
<!--                                                                -->
<!-- ============================================================== -->
<!--     REGULATORY                                                 -->
<!-- ============================================================== -->
<!ELEMENT regulatory  - - (effect?, regulation+)                      >
<!ELEMENT regulation  - - (effect?, grsymbol?, #PCDATA)               >
<!ATTLIST regulation
          regtype   CDATA                             #REQUIRED
          regsource CDATA                             #IMPLIED
          regvalue  CDATA                             #IMPLIED        >
<!--   ]>   -->
