doctypes/ATA_iSpec2200_2003.1/frmfim.dtd

<!-- ============================================================ -->
<!-- This is the DTD for the Fault Reporting Manual               -->
<!-- and Fault Isolation Manual                                   -->
<!-- ============================================================ -->
<!--                                                              -->
<!-- DTD Reference : -//ATA-TEXT//DTD FRMFIM-VER16-LEVEL2//EN     -->
<!-- DTD Level     : 2                                            -->
<!-- Rev Date      : 07 Jul 2023                                  -->
<!-- Parsed Date   : 07 Jul 2023                                  -->
<!-- ============================================================ -->
<!--  Highlights    :                                             -->
<!--  1) Increased the "VER" number to 16.0.                      -->
<!--  2) changed element TR structure: the couple of elements     -->
<!--     (frmtrlst,fimtrlst)? is moved out of the choice          -->
<!--     (CR-2023-01).                                            -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- Highlights    :                                              -->
<!-- 1) Increased the "VER" number to 15.0.                       -->
<!-- 2) Added optional ID attribute to LxITEM elements            -->
<!--    (CR-2020-12).                                             -->
<!-- 3) Added optional FRMTRLST, FIMTRLST elements to TR choices  -->
<!--    (CR-2021-24).                                             -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Increased the "VER" number to 14.0.                       -->
<!-- 2) CHGDTYPE optional attribute added to CHGDESC (CR-2016-02) -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Increased the "VER" number to 13.0.                       -->
<!-- 2) REGULATORY changed to optional repeatable in PGBLK, TASK, -->
<!--    SUBTASK, PRCITEM, LxITEM elements.                        -->
<!--    Optional EFFECT and GRSYMBOL added to REGULATION.         -->
<!--    REGTYPE attribute of REGULATION changed to CDATA and      -->
<!--    new REGSOURCE and REGVALUE attributes added to the        -->
<!--    REGULATION element. (CR-2013-07)                          -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Increased the "VER" number to 12.0.                       -->
<!-- 2) Added new REGULATORY element to PGBLK, TASK, SUBTASK,     -->
<!--   PRCITEM, L1ITEM, L2ITEM, L3ITEM, L4ITEM, L5ITEM, L6ITEM    -->
<!--   L7ITEM elements (CR-2011-10)                               -->
<!-- 3) Added REGULATORY element to ENTRY (CR-2011-11)            -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Added optional element FCDIAG to CHAPTER element          -->
<!--    structure (CR-2009-11-FRMFIM).                            -->
<!-- 2) Added element FCDIAG as choice to INCREV and TR.          -->
<!-- 3) Increased "VER-REV" number to 11.01. (ff021101.dtd).      -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Formatting changes made for readability.                  -->
<!-- 2) Increased the "VER" number to 10.0.                       -->
<!-- 3) Added optional LEGALNTC element prior to TRFMATR within   -->
<!--    the TR element structure (CR-2007-14-legalntc).           -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Added optional element GLOSSARY to FRMMFMATR and FIMFMATR -->
<!-- 2) Increased "VER-REV" number to 9.1. (ff020901.dtd).        -->
<!-- 3) Made editorial improvements for readability.              -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- Rev Date      : 17 Dec 2004                                  -->
<!-- 1) Added attribute CFNBR to SHEET for companion file         -->
<!-- referencing (by approved CR AIB.GRAPHIC.001.2004).           -->
<!-- 2) Added Graphic Companion File (GCF) notation definition    -->
<!-- (by approved CR AIB.GRAPHIC.001.2004).                       -->
<!-- 3) Added attribute CFNBR to SHEET for Graphic Companion      -->
<!-- File referencing (by approved CR AIB.GRAPHIC.001.2004).      -->
<!-- 4) Added new public notations for PDF, PNG, JPEG, VRML,      -->
<!-- MPEG and MP3 media (by approved CR 2004-Media-001).          -->
<!-- 5) Added new REFMEDIA element within PARA content to         -->
<!-- reference a media file (by approved CR 2004-Media-001).      -->
<!-- 6) Added EFFLEN and EFFTYPE to DOCTYPE Attribut List (by     -->
<!-- approving (ba approving CR AIB.TRAN.003.2004).               -->
<!-- 7) Added GRSYMBOL to PARA for tagging in-line graphics       -->
<!-- (by approving CR In-Line Graphics).                          -->
<!-- 8) Increased "VER-REV" number to 9.0. (ff020900.dtd).        -->
<!-- 9) Made editorial improvements for readability.              -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- DTD Reference : -//ATA-TEXT//DTD FRMFIM-VER8-REV2-LEVEL2//EN -->
<!-- Rev Date      : 23 Jan 2004                                  -->
<!-- 1) Added attributes COCCOND and COCREV to element COCEFF.    -->
<!--    Aligns the COCEFF with the SBEFF attribute structure      -->
<!--    and provides a means for reporting COCEFF status. To      -->
<!--    keep the DTD backwards compatible the attribute is        -->
<!--    IMPLIED. Added to all ATA DTDs with COCEFF.               -->
<!--    Change per ATA approved CR BOE.WM.002.2003.               -->
<!-- 2) Increased "VER-REV" number to 8.2. (ff020802.dtd).        -->
<!-- 3) Made editorial improvements for readability.              -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- DTD Reference : -//ATA-TEXT//DTD FRMFIM-VER8-REV1-LEVEL2//EN -->
<!-- Rev Date      : 20 Jan 2004                                  -->
<!-- 1) Added attribute PANTYPE to PAN. (CR AIB.AMM.001.2003).    -->
<!-- 2) Added attribute TYPE to EIN element (CR 2002-WM-002).     -->
<!-- 3) Increased "VER-REV" number to 8.1. (ff020801.dtd).        -->
<!-- 4) Made editorial improvements for readability.              -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- DTD Reference : -//ATA-TEXT//DTD FRMFIM-VER8-LEVEL2//EN      -->
<!-- Rev Date      : 19 Nov 2003                                  -->
<!-- 1) Changed ACROLIST and PANLOC to optional elements          -->
<!--    (boe.frmfim.001.2003).                                    -->
<!-- 2) Added GRAPHIC to CABINLOC element structure               -->
<!--    (boe.frmfim.003.2003).                                    -->
<!-- 3) Changed CHAPTER EFFECT to optional (boe.frmfim.003.2003). -->
<!-- 4) Removed the EFFECT from FMSGDESC structure and added      -->
<!--    EFFECT to FMSGDATA (boe.frmfim.004.2003).                 -->
<!-- 5) Changed attribute SHEETNBR to #IMPLIED for harmonization  -->
<!--    with the AMM (boe.frmfim.005.2003).                       -->
<!-- 6) Added attribute ID to PRCITEM 1 thru 7 for referencing    -->
<!--    (boe.tran.002.2003).                                      -->
<!-- 7) Incorporated ISObox, ISOamso and ISOamsc per ATA approved -->
<!--    DTD CR 2003-All-001.                                      -->
<!-- 8) Increased version number to 8. (ff020800.dtd).            -->
<!-- 9) Made some editorial improvements for readability.         -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- DTD Reference : -//ATA-TEXT//DTD FRMFIM-VER7-REV1-LEVEL2//EN -->
<!-- Rev Date      : 19 Mar 2002                                  -->
<!-- 1) Added attribute CHAPPREF to CHAPTER, SECTION, SUBJECT,    -->
<!--    PGBLK, TASK, SUBTASK, GRAPHIC. This attribute is used     -->
<!--    to identify multiple engine chapters.                     -->
<!-- 2) Increased Revision number to 1. (ff020701.dtd).           -->
<!--                                                              -->
<!-- DTD Reference : -//ATA-TEXT//DTD FRMFIM-VER7-LEVEL2//EN      -->
<!-- Parsed Date   : 04 Dec 2001                                  -->
<!-- 1) Added optional EFFECT element to SECTION & SUBJECT.       -->
<!--    Added EFFECT inclusions to PBFMATR, WARNING, NOTE &       -->
<!--    CAUTION.                                                  -->
<!-- 2) Added new elements SUB & SUPER to PARA, EQU & TITLE       -->
<!--    with a content of #PCDATA.                                -->
<!-- 3) Added optional HAZMTLST element to MFMATRs with a         -->
<!--    content of TITLE, optional PRETOPIC & HAZMT. Added new    -->
<!--    element HAZMT with a content of TITLE & WARNING.          -->
<!--    Added HAZMTLST to INCREV and TR.                          -->
<!-- 4) Added REFBLOCK to entity %G.R. Added new element          -->
<!--    REFBLOCK with a content of #PCDATA or REFINT or REFEXT    -->
<!--    or GRPHCREF.                                              -->
<!-- 5) Increased the "VER" number to 7. (ff020701.dtd).          -->
<!-- 6) Made some editorial improvements for readability.         -->
<!--                                                              -->
<!-- DTD Reference : -//ATA-TEXT//DTD FRMFIM-VER6-LEVEL2//EN      -->
<!-- Rev Date      : 14 Nov 2000                                  -->
<!-- Parsed Date   : 08 Jan 2001                                  -->
<!--   1) Added entities ISOgrk2,3,4 & ISOlat1 per TWG change     -->
<!--       requests.                                              -->
<!--   2) Added optional element structure LEGALNTC to document   -->
<!--       level structure.                                       -->
<!--   3) Added optional attribute IMGAREA to SHEET.              -->
<!--   4) Increased version to 6.                                 -->
<!--                                                              -->
<!-- ============================================================ -->
<!-- Rev Date      : 15 July 1998                                 -->
<!-- Highlights    :                                              -->
<!--   1) Added + to Taskref structure to allow Taskdata and      -->
<!--      Refint in Master Fault Table Description column.        -->
<!--                                                              -->
<!-- ============================================================ -->

<!--   DOCTYPE  frmfim [    -->
<!-- The following set of declarations may be referred to using
     a public entity as follows:
<!DOCTYPE frmfim PUBLIC
     "-//ATA-TEXT//DTD FRMFIM-VER16-LEVEL2//EN"    [ ]>           -->

<!-- ============================================================ -->
<!--          NOTATIONS                                           -->
<!-- ============================================================ -->
<!NOTATION cgm          PUBLIC
"-//USA-DOD//NOTATION Computer Graphics Metafile//EN"               >

<!NOTATION ccitt4     PUBLIC
"-//USA-DOD//NOTATION CCITT Group 4 Facsimile//EN"                  >

<!NOTATION gcf PUBLIC
"-//ATA-TEXT//NOTATION Graphic Companion File//EN"                  >

<!NOTATION pdf PUBLIC
"-//Adobe Inc.//NOTATION Portable Document Format//EN"              >

<!NOTATION png PUBLIC
"-//W3C//NOTATION Portable Network Graphics//EN"                    >

<!NOTATION jpeg PUBLIC
"+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Joint
Photographic Experts Group Raster//EN"                              >

<!NOTATION vrml PUBLIC
"-//ATA-TEXT//NOTATION Virtual Reality Modeling Language//EN"       >

<!NOTATION mpeg PUBLIC
"-//ATA-TEXT//NOTATION Motion Pictures Expert Group//EN"            >

<!NOTATION mp3 PUBLIC
"-//ATA-TEXT//NOTATION Motion Pictures Expert Group, Audio Layer 3//EN">

<!-- ============================================================ -->
<!--          ENTITIES                                            -->
<!-- ============================================================ -->
<!ENTITY   % g.r     "(refblock* | (grphcref*,refext*,refint*))"    >
<!ENTITY   % w.c     "(warning*, caution*)"                         >
<!ENTITY   % text    "(para | table | unlist | numlist | note)+"    >
<!ENTITY   % deleted "(deleted, chgdesc?)"                          >
<!ENTITY   % yesorno "NUMBER"                                       >
<!ENTITY   % revatt
             "chg      (N|R|U|D)   #REQUIRED
              key      ID          #REQUIRED
              revdate  NUMBER      #REQUIRED"                       >

<!ENTITY   % ISOtech      PUBLIC
     "ISO 8879-1986//ENTITIES   General Technical//EN"              >
<!ENTITY   % ISOpub      PUBLIC
     "ISO 8879-1986//ENTITIES Publishing//EN"                       >
<!ENTITY   % ISOnum      PUBLIC
   "ISO 8879-1986//ENTITIES   Numeric and Special Graphic//EN"      >
<!ENTITY   % ISOgrk1     PUBLIC
     "ISO 8879-1986//ENTITIES   Greek Letters//EN"                  >
<!ENTITY   % ISOgrk2     PUBLIC
     "ISO 8879-1986//ENTITIES Monotoniko Greek//EN"                 >
<!ENTITY   % ISOgrk3     PUBLIC
     "ISO 8879-1986//ENTITIES Greek Symbols//EN"                    >
<!ENTITY   % ISOgrk4     PUBLIC
     "ISO 8879-1986//ENTITIES Alternative Greek Symbols//EN"        >
<!ENTITY   % ISOlat1     PUBLIC
     "ISO 8879-1986//ENTITIES Added Latin 1//EN"                    >
<!ENTITY   % ISObox      PUBLIC
     "ISO 8879-1986//ENTITIES Box and Line Drawing//EN"             >
<!ENTITY   % ISOamso     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Ordinary//EN"     >
<!ENTITY   % ISOamsc     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Delimiters//EN"   >

%ISOtech; %ISOpub; %ISOnum; %ISOgrk1; %ISOgrk2; %ISOgrk3;
%ISOgrk4; %ISOlat1; %ISObox; %ISOamso; %ISOamsc;

<!-- ============================================================ -->
<!--     FRMFIM TOP LEVEL STRUCTURE                               -->
<!-- ============================================================ -->
<!ELEMENT frmfim    - - ((title, legalntc?, effxref, transltr,
                         frmfmatr, fimfmatr, chapter+, mstfltab,
                         cabinloc) | increv | tr+)
                    +(revst|revend|cocst|cocend|docunit|hotlink)    >
<!ATTLIST frmfim
          spl       CDATA                             #REQUIRED
          model     CDATA                             #REQUIRED
          oidate    NUMBER                            #REQUIRED
          revdate   NUMBER                            #REQUIRED
          tsn       CDATA                             #REQUIRED
          cus       CDATA                             #IMPLIED
          cusname   CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED
          lang      CDATA                             #REQUIRED
          chg       (N|R|U)                           "N"
          efflen    NUMBER                            #IMPLIED
          efftype   CDATA                             #IMPLIED      >

<!-- ============================================================ -->
<!--       Revision Mechanisms                                    -->
<!-- ============================================================ -->
<!ELEMENT increv    - -  (transltr?, legalntc?, frmtrlst?, fimtrlst?,
                         (chapter | section | subject | pgblk | task
                         | subtask | sheet | graphic | mstfltab
                         | faultrow | frmintro | fimintro | fimusage
                         | fcdiag | effxref | sblist | cabinloc
                         | acrolist | hazmtlst))+                   >

<!ELEMENT tr        - -  (legalntc?, trfmatr, (frmtrlst, fimtrlst)?, 
                         (legalntc | chapter | section | subject+ 
                         | pgblk+ | task+ | subtask+ | sheet+ 
                         | graphic+ | frmintro | fimintro | fcdiag 
                         | effxref | sblist | mstfltab | faultrow* 
                         | cabinloc | acrolist | hazmtlst))         >


<!ELEMENT trfmatr   - - (title, trxref, revhist, trreason,
                         (%text;)?)                                 >
<!ATTLIST trfmatr
          trnbr     CDATA                             #REQUIRED
          trdel     CDATA                             #IMPLIED
          trrepl    CDATA                             #IMPLIED
          issdate   NUMBER                            #REQUIRED     >
<!ELEMENT trxref    - - (paptrnbr+)                                 >
<!ELEMENT paptrnbr  - - (#PCDATA)                                   >
<!ATTLIST paptrnbr
          issdate   NUMBER                            #REQUIRED     >
<!ELEMENT revhist   - - (prclist1)                                  >
<!ELEMENT trreason  - - (#PCDATA)                                   >
<!ELEMENT transltr  - - (chgdesc*, title, (prclist1 | %text;))      >
<!ATTLIST transltr
          %revatt;                                                  >

<!ELEMENT effxref   - - (chgdesc*, title, (%text;)?, effdata+)      >
<!ATTLIST effxref
          %revatt;                                                  >
<!ELEMENT effdata   - - (cus?, modtype?, cec, linenbr?, venbr?,
                         benbr?, msnbr, acn)                        >
<!ELEMENT cus       - - (#PCDATA)                                   >
<!ELEMENT modtype   - - (#PCDATA)                                   >
<!ELEMENT cec       - - (#PCDATA)                                   >
<!ELEMENT linenbr   - - (#PCDATA)                                   >
<!ELEMENT venbr     - - (#PCDATA)                                   >
<!ELEMENT benbr     - - (#PCDATA)                                   >
<!ELEMENT msnbr     - - (#PCDATA)                                   >
<!ELEMENT acn       - - (#PCDATA)                                   >

<!-- ============================================================ -->
<!--       Legal Notice Information                               -->
<!-- ============================================================ -->
<!ELEMENT legalntc  - - (exprtcl | cpyrght | proptary | geninfo)+   >
<!ATTLIST legalntc
          %revatt;                                                  >

<!ELEMENT proptary  - - (fullstmt, partstmt?)                       >
<!ELEMENT fullstmt  - - (title?, cpyrght?, para+)                   >
<!ELEMENT partstmt  - - (title?, para+)                             >
<!ELEMENT exprtcl   - - (para | unlist | numlist | note)+           >
<!ELEMENT cpyrght   - - (year*, holder*, geninfo)                   >
<!ELEMENT year      - - (#PCDATA)                                   >
<!ELEMENT holder    - - (#PCDATA)                                   >
<!ELEMENT geninfo   - - (para | unlist | numlist | note)+           >

<!-- ============================================================ -->
<!--     FRMFIM FRONT MATTER                                      -->
<!-- ============================================================ -->
<!ELEMENT frmfmatr  - - (frmtrlst, frmintro, hazmtlst?, glossary?)  >
<!ELEMENT fimfmatr  - - (fimtrlst, fimintro, sblist, fimusage,
                         hazmtlst?, glossary?)                      >

<!ELEMENT frmtrlst  - - (trlist)                                    >
<!ATTLIST frmtrlst
          %revatt;                                                  >

<!ELEMENT fimtrlst  - - (trlist)                                    >
<!ATTLIST fimtrlst
          %revatt;                                                  >

<!ELEMENT trlist    - - ((%text;)?, (trdata+ | isempty))            >
<!ELEMENT trdata    - - (trnbr, trstatus, trloc+)                   >
<!ELEMENT trnbr     - - (#PCDATA)                                   >
<!ELEMENT trstatus  - - (#PCDATA)                                   >
<!ELEMENT trloc     - - (#PCDATA)                                   >

<!ELEMENT frmintro  - - (chgdesc*, title, (prclist1 |  %text;),
                         acrolist?)                                 >
<!ATTLIST frmintro
          %revatt;                                                  >

<!ELEMENT fimintro  - - (chgdesc*, title, (prclist1 | %text;),
                         acrolist?, panloc?)                        >
<!ATTLIST fimintro
          %revatt;                                                  >

<!ELEMENT acrolist  - - (chgdesc*, title, acrodata+)                >
<!ATTLIST acrolist
          %revatt;                                                  >
<!ELEMENT acrodata  - - (acro, acrodef)                             >
<!ELEMENT acro      - - (#PCDATA)                                   >
<!ELEMENT acrodef   - - (#PCDATA)                                   >
<!ELEMENT panloc    - - (prclist1)                                  >

<!ELEMENT sblist    - - (chgdesc*, title, %text;,
                        (sbdata+ | isempty))                        >
<!ATTLIST sblist
          %revatt;                                                  >
<!ELEMENT sbdata    - - (sbnbr?, sbtitle?, eonbr?, atanbr*, mdnbr*,
                         cocnbr*, sc?, ics, custeff?)               >
<!ELEMENT sbnbr     - - (#PCDATA)                                   >
<!ELEMENT sbtitle   - - (#PCDATA)                                   >
<!ELEMENT eonbr     - - (#PCDATA)                                   >
<!ELEMENT atanbr    - - (#PCDATA)                                   >
<!ELEMENT mdnbr     - - (#PCDATA)                                   >
<!ELEMENT cocnbr    - - (#PCDATA)                                   >
<!ELEMENT sc        - - (#PCDATA)                                   >
<!ELEMENT ics       - - (#PCDATA)                                   >
<!ELEMENT custeff   - - (cus, effrc)+                               >
<!ELEMENT effrc     - - (#PCDATA)                                   >

<!ELEMENT fimusage  - - (chgdesc*, title, (prclist1 | %text;))      >
<!ATTLIST fimusage
          %revatt;                                                  >

<!ELEMENT hazmtlst  - - (title, pretopic*, hazmt+)                  >
<!ATTLIST hazmtlst
          %revatt;                                                  >
<!ELEMENT hazmt     - - (title, warning)                            >
<!ATTLIST hazmt
          id        ID                                #REQUIRED     >

<!ELEMENT glossary  - -  ((chgdesc*, title, (%text;)?, glosdata*)
                         | %deleted;)                               >
<!ATTLIST glossary
          oldkey    NAME                              #IMPLIED
          %revatt;                                                  >

<!ELEMENT glosdata  - -  (term, def)                                >
<!ELEMENT term      - -  (#PCDATA)                                  >
<!ELEMENT def       - -  (#PCDATA)                                  >

<!-- ============================================================ -->
<!--     MASTER FAULT TABLE & CABIN LOCATION                      -->
<!-- ============================================================ -->
<!ELEMENT mstfltab  - - (faultrow+)                                 >
<!ATTLIST mstfltab
          %revatt;                                                  >
<!ELEMENT faultrow  - - ((faltcode, custdata?, faltdesc+, fmsgdesc?,
                         (mmsgtref | taskref | stdref))
                         | %deleted;)                               >
<!ATTLIST faultrow
          %revatt;                                                  >
<!ELEMENT mmsgtref  - - (taskref?, (maintmsg, taskref)+)            >

<!ELEMENT faltcode  - - (#PCDATA)                                   >
<!ATTLIST faltcode
          faultype  CDATA                             #REQUIRED     >
<!ELEMENT custdata  - - (#PCDATA)                                   >
<!ELEMENT faltdesc  - - (effect?, fltlatch?, fltddata)              >
<!ATTLIST faltdesc
          fmsglvl   CDATA                             #REQUIRED
          fdescver  (pri|alt1|alt2|alt3)              #IMPLIED      >
<!ELEMENT fltlatch  - - (#PCDATA)                                   >
<!ELEMENT fltddata  - - (fkeytext, fsubprob?, faultloc?)            >
<!ELEMENT fkeytext  - - (#PCDATA)                                   >
<!ELEMENT fsubprob  - - (#PCDATA)                                   >
<!ELEMENT faultloc  - - (#PCDATA)                                   >
<!ELEMENT fmsgdesc  - - (fmsgdata)+                                 >
<!ELEMENT fmsgdata  - - (effect?, #PCDATA)                          >
<!ELEMENT maintmsg  - - (effect?, mmsgdata)                         >
<!ATTLIST maintmsg
          mmsgnbr   CDATA                             #IMPLIED      >
<!ELEMENT mmsgdata  - - (#PCDATA)                                   >
<!ELEMENT taskref   - - (refint | refext | taskdata)+               >
<!ELEMENT taskdata  - - (#PCDATA)                                   >
<!ELEMENT stdref    - - (#PCDATA)                                   >
<!ELEMENT cabinloc  - - (chgdesc*, title, (prclist1 | graphic+
                        | %text;))                                  >
<!ATTLIST cabinloc
          oldkey    NAME                              #IMPLIED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--     CHAPTER                                                  -->
<!-- ============================================================ -->
<!ELEMENT chapter   - - ((effect?, chgdesc*, title, fcdiag?,
                        section+)| %deleted;)                       >
<!ATTLIST chapter
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          %revatt;                                                  >

<!ELEMENT fcdiag    - - ((chgdesc*, title, graphic+) | %deleted;)   >
<!ATTLIST fcdiag
          %revatt;                                                  >

<!-- ============================================================ -->
<!--     SECTION                                                  -->
<!-- ============================================================ -->
<!ELEMENT section   - -  ((effect?, chgdesc*, title, subject+)
                          | %deleted;)                              >
<!ATTLIST section
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--     SUBJECT                                                  -->
<!-- ============================================================ -->
<!ELEMENT subject   - -  ((effect?, chgdesc*, title, pgblk+)
                          | %deleted;)                              >
<!ATTLIST subject
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--     PAGEBLOCK                                                -->
<!-- ============================================================ -->
<!ELEMENT pgblk     - -  ((effect, chgdesc*, title, pbfmatr?,
                          regulatory*, (task+ | prclist1)?, graphic*)
                          | %deleted;)                              >

<!ATTLIST pgblk
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          pgblknbr  NUMBER                            #REQUIRED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                  >

<!ELEMENT pbfmatr   - - (title, %g.r;, (list1 | %text;))  +(effect) >

<!-- ============================================================ -->
<!--     TASK                                                     -->
<!-- ============================================================ -->
<!ELEMENT task      - - ((effect, chgdesc*, title, %g.r;,
                         regulatory*, %w.c;, note*, tfmatr?, topic*,
                         graphic*) | %deleted;)                     >

<!ATTLIST task
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          func      CDATA                             #REQUIRED
          seq       CDATA                             #REQUIRED
          confltr   CDATA                             #IMPLIED
          varnbr    NUMBER                            #IMPLIED
          alunqi    CDATA                             #IMPLIED
          pgblknbr  NUMBER                            #REQUIRED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--     TASK ASSOCIATED ELEMENTS                                 -->
<!-- ============================================================ -->
<!ELEMENT tfmatr    - -  (pretopic+)                                >
<!ELEMENT pretopic  - -  (title, (%text; | list1)) +(effect)        >
<!ELEMENT topic     - -  (effect?, title, %g.r;, %w.c;, note*,
                          subtask*)                                 >

<!-- ============================================================ -->
<!--     SUBTASK                                                  -->
<!-- ============================================================ -->
<!ELEMENT subtask   - -  ((effect, chgdesc*, %g.r;, regulatory*,
                         %w.c;, note*, list1) | %deleted;) +(effect)>

<!ATTLIST subtask
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          subjnbr   NUMBER                            #REQUIRED
          func      CDATA                             #REQUIRED
          seq       CDATA                             #REQUIRED
          confltr   CDATA                             #IMPLIED
          varnbr    NUMBER                            #IMPLIED
          alunqi    CDATA                             #IMPLIED
          pgblknbr  NUMBER                            #REQUIRED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--     PROCEDURE LIST STRUCTURE                                 -->
<!-- ============================================================ -->
<!ELEMENT prclist1  - -  (prcitem1+)          +(effect)             >
<!ELEMENT prclist2  - -  (prcitem2+)                                >
<!ELEMENT prclist3  - -  (prcitem3+)                                >
<!ELEMENT prclist4  - -  (prcitem4+)                                >
<!ELEMENT prclist5  - -  (prcitem5+)                                >
<!ELEMENT prclist6  - -  (prcitem6+)                                >
<!ELEMENT prclist7  - -  (prcitem7+)                                >

<!ELEMENT prcitem1  - -  (prcitem, prclist2?, graphic*)             >
<!ATTLIST prcitem1
          id        ID                                #IMPLIED      >
<!ELEMENT prcitem2  - -  (prcitem, prclist3?)                       >
<!ATTLIST prcitem2
          id        ID                                #IMPLIED      >
<!ELEMENT prcitem3  - -  (prcitem, prclist4?)                       >
<!ATTLIST prcitem3
          id        ID                                #IMPLIED      >
<!ELEMENT prcitem4  - -  (prcitem, prclist5?)                       >
<!ATTLIST prcitem4
          id        ID                                #IMPLIED      >
<!ELEMENT prcitem5  - -  (prcitem, prclist6?)                       >
<!ATTLIST prcitem5
          id        ID                                #IMPLIED      >
<!ELEMENT prcitem6  - -  (prcitem, prclist7?)                       >
<!ATTLIST prcitem6
          id        ID                                #IMPLIED      >
<!ELEMENT prcitem7  - -  (prcitem)                                  >
<!ATTLIST prcitem7
          id        ID                                #IMPLIED      >
<!ELEMENT prcitem   - -  (title?, regulatory*, %w.c;, (%text;)?)    >

<!-- ============================================================ -->
<!--     STANDARD LISTS                                           -->
<!-- ============================================================ -->
<!ELEMENT list1     - -  (l1item+)                                  >
<!ELEMENT list2     - -  (ltitle?, l2item+)                         >
<!ELEMENT list3     - -  (l3item+)                                  >
<!ELEMENT list4     - -  (l4item+)                                  >
<!ELEMENT list5     - -  (l5item+)                                  >
<!ELEMENT list6     - -  (l6item+)                                  >
<!ELEMENT list7     - -  (l7item+)                                  >
<!ELEMENT l1item    - -  (%w.c;, regulatory*, %text;, ((list2 | art),
                          note*)*)                                  >
<!ATTLIST l1item
          id        ID                             #IMPLIED         >
<!ELEMENT l2item    - -  (%w.c;, regulatory*, %text;, (list3,
                          note*)?)                                  >
<!ATTLIST l2item
          id        ID                             #IMPLIED         >
<!ELEMENT l3item    - -  (%w.c;, regulatory*, %text;, (list4,
                          note*)?)                                  >
<!ATTLIST l3item
          id        ID                             #IMPLIED         >
<!ELEMENT l4item    - -  (%w.c;, regulatory*, %text;, (list5,
                          note*)?)                                  >
<!ATTLIST l4item
          id        ID                             #IMPLIED         >
<!ELEMENT l5item    - -  (%w.c;, regulatory*, %text;, (list6,
                          note*)?)                                  >
<!ATTLIST l5item
          id        ID                             #IMPLIED         >
<!ELEMENT l6item    - -  (%w.c;, regulatory*, %text;, (list7,
                          note*)?)                                  >
<!ATTLIST l6item
          id        ID                             #IMPLIED         >
<!ELEMENT l7item    - -  (%w.c;, regulatory*, %text;)               >
<!ATTLIST l7item
          id        ID                             #IMPLIED         >

<!-- ============================================================ -->
<!--     REGULATORY                                               -->
<!-- ============================================================ -->
<!ELEMENT regulatory  - - (effect?, regulation+)                    >
<!ELEMENT regulation  - - (effect?, grsymbol?, #PCDATA)             >
<!ATTLIST regulation
          regtype   CDATA                             #REQUIRED
          regsource CDATA                             #IMPLIED
          regvalue  CDATA                             #IMPLIED      >

<!-- ============================================================ -->
<!--     ACTION RESULT TABLE                                      -->
<!-- ============================================================ -->
<!ELEMENT art       - -  ((%w.c;, note*, action)+)                  >
<!ELEMENT action    - -  (%text;, result*)                          >
<!ELEMENT result    - -  (%text;)                                   >

<!-- ============================================================ -->
<!--     TABLE (CELLULAR, CALS BASED)                             -->
<!-- ============================================================ -->
<!ELEMENT table     - -  ((title?, tgroup, ftnote*) | graphic+)
                          -(table)                                  >
<!ATTLIST table
          tabstyle  NMTOKEN                           #IMPLIED
          frame     (top|bottom|topbot
                     |all|sides|none)                 #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          orient    (port|land)                       #IMPLIED
          pgwide    %yesorno;                         #IMPLIED
          id        ID                                #IMPLIED      >

<!ELEMENT tgroup    - O  (colspec*, spanspec*, thead?, tfoot?,
                          tbody)                                    >
<!ATTLIST tgroup
          cols      NUMBER                            #REQUIRED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          align     (left|right|center
                     |justify|char)                   "left"
          charoff   NUTOKEN                           "50"
          char      CDATA                             ""            >

<!ELEMENT colspec   - O  EMPTY                                      >
<!ATTLIST colspec
          colnum    NUMBER                            #IMPLIED
          colname   NMTOKEN                           #IMPLIED
          align     (left|right|center|justify|char)  #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          colwidth  CDATA                             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED      >

<!ELEMENT spanspec  - O  EMPTY                                      >
<!ATTLIST spanspec
          namest    NMTOKEN                           #REQUIRED
          nameend   NMTOKEN                           #REQUIRED
          spanname  NMTOKEN                           #IMPLIED
          align     (left|right|center|justify|char)  "center"
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED      >

<!ELEMENT thead     - O  (colspec*, row+)                           >
<!ATTLIST thead
          valign    (top|middle|bottom)               "bottom"      >

<!ELEMENT tfoot     - O  (colspec*,row+)                            >
<!ATTLIST tfoot
          valign    (top|middle|bottom)               "top"         >

<!ELEMENT tbody     - O  (row+)                                     >
<!ATTLIST tbody
          valign    (top|middle|bottom)               "top"         >

<!ELEMENT row       - O  (entry+)                                   >
<!ATTLIST row
          rowsep    %yesorno;                         #IMPLIED      >

<!ELEMENT entry     - O  (regulatory | %text; | %w.c; | graphic)*   >
<!ATTLIST entry
          colname   NMTOKEN                           #IMPLIED
          namest    NMTOKEN                           #IMPLIED
          nameend   NMTOKEN                           #IMPLIED
          spanname  NMTOKEN                           #IMPLIED
          morerows  NUMBER                            "0"
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          rotate    %yesorno;                         "0"
          valign    (top|middle|bottom)               "top"
          align     (left|right|center|justify|char)  #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED      >

<!ELEMENT ftnote    - -  %text;                                     >
<!ATTLIST ftnote
          ftnoteid  ID                                #REQUIRED     >

<!-- ============================================================ -->
<!--    REFERENCE BLOCK and GRAPHIC REFERENCING MECHANISMS        -->
<!-- ============================================================ -->
<!ELEMENT  refblock - - (#PCDATA | refint | refext | grphcref)*     >

<!ELEMENT grphcref  - - (effect?, #PCDATA)                          >
<!ATTLIST grphcref
          refid     IDREF                             #IMPLIED
          sheetnbr  CDATA                             #IMPLIED
          structid  CDATA                             #IMPLIED
          shownow   %yesorno;                         "0"           >
<!ELEMENT graphic   - - ((effect, chgdesc*, title?, sheet+)
                         | %deleted;)                               >
<!ATTLIST graphic
          chappref  CDATA                             #IMPLIED
          chapnbr   NUMBER                            #IMPLIED
          sectnbr   NUMBER                            #IMPLIED
          subjnbr   NUMBER                            #IMPLIED
          func      CDATA                             #IMPLIED
          seq       CDATA                             #IMPLIED
          confltr   CDATA                             #IMPLIED
          varnbr    NUMBER                            #IMPLIED
          alunqi    CDATA                             #IMPLIED
          pgblknbr  NUMBER                            #IMPLIED
          confnbr   NUMBER                            #IMPLIED
          %revatt;                                                  >
<!ELEMENT sheet     - - ((effect, chgdesc*, title?, gdesc?)
                         | %deleted;)                               >
<!ATTLIST sheet
          gnbr      ENTITY                            #REQUIRED
          cfnbr     ENTITY                            #IMPLIED
          sheetnbr  CDATA                             #IMPLIED
          imgarea   (AP|BP|CP|DL|EL|FP|GP|HL|IL)      #IMPLIED
          %revatt;                                                  >

<!ELEMENT gdesc     - - (unlist | numlist)                          >

<!ELEMENT grsymbol  - O EMPTY                                       >
<!ATTLIST grsymbol
          gnbr      ENTITY                            #REQUIRED
          reprowid  CDATA                             #IMPLIED
          reprohgt  CDATA                             #IMPLIED
          reproscl  CDATA                             #IMPLIED      >

<!-- ============================================================ -->
<!--     NUMBERED & UN-NUMBERED LIST                              -->
<!-- ============================================================ -->
<!ELEMENT unlist    - - (unlitem+)                                  >
<!ATTLIST unlist
          bulltype  (NONE | BULLET | NDASH | MDASH | DIAMOND
                    | ASTERISK | DELTA | SQUARE
                    | SYSTEM)                         "SYSTEM"      >
<!ELEMENT unlitem   - - (para+)                                     >

<!ELEMENT numlist   - - (numlitem+)                                 >
<!ATTLIST numlist
          numtype   (NNP | AUP | NNB | ALB | NNS | RUP | RLP
                    |RUR | RLR | NNR | AUR | ALR)     "NNP"         >
<!ELEMENT numlitem  - - (para+)                                     >

<!-- ============================================================ -->
<!--     PARAGRAPH                                                -->
<!-- ============================================================ -->
<!ELEMENT para      - -  (#PCDATA | acro | cb | con | csn | ein
                          | equ | grphcref | ncon | pan | refext
                          | refint | refmedia | std | sub | super
                          | ted | txtgrphc | zone | grsymbol)+      >

<!-- ============================================================ -->
<!--     PARAGRAPH CONTENTS                                       -->
<!-- ============================================================ -->
<!ELEMENT cb        - -  (#PCDATA)                                  >
<!ELEMENT con       - -  (connbr, conname)                          >
<!ELEMENT connbr    - -  (#PCDATA)                                  >
<!ELEMENT conname   - -  (#PCDATA)                                  >
<!ELEMENT csn       - -  (#PCDATA)                                  >
<!ELEMENT ein       - -  (#PCDATA)                                  >
<!ATTLIST ein
          type      CDATA                             #IMPLIED      >
<!ELEMENT equ       - -  (#PCDATA | sub | super)+                   >
<!ELEMENT ncon      - -  (#PCDATA)                                  >
<!ELEMENT pan       - -  (#PCDATA)                                  >
<!ATTLIST pan
          pantype   CDATA                             #IMPLIED      >

<!ELEMENT refext    - -  (#PCDATA)                                  >
<!ATTLIST refext
          refman    CDATA                             #IMPLIED
          refspl    CDATA                             #IMPLIED
          refmodel  CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED
          refloc    CDATA                             #IMPLIED      >

<!ELEMENT refint    - -  (#PCDATA)                                  >
<!ATTLIST refint
          reftype   CDATA                             #IMPLIED
          refid     IDREF                             #IMPLIED      >

<!ELEMENT refmedia  - -  (#PCDATA)                                  >
<!ATTLIST refmedia
          mednbr    ENTITY                            #REQUIRED     >

<!ELEMENT std       - -  (stdnbr, stdname)                          >
<!ELEMENT stdnbr    - -  (#PCDATA)                                  >
<!ELEMENT stdname   - -  (#PCDATA)                                  >
<!ELEMENT sub       - -  (#PCDATA)                                  >
<!ELEMENT super     - -  (#PCDATA)                                  >
<!ELEMENT ted       - -  (toolnbr, toolname)                        >
<!ELEMENT toolnbr   - -  (#PCDATA)                                  >
<!ELEMENT toolname  - -  (#PCDATA)                                  >
<!ELEMENT txtgrphc  - -  (txtline+)                                 >
<!ELEMENT txtline   - -  (#PCDATA)                                  >
<!ELEMENT zone      - -  (#PCDATA)                                  >

<!-- ============================================================ -->
<!--     TITLE, etc.                                              -->
<!-- ============================================================ -->
<!ELEMENT title     - -  (#PCDATA | ein | sbnbr | sub | super)+     >
<!ELEMENT ltitle    - -  (#PCDATA)                                  >
<!ELEMENT warning   - -  %text;  -(note)              +(effect)     >
<!ELEMENT note      - -  %text;  -(note)              +(effect)     >
<!ELEMENT caution   - -  %text;  -(note)              +(effect)     >

<!-- ============================================================ -->
<!--          EFFECTIVITY                                         -->
<!-- ============================================================ -->
<!ELEMENT effect    - - ((sbeff | coceff)*)                         >
<!ATTLIST effect
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED      >

<!ELEMENT sbeff     - O  EMPTY                                      >
<!ATTLIST sbeff
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED
          sbnbr     CDATA                             #REQUIRED
          sbcond    CDATA                             #REQUIRED
          sbrev     CDATA                             #IMPLIED      >

<!ELEMENT coceff    - O  EMPTY                                      >
<!ATTLIST coceff
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED
          cocnbr    CDATA                             #REQUIRED
          coccond   CDATA                             #IMPLIED
          cocrev    CDATA                             #IMPLIED      >

<!-- ============================================================ -->
<!--     MISCELLANEOUS CONSTRUCTIONS TO:                          -->
<!--     MARK DOCUMENT UNITS                                      -->
<!--     MARK DELETED AND REVISED ELEMENTS                        -->
<!--     SUPPORT CROSS-REFERENCING MECHANISMS                     -->
<!-- ============================================================ -->
<!ELEMENT deleted   - O     EMPTY                                   >
<!ELEMENT isempty   - O     EMPTY                                   >
<!ELEMENT revst     - O     EMPTY                                   >
<!ELEMENT revend    - O     EMPTY                                   >
<!ELEMENT cocst     - O     EMPTY                                   >
<!ELEMENT cocend    - O     EMPTY                                   >
<!ELEMENT chgdesc   - -     (#PCDATA)                               >
<!ATTLIST chgdesc
          chgdtype    (edit|tech|effect|sgml)         #IMPLIED      >
<!ELEMENT hotlink   - O     EMPTY                                   >
<!ATTLIST hotlink
          targetid    CDATA                           #IMPLIED
          targetrefid CDATA                           #IMPLIED      >
<!ELEMENT docunit   - O     EMPTY                                   >
<!ATTLIST docunit
          docunbr   CDATA                             #IMPLIED      >
<!--    ]>    -->
