doctypes/ATA_iSpec2200_2003.1/medcmp.dtd

<!-- =========================================================== -->
<!-- SGML DTD of the Media Companion File                        -->
<!-- This DTD defines the companion file at the media level      -->
<!--  (physical media file).                                     -->
<!-- =========================================================== -->
<!--                                                             -->
<!-- DTD Reference : -//ATA-TEXT//DTD MCP-VER1-REV0-LEVEL2//EN   -->
<!-- DTD Level     : 2                                           -->
<!-- Rev Date      : 07 Jul 2023                                 -->
<!-- Parse Date    : 07 Jul 2023                                 -->
<!--                                                             -->
<!-- Highlights    :                                             -->
<!-- 1) Initial publication (CR-2022-26)                         -->
<!-- 2) version number to 1.0                                    -->
<!--                                                             -->
<!-- =========================================================== -->
                                         
<!-- DOCTYPE mediaCompanionFile [                                -->
<!-- The following set of declarations may be referred to 
     using the public entity as follows:
<!DOCTYPE mediaCompanionFile PUBLIC
  "-//ATA-TEXT//DTD MCP-VER1-REV0-LEVEL2//EN" [ ]>               -->

<!-- =========================================================== -->
<!--          NOTATIONS                                          -->
<!-- =========================================================== -->
<!NOTATION cgm PUBLIC
  "-//USA-DOD//NOTATION Computer Graphics Metafile//EN"            >

<!NOTATION ccitt4 PUBLIC
  "-//USA-DOD//NOTATION CCITT Group4 Facsimile//EN"                >

<!NOTATION gcf PUBLIC
    "-//ATA-TEXT//NOTATION Graphic Companion File//EN"             >

<!NOTATION pdf PUBLIC
  "-//Adobe Inc.//NOTATION Portable Document Format//EN"           >

<!NOTATION png PUBLIC
  "-//W3C//NOTATION Portable Network Graphics//EN"                 >

<!NOTATION jpeg PUBLIC
  "+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Joint
   Photographic Experts Group Raster//EN"                          >

<!NOTATION vrml PUBLIC
  "-//ATA-TEXT//NOTATION Virtual Reality Modeling Language//EN"    >

<!NOTATION mpeg PUBLIC
  "-//ATA-TEXT//NOTATION Motion Pictures Expert Group//EN"         >

<!NOTATION mp3 PUBLIC
  "-//ATA-TEXT//NOTATION Motion Pictures Expert Group, Audio
   Layer 3//EN"                                                    >

<!-- =========================================================== -->
<!--          ENTITIES                                           -->
<!-- =========================================================== -->
<!ENTITY   % ISOtech      PUBLIC
     "ISO 8879-1986//ENTITIES   General Technical//EN"             >
<!ENTITY   % ISOpub      PUBLIC
     "ISO 8879-1986//ENTITIES Publishing//EN"                      >
<!ENTITY   % ISOnum      PUBLIC
   "ISO 8879-1986//ENTITIES   Numeric and Special Graphic//EN"     >
<!ENTITY   % ISOgrk1     PUBLIC
     "ISO 8879-1986//ENTITIES   Greek Letters//EN"                 >
<!ENTITY   % ISOgrk2     PUBLIC
     "ISO 8879-1986//ENTITIES Monotoniko Greek//EN"                >
<!ENTITY   % ISOgrk3     PUBLIC
     "ISO 8879-1986//ENTITIES Greek Symbols//EN"                   >
<!ENTITY   % ISOgrk4     PUBLIC
     "ISO 8879-1986//ENTITIES Alternative Greek Symbols//EN"       >
<!ENTITY   % ISOlat1     PUBLIC
     "ISO 8879-1986//ENTITIES Added Latin 1//EN"                   >
<!ENTITY   % ISObox      PUBLIC
     "ISO 8879-1986//ENTITIES Box and Line Drawing//EN"            >
<!ENTITY   % ISOamso     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Ordinary//EN"    >
<!ENTITY   % ISOamsc     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Delimiters//EN"  >

%ISOtech; %ISOpub; %ISOnum; %ISOgrk1; %ISOgrk2; %ISOgrk3;
%ISOgrk4; %ISOlat1; %ISObox; %ISOamso; %ISOamsc;

<!-- =========================================================== -->

<!-- =========================================================== -->
<!-- Media Companion File TOP LEVEL STRUCTURE                    -->
<!-- Attributes:                                                 -->
<!-- "id"       ID of the companion data file.                   -->
<!-- "mednbr"   SGML external entity referencing the physical    -->
<!--            media file.                                      -->
<!-- "revdate"  Revision date                                    -->
<!-- "efflen"   Effectivity length.                              -->
<!-- "efftype"  Effectivity type.                                -->
<!-- =========================================================== -->
<!ELEMENT mediaCompanionFile - - (effect?, mediaMetadataList, 
						mediaObjectsList?, mediaObjectsGroups?)    >
<!ATTLIST mediaCompanionFile
          id              ID                           #IMPLIED
          mednbr          ENTITY                       #REQUIRED
          revdate         CDATA                        #IMPLIED
          efflen          NUMBER                       #IMPLIED
          efftype         CDATA                        #IMPLIED    >
          
<!-- =========================================================== -->
<!-- mediaMetadataList element                                   -->
<!-- Attributes:                                                 -->
<!-- =========================================================== -->
<!ELEMENT mediaMetadataList - - (mediaMeta+)                       >

<!-- =========================================================== -->
<!-- mediaMeta element                                           -->
<!-- Attributes:                                                 -->
<!-- "type"                                                      -->
<!-- "value"                                                     -->
<!-- "context"                                                   -->
<!-- =========================================================== -->
<!ELEMENT mediaMeta - - (#PCDATA | refext | graphic | refmedia)*   >
<!ATTLIST mediaMeta
		  type            CDATA                        #REQUIRED
		  value           CDATA                        #IMPLIED
		  context         CDATA                        #IMPLIED    >

<!-- =========================================================== -->
<!-- mediaObjectsList element                                    -->
<!-- Attributes:                                                 -->
<!-- "objnbr"                                                    -->
<!-- =========================================================== -->
<!ELEMENT mediaObjectsList - - (mediaObject+)                      >
<!ATTLIST mediaObjectsList
		  objnbr          NMTOKEN                      #IMPLIED    >
		  
<!-- =========================================================== -->
<!-- mediaObject element                                         -->
<!-- Attributes:                                                 -->
<!-- "id"                                                        -->
<!-- "objident"                                                  -->
<!-- "objtype"                                                   -->
<!-- =========================================================== -->
<!ELEMENT mediaObject - - (objectMeta*, objectParam*)              >
<!ATTLIST mediaObject
		  id              ID                           #REQUIRED
		  objident        CDATA                        #REQUIRED
		  objtype         CDATA                        #IMPLIED    >
		  
<!-- =========================================================== -->
<!-- objectMeta element                                          -->
<!-- Attributes:                                                 -->
<!-- "type"                                                      -->
<!-- "value"                                                     -->
<!-- "context"                                                   -->
<!-- =========================================================== -->
<!ELEMENT objectMeta - - (#PCDATA | refint | refext | graphic 
                         | refmedia)*                              >
<!ATTLIST objectMeta
		  type            CDATA                        #REQUIRED
		  value           CDATA                        #IMPLIED
		  context         CDATA                        #IMPLIED    >
		  
<!-- =========================================================== -->
<!-- objectParam                                                 -->
<!-- Attributes:                                                 -->
<!-- "type"                                                      -->
<!-- "value"                                                     -->
<!-- "context"                                                   -->
<!-- =========================================================== -->
<!ELEMENT objectParam - O  EMPTY                                   >
<!ATTLIST objectParam
		  type            CDATA                        #REQUIRED
		  value           CDATA                        #IMPLIED
		  context         CDATA                        #IMPLIED    >
		  
<!-- =========================================================== -->
<!-- mediaObjectsGroups element                                  -->
<!-- Attributes:                                                 -->
<!-- =========================================================== -->
<!ELEMENT mediaObjectsGroups - - (objectsGroup+)                   >

<!-- =========================================================== -->
<!-- objectsGroup element                                        -->
<!-- Attributes:                                                 -->
<!-- "id"                                                        -->
<!-- "grptype"                                                   -->
<!-- =========================================================== -->
<!ELEMENT objectsGroup - - (effect?, objectsGroupMeta*,
                             (objectsGroup* | refObject*))         >
<!ATTLIST objectsGroup
		  id              ID                           #IMPLIED
		  grptype         CDATA                        #IMPLIED    >
		  
<!-- =========================================================== -->
<!-- objectsGroupMeta element                                    -->
<!-- Attributes:                                                 -->
<!-- "type"                                                      -->
<!-- "value"                                                     -->
<!-- "context"                                                   -->
<!-- =========================================================== -->
<!ELEMENT objectsGroupMeta - - (#PCDATA | refint | refext
                               | graphic | refmedia)*              >
<!ATTLIST objectsGroupMeta
		  type            CDATA                        #REQUIRED
		  value           CDATA                        #IMPLIED
		  context         CDATA                        #IMPLIED    >

<!-- =========================================================== -->
<!--     Standard linking elements                               -->
<!-- =========================================================== -->
<!ELEMENT refint   - - (#PCDATA)                                   > 
<!ATTLIST refint 
          refid           IDREF                        #IMPLIED 
          reftype         CDATA                        #IMPLIED    > 

<!ELEMENT refext   - - (#PCDATA)                                   > 
<!ATTLIST refext 
          refloc          CDATA                        #IMPLIED 
          refman          CDATA                        #IMPLIED 
          refmodel        CDATA                        #IMPLIED 
          refspl          CDATA                        #IMPLIED 
          docnbr          CDATA                        #IMPLIED 
          reftype         CDATA                        #IMPLIED    > 

<!ELEMENT refmedia  - -  (#PCDATA)                                 >
<!ATTLIST refmedia
          mednbr         ENTITY                       #REQUIRED    >

<!ELEMENT refObject - O EMPTY                                      >
<!ATTLIST refObject
		  refid           IDREF                        #REQUIRED   >

<!-- =========================================================== -->
<!--    GRAPHIC                                                  -->
<!-- =========================================================== -->
<!ELEMENT graphic   - -  (sheet+)                                  >

<!ELEMENT sheet     - -  (title?)                                  >
<!ATTLIST sheet
          sheetnbr       CDATA                        #REQUIRED
          gnbr           ENTITY                       #REQUIRED
          cfnbr          ENTITY                       #IMPLIED
          imgarea   (AP|BP|CP|DL|EL|FP|GP|HL|IL)      #IMPLIED     >

<!-- =========================================================== -->
<!--     Effectivity                                             -->
<!-- =========================================================== -->
<!ELEMENT effect   - - (sbeff | coceff)*                           >
<!ATTLIST effect
          effrg           CDATA                        #IMPLIED 
          efftext         CDATA                        #IMPLIED    >
 
<!ELEMENT sbeff    - O  EMPTY                                      >
<!ATTLIST sbeff 
          effrg           CDATA                        #IMPLIED
          efftext         CDATA                        #IMPLIED
          sbnbr           CDATA                        #REQUIRED
          sbcond          CDATA                        #REQUIRED
          sbrev           CDATA                        #IMPLIED    >

<!ELEMENT coceff   - O  EMPTY                                      >
<!ATTLIST coceff 
          effrg           CDATA                        #IMPLIED
          efftext         CDATA                        #IMPLIED
          cocnbr          CDATA                        #REQUIRED
          coccond         CDATA                        #IMPLIED
          cocrev          CDATA                        #IMPLIED    >

<!-- =========================================================== -->
<!--    TITLE                                                    -->
<!-- =========================================================== -->
<!ELEMENT title     - -  (#PCDATA)                                 >
 
<!--   ]>                                                        -->                                                       