doctypes/ATA_iSpec2200_2003.1/msg3.dtd

<!-- ============================================================== -->
<!--                     DTD Header                                 -->
<!-- ============================================================== -->
<!--                                                                -->
<!-- This is the ATA MSG-3 DTD                                      -->
<!--                                                                -->
<!-- DTD Reference : ATA-TEXT-DTD-MSG3-VER8-LEVEL2                  -->
<!-- DTD Level     : 2                                              -->
<!-- Rev Date      : 16 Aug 2016                                    -->
<!-- Parsed Date   : 16 Aug 2016                                    -->
<!--                                                                -->
<!-- Highlights    :                                                -->
<!-- DTD REVISION HISTORY:                                          -->
<!-- 1) Increased the "VER" number to 8.                            -->
<!-- 2) CHGDTYPE optional attribute added to CHGDESC (CR-2016-02)   -->
<!--                                                                -->
<!-- REVISION HISTORY                                               -->
<!-- January 2005 V7.2                                              -->
<!-- 1) Editorial improvements of notations for readability.        -->
<!-- 2) Increased the version number to 7.2                         -->
<!--                                                                -->
<!-- REVISION HISTORY                                               -->
<!-- December 2004 V7.1                                             -->
<!-- 1) Editorial improvements of notations for readability.        -->
<!-- 2) Increased the version number to 7.1                         -->
<!--                                                                -->
<!-- REVISION HISTORY                                               -->
<!-- November 2004 V7                                               -->
<!-- 1) Added attribute CFNBR to SHEET for companion file           -->
<!--    referencing. Added gcf notation definition.                 -->
<!--    (CR AIB.GRAPHIC.001.2004)                                   -->
<!-- 2) Added new REFMEDIA element to reference a media file.       -->
<!--    Added PDF, PNG, JPEG, VRML, MPEG and MP3 notations.         -->
<!--    (CR 2004-Media-001).                                        -->
<!-- 3) Added EFFLEN and EFFTYPE attribute to root element.         -->
<!--    (CR AIB.TRAN.003.2004)                                      -->
<!-- 4) Added GRSYMBOL element to PARA content to reference inline  -->
<!--    graphics (CR inline graphics).                              -->
<!-- 4) Increased the Version number to 7.                          -->
<!--                                                                -->
<!-- January 2004 v6                                                -->
<!--  1. Added attribute ID to PRCITEM 1 thru 7 for referencing     -->
<!--     (boe.tran.002.2003).                                       -->
<!--  2. Incorporated ISObox, ISOamso & ISOamsc per ATA approved    -->
<!--     DTD CR 2003-All-001.                                       -->
<!--  3. Updated the DTD Reference and Public Identifier            -->
<!--     to version 6 (ms020600.dtd).                               -->
<!--  4. Editorial changes for readability.                         -->
<!--                                                                -->
<!-- December 2002 v5 Revision 7                                    -->
<!--  1. Removed elements WARNING and CAUTION and entities %W.C     -->
<!--     and %WCN which are not used in any content models.         -->
<!--  2. Changed element NOTE content exclusions due to the         -->
<!--     removal of WARNING and CAUTION.                            -->
<!--  3. Updated the DTD Reference and Public Identifier            -->
<!--     with the correct version number (ms020507.dtd).            -->
<!--  4. Editorial changes for readability.                         -->
<!--                                                                -->
<!-- September 2002 v5 Revision 6                                   -->
<!-- Highlight     :    update from last ATA publication            -->
<!--  1. Added prclist1 structure to intro and descdet              -->
<!--     to add flexibility.                                        -->
<!--  2. Added %w.c; entity to support prclist.                     -->
<!--  3. Removed warning and caution from %text to prevent          -->
<!--     ambiguous model.                                           -->
<!--  4. Replaced periobox under taskinfo with efftext and          -->
<!--     periodic, deleting the periobox structure.                 -->
<!--  5. Added prodid under MSG-3 to replace model                  -->
<!--     attribute.                                                 -->
<!--  6. Replaced DVI with DET to reflect change in the             -->
<!--     MSG-3 document in taskcode attribute.                      -->
<!--  7. EFFTEXT added as an optional child of the                  -->
<!--     following elements to replace the previous use of          -->
<!--     the effmsg inclusion:                                      -->
<!--     MSIGROUP, CANDMSI, COMPINFO, FUNCTION, FUNCFAIL            -->
<!--     FAILCAUS, TASK, SSIGROUP, SSI, SSICMP, EDAGDET,            -->
<!--     TASKINFO, ZONANL and ZONEVAL.                              -->
<!--                                                                -->
<!-- Highlight     :  Changes made to reflect 2002 CD               -->
<!--                  version of DTD                                -->
<!--  8. Added optional element LEGALNTC to document.               -->
<!--  9. Added entities ISOgrk2,3,4, ISOlat1 and ISOlat2.           -->
<!-- 10. Changed TABLE ENTRY contents to "*" optional               -->
<!--     repeating to avoid empty tags <para> </para> for           -->
<!--     blank table cell entries.                                  -->
<!-- 11. Added new elements SUB & SUPER to PARA, EQU                -->
<!--     & TITLE with a content of #PCDATA.                         -->
<!-- 12. Added new element REFBLOCK with a content of               -->
<!--     #PCDATA or REFINT or REFEXT or GRPHCREF. Added             -->
<!--     REFBLOCK choice to PARA.                                   -->

<!-- Revision Date :    january 2001                                -->
<!-- Highlight     :    update from last ATA publication            -->
<!--                rename taskdata to taskinfo                     -->
<!--                rename udunlk to likely                         -->
<!--                rename source to relsourc                       -->
<!--                rename source to damsourc                       -->
<!--                rename proc to procdesc                         -->
<!--                rename content to zonecont                      -->
<!--                change structure of element INTRO               -->
<!--                change structure of element SSICMP              -->
<!--                change structure of element RESTASK             -->
<!--                change structure of element SUSPRAT             -->
<!--                change structure of element DESCDET             -->
<!--                change structure of element TASKSUM             -->
<!--                change structure of element ZOGINT              -->
<!--                change structure of element DENRAT              -->
<!--                change structure of element IMPRAT              -->
<!--                change structure of element ENVRAT              -->
<!--                change structure of element SUSRAT              -->
<!--                change structure of element ZINTRVL             -->
<!--                                                                -->
<!-- ============================================================== -->
<!--                                                                -->
<!-- DOCTYPE msg3    [      -->
<!--                                                                -->
<!-- The following set of declarations may be referred              -->
<!-- to using a public entity as follows:                           -->
<!--     
<!DOCTYPE msg3  PUBLIC 
     "-//ATA-TEXT//DTD MSG3-VER8-LEVEL2//EN"  [  ]>                 -->

<!--                                                                -->
<!-- ============================================================== -->
<!--      NOTATIONS                                                 -->
<!-- ============================================================== -->
<!NOTATION cgm PUBLIC
    "-//USA-DOD//NOTATION Computer Graphics Metafile//EN"             >

<!NOTATION ccitt4 PUBLIC
    "-//USA-DOD//NOTATION CCITT Group 4 Facsimile//EN"                >

<!NOTATION gcf PUBLIC
 "-//ATA-TEXT//NOTATION Graphic Companion File//EN"                   >

<!NOTATION pdf PUBLIC
 "-//Adobe Inc.//NOTATION Portable Document Format//EN"               >

<!NOTATION png PUBLIC
 "-//W3C//NOTATION Portable Network Graphics//EN"                     >

<!NOTATION jpeg PUBLIC
 "+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Joint
  Photographic Experts Group Raster//EN"                              >

<!NOTATION vrml PUBLIC 
 "-//ATA-TEXT//NOTATION Virtual Reality Modeling Language//EN"        >

<!NOTATION mpeg PUBLIC
 "-//ATA-TEXT//NOTATION Motion Pictures Expert Group//EN"             >

<!NOTATION mp3 PUBLIC
 "-//ATA-TEXT//NOTATION Motion Pictures Expert Group, Audio
  Layer 3//EN"                                                        >

<!-- ============================================================== -->
<!--      ENTITIES                                                  -->
<!-- ============================================================== -->
<!ENTITY % text     "(para | table | note | unlist | numlist | list1 
                     | graphic | txtgrphc)+"                          >

<!ENTITY % deleted  "(deleted, chgdesc*)"                             >

<!ENTITY % yesorno  "NUMBER"                                          >

<!ENTITY % revatt
          "chg        (N | R | U | D | I)                   #REQUIRED
           key        ID                                    #REQUIRED
           revdate    NUMBER                                #REQUIRED">

<!-- ============================================================== -->
<!--      PUBLICS ENTITIES                                          -->
<!-- ============================================================== -->
<!ENTITY   % ISOtech      PUBLIC 
     "ISO 8879-1986//ENTITIES   General Technical//EN"                >
<!ENTITY   % ISOpub      PUBLIC 
     "ISO 8879-1986//ENTITIES Publishing//EN"                         >
<!ENTITY   % ISOnum      PUBLIC 
   "ISO 8879-1986//ENTITIES   Numeric and Special Graphic//EN"        >
<!ENTITY   % ISOgrk1     PUBLIC 
     "ISO 8879-1986//ENTITIES   Greek Letters//EN"                    >
<!ENTITY   % ISOgrk2     PUBLIC 
     "ISO 8879-1986//ENTITIES Monotoniko Greek//EN"                   >
<!ENTITY   % ISOgrk3     PUBLIC 
     "ISO 8879-1986//ENTITIES Greek Symbols//EN"                      >
<!ENTITY   % ISOgrk4     PUBLIC 
     "ISO 8879-1986//ENTITIES Alternative Greek Symbols//EN"          >
<!ENTITY   % ISOlat1     PUBLIC 
     "ISO 8879-1986//ENTITIES Added Latin 1//EN"                      >
<!ENTITY   % ISObox      PUBLIC
     "ISO 8879-1986//ENTITIES Box and Line Drawing//EN"               >
<!ENTITY   % ISOamso     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Ordinary//EN"       >
<!ENTITY   % ISOamsc     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Delimiters//EN"     >

%ISOtech; %ISOpub; %ISOnum; %ISOgrk1; %ISOgrk2; %ISOgrk3;
%ISOgrk4; %ISOlat1; %ISObox; %ISOamso; %ISOamsc; 

<!-- ============================================================== -->
<!--      MSG3 ANALYSIS HEADER                                      -->
<!-- ============================================================== -->
<!ELEMENT msg3     - - ((title?, intro?, prodid, legalntc, 
                        (syspower | structur | zonal)+) | increv)
                       +(revst | revend | hotlink)                    >

<!ATTLIST msg3
          spl         CDATA                                 #REQUIRED
          tsn         CDATA                                 #REQUIRED
          cus         CDATA                                 #IMPLIED
          lang        CDATA                                 #REQUIRED
          cusname     CDATA                                 #IMPLIED
          docnbr      CDATA                                 #IMPLIED
          manufact    CDATA                                 #REQUIRED
          oidate      NUMBER                                #REQUIRED
          revdate     NUMBER                                #REQUIRED
          chg         (N | R | U | D | I)                   #REQUIRED
          msgrev      NUMBER                                #REQUIRED 
          efflen      NUMBER                                #IMPLIED
          efftype     CDATA                                 #IMPLIED  >

<!ELEMENT increv - - (candmsi | msi | ssi | zonanl | task | sheet)+   >

<!-- ============================================================== -->
<!--      STRUCTURALLY SIGNIFICANT ITEM GROUP ANALYSIS              -->
<!-- ============================================================== -->
<!ELEMENT structur - - (title, intro, ssigroup)                       >
<!ATTLIST structur
          %revatt;                                                    >

<!-- ============================================================== -->
<!--      STRUCTURALLY SIGNIFICANT ITEM GROUP                       -->
<!-- ============================================================== -->
<!ELEMENT ssigroup - - (title, intro, efftext?, ssichsys+)            >
<!ATTLIST ssigroup
          %revatt;                                                    >

<!ELEMENT intro    - - (%text; | prclist1)                            >

<!-- ============================================================== -->
<!--      STRUCTURALLY SIGNIFICANT ITEM CHAPTER SYSTEM              -->
<!-- ============================================================== -->
<!ELEMENT ssichsys - - (title, intro, ssi+)                           >
<!ATTLIST ssichsys
          msgatano   CDATA                                  #REQUIRED
          %revatt;                                                    >

<!-- ============================================================== -->
<!--      STRUCTURALLY SIGNIFICANT ITEM SECTION                     -->
<!-- ============================================================== -->
<!ELEMENT ssi      - - (title, assump?, recrev?, desc, efftext?, 
                        graphic*, ssidata, ssianaly)                  >
<!ATTLIST ssi
          ssinbr     NUMBER                                 #REQUIRED
          status     CDATA                                  #REQUIRED
          msgrev     NUMBER                                 #IMPLIED
          mtlcssi   (metallic | composite | other)          #IMPLIED
          prpredby   CDATA                                  #IMPLIED
          agreedby   CDATA                                  #IMPLIED
          %revatt;                                                    >

<!ELEMENT eddata   - - (edagdet | edconsl)+                           >
<!ATTLIST eddata 
          %revatt;                                                    >

<!ELEMENT ssianaly - - ((accdam | eddata | ftgdam)+, taskinfo)        >
<!ELEMENT deleted  - O  EMPTY                                         >

<!-- ============================================================== -->
<!--      STRUCTURALLY SIGNIFICANT ITEM DATA                        -->
<!-- ============================================================== -->
<!ELEMENT ssidata  - - (ssibound?, envcond?, zone+, acclist,
                        ssicmp+, remark?)                             >
<!ATTLIST ssidata
          dsgncncp (safelife | damagetolerant) "damagetolerant"       >

<!ELEMENT ssibound - - (#PCDATA)                                      >
<!ELEMENT envcond  - - (#PCDATA)                                      >

<!ELEMENT ssicmp   - - (efftext?, (desc | (cmpmatl, protect)*))       >
<!ATTLIST ssicmp  
          cmprefno    CDATA                                 #IMPLIED  >

<!-- ============================================================== -->
<!--      ACCIDENTAL DAMAGE SECTIONS                                -->
<!-- ============================================================== -->
<!ELEMENT accdam   - - (efftext?, ((factor, rattble?)+ | tlrncsm
                       | dmgslct | strngred | cvdothr | adresult
                       | remark)*)                                    >
<!ATTLIST accdam
          likely   %yesorno;                                #IMPLIED 
          %revatt;                                                    >

<!ELEMENT adresult - - (trzonal?, restask)                            >
<!ATTLIST adresult
          impctag  (yes| no)                                #IMPLIED  
          impctft  %yesorno;                                #IMPLIED  
          impcted  %yesorno;                                #IMPLIED  >

<!ELEMENT cvdothr  - - (#PCDATA)                                      >
<!ATTLIST cvdothr
          ssinbr   NUMBER                                   #IMPLIED  >

<!ELEMENT restask  - - (desc, periodic)                               >
<!ATTLIST restask 
          taskcode (GVI|DET|SDI|VCK|FNC|OPC|LUB|SVC|RST|DIS|TPS)
                                                            #REQUIRED >

<!-- ============================================================== -->
<!--    REFERENCE BLOCK and GRAPHIC REFERENCING MECHANISMS          -->
<!-- ============================================================== -->
<!ELEMENT refblock - - (#PCDATA | refint | refext | grphcref)*        >

<!ELEMENT grphcref - - (#PCDATA)                                      >
<!ATTLIST grphcref
          refid     IDREF                                   #IMPLIED
          sheetnbr  CDATA                                   #IMPLIED
          structid  CDATA                                   #IMPLIED
          shownow   %yesorno;                               "0"       >

<!ELEMENT graphic  - - ((chgdesc*, title?, sheet+) | %deleted;)       >
<!ATTLIST graphic
          %revatt;                                                    >

<!ELEMENT sheet    - - ((chgdesc*, title?, gdesc?) | %deleted;)       >
<!ATTLIST sheet
          sheetnbr  CDATA                                   #REQUIRED
          gnbr      ENTITY                                  #REQUIRED
          cfnbr     ENTITY                                  #IMPLIED
          imgarea   (AP|BP|CP|DL|EL|FP|GP|HL|IL)            #IMPLIED
          %revatt;                                                    >

<!ELEMENT gdesc    - - (%text;)     -(graphic)                        >

<!ELEMENT grsymbol - O  EMPTY                                         >
<!ATTLIST grsymbol
          gnbr      ENTITY                                  #REQUIRED 
          reprowid  CDATA                                   #IMPLIED 
          reprohgt  CDATA                                   #IMPLIED 
          reproscl  CDATA                                   #IMPLIED  >
  
<!-- ============================================================== -->
<!--      PARAGRAPH                                                 -->
<!-- ============================================================== -->
<!ELEMENT para     - - (#PCDATA | refext | refint | equ | grphcref
                       | refblock | sub | super | txtgrphc | refmedia
                       | grsymbol)+                                   >

<!-- ============================================================== -->
<!--      MISCELLANEOUS CONSTRUCTIONS:                              -->
<!--      REVISION MARKERS, HOTLINK, TITLE                          -->
<!--      DELETE and CHANGE DESCRIPTION                             -->
<!-- ============================================================== -->
<!ELEMENT revst    - O EMPTY                                          >
<!ELEMENT revend   - O EMPTY                                          >

<!ELEMENT hotlink  - O EMPTY                                          >
<!ATTLIST hotlink
          targetid  CDATA                                   #IMPLIED  >
          
<!ELEMENT chgdesc  - - (#PCDATA)                                      >
<!ATTLIST chgdesc
          chgdtype      (edit|tech|effect|sgml)             #IMPLIED  >
<!ELEMENT refint   - - (#PCDATA)                                      >
<!ATTLIST refint
          reftype   CDATA                                   #IMPLIED
          refid     IDREF                                   #REQUIRED >

<!ELEMENT refmedia - - (#PCDATA)                                      >
<!ATTLIST refmedia
          mednbr    ENTITY                                  #REQUIRED >

<!-- ============================================================== -->
<!--      EFFECTIVITY CODING ELEMENT                                -->
<!-- ============================================================== -->
<!ELEMENT prodid   - - (prodnbr, serial?)                             >
<!ATTLIST prodid
          cagecode  CDATA                                   #REQUIRED >

<!ELEMENT prodnbr  - - (sunit | (strange, endrange))+                 >
<!ELEMENT serial   - - (sunit | (strange, endrange))+                 >
<!ELEMENT sunit    - - (#PCDATA)                                      >
<!ELEMENT strange  - - (#PCDATA)                                      >
<!ELEMENT endrange - - (#PCDATA)                                      >
<!ELEMENT efftext  - - (efftxtli+)                                    >
<!ELEMENT efftxtli - - (#PCDATA | refext)+                            >
     
<!-- ============================================================== -->
<!--      TASK SUMMARY                                              -->
<!-- ============================================================== -->
<!ELEMENT taskinfo - - (desc, acclist, (skill, tahour)*,  
                        elapstim?, toolsgse*, material*,
                        efftext?, periodic, intjust?, remark?)        >
<!ATTLIST taskinfo
          tasknbr    CDATA                                  #REQUIRED
          taskcode (GVI|DET|SDI|VCK|FNC|OPC|LUB|SVC|RST|DIS|TPS)
                                                            #IMPLIED
          nbrpers    CDATA                                  #REQUIRED >

<!ELEMENT edagdet  - - (efftext?, (edrat, dmgslct, edresult, potdam?))>
<!ATTLIST edagdet
          %revatt;                                                    >

<!ELEMENT potdam   - - (#PCDATA)                                      >

<!ELEMENT edrat    - - (matslct, factor+, rattble?)+                  >
  
<!ELEMENT edresult - - (restask | prgcncpt | remarks)+                >

<!ELEMENT edconsl  - - (efftext?, (ccresult, cnresult))               >
<!ATTLIST edconsl
          %revatt;                                                    >

<!ELEMENT ccresult - - (restask | prgcncpt | listnssi)+               >
<!ATTLIST ccresult
          edcpcp    (yes | no)                              #IMPLIED
          nssi      %yesorno;                               #IMPLIED
          apptps    %yesorno;                               #IMPLIED  >

<!ELEMENT cnresult - - (restask | prgcncpt | trzonal | tpstype  
                       | remark)+                                     >
<!ATTLIST cnresult
          apptps    %yesorno;                               #IMPLIED  >

<!ELEMENT ftgdam   - - (efftext?, (ftrat, fdresult))                  >
<!ATTLIST ftgdam
          %revatt;                                                    >

<!ELEMENT ftrat    - - (sdimthd)                                      >
<!ATTLIST ftrat
          cngstrat   NUMBER                                 #IMPLIED
          lightrat   NUMBER                                 #IMPLIED
          surfrat    NUMBER                                 #IMPLIED
          sizerat    NUMBER                                 #IMPLIED
          accesrat   NUMBER                                 #IMPLIED
          condtrat   NUMBER                                 #IMPLIED
          lbas       NUMBER                                 #IMPLIED
          lhidden    NUMBER                                 #IMPLIED
          gaugefct   NUMBER                                 #IMPLIED
          edgefact   NUMBER                                 #IMPLIED
          lvis       NUMBER                                 #IMPLIED
          leffdet    NUMBER                                 #IMPLIED
          viewrat    NUMBER                                 #IMPLIED  >

<!ELEMENT fdresult  - - (restask | prgcncpt | remark | graphic  
                        | apeffect)+                                  >
<!ATTLIST fdresult 
          appleff    NUMBER                                 #IMPLIED  
          fatirat    NUMBER                                 #IMPLIED  >

<!ELEMENT sdimthd   - - (#PCDATA)                                     >
<!ATTLIST sdimthd 
          dtctds     NUMBER                                 #IMPLIED  >

<!-- ============================================================== -->
<!--      MSI SECTION                                               -->
<!-- ============================================================== -->
<!ELEMENT syspower   - - (title?, intro?, msigroup*)                  >
<!ATTLIST syspower
          %revatt;                                                    >

<!-- ============================================================== -->
<!--    MSI GROUP                                                   -->
<!-- ============================================================== -->
<!ELEMENT msigroup - - (title?, intro?, efftext?, msichsys*)          >
<!ATTLIST msigroup
          %revatt;                                                    >

<!-- ============================================================== -->
<!--      MSICHSYS                                                  -->
<!-- ============================================================== -->
<!ELEMENT msichsys - - (title, intro?, candmsi*)                      >
<!ATTLIST msichsys
          msgatano     CDATA                                #REQUIRED
          %revatt;                                                    >

<!-- ============================================================== -->
<!--      CANDMSI                                                   -->
<!-- ============================================================== -->
<!ELEMENT candmsi  - - (title, efftext?, breakd?, descdet?,
                        remark?, msi?)                                >
<!ATTLIST candmsi
          cdmsinbr     NMTOKENS                             #REQUIRED
          ansa         %yesorno;                            #REQUIRED
          ansb         %yesorno;                            #REQUIRED
          ansc         %yesorno;                            #REQUIRED
          ansd         %yesorno;                            #REQUIRED
          msgrev       NUMBER                               #REQUIRED
          prpredby     CDATA                                #REQUIRED
          agreedby     CDATA                                #IMPLIED
          highlev      CDATA                                #REQUIRED
          %revatt;                                                    >

<!ELEMENT msi      - - (recrev?, assump?, compinfo+, descdet,
                        function+, tasksum)                           >
<!ATTLIST msi
          msgrev       NUMBER                               #REQUIRED
          prpredby     CDATA                                #REQUIRED
          agreedby     CDATA                                #REQUIRED
          status       CDATA                                #REQUIRED 
          %revatt;                                                    >
          
<!ELEMENT breakd   - - (graphic)                                      >

<!ELEMENT descdet  - - ((title | %text; | prclist1)+)                 >

<!ELEMENT compinfo - - (oemname?, efftext?, similar*, cmpnom,
                        reldata*)                                     >
<!ATTLIST compinfo
          msgatano     CDATA                                #REQUIRED 
          qty          NUMBER                               #REQUIRED 
          oempnr       CDATA                                #IMPLIED
          acmfrpnr     CDATA                                #IMPLIED  >

<!ELEMENT oemname  - - (#PCDATA)                                      >
<!ATTLIST oemname 
          cagecode     CDATA                                #IMPLIED  >

<!ELEMENT reldata  - - (#PCDATA)                                      >
<!ATTLIST reldata
          mtbforur     (MTBF | MTBUR)                       #REQUIRED
          preorhis     (pre | his)                          #REQUIRED
          relsourc     CDATA                                #IMPLIED  >

<!ELEMENT function - - (desc, efftext?, funcfail+)                    >
<!ATTLIST function
          refnbrf      CDATA                                #REQUIRED >

<!ELEMENT funcfail - - (desc, efftext?, faileff, l1anl+, failcaus+)   >
<!ATTLIST funcfail
          fec          (5 | 6 | 7 | 8 | 9)                  #REQUIRED 
          refnbrf      CDATA                                #REQUIRED >

<!ELEMENT tasksum  - - (%text; | task+)                               >
<!ATTLIST tasksum 
          %revatt;                                                    >

<!ELEMENT failcaus - - (desc, efftext?, l2anl+, l2task*)              >
<!ATTLIST failcaus
          refnbrf      CDATA                                #REQUIRED >

<!ELEMENT faileff  - - (desc)                                         >
<!ATTLIST faileff
          refnbrf      CDATA                                #REQUIRED >

<!ELEMENT l1anl    - - (desc)                                         >
<!ATTLIST l1anl
          l1idques   (01 | 02 | 03 | 04)                    #REQUIRED
          ans        (yes | no | NA)                        #REQUIRED
          path       (1|2|3|4|5|6|7|8|9)                    "1"       >

<!ELEMENT l2anl    - - (desc)                                         >
<!ATTLIST l2anl
          l2idques   (A | B | C | D | E | F)                #REQUIRED  
          ans        (yes | no | NA)                        #REQUIRED >

<!ELEMENT task     - - (efftext?, l2task+, desc, remark?,
                        mtaskdat?, periodic)                          >
<!ATTLIST task
          tasknbr      CDATA                                #IMPLIED
          taskcode (GVI|DET|SDI|VCK|FNC|OPC|LUB|SVC|RST|DIS|TPS)
                                                            #REQUIRED >
<!ELEMENT l2task   - - (desc, periodic)                               >
<!ATTLIST l2task
          l2tkseqn     CDATA                                #IMPLIED 
          taskcode (GVI|DET|SDI|VCK|FNC|OPC|LUB|SVC|RST|DIS|TPS)
                                                            #IMPLIED  >

<!-- ============================================================== -->
<!--      ATA MAINTENANCE TASK IN THE AMM OR EMM                    -->
<!-- ============================================================== -->
<!ELEMENT mtaskdat - - (taskinfo+, efftext*, trzonal?, (feclist | zone*
                       | acclist | procdesc | lutilp | reason)*)      >
<!ATTLIST mtaskdat
          %revatt;                                                    >

<!ELEMENT txtgrphc - - (txtline+)                                     >

<!-- ============================================================== -->
<!--      SYSTEM ZONAL                                              -->
<!-- ============================================================== -->
<!ELEMENT zonal    - - ((title?, intro?, zonanl)+)                    >
<!ATTLIST zonal 
          %revatt;                                                    >

<!-- ============================================================== -->
<!--      ZONE                                                      -->
<!-- ============================================================== -->
<!ELEMENT zonanl   - - (title, assump?, efftext?, zonebox, remark?,
                        acclist, boundary?, zonecont*, recrev?,
                        tasktran*, evalremk?, zoneval*)               >
<!ATTLIST zonanl
          %revatt; 
          zonenbr       NUMBER                              #REQUIRED
          msgrev        NUMBER                              #REQUIRED
          prpredby      CDATA                               #REQUIRED
          agreedby      CDATA                               #IMPLIED
          internal      (yes | no)                          #IMPLIED  >

<!ELEMENT zonecont - - (title?, contdesc+)                            >
<!ELEMENT acclist  - - (accitem | accpan)*                            >
<!ELEMENT zonebox  - - (descdet, mxtraf*)                             >
<!ELEMENT recrev   - - (revdesc*)                                     >
 
<!ELEMENT revdesc  - - (#PCDATA)                                      >
<!ATTLIST revdesc
          revnbr        NUMBER                              #REQUIRED
          revdate       NUMBER                              #REQUIRED >

<!ELEMENT tasktran - - ((task | l2task | restask | taskinfo), 
                        (bywg | request | tranzone |  response)*)     >

<!ATTLIST tasktran 
          msissinb      CDATA                               #REQUIRED >

<!ELEMENT zoneval  - - ((factor | zogint | zintrvl)+, zonedata, 
                         efftext?)                                    >
<!ELEMENT zonedata - - (efftext?, taskinfo+)                          >
<!ELEMENT zogint   - - (periodic | remarks?)                          >
<!ELEMENT zintrvl  - - (periodic | remarks?)                          >
<!ELEMENT periodic - - ((threshol+, interval)+)                       >
<!ELEMENT threshol - - ((minthr?, (chkcodva | unitval)+,
                       (sampperc)?, note?))                           >
<!ELEMENT minthr   - - ((chkcodva | unitval)+)                        >
<!ELEMENT interval - - (((chkcodva | unitval)+, tolperc?,
                       (sampperc)?, note?))                           >
<!ELEMENT sampperc - - (#PCDATA, note?)                               >

<!ELEMENT chkcodva - - (#PCDATA)                                      >
<!ATTLIST chkcodva
          chkcode   (A|B|C|D|E|DL|TR|WL|PF|OV|ST|SV|RT)     #REQUIRED >

<!ELEMENT unitval  - - (#PCDATA)                                      >
<!ATTLIST unitval
          unitcode  (FH|FC|MO|WK|YR|DY|PC|OC|LD|HR|OH|SC|SH)
                                                            #REQUIRED >

<!-- ============================================================== -->
<!-- TABLE (CALS)                                                   -->
<!-- ============================================================== -->
<!ELEMENT table    - - ((title?, tgroup, ftnote*)
                        | graphic+)       -(table)                    >
<!ATTLIST table
          tabstyle NMTOKEN                                  #IMPLIED
          frame    (top | bottom | topbot | all | sides 
                   | none)                                  #IMPLIED
          colsep   %yesorno;                                #IMPLIED
          rowsep   %yesorno;                                #IMPLIED
          orient   (port | land)                            #IMPLIED
          pgwide   %yesorno;                                #IMPLIED
          id       ID                                       #IMPLIED  >

<!ELEMENT tgroup   - O (colspec*, spanspec*, thead?, tfoot?, tbody)   >
<!ATTLIST tgroup
          cols     NUMBER                                   #REQUIRED
          colsep   %yesorno;                                #IMPLIED
          rowsep   %yesorno;                                #IMPLIED
          align    (left | right | center | justify | char) "left"
          charoff  NUTOKEN                                  "50"
          char     CDATA                                    " "       >

<!ELEMENT colspec  - O EMPTY                                          >
<!ATTLIST colspec
          colnum   NUMBER                                   #IMPLIED
          colname  NMTOKEN                                  #IMPLIED
          align    (left | right | center | justify | char) #IMPLIED
          charoff  NUTOKEN                                  #IMPLIED
          char     CDATA                                    #IMPLIED
          colwidth CDATA                                    #IMPLIED
          colsep   %yesorno;                                #IMPLIED
          rowsep   %yesorno;                                #IMPLIED  >

<!ELEMENT spanspec - O EMPTY                                          >
<!ATTLIST spanspec
          namest   NMTOKEN                                  #REQUIRED
          nameend  NMTOKEN                                  #REQUIRED
          spanname NMTOKEN                                  #REQUIRED
          align    (left | right | center | justify | char) "center"
          charoff  NUTOKEN                                  #IMPLIED
          char     CDATA                                    #IMPLIED
          colsep   %yesorno;                                #IMPLIED
          rowsep   %yesorno;                                #IMPLIED  >

<!ELEMENT thead    - O (colspec*, row+)                               >
<!ATTLIST thead
          valign   (top | middle | bottom)                  "bottom"  >

<!ELEMENT tfoot    - O (colspec*, row+)                               >
<!ATTLIST tfoot
          valign   (top | middle | bottom)                  "top"     >

<!ELEMENT tbody    - O (row+)                                         >
<!ATTLIST tbody
          valign   (top | middle | bottom)                  "top"     >

<!ELEMENT row      - O (entry+)                                       >
<!ATTLIST row
          rowsep   %yesorno;                                #IMPLIED  >

<!ELEMENT entry    - - ((para | unlist)*)                             >
<!ATTLIST entry
          colname  NMTOKEN                                  #IMPLIED
          namest   NMTOKEN                                  #IMPLIED
          nameend  NMTOKEN                                  #IMPLIED
          spanname NMTOKEN                                  #IMPLIED
          morerows NUMBER                                   "0"
          colsep   %yesorno;                                #IMPLIED
          rowsep   %yesorno;                                #IMPLIED
          rotate   %yesorno;                                "0"
          valign   (top | middle | bottom)                  "top"
          align    (left | right | center | justify | char) #IMPLIED
          charoff  NUTOKEN                                  #IMPLIED
          char     CDATA                                    #IMPLIED  >

<!ELEMENT ftnote   - - (%text;)      -(graphic)                       >
<!ATTLIST ftnote
          ftnoteid ID                                       #REQUIRED >

<!-- ============================================================== -->
<!--      NUMBERED & UN-NUMBERED LIST                               -->
<!-- ============================================================== -->
<!ELEMENT numlist   - - (numlitem+)                                   >
<!ATTLIST numlist
          numtype   (NNP|AUP|NNB|ALB|NNS|RUP|RLP|RUR|RLR
                    |NNR|AUR|ALR)                           "NNP"     >
<!ELEMENT numlitem  - - (para+)                                       >

<!ELEMENT unlist    - - (unlitem+)                                    >
<!ATTLIST unlist
          bulltype  (NONE|BULLET|NDASH|MDASH|DIAMOND|ASTERISK
                    |DELTA|SQUARE|SYSTEM)                   "SYSTEM"  >
<!ELEMENT unlitem   - - (para+)                                       >

<!-- ============================================================== -->
<!--      PCDATA ELEMENTS                                           -->
<!-- ============================================================== -->
<!ELEMENT zone      - - (#PCDATA)                                     >
<!ELEMENT cmpmatl   - - (#PCDATA)                                     >
<!ELEMENT protect   - - (#PCDATA)                                     >
<!ELEMENT remark    - - (#PCDATA)                                     >
<!ELEMENT desc      - - (#PCDATA)                                     >
<!ELEMENT title     - - (#PCDATA | sub | super)+                      >
<!ELEMENT tlrncsm   - - (#PCDATA)                                     >
<!ELEMENT dmgslct   - - (#PCDATA)                                     >
<!ELEMENT strngred  - - (#PCDATA)                                     >
<!ELEMENT tahour    - - (#PCDATA)                                     >
<!ELEMENT intjust   - - (#PCDATA)                                     >
<!ELEMENT elapstim  - - (#PCDATA)                                     >
<!ELEMENT skill     - - (#PCDATA)                                     >
<!ELEMENT matslct   - - (#PCDATA)                                     >
<!ELEMENT tpstype   - - (#PCDATA)                                     >
<!ELEMENT rattble   - - (table)                                       >
<!ELEMENT prgcncpt  - - (#PCDATA)                                     >
<!ELEMENT cmpnom    - - (#PCDATA)                                     >
<!ELEMENT similar   - - (#PCDATA)                                     >
<!ELEMENT listnssi  - - (#PCDATA)                                     >
<!ELEMENT apeffect  - - (#PCDATA)                                     >
<!ELEMENT assump    - - (#PCDATA)                                     >
<!ELEMENT lutilp    - - (#PCDATA)                                     >
<!ELEMENT reason    - - (#PCDATA)                                     >
<!ELEMENT toolsgse  - - (#PCDATA)                                     >
<!ELEMENT trzonal   - - (#PCDATA)                                     >
<!ELEMENT tranzone  - - (#PCDATA)                                     >
<!ELEMENT material  - - (#PCDATA)                                     >
<!ELEMENT txtline   - - (#PCDATA)                                     >
<!ELEMENT feclist   - - (#PCDATA)                                     >
<!ELEMENT procdesc  - - (#PCDATA)                                     >
<!ELEMENT evalremk  - - (#PCDATA)                                     >
<!ELEMENT accitem   - - (#PCDATA)                                     >
<!ELEMENT accpan    - - (#PCDATA)                                     >
<!ELEMENT mxtraf    - - (#PCDATA)                                     >
<!ELEMENT boundary  - - (#PCDATA)                                     >
<!ELEMENT contdesc  - - (#PCDATA)                                     >
<!ELEMENT bywg      - - (#PCDATA)                                     >
<!ELEMENT request   - - (#PCDATA)                                     >
<!ELEMENT response  - - (#PCDATA)                                     >
<!ELEMENT remarks   - - (#PCDATA)                                     >
<!ELEMENT tolperc   - - (#PCDATA)                                     >

<!ELEMENT refext   - -  (#PCDATA)                                     >
<!ATTLIST refext
          refman   CDATA                                    #IMPLIED
          refspl   CDATA                                    #IMPLIED
          refmodel CDATA                                    #IMPLIED
          docnbr   CDATA                                    #IMPLIED
          refloc   CDATA                                    #IMPLIED  >

<!ELEMENT sub      - - (#PCDATA)                                      >
<!ELEMENT super    - - (#PCDATA)                                      >
<!ELEMENT equ      - - (#PCDATA | sub | super)+                       >

<!-- ============================================================== -->
<!-- NOTE                                                           -->
<!-- ============================================================== -->
<!ELEMENT note     - - (%text;)              -(note | graphic)        >
 
<!-- ============================================================== -->
<!-- LISTS                                                          -->
<!-- ============================================================== -->
<!ELEMENT list1    - - (title?, l1item+)     -(list1)                 >
<!ELEMENT list2    - - (title?, l2item+)                              >
<!ELEMENT list3    - - (title?, l3item+)                              >
<!ELEMENT list4    - - (title?, l4item+)                              >
<!ELEMENT list5    - - (title?, l5item+)                              >
<!ELEMENT list6    - - (title?, l6item+)                              >
<!ELEMENT list7    - - (title?, l7item+)                              >

<!-- ============================================================== -->
<!-- LIST ITEMS                                                     -->
<!-- ============================================================== -->
<!ELEMENT l1item   - - (%text;, list2?)                               >
<!ATTLIST l1item
          key       ID                                      #IMPLIED  >
<!ELEMENT l2item   - - (%text;, list3?)                               >
<!ATTLIST l2item
          key       ID                                      #IMPLIED  >
<!ELEMENT l3item   - - (%text;, list4?)                               >
<!ATTLIST l3item
          key       ID                                      #IMPLIED  >
<!ELEMENT l4item   - - (%text;, list5?)                               >
<!ATTLIST l4item
          key       ID                                      #IMPLIED  >
<!ELEMENT l5item   - - (%text;, list6?)                               >
<!ATTLIST l5item
          key       ID                                      #IMPLIED  >
<!ELEMENT l6item   - - (%text;, list7?)                               >
<!ATTLIST l6item
          key       ID                                      #IMPLIED  >
<!ELEMENT l7item   - - (%text;)                                       >
<!ATTLIST l7item
          key       ID                                      #IMPLIED  >

<!-- ============================================================== -->
<!-- FACTOR & SUB FACTOR ITEMS                                      -->
<!-- ============================================================== -->
<!ELEMENT factor   - -   (title, subfact*)                            >
<!ATTLIST factor
          facrat         NUMBER                             #REQUIRED
          likely         %yesorno;                          #IMPLIED
          faselmth       (MIN | MAX | MID | AVG | SUM)      "MIN"     >

<!ELEMENT subfact  - -   (title, remark?)                             >
<!ATTLIST subfact
          subfrat        NUMBER                             #IMPLIED  
          likely         %yesorno;                          #IMPLIED  >

<!-- ============================================================== -->
<!--     PROCEDURE(INC D&O) LIST STRUCTURE                          -->
<!-- ============================================================== -->
<!ELEMENT prclist1  - - (prcitem1+, efftext?)                         >
<!ELEMENT prclist2  - - (prcitem2+)                                   >
<!ELEMENT prclist3  - - (prcitem3+)                                   >
<!ELEMENT prclist4  - - (prcitem4+)                                   >
<!ELEMENT prclist5  - - (prcitem5+)                                   >
<!ELEMENT prclist6  - - (prcitem6+)                                   >
<!ELEMENT prclist7  - - (prcitem7+)                                   >

<!ELEMENT prcitem1  - - (prcitem, prclist2?, graphic*)                >
<!ATTLIST prcitem1
          id        ID                                      #IMPLIED  >
<!ELEMENT prcitem2  - - (prcitem, prclist3?)                          >
<!ATTLIST prcitem2
          id        ID                                      #IMPLIED  >
<!ELEMENT prcitem3  - - (prcitem, prclist4?)                          >
<!ATTLIST prcitem3
          id        ID                                      #IMPLIED  >
<!ELEMENT prcitem4  - - (prcitem, prclist5?)                          >
<!ATTLIST prcitem4
          id        ID                                      #IMPLIED  >
<!ELEMENT prcitem5  - - (prcitem, prclist6?)                          >
<!ATTLIST prcitem5
          id        ID                                      #IMPLIED  >
<!ELEMENT prcitem6  - - (prcitem, prclist7?)                          >
<!ATTLIST prcitem6
          id        ID                                      #IMPLIED  >
<!ELEMENT prcitem7  - - (prcitem)                                     >
<!ATTLIST prcitem7
          id        ID                                      #IMPLIED  >

<!ELEMENT prcitem   - - (title?, (%text;)*, efftext?)                 >

<!-- ============================================================== -->
<!--       LEGAL NOTICE INFORMATION                                 -->
<!-- ============================================================== -->
<!ELEMENT legalntc  - - (exprtcl | cpyrght | proptary | geninfo)+     >
<!ATTLIST legalntc
          %revatt;                                                    >
<!ELEMENT proptary  - - (fullstmt, partstmt?)                         >
<!ELEMENT fullstmt  - - (title?, cpyrght?, para+)                     >
<!ELEMENT partstmt  - - (title?, para+)                               >
<!ELEMENT exprtcl   - - (para | unlist | numlist | note)+             >
<!ELEMENT cpyrght   - - (year*, holder*, geninfo)                     >
<!ELEMENT year      - - (#PCDATA)                                     >
<!ELEMENT holder    - - (#PCDATA)                                     >
<!ELEMENT geninfo   - - (para | unlist | numlist | note)+             >
<!--   ]>   -->
