doctypes/ATA_iSpec2200_2003.1/sbi.dtd

<!-- ================================================================== -->
<!--                                    DTD Header                      -->
<!-- ================================================================== -->
<!--                                                                    -->
<!--    This is the ATA Service Bulletin Index DTD                      -->
<!--                                                                    -->
<!-- DTD Reference : -//ATA-TEXT//DTD SBI-VER9-LEVEL2//EN               -->
<!-- DTD Level     : 2                                                  -->
<!-- Rev Date      : 28 Sep 2021                                        -->
<!-- Parsed Date   : 28 Sep 2021                                        -->
<!--                                                                    -->
<!-- Highlights    :                                                    -->
<!-- 1) Increased the "VER" number to 9.0.                              -->
<!-- 2) Added optional ID attribute to LxITEM elements (CR-2020-12).    -->
<!--                                                                    -->
<!-- Revision History:                                                  -->
<!-- Rev Date      : 17 Nov 2004                                        -->
<!-- Parsed Date   : 17 Nov 2004                                        -->
<!-- Highlights    :                                                    -->
<!-- 1) Added EFFLEN and EFFTYPE attribute to root element.             -->
<!--    (CR AIB.TRAN.003.2004)                                          -->
<!-- 2) Notations CCITT4 and CGM are removed as GRAPHIC is not defined  -->
<!--    in the SBI DTD.                                                 -->
<!-- 2) Increased the Version number to 8.                              -->
<!--                                                                    -->
<!-- Revision History:                                                  -->
<!-- Highlights    :                                                    -->
<!-- Rev Date      : 24 Dec 2003                                        -->
<!-- Parsed Date   : 24 Dec 2003                                        -->
<!-- 1) Incorporated ISObox, ISOamso & ISOamsc per ATA approved         -->
<!--    DTD CR 2003-All-001.                                            -->
<!-- 2) Increased the "VER" number to 7.                                -->
<!-- 3) Made some editorial improvements for readability.               -->
<!--                                                                    -->
<!-- Revision History:                                                  -->
<!-- Highlights    :                                                    -->
<!-- Rev Date      : 04 Dec 2001                                        -->
<!-- Parsed Date   : 04 Dec 2001                                        -->
<!-- 1) Added EFFECT inclusions to NOTE. Added EFFECT element with      -->
<!--    content of #PCDATA.                                             -->
<!-- 2) Added new elements SUB & SUPER to PARA & TITLE with a content   -->
<!--    of #PCDATA.                                                     -->
<!-- 3) Element REFBLOCK was added to PARA. REFBLOCK content does not   -->
<!--    include a choice of GRPHCREF since the SB Index does not have   -->
<!--    graphics. Added REFEXT and REFINT element structures.           -->
<!-- 4) Increased the "VER" number to 6.                                -->
<!-- 5) Made some editorial improvements for readability.               -->
<!--                                                                    -->
<!-- Highlights    :                                                    -->
<!--   1) Added entities ISOgrk2,3,4 & ISOlat1                          -->
<!--   2) Added optional LEGALNTC (Image Area) element structure        -->
<!--   3) Fixed the DTD Reference format                                -->
<!--   4) Increased version number to 5.                                -->
<!-- ================================================================== -->

<!-- DOCTYPE sbi [   -->

<!-- The following set of declarations may be referred
     to using a public entity as follows:

<!DOCTYPE sbi  PUBLIC
    "-//ATA-TEXT//DTD SBI-VER9-LEVEL2//EN" [ ]>                         -->

<!-- ================================================================== -->
<!--            ENTITIES                                                -->
<!-- ================================================================== -->
<!ENTITY  % text    "(para | unlist | numlist | list1 | note)+"           >
<!ENTITY  % yesorno "NUMBER"                                              >

<!ENTITY  % revatt
           "chg        (N|R|U|D)                      #REQUIRED
            key        ID                             #REQUIRED
            revdate    NUMBER                         #REQUIRED"          >

<!ENTITY   % ISOtech      PUBLIC
     "ISO 8879-1986//ENTITIES   General Technical//EN"                    >
<!ENTITY   % ISOpub      PUBLIC
     "ISO 8879-1986//ENTITIES Publishing//EN"                             >
<!ENTITY   % ISOnum      PUBLIC
   "ISO 8879-1986//ENTITIES   Numeric and Special Graphic//EN"            >
<!ENTITY   % ISOgrk1     PUBLIC
     "ISO 8879-1986//ENTITIES   Greek Letters//EN"                        >
<!ENTITY   % ISOgrk2     PUBLIC
     "ISO 8879-1986//ENTITIES Monotoniko Greek//EN"                       >
<!ENTITY   % ISOgrk3     PUBLIC
     "ISO 8879-1986//ENTITIES Greek Symbols//EN"                          >
<!ENTITY   % ISOgrk4     PUBLIC
     "ISO 8879-1986//ENTITIES Alternative Greek Symbols//EN"              >
<!ENTITY   % ISOlat1     PUBLIC
     "ISO 8879-1986//ENTITIES Added Latin 1//EN"                          >
<!ENTITY   % ISObox      PUBLIC
     "ISO 8879-1986//ENTITIES Box and Line Drawing//EN"                   >
<!ENTITY   % ISOamso     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Ordinary//EN"           >
<!ENTITY   % ISOamsc     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Delimiters//EN"         >

%ISOtech; %ISOpub; %ISOnum; %ISOgrk1; %ISOgrk2; %ISOgrk3;
%ISOgrk4; %ISOlat1; %ISObox; %ISOamso; %ISOamsc;

<!-- ================================================================== -->
<!--      Service Bulletin Index High Level Structure                   -->
<!-- ================================================================== -->
<!ELEMENT sbi       - -   (title, legalntc?, intro?, effxref?, index,
                           vsbindex?)                                     >
<!ATTLIST sbi
          model     CDATA                             #REQUIRED
          spl       CDATA                             #REQUIRED
          tsn       CDATA                             #IMPLIED
          oidate    NUMBER                            #IMPLIED
          revdate   NUMBER                            #REQUIRED
          chg       (N | R | U)                       #REQUIRED
          lang      CDATA                             #REQUIRED
          efflen    NUMBER                            #IMPLIED
          efftype   CDATA                             #IMPLIED            >

<!-- ================================================================== -->
<!--      TITLE                                                         -->
<!-- ================================================================== -->
<!ELEMENT title     - -   (#PCDATA | sub | super)+                        >

<!-- ================================================================== -->
<!--       Legal Notice Information                                     -->
<!-- ================================================================== -->
<!ELEMENT legalntc  - - (exprtcl | cpyrght | proptary | geninfo)+         >
<!ATTLIST legalntc
          %revatt;                                                        >

<!ELEMENT proptary  - - (fullstmt, partstmt?)                             >
<!ELEMENT fullstmt  - - (title?, cpyrght?, para+)                         >
<!ELEMENT partstmt  - - (title?, para+)                                   >
<!ELEMENT exprtcl   - - (para | unlist | numlist | note)+                 >
<!ELEMENT cpyrght   - - (year*, holder*, geninfo)                         >
<!ELEMENT year      - - (#PCDATA)                                         >
<!ELEMENT holder    - - (#PCDATA)                                         >
<!ELEMENT geninfo   - - (para | unlist | numlist | note)+                 >

<!-- ================================================================== -->
<!--      INTRODUCTION                                                  -->
<!-- ================================================================== -->
<!ELEMENT intro     - -   (%text;)                                        >

<!-- ================================================================== -->
<!--      EFFXREF                                                       -->
<!-- ================================================================== -->
<!ELEMENT effxref   - -   (title, eqdata+)                                >
<!ELEMENT eqdata    - -   (cus?, linenbr?, msnbr, venbr?)                 >
<!ELEMENT cus       - -   (#PCDATA)                                       >
<!ELEMENT linenbr   - -   (#PCDATA)                                       >
<!ELEMENT msnbr     - -   (#PCDATA)                                       >
<!ELEMENT venbr     - -   (#PCDATA)                                       >

<!-- ================================================================== -->
<!--      INDEX                                                         -->
<!-- ================================================================== -->
<!ELEMENT index     - -   (idxdata+)                                      >
<!ATTLIST index
          indxtype  CDATA                             #IMPLIED            >

<!-- ================================================================== -->
<!--      INDEX DATA                                                    -->
<!-- ================================================================== -->
<!ELEMENT idxdata   - -   (sbnbr, title, chapsect*, kitnbr*, equipid?,
                            mvt?, (asbnbr, title)*, revinfo+)             >
<!ATTLIST idxdata
          digsb     %yesorno;                         #REQUIRED           >
<!ELEMENT revinfo   - -   (tsn, typecode*, (revdate | oidate), sbtype?,
                           mdnbr*, compcode*)                             >
<!ELEMENT sbnbr     - -   (#PCDATA)                                       >

<!ATTLIST sbnbr
          approvsb  %yesorno;                         #IMPLIED            >
<!ELEMENT tsn       - -   (#PCDATA)                                       >
<!ELEMENT oidate    - -   (#PCDATA)                                       >
<!ELEMENT typecode  - -   (#PCDATA)                                       >
<!ELEMENT mdnbr     - -   (#PCDATA)                                       >
<!ELEMENT sbtype    - -   (#PCDATA)                                       >
<!ELEMENT chapsect  - -   (#PCDATA)                                       >
<!ELEMENT kitnbr    - -   (#PCDATA)                                       >
<!ELEMENT revdate   - -   (#PCDATA)                                       >
<!ELEMENT equipid   - -   (eqentry | (eqrange, expndrg?))+                >
<!ELEMENT eqentry   - -   (#PCDATA)                                       >
<!ELEMENT eqrange   - -   (eqst, eqend)                                   >
<!ELEMENT expndrg   - -   (eqentry+)                                      >
<!ELEMENT eqst      - -   (#PCDATA)                                       >
<!ELEMENT eqend     - -   (#PCDATA)                                       >
<!ELEMENT mvt       - -   (#PCDATA)                                       >
<!ELEMENT compcode  - -   (#PCDATA)                                       >
<!ELEMENT asbnbr    - -   (#PCDATA)                                       >
<!ATTLIST asbnbr
          spl       CDATA                             #IMPLIED            >

<!-- ================================================================== -->
<!--      VSBINDEX DATA                                                 -->
<!-- ================================================================== -->
<!ELEMENT vsbindex  - -   (vsbxdata+)                                     >
<!ELEMENT vsbxdata  - -   (chapnbr, vendname, sbnbr, issdate, title)      >
<!ELEMENT chapnbr   - -   (#PCDATA)                                       >
<!ELEMENT issdate   - -   (#PCDATA)                                       >
<!ELEMENT vendname  - -   (#PCDATA)                                       >

<!-- ================================================================== -->
<!--      LISTS                                                         -->
<!-- ================================================================== -->
<!ELEMENT list1     - -   (title?, l1item+)          -(list1)             >
<!ELEMENT list2     - -   (title?, l2item+)                               >
<!ELEMENT list3     - -   (title?, l3item+)                               >
<!ELEMENT list4     - -   (title?, l4item+)                               >
<!ELEMENT list5     - -   (title?, l5item+)                               >
<!ELEMENT list6     - -   (title?, l6item+)                               >
<!ELEMENT list7     - -   (title?, l7item+)                               >

<!-- ================================================================== -->
<!--      LIST ITEMS                                                    -->
<!-- ================================================================== -->
<!ELEMENT l1item    - -   (%text;, list2?)                                >
<!ATTLIST l1item
          id        ID                                  #IMPLIED          >
<!ELEMENT l2item    - -   (%text;, list3?)                                >
<!ATTLIST l2item
          id        ID                                  #IMPLIED          >
<!ELEMENT l3item    - -   (%text;, list4?)                                >
<!ATTLIST l3item
          id        ID                                  #IMPLIED          >
<!ELEMENT l4item    - -   (%text;, list5?)                                >
<!ATTLIST l4item
          id        ID                                  #IMPLIED          >
<!ELEMENT l5item    - -   (%text;, list6?)                                >
<!ATTLIST l5item
          id        ID                                  #IMPLIED          >
<!ELEMENT l6item    - -   (%text;, list7?)                                >
<!ATTLIST l6item
          id        ID                                  #IMPLIED          >
<!ELEMENT l7item    - -   (%text;)                                        >
<!ATTLIST l7item
          id        ID                                  #IMPLIED          >

<!-- ================================================================== -->
<!--      NUMBERED & UN-NUMBERED LIST                                   -->
<!-- ================================================================== -->
<!ELEMENT numlist   - -   (numlitem+)                                     >
<!ATTLIST numlist
          numtype   (NNP|AUP|NNB|ALB|NNS|RUP
                     |RLP|RUR|RLR|NNR|AUR|ALR)        "NNP"               >
<!ELEMENT numlitem  - -   (para+)                                         >
<!ELEMENT unlist    - -   (unlitem+)                                      >
<!ATTLIST unlist
          bulltype  (NONE|BULLET|NDASH|MDASH|DIAMOND
                     |ASTERISK|DELTA|SQUARE
                     |SYSTEM)                         "SYSTEM"            >
<!ELEMENT unlitem   - -   (%text;)                                        >

<!-- ================================================================== -->
<!--      NOTE                                                          -->
<!-- ================================================================== -->
<!ELEMENT note      - -   (%text;)                  -(note) +(effect)     >
<!ELEMENT effect    - -   (#PCDATA)                                       >

<!-- ================================================================== -->
<!--      PARAGRAPH                                                     -->
<!-- ================================================================== -->
<!ELEMENT para      - -   (#PCDATA | refblock | sub | super)+             >
<!ELEMENT refblock  - -   (#PCDATA | refint | refext)*                    >
<!ELEMENT refext    - -   (#PCDATA)                                       >
<!ATTLIST refext
          refman    CDATA                             #IMPLIED
          refspl    CDATA                             #IMPLIED
          refmodel  CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED
          refloc    CDATA                             #IMPLIED            >

<!ELEMENT refint    - -   (#PCDATA)                                       >
<!ATTLIST refint
          reftype   CDATA                             #IMPLIED
          refid     IDREF                             #IMPLIED            >

<!ELEMENT sub       - -   (#PCDATA)                                       >
<!ELEMENT super     - -   (#PCDATA)                                       >
<!--   ]>   -->
