doctypes/ATA_iSpec2200_2003.1/tem.dtd

<!-- =============================================================== -->
<!--  DTD for Tool and Equipment Manuals                             -->
<!--                                                                 -->
<!-- DTD Reference : -//ATA-TEXT//DTD TEM-VER7-LEVEL2//EN            -->
<!-- DTD Level     : 2                                               -->
<!-- Rev Date      : 28 Sep 2021                                     -->
<!-- Parsed Date   : 28 Sep 2021                                     -->
<!--                                                                 -->
<!-- Highlights    :                                                 -->
<!-- 1) Increased the "VER" number to 7.0.                           -->
<!-- 2) Added optional ID attribute to LxITEM elements (CR-2020-12). -->
<!--                                                                 -->
<!-- DTD REVISION HISTORY:                                           -->
<!-- Rev Date      : 16 Aug 2016                                     -->
<!-- Highlights    :                                                 -->
<!-- 1) Increased the "VER" number to 6.0.                           -->
<!-- 2) CHGDTYPE optional attribute added to CHGDESC (CR-2016-02)    -->
<!--                                                                 -->
<!-- DTD REVISION HISTORY:                                           -->
<!-- Rev Date      : 17 Oct 2007                                     -->
<!-- 1) Editorial correction and formatting changes made for         -->
<!--    readability.                                                 -->
<!-- 2) Increased the version number to 5.3.                         -->
<!--                                                                 -->
<!-- DTD REVISION HISTORY:                                           -->
<!-- Rev Date      : 13 Jan 2005                                     -->
<!-- 1) Editorial improvements of notations for readability.         -->
<!-- 2) Increased the version number to 5.2                          -->
<!--                                                                 -->
<!-- DTD REVISION HISTORY:                                           -->
<!-- Rev Date      : 07 Dec 2004                                     -->
<!-- 1) Editorial improvements of notations for readability.         -->
<!-- 2) Increased the version number to 5.1                          -->
<!--                                                                 -->
<!-- DTD REVISION HISTORY:                                           -->
<!-- Highlights:                                                     -->
<!-- Rev Date      : 17 Nov 2004                                     -->
<!-- 1) Added attribute CFNBR to SHEET for companion file            -->
<!--    referencing. Added gcf notation definition.                  -->
<!--    (CR AIB.GRAPHIC.001.2004)                                    -->
<!-- 2) Added new REFMEDIA element to reference a media file.        -->
<!--    Added PDF, PNG, JPEG, VRML, MPEG and MP3 notations.          -->
<!--    (CR 2004-Media-001).                                         -->
<!-- 3) Added EFFLEN and EFFTYPE attribute to root element.          -->
<!--    (CR AIB.TRAN.003.2004)                                       -->
<!-- 4) Added GRSYMBOL element to PARA content to reference inline   -->
<!--    graphics (CR inline graphics).                               -->
<!-- 5) Increased the Version number to 5.                           -->
<!--                                                                 -->
<!-- DTD REVISION HISTORY:                                           -->
<!-- Highlights:                                                     -->
<!-- Rev Date      : 04 Dec 2003                                     -->
<!-- 1) Added attribute ID to PRCITEM 1 thru 7 for referencing       -->
<!--    (boe.tran.002.2003).                                         -->
<!-- 2) Incorporated ISObox, ISOamso & ISOamsc per ATA approved      -->
<!--    DTD CR 2003-All-001.                                         -->
<!-- 3) Increased the "VER-REV" number to 4 (te020400.dtd).          -->
<!-- 4) Made some editorial improvements for readability.            -->
<!--                                                                 -->
<!-- Highlights:                                                     -->
<!-- Rev Date      : 04 Dec 2001                                     -->
<!-- 1) Changed TABLE ENTRY to "*" optional repeating to avoid       -->
<!--    empty tags <para>  </para> for blank table cell entries.     -->
<!-- 2) Added HAZMTLST as choice to INCREV.                          -->
<!-- 3) Increased the "VER-REV" number to 3.1 (te020301.dtd).        -->
<!-- 4) Made some editorial improvements for readability.            -->
<!--                                                                 -->
<!-- Highlights:                                                     -->
<!-- 1) Added optional EFFECT element to SECTION & SUBJECT.          -->
<!--    Added EFFECT inclusions to PBFMATR, WARNING, NOTE &          -->
<!--    CAUTION.                                                     -->
<!-- 2) Added new elements SUB & SUPER to PARA, EQU & TITLE with a   -->
<!--    content of #PCDATA.                                          -->
<!-- 3) Added optional HAZMTLST element to MFMATR with a             -->
<!--    content of TITLE, optional PRETOPIC & HAZMT. Added new       -->
<!--    element HAZMT with a content of TITLE & WARNING.             -->
<!-- 4) Added REFBLOCK to entity %G.R. Added new element             -->
<!--    REFBLOCK with a content of #PCDATA or REFINT or REFEXT       -->
<!--    or GRPHCREF.                                                 -->
<!-- 5) Increased the "VER" number to 3.                             -->
<!-- 6) Made some editorial improvements for readability.            -->
<!--                                                                 -->
<!-- Highlights:                                                     -->
<!--     Increased Version to 2.                                     -->
<!--     DTD format changes.                                         -->
<!--     Added entities ISOgrk2,3,4 and ISOlat1.                     -->
<!--     Added optional LEGALNTC (Legal Notice) element structure    -->
<!--          to top level structure.                                -->
<!--     Added implied attribute IMGAREA to SHEET.                   -->
<!--                                                                 -->
<!--                                                                 -->
<!--  Ver 1.2 - Pre-release D 01-16-99 - TWR                         -->
<!--                                                                 -->
<!--     Changed status of DTD from "In Development" to "Recommended -->
<!--          for Use" per Text Working Group meeting held           -->
<!--          September 1998 in Manchester, U.K.                     -->
<!--                                                                 -->
<!--  Ver 1.12 - Pre-release C 01-24-98 - TWR/NRS                    -->
<!--     Changed connector between toolnbr and toolname elements     -->
<!--          within ted element from "Sequence" to "And"            -->
<!--     Changed type of length, width, height, and dia attributes   -->
<!--          of dd element from NUMBER to NUTOKEN                   -->
<!--                                                                 -->
<!--  Ver 1.11  - Pre-release B 06-24-97 - FJB/NRS                   -->
<!--     Comments cleaned up and previous pre-release marks removed  -->
<!--     Added OTHTYPE attribute to those element which had a "TYPE" -->
<!--          that could be "OTH" (other),`to allow further          -->
<!--          identification of non-standard types                   -->
<!--     Removed vestigal attributes in Graphic carried over from    -->
<!--          Engine manual                                          -->
<!--     Added DIA to DD (Dimensional Data)                          -->
<!--     Added Unit to Weight                                        -->
<!--                                                                 -->
<!--  Ver 1 - Based on Engine Manual DTD - 08-23-96 - FJB/RB/NRS     -->
<!--        Changes Per Rolls Royce report PRPBT001                  -->
<!--        Changes per Ad Hoc DTD Mtg in Seattle March 96           -->
<!--                                                                 -->
<!--                                                                 -->
<!-- Implementation Notes:                                           -->
<!--                                                                 -->
<!-- 1. Changes are marked in section headings                       -->
<!--                                                                 -->
<!-- 2. DOCTYPE is TEMAN                                             -->
<!--     (because TEM is used in the IPC with different semantics    -->
<!--                                                                 -->
<!-- 3. No TRs in TEM                                                -->
<!--                                                                 -->
<!-- 4. MANUAL DIVISIONS                                             -->
<!--                                                                 -->
<!--    Manual Front Matter                                          -->
<!--     o Transmittal Letter                                        -->
<!--     o Introduction                                              -->
<!--                                                                 -->
<!--    Main Manual Sections (no order implied)                      -->
<!--     o Tool Sheets (see below for subsections)                   -->
<!--     o Material Handling Equipment                               -->
<!--     o Control and Accessory Tooling                             -->
<!--     o Standard Equipment Supplier Code                          -->
<!--     o Tool/Engine Effectivity                                   -->
<!--     o Index                                                     -->
<!--     o Manufacturer's support equipment                          -->
<!--     o Cross-reference tool list                                 -->
<!--     o Other                                                     -->
<!--     o MAINTENANCE INDEX                                         -->
<!--     o OVERHAUL INDEX                                            -->
<!--                                                                 -->
<!--    Tool Sheet Subsections                                       -->
<!--     o purpose and use                                           -->
<!--     o tool name and/or description                              -->
<!--     o dimensions                                                -->
<!--     o weight                                                    -->
<!--     o supporting tools                                          -->
<!--     o tool maintenance                                          -->
<!--     o quantity per unit operation                               -->
<!--     o parts list / detail listing                               -->
<!--     o manufacturing category                                    -->
<!--     o tool history                                              -->
<!--     o other                                                     -->
<!--                                                                 -->
<!--                                                                 -->
<!-- =============================================================== -->

<!-- DOCTYPE  teman [  -->
<!-- The following set of declarations may be referred to
     using the public entity as follows:
<!DOCTYPE  teman PUBLIC
    "-//ATA-TEXT//DTD TEM-VER7-LEVEL2//EN" [ ]>                      -->
<!--                                                                 -->
<!-- =============================================================== -->
<!--                      NOTATIONS                                  -->
<!-- =============================================================== -->
<!NOTATION     cgm       PUBLIC
    "-//USA-DOD//NOTATION Computer Graphics Metafile//EN"              >

<!NOTATION     ccitt4    PUBLIC
    "-//USA-DOD//NOTATION CCITT Group 4 Facsimile//EN"                 >

<!NOTATION gcf PUBLIC
 "-//ATA-TEXT//NOTATION Graphic Companion File//EN"                    >

<!NOTATION pdf PUBLIC
 "-//Adobe Inc.//NOTATION Portable Document Format//EN"                >

<!NOTATION png PUBLIC
 "-//W3C//NOTATION Portable Network Graphics//EN"                      >

<!NOTATION jpeg PUBLIC
 "+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Joint
  Photographic Experts Group Raster//EN"                               >

<!NOTATION vrml PUBLIC
 "-//ATA-TEXT//NOTATION Virtual Reality Modeling Language//EN"         >

<!NOTATION mpeg PUBLIC
 "-//ATA-TEXT//NOTATION Motion Pictures Expert Group//EN"              >

<!NOTATION mp3 PUBLIC
 "-//ATA-TEXT//NOTATION Motion Pictures Expert Group, Audio
  Layer 3//EN"                                                         >
<!--                                                                 -->
<!-- =============================================================== -->
<!--                      ENTITIES                                   -->
<!-- =============================================================== -->
<!--                                                                 -->
<!--  tblitem is a group of elements which may appear anywhere in a  -->
<!--   table or a paragraph.                                         -->
<!--                                                                 -->
<!--                                                                 -->
<!ENTITY  % tblitem "(dd | func | level | mfr | mfrec | mad | modcode
                      | pnr | qualcode | toolname | toolnbr | toolpnr
                      | toolrev | tqe | weight)"                       >

<!ENTITY  % text    "(para | tabdat | table | unlist | numlist
                      | note )+"                                       >

<!ENTITY  % g.r     "(refblock* | (grphcref*, refext*, refint*))"      >
<!ENTITY  % w.c     "(warning*, caution*)"                             >
<!ENTITY  % deleted "(deleted, chgdesc*)"                              >
<!ENTITY  % yesorno "NUMBER"                                           >

<!ENTITY  % revatt
          "chg      (N | D | R | U)                   #REQUIRED
           key      ID                                #REQUIRED
           revdate  NUMBER                            #REQUIRED"       >

<!ENTITY   % ISOtech      PUBLIC
     "ISO 8879-1986//ENTITIES   General Technical//EN"                 >
<!ENTITY   % ISOpub      PUBLIC
     "ISO 8879-1986//ENTITIES Publishing//EN"                          >
<!ENTITY   % ISOnum      PUBLIC
   "ISO 8879-1986//ENTITIES   Numeric and Special Graphic//EN"         >
<!ENTITY   % ISOgrk1     PUBLIC
     "ISO 8879-1986//ENTITIES   Greek Letters//EN"                     >
<!ENTITY   % ISOgrk2     PUBLIC
     "ISO 8879-1986//ENTITIES Monotoniko Greek//EN"                    >
<!ENTITY   % ISOgrk3     PUBLIC
     "ISO 8879-1986//ENTITIES Greek Symbols//EN"                       >
<!ENTITY   % ISOgrk4     PUBLIC
     "ISO 8879-1986//ENTITIES Alternative Greek Symbols//EN"           >
<!ENTITY   % ISOlat1     PUBLIC
     "ISO 8879-1986//ENTITIES Added Latin 1//EN"                       >
<!ENTITY   % ISObox      PUBLIC
     "ISO 8879-1986//ENTITIES Box and Line Drawing//EN"                >
<!ENTITY   % ISOamso     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Ordinary//EN"        >
<!ENTITY   % ISOamsc     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Delimiters//EN"      >

%ISOtech; %ISOpub; %ISOnum; %ISOgrk1; %ISOgrk2; %ISOgrk3;
%ISOgrk4; %ISOlat1; %ISObox; %ISOamso; %ISOamsc;

<!-- =============================================================== -->
<!--                   TOP LEVEL STRUCTURE                           -->
<!-- =============================================================== -->
<!--                                                                 -->
<!-- Top level model for TEM with std attributes                     -->
<!--                                                                 -->
<!ELEMENT TEMAN   - -  ((title, legalntc?, mfmatr, section+) | increv)
                               +(revst | revend | hotlink)             >
<!ATTLIST TEMAN
          spl       CDATA                             #REQUIRED
          model     CDATA                             #REQUIRED
          oidate    NUMBER                            #REQUIRED
          tsn       CDATA                             #REQUIRED
          cus       CDATA                             #IMPLIED
          cusname   CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED
          lang      CDATA                             #REQUIRED
          revdate   NUMBER                            #REQUIRED
          chg       (N | R | U)                       "N"
          efflen    NUMBER                            #IMPLIED
          efftype   CDATA                             #IMPLIED         >

<!ELEMENT increv    - -  (transltr?, (section | tlsheet | unit | intro
                         | howtouse | hazmtlst | graphic)+)            >
<!--                                                                 -->
<!-- =============================================================== -->
<!--       Legal Notice Information                                  -->
<!-- =============================================================== -->
<!ELEMENT legalntc  - - (exprtcl | cpyrght | proptary | geninfo)+      >
<!ATTLIST legalntc
          %revatt;                                                     >

<!ELEMENT proptary  - - (fullstmt, partstmt?)                          >
<!ELEMENT fullstmt  - - (title?, cpyrght?, para+)                      >
<!ELEMENT partstmt  - - (title?, para+)                                >
<!ELEMENT exprtcl   - - (para | unlist | numlist | note)+              >
<!ELEMENT cpyrght   - - (year*, holder*, geninfo)                      >
<!ELEMENT year      - - (#PCDATA)                                      >
<!ELEMENT holder    - - (#PCDATA)                                      >
<!ELEMENT geninfo   - - (para | unlist | numlist | note)+              >

<!-- =============================================================== -->
<!--             FRONT MATTER                                        -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT mfmatr    - -  (transltr?, intro, howtouse?, hazmtlst?)      >
<!ELEMENT transltr  - -  (chgdesc*, title, (%text;))+                  >
<!ATTLIST transltr
          oldkey    NAME                              #IMPLIED
          %revatt;                                                     >

<!ELEMENT intro     - -  (chgdesc*, title, prclist1)+                  >
<!ATTLIST intro
          oldkey    NAME                              #IMPLIED
          %revatt;                                                     >

<!ELEMENT howtouse  - -  (chgdesc*, title, prclist1)+                  >
<!ATTLIST howtouse
          oldkey    NAME                              #IMPLIED
          %revatt;                                                     >

<!ELEMENT hazmtlst  - - (title, pretopic*, hazmt+)                     >
<!ATTLIST hazmtlst
          %revatt;                                                     >
<!ELEMENT hazmt     - - (title, warning)                               >
<!ATTLIST hazmt
          id        ID                                #REQUIRED        >
<!ELEMENT pretopic  - - (title, (%text; | list1))     +(effect)        >

<!-- =============================================================== -->
<!--                         SECTION [Anchor]                        -->
<!--         A collection of tool sheets or other units              -->
<!--                                                                 -->
<!-- section model (new part)                                        -->
<!--                                                                 -->
<!--   A section is a set of tool sheets of a particular type        -->
<!--   (e.g., a set of Tool Data Sheets, or Mat Handl Data Sheets)   -->
<!--   Or it is a "unit"                                             -->
<!--                                                                 -->
<!--                                                                 -->
<!-- Explanation of section abbreviations:                           -->
<!--                                                                 -->
<!--       SYM    TITLE                                              -->
<!--       ===    ================================                   -->
<!--       CAT =  Control and Accessory Tooling                      -->
<!--       CTL =  Cross-reference tool list                          -->
<!--       IDX =  Index                                              -->
<!--       MDX =  MAINTENANCE INDEX                                  -->
<!--       MFR =  Standard Equipment Supplier Code                   -->
<!--       MHE =  Material Handling Equipment                        -->
<!--       MSE =  Manufacturer's support equipment                   -->
<!--       OVX =  OVERHAUL INDEX                                     -->
<!--       TDS =  Tool Data Sheets                                   -->
<!--       TEE =  Tool/Engine Effectivity                            -->
<!--       OTH =  Other                                              -->
<!--                                                                 -->
<!-- Notes on the changes from the EM:                               -->
<!--                                                                 -->
<!--  section - section model changed to allow                       -->
<!--            them to be either collections of                     -->
<!--            toolsheets or units.                                 -->
<!--                                                                 -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT section  - -  ((effect?, chgdesc*, title?, pbfmatr?,
                         (tlsheet+ | unit+)) | %deleted;)              >
<!ATTLIST section
          sectnbr   NUMBER                            #REQUIRED
          type      ( CAT | CTL | IDX | MDX | MFR | MHE
                     | MSE | OTH | OVX | TDS | TEE)   #REQUIRED
          othtype   CDATA                             #IMPLIED
          %revatt;                                                     >

<!-- =============================================================== -->
<!-- NOTE:                                                           -->
<!--     pbfmatr - is used at several levels as generic              -->
<!--               front matter (other than at the manual level.)    -->
<!-- =============================================================== -->
<!ELEMENT pbfmatr       - -  (title?, %g.r;, (list1 | %text;)*)
                                                      +(effect)        >

<!-- =============================================================== -->
<!--                         TLSHEET [Anchor]                        -->
<!--          A tool sheet of a variety of types                     -->
<!--                                                                 -->
<!--  TLSHEET is a tool sheet, which is comprised of                 -->
<!--     sub-sections (tlsect).                                      -->
<!--                                                                 -->
<!--  The sheet type is inherited from SECTION.  Only the following  -->
<!--   types apply:                                                  -->
<!--                                                                 -->
<!--       SYM    TITLE                                              -->
<!--       ===    ================================                   -->
<!--       CAT =  Control and Accessory Tooling                      -->
<!--       MHE =  Material Handling Equipment                        -->
<!--       MSE =  Manufacturer's support equipment                   -->
<!--       TDS =  Tool Data Sheets                                   -->
<!--                                                                 -->
<!-- For TEM, Control and Accessories tooling, the tool sheet nb     -->
<!--   (attrib toolnbr) is the associated  CMM number                -->
<!--                                                                 -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT tlsheet   - -  ((effect?, chgdesc*, title?, pbfmatr?,
                          (tlsect | graphic)+) | %deleted;)            >
<!--                                                                 -->
<!ATTLIST tlsheet
          toolnbr   CDATA                             #REQUIRED
          sectnbr   NUMBER                            #IMPLIED
          type      (CAT | MHE | MSE | TDS)           #IMPLIED
          %revatt;                                                     >
<!-- =============================================================== -->
<!--                        TLSECT                                   -->
<!--                    Tool Sheet Sections                          -->
<!--                                                                 -->
<!--   Where type is from symbol table :                             -->
<!--                                                                 -->
<!--       SYM    TITLE                                              -->
<!--       ===    ================================                   -->
<!--       MCT = MANUFACTURING CATEGORY                              -->
<!--       DES = TOOL NAME AND/OR DESCRIPTION                        -->
<!--       DIM = DIMENSIONS                                          -->
<!--       HIS = TOOL HISTORY                                        -->
<!--       OTH = OTHER                                               -->
<!--       PLI = PARTS LIST / DETAIL LISTING                         -->
<!--       PNU = PURPOSE AND USE                                     -->
<!--       QPU = QUANTITY PER UNIT OPERATION                         -->
<!--       SPT = SUPPORTING TOOLS                                    -->
<!--       TLM = TOOL MAINTENANCE                                    -->
<!--       WGT = WEIGHT                                              -->
<!--                                                                 -->
<!-- Title is optional per RR problem report                         -->
<!--                                                                 -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT tlsect    - -  (effect?, (%w.c;)*, title?, (%text; | %g.r;
                         | graphic)+)                                  >
<!ATTLIST tlsect
          type      (MCT | DES | DIM | HIS | OTH | PLI | PNU
                     | QPU | SPT | TLM | WGT)         #REQUIRED
          othtype   CDATA                             #IMPLIED
          toolnbr   CDATA                             #IMPLIED
          sectnbr   NUMBER                            #IMPLIED         >

<!-- =============================================================== -->
<!--                        UNIT [Anchor]                            -->
<!--          Units are sections which are not tool sheets           -->
<!--                                                                 -->
<!--   A unit is one of the non datasheet areas of the document      -->
<!--     for example, a cross-reference tool list.                   -->
<!--                                                                 -->
<!--   The unit type is inherited from SECTION.  Only the following  -->
<!--   types apply:                                                  -->
<!--                                                                 -->
<!--       SYM    TITLE                                              -->
<!--       ===    ================================                   -->
<!--       CTL =  Cross-reference tool list                          -->
<!--       IDX =  Index                                              -->
<!--       MDX =  MAINTENANCE INDEX                                  -->
<!--       MFR =  Standard Equipment Supplier List                   -->
<!--       OVX =  OVERHAUL INDEX                                     -->
<!--       TEE =  Tool/Engine Effectivity                            -->
<!--    and just to be "safe"                                        -->
<!--       OTH =  Other                                              -->
<!--                                                                 -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT unit      - -  ((effect?, chgdesc*, (%w.c;)*,
                           title, pbfmatr?,
                           (%text; | %g.r; | graphic | vendlist)+)
                           | %deleted;)                                >
<!ATTLIST unit
          unitnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #IMPLIED
          type      (CTL | IDX | MDX | MFR
                     | OVX | TEE | OTH)               #IMPLIED
          othtype   CDATA                             #IMPLIED
          %revatt;                                                     >
<!--                                                                 -->
<!-- =============================================================== -->
<!--                  SUPPLIER INFO                                  -->
<!-- =============================================================== -->
<!-- The TEM carries the following information which is not in       -->
<!--    the esm:                                                     -->
<!--                                                                 -->
<!--       - Supplier code(zone)                                     -->
<!--       - Supplier name                                           -->
<!--       - Supplier address                                        -->
<!--       - Supplier Contact (AOG........)                          -->
<!--       - Supplier Communication (name,                           -->
<!--           phone, fax, internet, sita, arinc,.......)            -->
<!--                                                                 -->
<!--   To address this, vendata, mfr and mad were added from AIPC.   -->
<!--   Vendata (mad) was changed to accomodate additional info.      -->
<!--                                                                 -->
<!--   Associated with a single mfr code, there can be one or more   -->
<!--    manufacturer's addresses.  Within each address, we now mark  -->
<!--    information including:                                       -->
<!--                                                                 -->
<!--       Phone                                                     -->
<!--       URL                                                       -->
<!--       Fax                                                       -->
<!--       Email                                                     -->
<!--                                                                 -->
<!-- Chg V1.11 - added ADDR to list so the address portion can be    -->
<!--              tagged for identification                          -->
<!--                                                                 -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT vendlist  - -  (title, (%text;)?, vendata+)                  >
<!ELEMENT vendata   - -  (mfr, mad+)                                   >
<!ATTLIST vendata
          mfrname   CDATA                             #REQUIRED        >

<!ELEMENT mfr       - -  (#PCDATA)                                     >
<!ATTLIST mfr
          zone      CDATA                             #REQUIRED        >
<!ELEMENT mad       - -  (#PCDATA | addr | phone | fax |
                          url | email | mfrcont | telex)+              >

<!ELEMENT mfrcont   - -  (#PCDATA)                                     >
<!ELEMENT addr      - -  (#PCDATA)                                     >
<!ELEMENT phone     - -  (#PCDATA)                                     >
<!ELEMENT fax       - -  (#PCDATA)                                     >
<!ELEMENT url       - -  (#PCDATA)                                     >
<!ELEMENT email     - -  (#PCDATA)                                     >
<!ELEMENT telex     - -  (#PCDATA)                                     >
<!--                                                                 -->
<!-- =============================================================== -->
<!--             PROCEDURE LIST STRUCTURE      (NON-TASKED)          -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT prclist1  - -  (prcitem1+)                  +(effect)        >
<!ELEMENT prclist2  - -  (prcitem2+)                                   >
<!ELEMENT prclist3  - -  (prcitem3+)                                   >
<!ELEMENT prclist4  - -  (prcitem4+)                                   >
<!ELEMENT prclist5  - -  (prcitem5+)                                   >
<!ELEMENT prclist6  - -  (prcitem6+)                                   >
<!ELEMENT prclist7  - -  (prcitem7+)                                   >
<!--                                                                 -->
<!ELEMENT prcitem1  - -  (prcitem, prclist2?)                          >
<!ATTLIST prcitem1
          id        ID                                #IMPLIED         >
<!ELEMENT prcitem2  - -  (prcitem, prclist3?)                          >
<!ATTLIST prcitem2
          id        ID                                #IMPLIED         >
<!ELEMENT prcitem3  - -  (prcitem, prclist4?)                          >
<!ATTLIST prcitem3
          id        ID                                #IMPLIED         >
<!ELEMENT prcitem4  - -  (prcitem, prclist5?)                          >
<!ATTLIST prcitem4
          id        ID                                #IMPLIED         >
<!ELEMENT prcitem5  - -  (prcitem, prclist6?)                          >
<!ATTLIST prcitem5
          id        ID                                #IMPLIED         >
<!ELEMENT prcitem6  - -  (prcitem, prclist7?)                          >
<!ATTLIST prcitem6
          id        ID                                #IMPLIED         >
<!ELEMENT prcitem7  - -  (prcitem)                                     >
<!ATTLIST prcitem7
          id        ID                                #IMPLIED         >
<!--                                                                 -->
<!ELEMENT prcitem   - -  (title?, (%text;), graphic*)                  >
<!--                                                                 -->
<!--                                                                 -->
<!-- =============================================================== -->
<!--                STANDARD LISTS                                   -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT list1     - -  (l1item+)                                     >
<!ELEMENT list2     - -  (l2item+)                                     >
<!ELEMENT list3     - -  (l3item+)                                     >
<!ELEMENT list4     - -  (l4item+)                                     >
<!ELEMENT list5     - -  (l5item+)                                     >
<!ELEMENT list6     - -  (l6item+)                                     >
<!ELEMENT list7     - -  (l7item+)                                     >
<!--                                                                 -->
<!ATTLIST (list1 | list2 | list3 | list4 | list5 | list6 | list7)
          cont      %yesorno;                         "0"              >
<!--                                                                 -->
<!ELEMENT l1item    - - (((%w.c;), (%text; | entry*)),
                          (list2, note*)?)                             >
<!ELEMENT l2item    - - (((%w.c;), (%text; | entry*)),
                          (list3, note*)?)                             >
<!ELEMENT l3item    - - (((%w.c;), (%text; | entry*)),
                          (list4, note*)?)                             >
<!ELEMENT l4item    - - (((%w.c;), (%text; | entry*)),
                          (list5, note*)?)                             >
<!ELEMENT l5item    - - (((%w.c;), (%text; | entry*)),
                          (list6, note*)?)                             >
<!ELEMENT l6item    - - (((%w.c;), (%text; | entry*)),
                          (list7, note*)?)                             >
<!ELEMENT l7item    - - ((%w.c;), (%text; | entry*))                   >
<!--                                                                 -->

<!ATTLIST (l1item | l2item | l3item | l4item | l5item | l6item | l7item)
          id        ID                                #IMPLIED
          cont      %yesorno;                         "0"              >
<!--                                                                 -->
<!-- =============================================================== -->
<!--            Tabular data                                         -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT tabdat    - -  ((effect?, title?, tabgroup,
                         ftnote*) | graphic* | %deleted;)
                                                     -(tabdat)         >
<!ATTLIST tabdat
          formal    (F | I)                           "I"
          frame     (top | bottom | topbot
                     | all | sides | none)            #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          orient    (port | land)                     #IMPLIED
          pgwide    %yesorno;                         #IMPLIED
          id        ID                                #IMPLIED
          alt       (C | B)                           "B"              >
<!ELEMENT tabgroup  - O  (colspec*, spanspec*,
                          thead?, tfoot?)                              >
<!ATTLIST tabgroup
          cols      NUMBER          #REQUIRED
          colsep    %yesorno;       #IMPLIED
          rowsep    %yesorno;       #IMPLIED
          align     (left | right | center
                     | justify | char)                "left"
          charoff   NUTOKEN                           "50"
          char      CDATA                             #IMPLIED         >
<!--                                                                 -->
<!-- =============================================================== -->
<!--            TABLE (CELLULAR, CALS BASED)                         -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT table     - -  ((title?, tgroup, ftnote*)
                           | graphic+)               -(table)          >
<!ATTLIST table
          tabstyle  NMTOKEN                           #IMPLIED
          frame     (top | bottom | topbot | all
                     | sides | none)                  #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          orient    (port | land)                     #IMPLIED
          pgwide    %yesorno;                         #IMPLIED
          id        ID                                #IMPLIED
          formal    (F | I)                           "I"              >
<!ELEMENT tgroup    - O  (colspec*, spanspec*, thead?, tfoot?,
                          tbody)                                       >
<!ATTLIST tgroup
          cols      NUMBER                            #REQUIRED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          align     (left | right | center
                     | justify | char)                "left"
          charoff   NUTOKEN                           "50"
          char      CDATA                             ""               >

<!ELEMENT colspec   - O  EMPTY                                         >
<!ATTLIST colspec
          colnum    NUMBER                            #IMPLIED
          colname   NMTOKEN                           #IMPLIED
          align     (left | right | center
                     | justify | char)                #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          colwidth  CDATA                             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED         >

<!ELEMENT spanspec  - O  EMPTY                                         >
<!ATTLIST spanspec
          namest    NMTOKEN                           #REQUIRED
          nameend   NMTOKEN                           #REQUIRED
          spanname  NMTOKEN                           #IMPLIED
          align     (left | right | center
                     | justify | char)                "center"
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          colsep    %yesorno;                         #IMPLIED         >

<!ELEMENT thead    - O (colspec*, row+)                                >
<!ATTLIST thead
          valign   (top|middle|bottom)                "bottom"         >

<!ELEMENT tfoot    - O (colspec*, row+)                                >
<!ATTLIST tfoot
          valign   (top|middle|bottom)                "top"            >

<!ELEMENT tbody    - O (row+)                                          >
<!ATTLIST tbody
          valign   (top|middle|bottom)                "top"            >

<!ELEMENT row       - O  (entry+)                                      >
<!ATTLIST row
          rowsep    %yesorno;                         #IMPLIED         >

<!-- tblitem added to table entry allows data to be added to table   -->
<!--  cells without excessively deep mark-up                         -->

<!ELEMENT entry     - O  (%text; | graphic | %w.c; | %tblitem; )*      >
<!ATTLIST entry
          colname   NMTOKEN                           #IMPLIED
          namest    NMTOKEN                           #IMPLIED
          nameend   NMTOKEN                           #IMPLIED
          spanname  NMTOKEN                           #IMPLIED
          morerows  NUMBER                            "0"
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          rotate    %yesorno;                         "0"
          valign    (top | bottom | middle)           "top"
          align     (left | right | center
                     | justify | char)                #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED         >

<!ELEMENT ftnote    - -  %text;                                        >
<!ATTLIST ftnote
          ftnoteid  ID                                #REQUIRED        >
<!--                                                                 -->
<!-- =============================================================== -->
<!--        REFERENCE BLOCK and GRAPHIC REFERENCING MECHANISMS       -->
<!-- =============================================================== -->

<!ELEMENT refblock  - -  (#PCDATA | refint | refext | grphcref)*       >

<!ELEMENT grphcref  - -  (effect?, #PCDATA)                            >
<!ATTLIST grphcref
          refid     IDREF                             #REQUIRED
          sheetnbr  CDATA                             #IMPLIED
          structid  CDATA                             #IMPLIED
          shownow   %yesorno;                         "0"              >

<!ELEMENT graphic   - -  (effect?, ((chgdesc*, title?,
                          sheet+) | %deleted;))                        >
<!ATTLIST graphic
          sectnbr   NUMBER                            #IMPLIED
          toolnbr   CDATA                             #IMPLIED
          unitnbr   CDATA                             #IMPLIED
          %revatt;                                                     >
<!--                                                                 -->
<!ELEMENT sheet     - -  (effect?, ((chgdesc*, title?,
                          gdesc?) | %deleted;))                        >
<!ATTLIST sheet
          gnbr      ENTITY                            #REQUIRED
          cfnbr     ENTITY                            #IMPLIED
          sheetnbr  CDATA                             #REQUIRED
          imgarea  (AP|BP|CP|DL|EL|FP|GP|HL|IL)       #IMPLIED
          %revatt;                                                     >
<!--                                                                 -->
<!ELEMENT gdesc     - -  (effect?, %text;)                             >
<!--                                                                 -->
<!ELEMENT grsymbol   - O  EMPTY                                        >
<!ATTLIST grsymbol
          gnbr          ENTITY                        #REQUIRED
          reprowid      CDATA                         #IMPLIED
          reprohgt      CDATA                         #IMPLIED
          reproscl      CDATA                         #IMPLIED         >
<!--                                                                 -->
<!-- =============================================================== -->
<!--             NUMBERED AND UN-NUMBERED LISTS                      -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT unlist    - -  (unlitem+)                                    >
<!ATTLIST unlist
          bulltype  (NONE | BULLET | NDASH | MDASH
                     | DIAMOND | ASTERISK | DELTA
                     | SQUARE | SYSTEM)               "SYSTEM"         >
<!--                                                                 -->
<!ELEMENT unlitem   - -  (para+)                                       >
<!--                                                                 -->
<!ELEMENT numlist   - -  (numlitem+)                                   >
<!ATTLIST numlist
          numtype   (NNP | AUP | NNB | ALB | NNS
                     | ALS | DBR | RUP | RLP | RUR
                     | RLR | NNR | AUR
                     | ALR)                           "NNP"            >
<!--                                                                 -->
<!ELEMENT numlitem  - -  (para+)                                       >
<!ATTLIST numlitem
          label     CDATA                             #IMPLIED         >
<!--                                                                 -->
<!-- =============================================================== -->
<!--                       PARAGRAPH                                 -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT para     - -  (#PCDATA | con | csn | equ | grphcref | ncon
                        | refext | refint | std | sub | super | ted
                        | toc | txtgrphc | legend | %tblitem;
                        | refmedia | grsymbol)+                        >

<!-- =============================================================== -->
<!--                  PARAGRAPH CONTENTS                             -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT con       - - (connbr, conname)                              >
<!ELEMENT connbr    - - (#PCDATA)                                      >
<!ELEMENT conname   - - (#PCDATA)                                      >

<!ELEMENT csn       - O EMPTY                                          >
<!ATTLIST csn
          chapnbr   NUMBER                            #REQUIRED
          sectnbr   NUMBER                            #REQUIRED
          unitnbr   NUMBER                            #REQUIRED
          fignbr    NUTOKEN                           #REQUIRED
          itemnbr   NUTOKEN                           #REQUIRED        >

<!ELEMENT equ       - - (#PCDATA | sub | super)+                       >

<!ELEMENT dd        - - (#PCDATA)                                      >
<!ATTLIST dd
          length    NUTOKEN                           #IMPLIED
          width     NUTOKEN                           #IMPLIED
          height    NUTOKEN                           #IMPLIED
          dia       NUTOKEN                           #IMPLIED
          unit      (ft | in | mm | cm | m)           #IMPLIED         >

<!ELEMENT weight    - - (#PCDATA)                                      >
<!ATTLIST weight
          unit      (lb | oz | kg | g)                #IMPLIED         >

<!ELEMENT mfrec     - - (#PCDATA)                                      >
<!ELEMENT tqe       - - (#PCDATA)                                      >
<!ELEMENT qualcode  - - (#PCDATA)                                      >
<!ELEMENT modcode   - - (#PCDATA)                                      >
<!ELEMENT func      - - (#PCDATA)                                      >
<!ELEMENT toolrev   - - (#PCDATA)                                      >
<!ELEMENT toolpnr   - - (#PCDATA)                                      >

<!-- =============================================================== -->
<!--                          LEGEND                                 -->
<!--                                                                 -->
<!-- A legend offers explanatory information for a chart or table    -->
<!--  in the cross-reference list tool block                         -->
<!--                                                                 -->
<!-- Legend was ommitted before version 1.0c.  Some legends might be -->
<!-- generated.  This tag allows them to be added manually as well   -->
<!-- Legend Types:                                                   -->
<!--       SYM    TITLE                                              -->
<!--       ===    ================================                   -->
<!--       EFF =  Engine / Effectivity                               -->
<!--       FUN =  Function                                           -->
<!--       MLV =  Maintenance level                                  -->
<!--       MRC =  Mfr Release Codes                                  -->
<!--       MOD =  Module                                             -->
<!--       RCU =  Recommended Use                                    -->
<!--       OTH =  Other                                              -->
<!--                                                                 -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT legend    - - (#PCDATA)                                      >
<!ATTLIST legend
          type      (EFF | FUN | MLU | MRC
                     | MOD | RCU | OTH)               #IMPLIED
          othtype   CDATA                             #IMPLIED         >

<!ELEMENT level     - - (#PCDATA)                                      >
<!ELEMENT ncon      - - (#PCDATA)                                      >
<!ELEMENT pnr       - - (#PCDATA)                                      >

<!ELEMENT refext    - - (#PCDATA)                                      >
<!ATTLIST refext
          refman    CDATA                             #IMPLIED
          docnbr    CDATA                             #IMPLIED
          refloc    CDATA                             #IMPLIED
          refspl    CDATA                             #IMPLIED
          refmodel  CDATA                             #IMPLIED         >

<!ELEMENT refint    - - (#PCDATA)                                      >
<!ATTLIST refint
          reftype   CDATA                             #IMPLIED
          refid     IDREF                             #REQUIRED        >

<!ELEMENT refmedia - - (#PCDATA)                                       >
<!ATTLIST refmedia
          mednbr    ENTITY                            #REQUIRED        >

<!ELEMENT std       - - (stdnbr, stdname)                              >
<!ELEMENT stdnbr    - - (#PCDATA)                                      >
<!ELEMENT stdname   - - (#PCDATA)                                      >
<!ELEMENT sub       - - (#PCDATA)                                      >
<!ELEMENT super     - - (#PCDATA)                                      >

<!ELEMENT ted       - - (toolnbr & toolname)                           >
<!ELEMENT toolnbr   - - (#PCDATA)                                      >
<!ELEMENT toolname  - - (#PCDATA)                                      >
<!ELEMENT toc       - - (#PCDATA)                                      >
<!ATTLIST toc
          readable  %yesorno;                         "1"              >
<!ELEMENT txtgrphc  - - (txtline+)                                     >
<!ELEMENT txtline   - - (#PCDATA)                                      >

<!-- =============================================================== -->
<!--                    TITLE, ETC.                                  -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT title    - -  (#PCDATA | sub | super | ted)+                 >
<!ELEMENT warning  - -  (effect?, (%text;))    -(note) +(effect)       >
<!ELEMENT caution  - -  (effect?, (%text;))    -(note) +(effect)       >
<!ELEMENT note     - -  (effect?, (%text;))    -(note) +(effect)       >
<!--                                                                 -->
<!-- =============================================================== -->
<!--     MISCELLANEOUS CONSTRUCTIONS TO:                             -->
<!--     MARK EFFECTIVITIES                                          -->
<!--     MARK DELETED AND REVISED ELEMENTS                           -->
<!--     SUPPORT CROSS-REFERENCING MECHANISMS                        -->
<!-- =============================================================== -->
<!--                                                                 -->
<!ELEMENT chgdesc   - -  (#PCDATA)                                     >
<!ATTLIST chgdesc
          chgdtype       (edit|tech|effect|sgml)      #IMPLIED         >
<!ELEMENT effect    - O  EMPTY                                         >
<!ATTLIST effect
          effrg     CDATA                             #IMPLIED
          efftext   CDATA                             #IMPLIED         >

<!ELEMENT deleted   - O  EMPTY                                         >
<!ELEMENT revst     - O  EMPTY                                         >
<!ELEMENT revend    - O  EMPTY                                         >

<!ELEMENT hotlink   - O  EMPTY                                         >
<!ATTLIST hotlink
          targetid      CDATA                         #IMPLIED
          targetrefid   CDATA                         #IMPLIED         >
<!--   ]>   -->
