doctypes/ATA_iSpec2200_2003.1/wm.dtd

<!-- ============================================================ -->
<!--                     WM DTD HEADER                            -->
<!-- ============================================================ -->
<!-- DTD Reference : -//ATA-TEXT//DTD WM-VER18-LEVEL2//EN         -->
<!-- DTD Level     : 2                                            -->
<!-- Rev Date      : 07 Jul 2023                                  -->
<!-- Parsed Date   : 07 Jul 2023                                  -->
<!-- ============================================================ -->
<!--                                                              -->
<!--  Highlights    :                                             -->
<!--  1) Increased the "VER" number to 18.0.                      -->
<!--  2) changed element TR structure: element TRLIST? moved out  -->
<!--     of the choice (CR-2023-01).                              -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Increased the "VER" number to 17.0.                       -->
<!-- 2) Added optional TRLIST element to TR choices (CR-2021-24). -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Increased the "VER" number to 16.0.                       -->
<!-- 2) CHGDTYPE optional attribute added to CHGDESC (CR-2016-02) -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Increased the "VER" number to 15.0.                       -->
<!-- 2) REGULATORY changed to optional repeatable in LxITEM       -->
<!--    elements.                                                 -->
<!--    Optional EFFECT and GRSYMBOL added to REGULATION.         -->
<!--    REGTYPE attribute of REGULATION changed to CDATA and      -->
<!--    new REGSOURCE and REGVALUE attributes added to the        -->
<!--    REGULATION element. (CR-2013-07)                          -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Increased the "VER" number to 14.0.                       -->
<!-- 2) Added optional PNR element to WIRE element (CR-2011-14).  -->
<!-- 3) Added new optional REGULATORY element to L1ITEM, L2ITEM,  -->
<!--    L3ITEM, L4ITEM, L5ITEM, L6ITEM, L7ITEM elements           -->
<!--    (CR-2011-10).                                             -->
<!-- 4) Added REGULATORY element to ENTRY element (CR-2011-11).   -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Increased the "VER" number to 13.0.                       -->
<!-- 2) Changed SBNRMFR to optional repeating in SBDATA.          -->
<!--     (CR-2008-06)                                             -->
<!-- 3) Added optional ETYPE to EQROW element structure. Added    -->
<!--    element ETYPE with #PCDATA content. (CR-2008-10)          -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Formatting changes made for readability.                  -->
<!-- 2) Increased the "VER" number to 12.0.                       -->
<!-- 3) Added optional LEGALNTC element prior to TRFMATR within   -->
<!--    the TR element structure (CR-2007-14-legalntc).           -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) New MATEWMFR element added to the EQROW element as an     -->
<!--    optional repeatable choice with MATEWITH element.         -->
<!--    (CR-2006-10-WM-DTD)                                       --> 
<!-- 3) Increased the "VER-REV" number to 11.                     -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) GLOSDATA is changed to optional in GLOSSARY content.      -->
<!--    Added CHGDESC* and %deleted; to GLOSSARY.                 -->
<!--    (CR eTEXT.TRAN.006.2004)                                  -->
<!-- 2) TRLIST is optional in MFMATR content.                     -->
<!--    (CR eTEXT.TRAN.007.2004)                                  -->
<!-- 3) Increased the "VER-REV" number to 10.1                    -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Added CHAPPREF attribute to CHAPTER, SECTION, SUBJECT,    -->
<!--    GRAPHIC, EQROW and EXTWROW elements. (CR AIB.WM.001.2004) -->
<!-- 2) Added optional WEXDIR attribute to FROM and TO element.   -->
<!--    (CR AIB.WM.002.2004)                                      -->
<!-- 3) Added a choice between WIRENBR element and new WNBRMFR    -->
<!--    element in WIRECODE element content. Aded new WNBRMFR     -->
<!--    element with a content of WIRENBR, MFR and PNRNHA.        -->
<!--    Added new optional PNRNHA element in EINMFR content.      -->
<!--    Added new PNRNHA element with a content of PCDATA.        -->
<!--    (CR AIB.WM.003.2004)                                      -->
<!-- 4) Added a choice between BUNDNBR and PAN in WIRECODE content-->
<!--    Added new optional DIAGREF element associated to BUNDNBR  -->
<!--    and PAN elements in WIRECODE content. Added new DIAGREF   -->
<!--    element containing a choice between REFINT and REFEXT.    -->
<!--    (CR AIB.WM.004.2004)                                      -->
<!-- 5) Added a new optional CONNECT element to FROM, TO and      -->
<!--    FEEDTHRU elements content.  (CR AIB.WM.005.2004)          -->
<!-- 6) Added VENDLIST element to MFMATR, TR and INCREV with a    -->
<!--    content of repeatable VENDATA elements.                   -->
<!--    Added new VENDATA element with a content of MFR and MAD.  -->
<!--    Added new MAD element with a content of VENNAME, VENADDR*,-->
<!--    VENINFO*, VENRPL*.                                        -->
<!--    Added new VENNAME, VENADDR, VENINFO and VENRPL elements   -->
<!--    with a content of #PCDATA.                                -->
<!--    Added new RPLSTATUS attribute to VENRPL element.          -->
<!--    (CR AIB.TRAN.001.2004)                                    -->
<!-- 7) Added GLOSSARY element to MFMATR, TR and INCREV with a    -->
<!--    content of repeatable GLOSDATA elements.                  -->
<!--    Added new GLOSDATA element with a content TERM and DEF    -->
<!--    Added new TERM and DEF elements with a content of PCDATA  -->
<!--    (CR AIB.TRAN.002.2004).                                   -->
<!-- 8) Added GCF notation. Added attribute CFNBR to SHEET.       -->
<!--    (CR AIB.GRAPHIC.001.2004).                                -->
<!-- 9) Added new REFMEDIA element to reference a media file.     -->
<!--    Added PDF, PNG, JPEG, VRML, MPEG and MP3 notations.       -->
<!--    (CR 2004-Media-001).                                      -->
<!-- 10) Added GRSYMBOL element to PARA content to reference      -->
<!--     inline graphics (CR inline graphics).                    -->
<!-- 11) Increased the "VER-REV" number to 10.                    -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) HDIAGNBR is optional in EQROW element.                    -->
<!--    Change per ATA approved CR AIB.WM.001.2003.               -->
<!-- 2) In order to be compliant with the CR AIB.TRAN.004.2003,   -->
<!--    the %ein; entity replaces EIN in FROM, TO and FEEDTHRU    -->
<!--    content.                                                  -->
<!-- 3) The KEY attribute on L4ITEM thru L7ITEM is renamed in ID  -->
<!--    for a better alignement with others DTD.                  --> 
<!-- 4) Increased the "VER-REV" number to 9.3 (wm020903.dtd).     -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Increased the "VER-REV" number to 9.2 (wm020902.dtd).     -->
<!-- 2) Made editorial changes to the highlights.                 -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Increased the "VER-REV" number to 9.1 (wm020901.dtd).     -->
<!-- 2) Made editorial changes to the highlights.                 -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) For compatibility between AMM, AIPC and WM DTD, added     --> 
<!--    new optional elements ECT, ESNBR, BENBR, OPERATOR,        --> 
<!--    FSLGNBR and CUSAID with a content of #PCDATA to EFFDATA   --> 
<!--    structure.                                                --> 
<!--    Change per ATA approved CR AIB.TRAN.001.2003.             --> 
<!-- 2) For compatibility between AMM, AIPC and WM DTD, added     --> 
<!--    STATUS attribute to ICS element and added optional        --> 
<!--    elements SBNRMFR, EONBR and ACLIST to SBDATA element.     --> 
<!--    Added new SBNRMFR element with a content of SBNBR and     --> 
<!--    MFR.                                                      --> 
<!--    Added new EMPTY ACLIST element with CDATA attributes      --> 
<!--    STATUS and EFFRG.                                         -->
<!--    Change per ATA approved CR AIB.TRAN.002.2003.             --> 
<!-- 3) For compatibility between AMM, AIPC and WM DTD, added     -->
<!--    new optional ACLIST element to COCDATA.                   -->
<!--    Change per ATA approved CR AIB.TRAN.003.2003.             -->
<!-- 4) For compatibility between AMM, AIPC and WM DTD, Added     -->
<!--    new EINMFR element to identify vendor EIN. Added %ein;    -->
<!--    entity which is a choice between EIN and EINMFR. The      -->
<!--    %ein; entity replaces the EIN element use in the DTD.     -->
<!--    Change per ATA approved CR AIB.TRAN.004.2003.             -->
<!-- 5) Added attribute PANTYPE to PAN to identify access type.   -->
<!--    Change per ATA approved CR AIB.AMM.001.2003.              -->
<!-- 6) Added attribute KEY to LxITEM (l4item thru l7item) for    -->
<!--    referencing List Items. It was agreed to add the KEY      -->
<!--    attribute to the WM DTD since that DTD does not have the  -->
<!--    PRCLIST structure. Per agreement between Boeing and       -->
<!--    Airbus and ATA CR approval (CR Boe.tran.002.2003).        -->
<!-- 7) Increased the "VER" number to 9.0 (wm020900.dtd).         -->
<!-- 8) Made some editorial improvements for readability.         -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Changed Graphic and Sheet attribute PAGENBR to a type of  -->
<!--    CDATA to allow for decimal and alpha character page       -->
<!--    numbering (ex. 1.1 or 1.1a).                              -->
<!--    Change per ATA approved CR BOE.WM.001.2003.               -->
<!-- 2) Added attributes COCCOND and COCREV to element COCEFF.    -->
<!--    This aligns the COCEFF with the SBEFF attribute structure -->
<!--    and provides a means for reporting COCEFF status. To keep -->
<!--    the DTD backwards compatible the attribute is IMPLIED.    -->
<!--    Change per ATA approved CR BOE.WM.002.2003.               -->
<!-- 3) Increased the "VER" number to 8.2 (wm020802.dtd).         -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Incorporated ISObox, ISOamso & ISOamsc per ATA approved   -->
<!--    DTD CR 2003-All-001.                                      -->
<!-- 2) Increased the "REV" number to 8.1 (wm020801.dtd).         -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- 1) Added optional MATEWITH to EQROW content.                 -->
<!-- 2) Added attribute TYPE to EIN, MATEWITH, TERMNBR and        -->
<!--    WIRENBR.                                                  -->
<!-- 3) Changed CONDLIST to optional in WMLIST structure.         -->
<!-- 4) Increased the "VER" number to 8.0 (wm020800.dtd).         -->
<!-- 5) Made some editorial improvements for readability.         -->
<!--                                                              -->
<!-- DTD REVISION HISTORY:                                        -->
<!-- Rev Date     : 04 Dec 2001                                   -->
<!-- Parsed Date  : 04 Dec 2001                                   -->
<!-- 1) Added optional EONBR to COCLIST.                          -->
<!-- 2) Increased the "VER-REV" number to 7.2 (wm020702.dtd).     -->
<!-- 3) Made some editorial improvements for readability.         -->
<!--                                                              -->
<!-- Rev Date     : 24 Oct 2001                                   -->
<!-- Parsed Date  : 24 Oct 2001                                   -->
<!-- 1) Changed TABLE ENTRY to "*" optional repeating to avoid    -->
<!--    empty tags <para> </para> for blank table cell entries.   -->
<!-- 2) Added HZMTLST as choice to INCREV and TR.                 -->
<!-- 3) Increased the "VER-REV" number to 7.1 (wm020701.dtd).     -->
<!--                                                              -->
<!-- Rev Date     : 31 May 2001                                   -->
<!-- Parsed Date  : 31 May 2001                                   -->
<!-- 1) Added EFFECT inclusions to WARNING, NOTE & CAUTION.       -->
<!-- 2) Added new elements SUB & SUPER to PARA & TITLE with a     -->
<!--    content of #PCDATA.                                       -->
<!-- 3) Added optional HAZMTLST element to MFMATR with a          -->
<!--    content of TITLE, optional PRETOPIC & HAZMT. Added new    -->
<!--    element HAZMT with a content of TITLE & WARNING.          -->
<!-- 4) Added new PARA element REFBLOCK with a content of         -->
<!--    #PCDATA or REFINT or REFEXT or GRPHCREF.                  -->
<!-- 5) Increased the "VER" number to 7  (wm020700).              -->
<!-- 6) Made some editorial improvements for readability.         -->
<!--                                                              -->
<!-- Revision Date: 21 Dec 2000                                   -->
<!-- Parsed Date  : 08 Jan 2001                                   -->
<!-- 1) Increased the version number to 6.                        -->
<!-- 2) Added ISOgrk2,3,4 & ISOlat1.                              -->
<!-- 3) Added implied attribute IMGAREA to SHEET.                 -->
<!-- 4) Added optional LEGALNTC to document element structure.    -->
<!-- NOTE: IMGAREA attribute value of IL had to be modified to    -->
<!--  I-L for this DTD ONLY since the value IL is already used.   -->
<!--                                                              -->
<!-- Revision Date: Sept 98                                       -->
<!--    Highlight :                                               -->
<!--    Increased the version number to 5                         -->
<!--    Added optional modcode to extwrow                         -->
<!--                                                              -->
<!-- ============================================================ -->

<!-- DOCTYPE wm [  -->
<!-- The following set of declarations may be referred to
     using a public entity as follows:
<!DOCTYPE wm PUBLIC
     "-//ATA-TEXT//DTD WM-VER18-LEVEL2//EN" [ ]>                  -->

<!-- ============================================================ -->
<!--                       NOTATIONS                              -->
<!-- ============================================================ -->
<!NOTATION cgm      PUBLIC
     "-//USA-DOD//NOTATION Computer Graphics Metafile//EN"          >

<!NOTATION ccitt4   PUBLIC
     "-//USA-DOD//NOTATION CCITT Group 4 Facsimile//EN"             >

<!NOTATION gcf PUBLIC
     "-//ATA-TEXT//NOTATION Graphic Companion File//EN"             >

<!NOTATION pdf PUBLIC
    "-//Adobe Inc.//NOTATION Portable Document Format//EN"          >

<!NOTATION png PUBLIC
    "-//W3C//NOTATION Portable Network Graphics//EN"                >

<!NOTATION jpeg PUBLIC
    "+//ISBN 0-7923-9432-1::Graphic Notation//NOTATION Joint
     Photographic Experts Group Raster//EN"                         >

<!NOTATION vrml PUBLIC 
    "-//ATA-TEXT//NOTATION Virtual Reality Modeling Language//EN"   >

<!NOTATION mpeg PUBLIC
    "-//ATA-TEXT//NOTATION Motion Pictures Expert Group//EN"        >

<!NOTATION mp3 PUBLIC
    "-//ATA-TEXT//NOTATION Motion Pictures Expert Group, Audio
     Layer 3//EN"                                                   >

<!-- ============================================================ -->
<!--                       ENTITIES                               -->
<!-- ============================================================ -->

<!ENTITY % wcn      "(warning | caution | note)+"                   >

<!ENTITY % text     "(para | table | unlist | numlist | graphic
                     | %wcn; | list1)+"                             >

<!ENTITY % deleted  "(deleted, chgdesc*)"                           >

<!ENTITY % yesorno  "NUMBER"                                        >

<!ENTITY % revatt
        "chg        (N | R | U | D)                   #REQUIRED
         key        ID                                #REQUIRED
         revdate    NUMBER                            #REQUIRED"    >

<!ENTITY % ein    "(ein | einmfr)"                                  >

<!ENTITY   % ISOtech      PUBLIC 
     "ISO 8879-1986//ENTITIES   General Technical//EN"              >
<!ENTITY   % ISOpub      PUBLIC 
     "ISO 8879-1986//ENTITIES Publishing//EN"                       >
<!ENTITY   % ISOnum      PUBLIC 
   "ISO 8879-1986//ENTITIES   Numeric and Special Graphic//EN"      >
<!ENTITY   % ISOgrk1     PUBLIC 
     "ISO 8879-1986//ENTITIES   Greek Letters//EN"                  >
<!ENTITY   % ISOgrk2     PUBLIC 
     "ISO 8879-1986//ENTITIES Monotoniko Greek//EN"                 >
<!ENTITY   % ISOgrk3     PUBLIC 
     "ISO 8879-1986//ENTITIES Greek Symbols//EN"                    >
<!ENTITY   % ISOgrk4     PUBLIC 
     "ISO 8879-1986//ENTITIES Alternative Greek Symbols//EN"        >
<!ENTITY   % ISOlat1     PUBLIC 
     "ISO 8879-1986//ENTITIES Added Latin 1//EN"                    >
<!ENTITY   % ISObox      PUBLIC
     "ISO 8879-1986//ENTITIES Box and Line Drawing//EN"             >
<!ENTITY   % ISOamso     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Ordinary//EN"     >
<!ENTITY   % ISOamsc     PUBLIC
     "ISO 8879-1986//ENTITIES Added Math Symbols: Delimiters//EN"   >

%ISOtech; %ISOpub; %ISOnum; %ISOgrk1; %ISOgrk2; %ISOgrk3;
%ISOgrk4; %ISOlat1; %ISObox; %ISOamso; %ISOamsc;

<!-- ============================================================ -->
<!--      WIRING MANUAL TOP LEVEL STRUCTURE                       -->
<!-- ============================================================ -->
<!ELEMENT wm        - -  ((title, legalntc?, mfmatr, spchap?,  
                          chapter*, wmlist?) | increv | tr+)
                        +(revst | revend | cocst | cocend | hotlink)>
<!ATTLIST wm
          model          CDATA                        #REQUIRED
          oidate         NUMBER                       #REQUIRED
          revdate        NUMBER                       #REQUIRED
          tsn            CDATA                        #REQUIRED
          docnbr         CDATA                        #IMPLIED
          spl            CDATA                        #REQUIRED
          chg            (N|R|U)                      #REQUIRED
          lang           CDATA                        #REQUIRED
          cus            CDATA                        #IMPLIED
          cusname        CDATA                        #IMPLIED
          spc            %yesorno;                    "1"
          wdm            %yesorno;                    "1"
          ssm            %yesorno;                    "1"
          wmlist         %yesorno;                    "1"
          efflen         NUMBER                       #REQUIRED
          efftype        CDATA                        #REQUIRED     >

<!ELEMENT increv    - -  (ttlpage | transltr | trlist | mfrevrec 
                         | sblist | coclist | effxref | intro 
                         | eqiplist | condlist | eqrow | condrow 
                         | extwlist | extwrow | spchap| spsect 
                         | spsubj | chapter | section | subject 
                         | graphic | sheet | l1item | l2item
                         | l3item | legalntc | hazmtlst | vendlist
                         | glossary)+                               >

<!ELEMENT tr        - -  (legalntc?, trfmatr, trlist?,(sblist
                         | coclist | effxref | intro | eqrow+
                         | condrow+ | extwrow+ | spchap | spsect+
                         | spsubj+ | chapter | section+ | subject+
                         | graphic+ | sheet+ | l1item+ | l2item+
                         | l3item+ | legalntc | hazmtlst | vendlist
                         | glossary))                               >

<!ELEMENT trfmatr   - -  (title, trxref?, trinfo)                   >
<!ATTLIST trfmatr
          trnbr          CDATA                        #REQUIRED
          issdate        NUMBER                       #REQUIRED
          trdel          CDATA                        #IMPLIED
          trrepl         CDATA                        #IMPLIED      >

<!ELEMENT trxref    - -  (paptrnbr+)                                >
<!ELEMENT paptrnbr  - -  (#PCDATA)                                  >
<!ATTLIST paptrnbr
          issdate        NUMBER                       #REQUIRED     >
<!ELEMENT trinfo    - -  (%text;)                                   >

<!-- ============================================================ -->
<!--       Legal Notice Information                               -->
<!-- ============================================================ -->
<!ELEMENT legalntc  - - (exprtcl | cpyrght | proptary | geninfo)+   >
<!ATTLIST legalntc
          %revatt;                                                  >

<!ELEMENT proptary  - - (fullstmt, partstmt?)                       >
<!ELEMENT fullstmt  - - (title?, cpyrght?, para+)                   >
<!ELEMENT partstmt  - - (title?, para+)                             >
<!ELEMENT exprtcl   - - (para | unlist | numlist | note)+           >
<!ELEMENT cpyrght   - - (year*, holder*, geninfo)                   >
<!ELEMENT year      - - (#PCDATA)                                   >
<!ELEMENT holder    - - (#PCDATA)                                   >
<!ELEMENT geninfo   - - (para | unlist | numlist | note)+           >

<!-- ============================================================ -->
<!--                     WM FRONT MATTER                          -->
<!-- ============================================================ -->
<!ELEMENT mfmatr    - -  (ttlpage?, transltr?, trlist?, mfrevrec?,
                         cusrevrec?, vendlist?, sblist?, coclist?, 
                         effxref?, intro, hazmtlst?, glossary?)  
                                            +(refint | refext)      >

<!ELEMENT ttlpage   - -  (chgdesc*, title, graphic?, para*)         >
<!ATTLIST ttlpage
          %revatt;                                                  >

<!ELEMENT transltr  - -  ((chgdesc*, title, %text;) | %deleted;)    >
<!ATTLIST transltr
          oldkey         NAME                         #IMPLIED
          %revatt;                                                  >

<!ELEMENT trlist    - -  (trdata+ | isempty)                        >
<!ATTLIST trlist
          %revatt;                                                  >

<!ELEMENT trdata    - -  (trnbr, trstatus, trloc+)                  >

<!ELEMENT trnbr     - -  (#PCDATA)                                  >
<!ELEMENT trstatus  - -  (#PCDATA)                                  >
<!ELEMENT trloc     - -  (#PCDATA)                                  >

<!ELEMENT mfrevrec  - -  (chgdesc*, title, %text;)                  >
<!ATTLIST mfrevrec
          %revatt;                                                  >

<!ELEMENT cusrevrec - -  (chgdesc*, title, %text;)                  >

<!ELEMENT vendlist  - -  (title, (%text;)?, vendata+)               >
<!ATTLIST vendlist
          oldkey         NAME                         #IMPLIED
          %revatt;                                                  >
<!ELEMENT vendata   - -  (mfr, mad)                                 >
<!ELEMENT mad       - -  (venname?, venaddr*, veninfo*, venrpl*)    >
<!ELEMENT venname   - -  (#PCDATA)                                  >
<!ELEMENT venaddr   - -  (#PCDATA)                                  >
<!ELEMENT veninfo   - -  (#PCDATA)                                  >
<!ELEMENT venrpl    - -  (#PCDATA)                                  >
<!ATTLIST venrpl
          rplstatus      (rpls|rplby)                 #REQUIRED     >

<!ELEMENT sblist    - -  (chgdesc*, title, %text;, (sbdata+ 
                          | isempty))                               >
<!ATTLIST sblist
          %revatt;                                                  >
<!ELEMENT sbdata    - -  (sbnbr?, sbrev?, sbnrmfr*, eonbr*, atanbr?,
                          mdnbr*, cocnbr*, custeff?, sc?, aclist*,
                          title?, (ics | icdate))                   >
<!ELEMENT sbnrmfr   - -  (sbnbr, mfr?)                              >
<!ELEMENT aclist    - O  EMPTY                                      >
<!ATTLIST aclist
          status         CDATA                        #IMPLIED
          effrg          CDATA                        #IMPLIED      >

<!ELEMENT sbnbr     - -  (#PCDATA)                                  >
<!ELEMENT sbrev     - -  (#PCDATA)                                  >
<!ELEMENT atanbr    - -  (#PCDATA)                                  >
<!ELEMENT mdnbr     - -  (#PCDATA)                                  >
<!ELEMENT custeff   - -  (cus, effrc)+                              >
<!ELEMENT cus       - -  (#PCDATA)                                  >
<!ELEMENT effrc     - -  (#PCDATA)                                  >
<!ELEMENT sc        - -  (#PCDATA)                                  >
<!ELEMENT icdate    - -  (#PCDATA)                                  >
<!ELEMENT ics       - -  (#PCDATA)                                  >
<!ATTLIST ics
          status         CDATA                        #IMPLIED      >

<!ELEMENT coclist   - -  (chgdesc*, title, %text;, (cocdata+ 
                          | isempty))                               >
<!ATTLIST coclist
          %revatt;                                                  >
<!ELEMENT cocdata   - -  (cocnbr?, cocrev?, eonbr*, atanbr?, mdnbr*,
                          custeff?, sc?, aclist*, title?, (icdate
                          | ics))                                   >

<!ELEMENT cocnbr    - -  (#PCDATA)                                  >
<!ELEMENT cocrev    - -  (#PCDATA)                                  >
<!ELEMENT eonbr     - -  (#PCDATA)                                  >

<!ELEMENT effxref   - -  (chgdesc*, title, %text;, effdata+)        >
<!ATTLIST effxref
          %revatt;                                                  >
<!ELEMENT effdata   - -  (cus?, modtype?, venbr?, cec, cac?, acn?,
                          linenbr?, ect?, msnbr, esnbr?, benbr?,
                          operator?, fslgnbr?, cusaid?)>
<!ELEMENT benbr     - -  (#PCDATA)                                  >
<!ELEMENT operator  - -  (#PCDATA)                                  >
<!ELEMENT ect       - -  (#PCDATA)                                  >
<!ELEMENT esnbr     - -  (#PCDATA)                                  >
<!ELEMENT cusaid    - -  (#PCDATA)                                  >
<!ELEMENT fslgnbr   - -  (#PCDATA)                                  >

<!ELEMENT modtype   - -  (#PCDATA)                                  >
<!ELEMENT venbr     - -  (#PCDATA)                                  >
<!ELEMENT cec       - -  (#PCDATA)                                  >
<!ELEMENT cac       - -  (#PCDATA)                                  >
<!ELEMENT acn       - -  (#PCDATA)                                  >
<!ELEMENT linenbr   - -  (#PCDATA)                                  >
<!ELEMENT msnbr     - -  (#PCDATA)                                  >

<!ELEMENT intro     - -  (chgdesc*, title, para?, list1)            >
<!ATTLIST intro
          oldkey         NAME                         #IMPLIED
          %revatt;                                                  >

<!ELEMENT hazmtlst  - -  (title, pretopic*, hazmt+)                 >
<!ATTLIST hazmtlst
          %revatt;                                                  >
<!ELEMENT hazmt     - -  (title, warning)                           >
<!ATTLIST hazmt
          id             ID                           #REQUIRED     >
<!ELEMENT pretopic  - -  (title, %text;)               +(effect)    >
<!ELEMENT glossary  - -  ((chgdesc*, title, (%text;)?, glosdata*) 
                         | %deleted;)                               >
<!ATTLIST glossary
          oldkey         NAME                         #IMPLIED
          %revatt;                                                  >
 
<!ELEMENT glosdata  - -  (term, def)                                >
<!ELEMENT term      - -  (#PCDATA)                                  >
<!ELEMENT def       - -  (#PCDATA)                                  >

<!-- ============================================================ -->
<!--               Standard Practices CHAPTER 20                  -->
<!-- ============================================================ -->
<!ELEMENT spchap    - -  ((effect?, chgdesc*, title, spsect+)
                          | %deleted;)                              >
<!ATTLIST spchap
          chapnbr        NUMBER                       "20"
          oldkey         NAME                         #IMPLIED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--                     S P SECTION                              -->
<!-- ============================================================ -->
<!ELEMENT spsect    - -  ((effect?, chgdesc*, title?, spsubj+)
                          | %deleted;)                              >
<!ATTLIST spsect
          chapnbr        NUMBER                       #REQUIRED
          sectnbr        NUMBER                       #REQUIRED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--                   S P SUBJECT                                -->
<!-- ============================================================ -->
<!ELEMENT spsubj    - -  ((effect?, chgdesc*, title?, %text;)
                          | %deleted;)                              >

<!ATTLIST spsubj
          chapnbr        NUMBER                       #REQUIRED
          sectnbr        NUMBER                       #REQUIRED
          subjnbr        NUMBER                       #REQUIRED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--                     CHAPTER                                  -->
<!-- ============================================================ -->
<!ELEMENT chapter   - -  ((effect?, chgdesc*, title, section+)
                          | %deleted;)                              >
<!ATTLIST chapter
          chappref       CDATA                        #IMPLIED
          chapnbr        NUMBER                       #REQUIRED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--                       SECTION                                -->
<!-- ============================================================ -->
<!ELEMENT section   - -  ((effect?, chgdesc*, title?, subject+)
                          | %deleted;)                              >
<!ATTLIST section
          chappref       CDATA                        #IMPLIED
          chapnbr        NUMBER                       #REQUIRED
          sectnbr        NUMBER                       #REQUIRED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--                       SUBJECT                                -->
<!-- ============================================================ -->
<!ELEMENT subject   - -  ((effect?, chgdesc*, title?, graphic+)
                          | %deleted;)                              >
<!ATTLIST subject
          chappref       CDATA                        #IMPLIED
          chapnbr        NUMBER                       #REQUIRED
          sectnbr        NUMBER                       #REQUIRED
          subjnbr        NUMBER                       #REQUIRED
          %revatt;                                                  >

<!-- ============================================================ -->
<!--                  WM LISTS                                    -->
<!-- ============================================================ -->
<!ELEMENT wmlist    - -  (eqiplist, extwlist, condlist?)            >

<!-- ============================================================ -->
<!--                     EQUIPMENT LIST                           -->
<!-- ============================================================ -->
<!ELEMENT eqiplist  - -  (chgdesc*, title, eqrow+)                  >
<!ATTLIST eqiplist
          oldkey         NAME                         #IMPLIED
          %revatt;                                                  >

<!ELEMENT eqrow     - -  ((effect, chgdesc*, %ein;, pnr, etype?, 
                          alprtnbr?, partdesc, mfr, location, 
                          (matewith | matewmfr)*, hdiagnbr?, tqa?, 
                          eqivpnr*, mfrname?, optcode?, dwg?, 
                          ch20ref?, pan?, position*, maxpos?,
                          pandesc?, modcode?, gridnbr?) | %deleted;)>
<!ATTLIST eqrow
          chappref       CDATA                        #IMPLIED
          %revatt;                                                  >
<!ELEMENT einmfr    - -  (ein, mfr?, pnrnha?)                       >
<!ELEMENT ein       - -  (#PCDATA)                                  >
<!ATTLIST ein
          type           CDATA                        #IMPLIED      >
<!ELEMENT pnr       - -  (#PCDATA)                                  >
<!ELEMENT etype     - -  (#PCDATA)                                  >
<!ELEMENT alprtnbr  - -  (#PCDATA)                                  >
<!ELEMENT partdesc  - -  (#PCDATA)                                  >
<!ELEMENT mfr       - -  (#PCDATA)                                  >
<!ELEMENT location  - -  (stnnbr?, wl?, bl?, zone?)                 >
<!ELEMENT stnnbr    - -  (#PCDATA)                                  >
<!ELEMENT wl        - -  (#PCDATA)                                  >
<!ELEMENT bl        - -  (#PCDATA)                                  >
<!ELEMENT zone      - -  (#PCDATA)                                  >
<!ELEMENT matewith  - -  (#PCDATA)                                  >
<!ATTLIST matewith
          type           CDATA                        #IMPLIED      >
<!ELEMENT matewmfr  - -  (ein, mfr?, pnrnha?)                       >
<!ATTLIST matewmfr
          type           CDATA                        #IMPLIED      >

<!ELEMENT hdiagnbr  - -  (refint | refext)                          >
<!ELEMENT tqa       - -  (#PCDATA)                                  >
<!ELEMENT eqivpnr   - -  (#PCDATA)                                  >
<!ELEMENT optcode   - -  (#PCDATA)                                  >
<!ELEMENT dwg       - -  (#PCDATA)                                  >
<!ELEMENT ch20ref   - -  (refint | refext)                          >
<!ELEMENT pan       - -  (#PCDATA)                                  >
<!ATTLIST pan
          pantype        CDATA                        #IMPLIED      >
<!ELEMENT position  - -  (#PCDATA)                                  >
<!ELEMENT maxpos    - -  (#PCDATA)                                  >
<!ELEMENT pandesc   - -  (#PCDATA)                                  >
<!ELEMENT modcode   - -  (#PCDATA)                                  >
<!ELEMENT gridnbr   - -  (#PCDATA)                                  >

<!-- ============================================================ -->
<!--                      EXTended Wire LIST                      -->
<!-- ============================================================ -->
<!ELEMENT extwlist  - -  (chgdesc*, title, extwrow+)                >
<!ATTLIST extwlist
          oldkey         NAME                         #IMPLIED
          %revatt;                                                  >

<!ELEMENT extwrow   - -  ((effect, chgdesc*, (actwire | nactwire
                          | sparepin), modcode?) | %deleted;)       >
<!ATTLIST extwrow
          chappref       CDATA                        #IMPLIED
          %revatt;                                                  >

<!ELEMENT actwire   - -  (wire, from, to)                           >
<!ELEMENT nactwire  - -  (wire, from?, to?)                         >
<!ELEMENT sparepin  - -  (from)                                     >
<!ELEMENT from      - -  (((%ein;, connect?) | wirecode), termnbr, 
                          shunt?, termpnr?, termcode?)              >
<!ATTLIST from 
          wexdir    CDATA                             #IMPLIED      >
<!ELEMENT to        - -  (((%ein;, connect?) | wirecode), termnbr, 
                          shunt?, termpnr?, termcode?)              >
<!ATTLIST to
          wexdir    CDATA                             #IMPLIED      >
<!ELEMENT wire      - -  (wirecode, length+, wiretype+, pnr?,
                          hdiagnbr, fam?, wirerte?, bundpnr?,
                          bunddesc?, feedthru*, sensep?)            >

<!ELEMENT wirecode  - -  ((wirenbr | wnbrmfr), wireawg?, wireclr?, 
                          ((bundnbr | pan), diagref?)?)             >
<!ELEMENT wirenbr   - -  (#PCDATA)                                  >
<!ATTLIST wirenbr
          type           CDATA                        #IMPLIED      >
<!ELEMENT wnbrmfr   - -  (wirenbr, mfr?, pnrnha?)                   >
<!ELEMENT wireawg   - -  (#PCDATA)                                  >
<!ELEMENT wireclr   - -  (#PCDATA)                                  >
<!ELEMENT bundnbr   - -  (#PCDATA)                                  >
<!ELEMENT diagref   - -  (refint | refext)                          >
<!ELEMENT connect   - -  (#PCDATA)                                  >
<!ELEMENT termnbr   - -  (#PCDATA)                                  >
<!ATTLIST termnbr
          type           CDATA                        #IMPLIED      >
<!ELEMENT shunt     - -  (#PCDATA)                                  >
<!ELEMENT termpnr   - -  (#PCDATA)                                  >
<!ELEMENT termcode  - -  (#PCDATA)                                  >
<!ELEMENT length    - -  (#PCDATA)                                  >
<!ATTLIST length
          unit           (ft | in | mm | cm | m)      #REQUIRED     >
<!ELEMENT wiretype  - -  (#PCDATA)                                  >
<!ATTLIST wiretype
          wtcode         (us | mt)                    #IMPLIED      >
<!ELEMENT fam       - -  (#PCDATA)                                  >
<!ELEMENT wirerte   - -  (#PCDATA)                                  >
<!ELEMENT bundpnr   - -  (#PCDATA)                                  >
<!ELEMENT bunddesc  - -  (#PCDATA)                                  >
<!ELEMENT feedthru  - -  (%ein;, connect?, termnbr?)                >
<!ELEMENT sensep    - -  (#PCDATA)                                  >
<!ELEMENT pnrnha    - -  (#PCDATA)                                  >

<!-- ============================================================ -->
<!--                      CONDuit LIST                            -->
<!-- ============================================================ -->
<!ELEMENT condlist  - -  (chgdesc*, title, condrow+)                >
<!ATTLIST condlist
          oldkey    NAME                              #IMPLIED
          %revatt;                                                  >

<!ELEMENT condrow   - -  ((effect, chgdesc*, condid, zone, zone,
                          dia, length, wirecode+) | %deleted;)      >
<!ATTLIST condrow
          %revatt;                                                  >
<!ELEMENT condid    - -  (#PCDATA)                                  >
<!ELEMENT dia       - -  (#PCDATA)                                  >
<!ATTLIST dia
          unit           (in | cm | mm)               #REQUIRED     >

<!-- ============================================================ -->
<!--           PARAGRAPH, CHANGE DESCR. & TITLE                   -->
<!-- ============================================================ -->
<!ELEMENT para      - -  (#PCDATA | hwinfo | matlinfo | toolinfo
                         | terminfo | wiretype | pnr | mfrname
                         | toolpnr | matlpnr | zone | termpnr
                         | grphcref | refext | refint | sub 
                         | super | txtgrphc | refblock | refmedia
                         | grsymbol)+                               >

<!ELEMENT hwinfo    - -  (mfrname, pnr, hwname, altentry*)          >
<!ELEMENT mfrname   - -  (#PCDATA)                                  >
<!ELEMENT hwname    - -  (#PCDATA)                                  >
<!ELEMENT altentry  - -  (#PCDATA)                                  >

<!ELEMENT matlinfo  - -  (mfrname, matlpnr, matlname, altentry*)    >
<!ELEMENT matlpnr   - -  (#PCDATA)                                  >
<!ELEMENT matlname  - -  (#PCDATA)                                  >

<!ELEMENT toolinfo  - -  (mfrname, toolpnr, toolname, altentry*)    >
<!ELEMENT toolpnr   - -  (#PCDATA)                                  >
<!ELEMENT toolname  - -  (#PCDATA)                                  >

<!ELEMENT terminfo  - -  (mfrname, termpnr, termname, altentry*)    >

<!ELEMENT termname  - -  (#PCDATA)                                  >

<!ELEMENT sub       - -  (#PCDATA)                                  >
<!ELEMENT super     - -  (#PCDATA)                                  >

<!ELEMENT chgdesc   - -  (#PCDATA)                                  >
<!ATTLIST chgdesc
          chgdtype   (edit|tech|effect|sgml)          #IMPLIED      >
<!ELEMENT title     - -  (#PCDATA | sub | super)+                   >

<!-- ============================================================ -->
<!--              TABLE (CELLULAR, CALS BASED)                    -->
<!-- ============================================================ -->
<!ELEMENT table     - -  ((title?, tgroup, ftnote*) | graphic+)
                         -(table)                                   >
<!ATTLIST table
          tabstyle  NMTOKEN                           #IMPLIED
          frame     (top | bottom | topbot 
                     | all | sides | none)            #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          orient    (port | land)                     #IMPLIED
          pgwide    %yesorno;                         #IMPLIED
          id        ID                                #IMPLIED      >

<!ELEMENT tgroup    - O  (colspec*, spanspec*, thead?, tfoot?,
                         tbody)                                     >
<!ATTLIST tgroup
          cols      NUMBER                            #REQUIRED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          align     (left | right | center 
                     | justify | char)                "left"
          charoff   NUTOKEN                           "50"
          char      CDATA                             ""            >

<!ELEMENT colspec   - O  EMPTY                                      >
<!ATTLIST colspec
          colnum    NUMBER                            #IMPLIED
          colname   NMTOKEN                           #IMPLIED
          align     (left | right | center
                    | justify | char)                 #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          colwidth  CDATA                             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED      >

<!ELEMENT spanspec  - O  EMPTY                                      >
<!ATTLIST spanspec
          namest    NMTOKEN                           #REQUIRED
          nameend   NMTOKEN                           #REQUIRED
          spanname  NMTOKEN                           #IMPLIED
          align     (left | right | center
                     | justify | char)                "center"
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED      >

<!ELEMENT thead     - O  (colspec*, row+)                           >
<!ATTLIST thead
          valign    (top | middle | bottom)           "bottom"      >

<!ELEMENT tfoot     - O  (colspec*, row+)                           >
<!ATTLIST tfoot
          valign    (top | middle | bottom)           "top"         >

<!ELEMENT tbody     - O  (row+)                                     >
<!ATTLIST tbody
          valign    (top | middle | bottom)           "top"         >

<!ELEMENT row       - O  (entry+)                                   >
<!ATTLIST row
          rowsep    %yesorno;                         #IMPLIED      >

<!ELEMENT entry     - O  ((regulatory | para | numlist | unlist)* 
                          | graphic)                                >
<!ATTLIST entry
          colname   NMTOKEN                           #IMPLIED
          namest    NMTOKEN                           #IMPLIED
          nameend   NMTOKEN                           #IMPLIED
          spanname  NMTOKEN                           #IMPLIED
          morerows  NUMBER                            "0"
          colsep    %yesorno;                         #IMPLIED
          rowsep    %yesorno;                         #IMPLIED
          rotate    %yesorno;                         "0"
          valign    (top | middle | bottom)           "top"
          align     (left | right | center
                     | justify | char)                #IMPLIED
          charoff   NUTOKEN                           #IMPLIED
          char      CDATA                             #IMPLIED      >

<!ELEMENT ftnote    - -  (%text;)                                   >
<!ATTLIST ftnote
          ftnoteid  ID                                #REQUIRED     >

<!-- ============================================================ -->
<!--   REFERENCE BLOCK and GRAPHIC REFERENCING MECHANISMS         -->
<!-- ============================================================ -->
<!ELEMENT refblock  - - (#PCDATA | refint | refext | grphcref)*     >

<!ELEMENT grphcref  - - (effect?, #PCDATA)                          >
<!ATTLIST grphcref
          refid          IDREF                        #IMPLIED
          sheetnbr       CDATA                        #IMPLIED
          structid       CDATA                        #IMPLIED
          shownow        %yesorno;                    "0"           >

<!ELEMENT graphic   - -  ((effect, chgdesc*, title?, sheet+)
                          | %deleted;)                              >
<!ATTLIST graphic
          chappref       CDATA                        #IMPLIED
          gtype          (ss | wd | il)               #IMPLIED
          chapnbr        NUMBER                       #IMPLIED
          sectnbr        NUMBER                       #IMPLIED
          subjnbr        NUMBER                       #IMPLIED
          pagenbr        CDATA                        #IMPLIED
          schemnbr       NUMBER                       #IMPLIED
          oldkey         NAME                         #IMPLIED
          %revatt;                                                  >

<!ELEMENT sheet     - -  ((effect, chgdesc*, title?, gdesc?) 
                          | %deleted;)                              >
<!ATTLIST sheet
          gnbr           ENTITY                       #REQUIRED
          cfnbr          ENTITY                       #IMPLIED
          gtype          (ss|wd|il)                   #IMPLIED
          chapnbr        NUMBER                       #IMPLIED
          sectnbr        NUMBER                       #IMPLIED
          subjnbr        NUMBER                       #IMPLIED
          pagenbr        CDATA                        #IMPLIED
          schemnbr       NUMBER                       #IMPLIED
          sheetnbr       CDATA                        #REQUIRED
          imgarea      (AP|BP|CP|DL|EL|FP|GP|HL|I-L)  #IMPLIED
          %revatt;                                                  >

<!ELEMENT gdesc     - -  (unlist | numlist)                         >

<!ELEMENT grsymbol    - O  EMPTY                                    >
<!ATTLIST grsymbol
          gnbr           ENTITY                       #REQUIRED 
          reprowid       CDATA                        #IMPLIED 
          reprohgt       CDATA                        #IMPLIED 
          reproscl       CDATA                        #IMPLIED      >

<!-- ============================================================ -->
<!--                 STANDARD LISTS                               -->
<!-- ============================================================ -->
<!ELEMENT list1     - -  (l1item+)      -(list1)  +(effect)         >
<!ELEMENT list2     - -  (l2item+)                                  >
<!ELEMENT list3     - -  (l3item+)                                  >
<!ELEMENT list4     - -  (l4item+)                                  >
<!ELEMENT list5     - -  (l5item+)                                  >
<!ELEMENT list6     - -  (l6item+)                                  >
<!ELEMENT list7     - -  (l7item+)                                  >

<!ELEMENT l1item    - -  ((chgdesc*, title?, regulatory*, (%text;)?, 
                          list2?) | %deleted;)                      >
<!ATTLIST l1item
          %revatt;                                                  >
<!ELEMENT l2item    - -  ((chgdesc*, title?, regulatory*, (%text;)?, 
                          list3?) | %deleted;)                      >
<!ATTLIST l2item
          %revatt;                                                  >
<!ELEMENT l3item    - -  ((chgdesc*, title?, regulatory*, (%text;)?, 
                          list4?) | %deleted;)                      >
<!ATTLIST l3item
          %revatt;                                                  >
<!ELEMENT l4item    - -  (title?, regulatory*, (%text;)?, list5?)   >
<!ATTLIST l4item
          id             ID                           #IMPLIED      >
<!ELEMENT l5item    - -  (title?, regulatory*, (%text;)?, list6?)   >
<!ATTLIST l5item
          id             ID                           #IMPLIED      >
<!ELEMENT l6item    - -  (title?, regulatory*, (%text;)?, list7?)   >
<!ATTLIST l6item
          id             ID                           #IMPLIED      >
<!ELEMENT l7item    - -  (title?, regulatory*, %text;)              >
<!ATTLIST l7item
          id             ID                           #IMPLIED      >

<!-- ============================================================ -->
<!-- REGULATORY                                                   -->
<!-- ============================================================ -->
<!ELEMENT regulatory  - - (effect?, regulation+)                    >
<!ELEMENT regulation  - - (effect?, grsymbol?, #PCDATA)             >
<!ATTLIST regulation
          regtype        CDATA                        #REQUIRED 
          regsource      CDATA                        #IMPLIED
          regvalue       CDATA                        #IMPLIED      >
		  
<!-- ============================================================ -->
<!--            NUMBERED & UN-NUMBERED LIST                       -->
<!-- ============================================================ -->
<!ELEMENT unlist    - -  (unlitem+)                                 >
<!ATTLIST unlist
          bulltype  (NONE|BULLET|NDASH|MDASH
                     |DIAMOND|ASTERISK
                     |DELTA|SQUARE|SYSTEM)            "SYSTEM"      >
<!ELEMENT unlitem   - -  (para+)                                    >

<!ELEMENT numlist   - -  (numlitem+)                                >
<!ATTLIST numlist
          numtype   (NNP|AUP|NNB|ALB|NNS
                     |RUP|RLP|RUR|RLR|NNR
                     |AUR|ALR)                        "NNP"         >
<!ELEMENT numlitem  - -  (para+)                                    >

<!-- ============================================================ -->
<!--               WARNING, CAUTIONS & NOTES                      -->
<!-- ============================================================ -->
<!ELEMENT warning   - -  (%text;)  -(note | warning | caution)
                                   +(effect)                        >
<!ELEMENT note      - -  (%text;)  -(note | warning | caution)
                                   +(effect)                        >
<!ELEMENT caution   - -  (%text;)  -(note | warning | caution)
                                   +(effect)                        >

<!-- ============================================================ -->
<!--                   REFERENCES                                 -->
<!-- ============================================================ -->
<!ELEMENT refext    - -  (#PCDATA)                                  >
<!ATTLIST refext
          docnbr         CDATA                        #IMPLIED
          refman         CDATA                        #IMPLIED
          refloc         CDATA                        #IMPLIED
          refmodel       CDATA                        #IMPLIED
          refspl         CDATA                        #IMPLIED      >

<!ELEMENT refint    - -  (#PCDATA)                                  >
<!ATTLIST refint
          reftype        CDATA                        #IMPLIED
          refid          IDREF                        #IMPLIED      >

<!ELEMENT refmedia  - -  (#PCDATA)                                  >
<!ATTLIST refmedia
          mednbr         ENTITY                       #REQUIRED     >
<!-- ============================================================ -->
<!--                    EFFECTIVITY                               -->
<!-- ============================================================ -->
<!ELEMENT effect    - -  ((sbeff | coceff)*)                        >
<!ATTLIST effect
          effrg          CDATA                        #IMPLIED
          efftext        CDATA                        #IMPLIED
          efftype        CDATA                        #IMPLIED
          efflen         NUMBER                       #IMPLIED      >

<!ELEMENT sbeff     - O  EMPTY                                      >
<!ATTLIST sbeff
          effrg          CDATA                        #REQUIRED
          sbnbr          CDATA                        #REQUIRED
          sbcond         CDATA                        #REQUIRED
          sbrev          CDATA                        #IMPLIED
          coord          CDATA                        #IMPLIED
          efftext        CDATA                        #IMPLIED
          efftype        CDATA                        #IMPLIED
          efflen         NUMBER                       #IMPLIED      >

<!ELEMENT coceff    - O  EMPTY                                      >
<!ATTLIST coceff
          effrg          CDATA                        #REQUIRED
          cocnbr         CDATA                        #REQUIRED
          coccond        CDATA                        #IMPLIED
          cocrev         CDATA                        #IMPLIED
          coord          CDATA                        #IMPLIED
          efftext        CDATA                        #IMPLIED
          efftype        CDATA                        #IMPLIED
          efflen         NUMBER                       #IMPLIED      >

<!-- ============================================================ -->
<!--                MISCELLANEOUS                                 -->
<!-- ============================================================ -->
<!ELEMENT txtgrphc  - -  (txtline+)                                 >
<!ELEMENT txtline   - -  (#PCDATA)                                  >

<!ELEMENT deleted   - O  EMPTY                                      >
<!ELEMENT isempty   - O  EMPTY                                      >

<!ELEMENT revst     - O  EMPTY                                      >
<!ELEMENT revend    - O  EMPTY                                      >
<!ELEMENT cocst     - O  EMPTY                                      >
<!ELEMENT cocend    - O  EMPTY                                      >

<!ELEMENT hotlink   - O  EMPTY                                      >
<!ATTLIST hotlink
          targetid       CDATA                        #IMPLIED
          targetrefid    CDATA                        #IMPLIED      >
<!--   ]>   -->
