doctypes/S1000D_2-2/sgml_dtd/dml/dtd/listcode.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                SGML Document Type Definition                       *
    *                                                                    *
    *                     Release Version 2.2                            *
    *                       Date: 2005-05-01                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier date.                                  *
    * 2. TPSMG request: Amend element <p> by attribute definitions of    *
    *                   entity %bodyatt;. Entities %SPAR; and %SPARCON;  *
    *                   moved to file dmaddr2.ent.                       *
    *====================================================================*
    * Typical invocation:-                                               *
    * <!ENTITY % LISTCODE PUBLIC                                         *
    *  "-//S1000D//ELEMENTS List Code Definitions 20050501//EN" >        *
    * %LISTCODE;                                                         *
    ********************************************************************** -->


<!--**********************************************************************
    * Define Element sendid (Senders Identification) containing:-        *
    *  Parsed Character Data.                                            *
    * may contain the NCAGE code                                         *
    ********************************************************************** -->
<!ELEMENT sendid    - O (#PCDATA) >


<!--**********************************************************************
    * Define Element diyear (Data Identification Year) containing:-      *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
<!ELEMENT diyear  - O (#PCDATA) >


<!--**********************************************************************
    * Define Element seqnum (Sequence Number of DDN, DML or COM for      *
    *                        current year) containing:-                  *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
<!ELEMENT seqnum - O (#PCDATA) >


<!--**********************************************************************
    * Define Element subscrpt (Sub Script) containing:-                  *
    *  Replaceable Character Data.                                       *
    ********************************************************************** -->
<!ELEMENT subscrpt - - RCDATA >


<!--**********************************************************************
    * Define Element supscrpt (Super Script) containing:-                *
    *  Replaceable Character Data.                                       *
    ********************************************************************** -->
<!ELEMENT supscrpt - - RCDATA >


<!--**********************************************************************
    * Define Element p (Simple Paragraph) containing:-                   *
    *  Definition stored in entity %SPARCON;                             *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;.             *
    ********************************************************************** -->
<!ELEMENT p - - (%SPARCON;) >
<!ATTLIST p
             %bodyatt; >
<!-- Attribute definition list added -->


<!--**********************************************************************
    * Define Element remarks (Remarks) containing:-                      *
    *   Definition stored in entity %SPAR;                               *
    ********************************************************************** -->
<!ELEMENT remarks - - (%SPAR;) >



<!--** End of LISTCODE Entity **-->
