doctypes/ATA_Spec2300_2017.1/Dispatch/CdlItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="cdlItem"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/figure.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/multimedia.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extApplication.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/wcn.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/list.xsd"/>
	  <xs:include schemaLocation="../common/systems/commonDescriptionTypes.xsd"/>
	  <xs:include schemaLocation="../common/dispatch/commonDispatch.xsd"/>
	  <xs:include schemaLocation="../common/dispatch/faultCodes.xsd"/>
	  <xs:include schemaLocation="../common/limit/limit.xsd"/>
	  <xs:redefine schemaLocation="../common/procedure/action.xsd">
		    <xs:complexType name="actionType">
			      <xs:complexContent>
				        <xs:extension base="actionType">
					          <xs:sequence>
						            <xs:choice>
							              <xs:element ref="challengeResponse"/>
							              <xs:element ref="command"/>
						            </xs:choice>
						            <xs:element name="comment" type="commentType" minOccurs="0"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
		    <xs:complexType name="actionBlockType">
			      <xs:complexContent>
				        <xs:extension base="actionBlockType">
					          <xs:sequence>
						            <xs:element name="title" type="nameType" minOccurs="0"/>
						            <xs:element ref="action" minOccurs="2" maxOccurs="unbounded"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/procedure/inform.xsd"/>
	  <xs:redefine schemaLocation="../common/procedure/condition.xsd">
		    <xs:complexType name="conditionType">
			      <xs:complexContent>
				        <xs:extension base="conditionType">
					          <xs:sequence>
						            <xs:group ref="conditionIntroGroup"/>
						            <xs:element name="procContent">
							              <xs:complexType>
								                <xs:sequence>
									                  <xs:group ref="cdlProcedureGroup" maxOccurs="unbounded"/>
								                </xs:sequence>
								                <xs:attribute name="id" type="idType" use="optional">
									                  <xs:annotation>
										                    <xs:documentation>Optional id for data management</xs:documentation>
									                  </xs:annotation>
								                </xs:attribute>
							              </xs:complexType>
						            </xs:element>
						            <xs:element ref="endOfProc" minOccurs="0"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
		    <xs:complexType name="exclusiveConditionsType">
			      <xs:complexContent>
				        <xs:extension base="exclusiveConditionsType">
					          <xs:sequence>
						            <xs:element ref="condition" minOccurs="2" maxOccurs="unbounded"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- DispatchItem Element Declaration-->
	<!--=============================================-->
	<xs:element name="cdlItem" type="cdlItemType">
		    <xs:annotation>
			      <xs:documentation>CDL Item DM - Contains one CDL item</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- cdlItemType Element Definition -->
	<!--=============================================-->
	<xs:complexType name="cdlItemType">
		    <xs:annotation>
			      <xs:documentation>cdlItem DM type definition</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>CDL item title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="placard" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>a notice or plaque being placed on the equipment to alert the users</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
			      <xs:element name="dispatchCondition" type="dispatchConditionType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>criteria in which the dispatchability is restricted or limited depending on the equipment and/or regulatory requirements.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="numberInstalled" type="numberInstalledType" use="required">
			      <xs:annotation>
				        <xs:documentation>indicates, for a given item, the quantity of equipment, components, systems or functions, installed on the airplane. Is a positiive integer or optional or variable</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="impactedFaultCodesAttrGrp"/>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- numberInstalledType								  						-->
	<!--=============================================-->
	<xs:simpleType name="numberInstalledType">
		    <xs:restriction base="xs:string">
			      <xs:pattern value="\d+|optional|variable"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <!--=============================================-->
	<!-- dispatchConditionType Element Definition -->
	<!--=============================================-->
	<xs:complexType name="dispatchConditionType">
		    <xs:annotation>
			      <xs:documentation>Dispatch condition content model.</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="title" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>dispatch condition title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="normalDispatchCondition" type="normalDispatchConditionType">
				        <xs:annotation>
					          <xs:documentation>gives a dispatch condition</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
		    </xs:sequence>
		    <xs:attribute name="option" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>Business identifier (A, B, C, …)</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="repairInterval" type="repairIntervalType" use="optional">
			      <xs:annotation>
				        <xs:documentation>It indicates, for a given item, the repair interval category. A (value is set in a remark), B (3 days), C (10 days), D(120 days), O (to be defined by the operator), NA (no repair interval)</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="dispCondCodeAttrGrp"/>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- normalDispatchConditionType Element Definition -->
	<!--=============================================-->
	<xs:complexType name="normalDispatchConditionType">
		    <xs:sequence>
			      <xs:element ref="placard" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>a notice or plaque being placed on the equipment to alert the users</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="repairLimit" type="repairLimitApplicationIntervalType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>The limit to repair (composed of a number of flight/calendar days, flight hours, flight cycles), in case of repairInterval set to A.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice>
				        <xs:element name="noRemark" type="noRemarkType">
					          <xs:annotation>
						            <xs:documentation>simple GO</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="remark" type="remarkType">
					          <xs:annotation>
						            <xs:documentation>a remark with proviso</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:choice>
		    </xs:sequence>
		    <xs:attribute name="numberRequired" type="numberRequiredType">
			      <xs:annotation>
				        <xs:documentation>It indicates, for a given item, the minimum quantity of equipment, components, systems or functions which must be operative for dispatch, under the conditions</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- numberRequiredType   								  						   -->
	<!--=============================================-->
	<xs:simpleType name="numberRequiredType">
		    <xs:restriction base="xs:string">
			      <xs:pattern value="\d+|variable"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <!--=============================================-->
	<!-- remarkType Definition -->
	<!--=============================================-->
	<xs:complexType name="remarkType">
		    <xs:sequence>
			      <xs:group ref="procRefGroup" minOccurs="0"/>
			      <xs:choice>
				        <xs:element name="proviso" type="provisoType">
					          <xs:annotation>
						            <xs:documentation>a conditional provision for dispatchability</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="provisoSet" type="provisoSetType">
					          <xs:annotation>
						            <xs:documentation>a group of provisos that provides restrictions for dispatchability</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:choice>
			      <xs:element name="cdlLimit" type="cdlLimitType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Related limitations</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="cdlProcedure" type="cdlProcedureType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Dispatch procedure</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="cdlPerformance" type="cdlPerformanceType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Performance information that indicates penalties associated to the missing item</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- provisoType Definition -->
	<!--=============================================-->
	<xs:complexType name="provisoType">
		    <xs:sequence>
			      <xs:element name="para" type="paraType"/>
			      <xs:choice minOccurs="0" maxOccurs="unbounded">
				        <xs:element name="para" type="paraType"/>
				        <xs:group ref="listGroup"/>
				        <xs:group ref="wcnGroupType"/>
			      </xs:choice>
		    </xs:sequence>
		    <xs:attributeGroup ref="provisoRoleAttGrp"/>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- provisoSetType Definition -->
	<!--=============================================-->
	<xs:complexType name="provisoSetType">
		    <xs:sequence>
			      <xs:element name="intro" type="paraType">
				        <xs:annotation>
					          <xs:documentation>introduction of the proviso set</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="proviso" type="provisoType" minOccurs="2" maxOccurs="unbounded"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- cdlLimitType declaration  -->
	<!--=============================================-->
	<xs:complexType name="cdlLimitType">
		    <xs:annotation>
			      <xs:documentation>Dispatch Limit for CDL</xs:documentation>
		    </xs:annotation>
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="textGroupType"/>
			      <xs:group ref="wcnGroupType"/>
			      <xs:element ref="limit"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- cdlProcedureType declaration  -->
	<!--=============================================-->
	<xs:complexType name="cdlProcedureType">
		    <xs:annotation>
			      <xs:documentation>Dispatch procedure for CDL</xs:documentation>
		    </xs:annotation>
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="cdlProcedureGroup"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <xs:group name="cdlProcedureGroup">
		    <xs:choice>
			      <xs:group ref="actionGroup"/>
			      <xs:group ref="conditionGroup"/>
			      <xs:element ref="limit"/>
			      <xs:element ref="perform"/>
			      <xs:element ref="inform"/>
		    </xs:choice>
	  </xs:group>
	  <!--=============================================-->
	<!-- cdlPerformanceType declaration  -->
	<!--=============================================-->
	<xs:complexType name="cdlPerformanceType">
		    <xs:annotation>
			      <xs:documentation>Dispatch Performance for CDL</xs:documentation>
		    </xs:annotation>
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="textGroupType"/>
			      <xs:group ref="wcnGroupType"/>
			      <xs:element ref="limit"/>
			      <xs:element ref="perform"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- procRefGroup declaration  -->
	<!--=============================================-->
	<xs:group name="procRefGroup">
		    <xs:sequence>
			      <xs:element name="oProcedureRef" type="oProcedureRefType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>reference to a specific operational procedure which must be accomplished when operating with the listed item inoperative. Can reference a (o)procedure or an external procedure (in operating manual).</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="mProcedureRef" type="mProcedureRefType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>procedural info that is unique to dispatch domain or may be a summary of one or more AMM maintenance procedures</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:group>
</xs:schema>