doctypes/ATA_Spec2300_2017.1/Dispatch/DispatchItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp2 (http://www.altova.com) by Airbus (Airbus Operations GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ataebiz.org/XMLSchema" xmlns:m="http://www.w3.org/1998/Math/MathML" targetNamespace="http://www.ataebiz.org/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		<xs:documentation>Version Number: 2017.1</xs:documentation>
		<xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		<xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	</xs:annotation>
	<xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		<xs:complexType name="contentElemType">
			<xs:complexContent>
				<xs:extension base="contentElemType">
					<xs:sequence>
						<xs:element ref="dispatchItem"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:include schemaLocation="../common/basicDataTypes/figure.xsd"/>
	<xs:include schemaLocation="../common/basicDataTypes/multimedia.xsd"/>
	<xs:include schemaLocation="../common/basicDataTypes/extApplication.xsd"/>
	<xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	<xs:include schemaLocation="../common/basicDataTypes/wcn.xsd"/>
	<xs:include schemaLocation="../common/basicDataTypes/list.xsd"/>
	<xs:include schemaLocation="../common/systems/commonDescriptionTypes.xsd"/>
	<xs:include schemaLocation="../common/dispatch/commonDispatch.xsd"/>
	<xs:include schemaLocation="../common/dispatch/noDispatchOrRedirect.xsd"/>
	<xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	<!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	<!--=============================================-->
	<!-- DispatchItem Element Declaration-->
	<!--=============================================-->
	<xs:element name="dispatchItem" type="dispatchItemType">
		<xs:annotation>
			<xs:documentation>Dispatch Item DM - Contains one MMEL dispatch item</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--=============================================-->
	<!-- dispatchItemType Element Definition -->
	<!--=============================================-->
	<xs:complexType name="dispatchItemType">
		<xs:annotation>
			<xs:documentation>DispatchItem DM type definition.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="nameType">
				<xs:annotation>
					<xs:documentation>dispatch item title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="placard" minOccurs="0">
				<xs:annotation>
					<xs:documentation>a notice or plaque being placed on the equipment to alert the users</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="dispatchRedirect" type="dispatchRedirectType">
					<xs:annotation>
						<xs:documentation>indicate that dispatch item has to be consulted to apply the relevant item</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="noDispatch"/>
				<xs:sequence>
					<xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="dispatchCondition" type="dispatchConditionType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>criteria in which the dispatchability is restricted or limited depending on the equipment and/or regulatory requirements.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numberInstalled" type="numberInstalledType" use="required">
			<xs:annotation>
				<xs:documentation>indicates, for a given item, the quantity of equipment, components, systems or functions, installed on the airplane. Is a positiive integer or optional or variable or na (not applicable for message oriented items)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="optionalConfigurationIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates that the specified MMEL equipment may be optional on certain airplanes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="removable" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Indicates that the specified equipment is non-essential and could be removed under Airline process and responsibility.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- numberInstalledType -->
	<!--=============================================-->
	<xs:simpleType name="numberInstalledType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+|optional|variable|na"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=============================================-->
	<!-- dispatchConditionType Element Definition -->
	<!--=============================================-->
	<xs:complexType name="dispatchConditionType">
		<xs:annotation>
			<xs:documentation>Dispatch condition content model.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="nameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>dispatch condition title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="asRequiredByRegulations" type="asRequiredByRegulationsType">
					<xs:annotation>
						<xs:documentation>case of condition depends of regulations. must comply with applicable operational regulations.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="normalDispatchCondition" type="normalDispatchConditionType">
					<xs:annotation>
						<xs:documentation>gives a dispatch condition</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="option" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Business identifier (A, B, C, …)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="repairInterval" type="repairIntervalType" use="required">
			<xs:annotation>
				<xs:documentation>It indicates, for a given item, the repair interval category. A (value is set in a remark), B (3 days), C (10 days), D(120 days), O (to be defined by the operator), NA (no repair interval)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="dispCondCodeAttrGrp"/>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layer" type="layerType" use="optional">
			<xs:annotation>
				<xs:documentation>Layer of information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- asRequiredByRegulationsType Element Definition -->
	<!--=============================================-->
	<xs:complexType name="asRequiredByRegulationsType">
		<xs:sequence>
			<xs:group ref="procRefGroup" minOccurs="0"/>
			<xs:element name="regulatoryRef" type="paraType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>a reference to a regulatory directive</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="proviso" type="provisoType">
					<xs:annotation>
						<xs:documentation>a conditional provision for dispatchability</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="provisoSet" type="provisoSetType">
					<xs:annotation>
						<xs:documentation>a group of provisos that provides restrictions for dispatchability</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- normalDispatchConditionType Element Definition -->
	<!--=============================================-->
	<xs:complexType name="normalDispatchConditionType">
		<xs:sequence>
			<xs:element ref="placard" minOccurs="0">
				<xs:annotation>
					<xs:documentation>a notice or plaque being placed on the equipment to alert the users</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="repairLimit" type="repairLimitApplicationIntervalType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The limit to repair (composed of a number of flight/calendar days, flight hours, flight cycles) in case of repairInterval set to A.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="noRemark" type="noRemarkType">
					<xs:annotation>
						<xs:documentation>simple GO</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="remark" type="remarkType">
					<xs:annotation>
						<xs:documentation>a remark with proviso</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="numberRequired" type="numberRequiredType" use="required">
			<xs:annotation>
				<xs:documentation>It indicates, for a given item, the minimum quantity of equipment, components, systems or functions which must be operative for dispatch, under the conditions. Can be variable or or na (not applicable for message oriented items)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- numberRequiredType   								  						   -->
	<!--=============================================-->
	<xs:simpleType name="numberRequiredType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+|variable|na"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=============================================-->
	<!-- remarkType Definition -->
	<!--=============================================-->
	<xs:complexType name="remarkType">
		<xs:sequence>
			<xs:group ref="procRefGroup" minOccurs="0"/>
			<xs:choice>
				<xs:element name="proviso" type="provisoType">
					<xs:annotation>
						<xs:documentation>a conditional provision for dispatchability</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="provisoSet" type="provisoSetType">
					<xs:annotation>
						<xs:documentation>a group of provisos that provides restrictions for dispatchability</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- provisoType Definition -->
	<!--=============================================-->
	<xs:complexType name="provisoType">
		<xs:sequence>
			<xs:element name="para" type="paraType"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="para" type="paraType"/>
				<xs:group ref="listGroup"/>
				<xs:element ref="note"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="provisoRoleAttGrp"/>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- provisoSetType Definition -->
	<!--=============================================-->
	<xs:complexType name="provisoSetType">
		<xs:sequence>
			<xs:element name="intro" type="paraType">
				<xs:annotation>
					<xs:documentation>introduction of the proviso set</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="proviso" type="provisoType" minOccurs="2" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- procRefGroup declaration  -->
	<!--=============================================-->
	<xs:group name="procRefGroup">
		<xs:sequence>
			<xs:sequence>
				<xs:element name="oProcedureRef" type="oProcedureRefType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>reference to a specific operational procedure which must be accomplished when operating with the listed item inoperative. Can reference a (o)procedure or an external procedure (in operating manual).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="oNoteRef" type="oNoteRefType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>operational related info that is suggestive in nature, usually by the OEM, and that could be incorporated into an actual procedure if desired.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="mProcedureRef" minOccurs="0">
					<xs:annotation>
						<xs:documentation>procedural info that is unique to dispatch domain or may be a summary of one or more AMM maintenance procedures</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="mProcedureRefType">
								<xs:attribute name="specificPersonnelRequired" type="xs:string">
									<xs:annotation>
										<xs:documentation>Indicates that specific maintenance personnel to be defined by the operator is required to perform the referenced maintenance procedure.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="mNoteRef" type="mNoteRefType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>maintenance related info that is suggestive in nature, usually by the OEM, and that could be incorporated into an actual procedure if desired.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:group>
	<!--=============================================-->
	<!-- oNoteRefType Definition-->
	<!--=============================================-->
	<xs:complexType name="oNoteRefType">
		<xs:sequence>
			<xs:element ref="dmRef"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--=============================================-->
	<!-- oNoteRefType Definition-->
	<!--=============================================-->
	<xs:complexType name="mNoteRefType">
		<xs:sequence>
			<xs:element ref="dmRef"/>
		</xs:sequence>
		<xs:attribute name="id" type="idType" use="optional">
			<xs:annotation>
				<xs:documentation>Optional id for data management</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
