doctypes/ATA_Spec2300_2017.1/Dispatch/SystemFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="systemFault"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/comment.xsd"/>
	  <xs:redefine schemaLocation="../common/procedure/action.xsd">
		    <xs:complexType name="actionType">
			      <xs:complexContent>
				        <xs:extension base="actionType">
					          <xs:sequence>
						            <xs:choice>
							              <xs:element ref="challengeResponse"/>
							              <xs:element ref="command"/>
						            </xs:choice>
						            <xs:element name="comment" type="commentType" minOccurs="0"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
		    <xs:complexType name="actionBlockType">
			      <xs:complexContent>
				        <xs:extension base="actionBlockType">
					          <xs:sequence>
						            <xs:element name="title" type="nameType" minOccurs="0"/>
						            <xs:element ref="action" minOccurs="2" maxOccurs="unbounded"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:redefine schemaLocation="../common/systems/commonDescriptionTypes.xsd">
		    <xs:complexType name="descriptionType">
			      <xs:complexContent>
				        <xs:extension base="descriptionType">
					          <xs:attribute name="layer" type="layerType" use="optional">
						            <xs:annotation>
							              <xs:documentation>Layer of information</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/dispatch/noDispatchOrRedirect.xsd"/>
	  <xs:include schemaLocation="../common/dispatch/faultCodes.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!-- dmodule Element Declaration-->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- systemFault Element Declaration-->
	<!--=============================================-->
	<xs:element name="systemFault" type="systemFaultType">
		    <xs:annotation>
			      <xs:documentation>root element of a system fault DM</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- systemFaultType content model-->
	<!--=============================================-->
	<xs:complexType name="systemFaultType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>can contain an ECAM/EICAS message or any other malfunction (crew observation, local warning ...)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="description" type="descriptionType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>fault description</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="faultItem" type="faultItemType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>Fault item</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="additionalFaultInfo" type="descriptionType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Additional information on the fault</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="faultDetection" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>Gives how the fault is detected (EICAS/ECAM alert, crew observation, ...)</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attributeGroup ref="impactedFaultCodesAttrGrp"/>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- faultItemType content model-->
	<!--=============================================-->
	<xs:complexType name="faultItemType">
		    <xs:annotation>
			      <xs:documentation>a fault-item related to the SystemFault</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="intro" type="paraType" minOccurs="0"/>
			      <xs:group ref="actionGroup" minOccurs="0"/>
			      <xs:element name="assessment" type="assessmentType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>Dispatch assesment</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="note" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- assessmentType content model-->
	<!--=============================================-->
	<xs:complexType name="assessmentType">
		    <xs:annotation>
			      <xs:documentation>assess aircraft status and dispatch relationship to the fault</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="aircraftStatus" type="aircraftStatusType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>provides the Flight Crew with information and/or actions in order to identify the failure mode and to apply the relevant MMEL Item</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="dispatchAssessment" type="dispatchAssessmentType">
				        <xs:annotation>
					          <xs:documentation>dispatch assessment</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- aircraftStatusType content model-->
	<!--=============================================-->
	<xs:complexType name="aircraftStatusType">
		    <xs:annotation>
			      <xs:documentation>assess aircraft status for a given system fault</xs:documentation>
		    </xs:annotation>
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="basicTextGroupType"/>
			      <xs:element ref="note"/>
			      <xs:element ref="figure"/>
			      <xs:group ref="actionGroup"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- dispatchAssessmentType content model-->
	<!--=============================================-->
	<xs:complexType name="dispatchAssessmentType">
		    <xs:annotation>
			      <xs:documentation>assess related dispatch items for a given system fault</xs:documentation>
		    </xs:annotation>
		    <xs:choice>
			      <xs:element name="notApplicable" type="notApplicableType">
				        <xs:annotation>
					          <xs:documentation>Not applicable</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="noDispatch"/>
			      <xs:element name="dispatchItemsRef" type="dispatchRedirectType">
				        <xs:annotation>
					          <xs:documentation>Refer to one or more dispatch items</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="complementaryActions" type="complementaryActionsType">
				        <xs:annotation>
					          <xs:documentation>Complementary actions to perform</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- notApplicableType content model-->
	<!--=============================================-->
	<xs:complexType name="notApplicableType">
		    <xs:annotation>
			      <xs:documentation>Not applicable</xs:documentation>
		    </xs:annotation>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- complementaryActionsType content model-->
	<!--=============================================-->
	<xs:complexType name="complementaryActionsType">
		    <xs:annotation>
			      <xs:documentation>additional actions to perform if needed as related to a fault/dispatch assessment.</xs:documentation>
		    </xs:annotation>
		    <xs:choice maxOccurs="unbounded">
			      <xs:element name="para" type="paraType"/>
			      <xs:element ref="command"/>
			      <xs:element name="extAction" type="extActionType">
				        <xs:annotation>
					          <xs:documentation>Action defined in FCOM or QRH to perform</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- extActionType content model-->
	<!--=============================================-->
	<xs:complexType name="extActionType">
		    <xs:annotation>
			      <xs:documentation>container for referencing external actions as defined in other procedures.</xs:documentation>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element ref="dmRef"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
</xs:schema>