doctypes/S1000D_2-1/sgml_dtd/dm/dtd/fault.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier.                                       *
    * 2. CPF 2002-38SE: Introduce entities %ISOSTPH; and ISOSTPA; to     *
    *                   allow for titles, warnings, cautions and notes   *
    *                   on indiviudal isolation steps.                   *
    *                   Introduce optional attributes check and skill on *
    *                   isolation steps by calling up entity %CHECKSTP;. *
    * 3. TPSMG request: File and entity name changed from AF to FAULT.   *
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % FAULT                                                   *
    *   "-//S1000D//ELEMENTS Fault Breakdown 20030531//EN" >             *
    * %FAULT;                                                            *
    ********************************************************************** -->



<!--**********************************************************************
    * Define Entity %CONTENT; (Content Breakdown) containing:-           *
    *   afr      - mandatory single    contains ifault, dfault, ofault.  *
    *  or                                                                *
    *   afi      - mandatory single    contains fault, describe, isoproc.*
    ********************************************************************** -->
 
<!ENTITY % CONTENT "(afr | afi)" >



<!--**********************************************************************
    **********************************************************************
    **                                                                  **
    **             ALL FAULT REPORTING (AFR) PART                       **
    **                                                                  **
    **********************************************************************
    ********************************************************************** -->



<!--**********************************************************************
    * Define Element afr (All Fault Reporting) containing:-              *
    *   ifault   - Mandatory Repeatable  contains describe, detect,      *
    *                                             locandrep, remarks.    *
    * or                                                                 *
    *   dfault   - Mandatory Repeatable  contains describe, detect,      *
    *                                             disolate, remarks.     *
    * or                                                                 *
    *   ofault   - Mandatory Repeatable  contains describe, fcontext,    *
    *                                             isolate, remarks.      *
    **********************************************************************-->
 
<!ELEMENT afr - O (ifault+ | dfault+ | ofault+) >


 
<!--**********************************************************************
    * Define Element ifault (Isolated fault) concerns only one LRU,      *
    * containing:-                                                       *
    *   describe  - Mandatory Single   contains fdesc, refs.             *
    *   detect    - Optional  Single   contains lruitem.                 *
    *   locandrep - Mandatory Single   contains lruitem.                 *
    *   remarks   - Optional  Single   contains para, %paracon;.         *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - REQUIRED - Fault ID                               *
    *  fcode - CDATA - REQUIRED - Fault code                             *
    *  Attribute Definition list stored in entity %INSDEL;.              *
    ********************************************************************** -->
 
<!ELEMENT ifault  - O  (describe , detect? , locandrep , remarks?)>
<!ATTLIST ifault
           id    ID    #REQUIRED
           fcode CDATA #REQUIRED
           %INSDEL; >
 


<!--**********************************************************************
    * Define Element describe (Fault description) containing:-           *
    *   fdesc    - Mandatory Single      contains Parsed Character Data. *
    *   refs     - Optional  Repeatable  contains norefs, rdandrt,       *
    *                                             refdms, reftp.         *
    ********************************************************************** -->

<!ELEMENT describe  - O (fdesc , refs*) >



<!--**********************************************************************
    * Define Element fdesc (Fault Description) containing:-              *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT fdesc  - O (#PCDATA)>



<!--**********************************************************************
    * Define Element detect (Fault detection) containing:-               *
    *   lruitem  - Mandatory  Single   contains lru, remarks, sruitem.   *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  type  - CDATA - IMPLIED - Detection Type : Unique, Dual...        *
    *  Attribute Definition list stored in entity %INSDEL;               *
    **********************************************************************
    * EXCLUSION: repair, test.                                           *
    ********************************************************************** -->

<!ELEMENT detect  - O (lruitem) -(repair , test)>
<!ATTLIST detect
            type  CDATA    #IMPLIED 
            %INSDEL; >



<!--**********************************************************************
    * Define Element locandrep (LRU location and repair procedure)       *
    *  containing:-                                                      *
    *   lruitem - Mandatory Single  contains lru, repair, remarks,       *
    *                                        suritem.                    *
    **********************************************************************
    * EXCLUSION: test.                                                   *
    ********************************************************************** -->

<!ELEMENT locandrep  - O (lruitem) -(test)>



<!--**********************************************************************
    * Define Element lruitem (Line Replaceable Unit Item) containing:-   *
    *  lru      - Mandatory Single      contains nomen, nsn, identno,    *
    *                                            csnref, abbrev.         *
    *  test     - Optional  Repeatable  contains testdesc, data, testproc*
    *  repair   - Optional  Single      contains refs.                   *
    *  remarks  - Optional  Single      contains para, %paracon;.        *
    *  sruitem  - Optional  Single      contains sru, test, repair,      *
    *                                            remarks.                *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  probfac  - CDATA - IMPLIED - Probability Factor for LRU Failure   *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT lruitem  - O (lru, test*, repair?, remarks?, sruitem?)>
<!ATTLIST lruitem
           probfac  CDATA    #IMPLIED 
           %bodyatt; >



<!--**********************************************************************
    * Define Element sruitem (Shop Replaceable Unit Item) containing:-   *
    *  sru      - Mandatory Single      contains nomen, nsn, identno,    *
    *                                            csnref, abbrev.         *
    *  test     - Optional  Repeatable  contains testdesc, data, testproc*
    *  repair   - Optional  Single      contains refs.                   *
    *  remarks  - Optional Single       contains para, %paracon;.        *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  probfac  - CDATA - IMPLIED - Probability Factor for SRU Failure   *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT sruitem  - O (sru, test*, repair?, remarks?)+>
<!ATTLIST sruitem
             probfac  CDATA    #IMPLIED 
             %bodyatt; >



<!--**********************************************************************
    * Define Element lru (On Line Replaceable Unit) containing:-         *
    *  nomen    - Mandatory Single       contains Parsed Character Data. *
    *  nsn      - Optional  Single       contains No Other Tags.         *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *  identno  - Mandatory Single       contains pnr, mfc.              *
    * or                                                                 *
    *  csnref   - Mandatory Single       contains No Other Tags.         *
    *====================================================================*
    *  abbrev   - Optional Single        contains Parsed Character Data. *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;.             *
    ********************************************************************** -->

<!ELEMENT lru - O (nomen, nsn?, (identno | csnref)+,abbrev?)>
<!ATTLIST lru
            %bodyatt; >



<!--**********************************************************************
    * Define Element sru (On Shop Replaceable Unit) containing:-         *
    *  nomen    - Mandatory Single       contains Parsed Character Data. *
    *  nsn      - Optional  Single       contains No Other Tags.         *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *  identno  - Mandatory Single       contains pnr, mfc.              *
    * or                                                                 *
    *  csnref   - Mandatory Single       contains No Other Tags.         *
    *====================================================================*
    *  abbrev   - Optional Single        contains Parsed Character Data. *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;.             *
    ********************************************************************** -->

<!ELEMENT sru - O (nomen, nsn?, (identno | csnref)+,abbrev?)>
<!ATTLIST sru
            %bodyatt; >



<!--**********************************************************************
    * Define Element abbrev (LRU short designation) containing:-         *
    *  Parsed Character Data.                                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT abbrev - O (#PCDATA) >
<!ATTLIST abbrev
          %bodyatt; >



<!--**********************************************************************
    * Define Element dfault (Detected Fault) concerns only one LRU,      *
    *      detected but not localized fault;                             *
    *      this fault may concern more than one LRU                      *
    *      and require more investigation to isolate the on failure LRU. *
    * containing:-                                                       *
    *   describe - Mandatory Single   contains fdesc, refs.              *
    *   detect   - Optional  Single   contains lruitem.                  *
    *   disolate - Mandatory Single   contains afiref, lruitem.          *
    *   remarks  - Optional  Single   contains para, %paracon;.          *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - REQUIRED - Fault ID                               *
    *  fcode - CDATA - REQUIRED - Fault code                             *
    *  Attribute Definition list stored in entity %INSDEL;               *
    ********************************************************************** -->
 
<!ELEMENT dfault  - O  (describe , detect? , disolate , remarks?)>
<!ATTLIST dfault
           id    ID    #REQUIRED
           fcode CDATA #REQUIRED
           %INSDEL; >



<!--**********************************************************************
    * Define Element ofault (Observed Fault) concerns only one LRU,      *
    *     not detected by built-in test system;                          *
    *     this fault may concern more than one LRU                       *
    *     and require more investigation to isolate the on failure LRU.  *
    * containing:-                                                       *
    *   describe  - Mandatory Single  contains fdesc, refs.              *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *   fcontext  - Optional  Single  contains Parsed Character Data.    *
    *   isolate   - Mandatory Single  contains afiref, diagnost, lruitem.*
    *====================================================================*
    *   remarks   - Optional  Single  contains PARA, %paracon;.          *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - REQUIRED - Fault ID                               *
    *  fcode - CDATA - REQUIRED - Fault code                             *
    *  ftype - CDATA - IMPLIED  - Fault Type for Observed Fault          *
    *     allows to sort the faults depending of cabin / not cabin observ*
    *  Attribute Definition list stored in entity %INSDEL;               *
    ********************************************************************** -->

<!ELEMENT ofault  - O (describe, (fcontext? , isolate)+ ,remarks?)>
<!ATTLIST ofault
           id     ID     #REQUIRED 
           fcode  CDATA  #IMPLIED 
           ftype  CDATA  #IMPLIED 
           %INSDEL; >



<!--**********************************************************************
    * Define Element disolate (D Fault Location)                         *
    *  for an ambiguous fault, this part allows to refer either to:      *
    *  the list of on failure LRU a trouble shooting procedure           *
    * containing:-                                                       *
    *   afiref  - Mandatory Single      contains refs.                   *
    * or                                                                 *
    *   lruitem - Mandatory Repeatable  contains lru, test, repair,      *
    *                                            remarks, sruitem.       *
    ********************************************************************** -->

<!ELEMENT disolate  - O (afiref | lruitem+)>



<!--**********************************************************************
    * Define Element afiref (All Fault Isolation Reference)              *
    *     for an ambiguous fault, reference to AFI DM for LRU isolation  *
    * containing:-                                                       *
    *  refs    - Mandatory Repeatable  contains norefs, rdandrt, refdms, *
    *                                           reftp.                   *
    ********************************************************************** -->

<!ELEMENT afiref  - O (refs+) >
             


<!--**********************************************************************
    * Define Element repair (Action To Be Performed For Repair)          *
    *            Reference to procedural data module for fault repair    *
    * containing:-                                                       *
    *  refs    - Mandatory Repeatable  contains norefs, rdandrt, refdms, *
    *                                           reftp.                   *
    ********************************************************************** -->

<!ELEMENT repair  - O (refs+) >



<!--**********************************************************************
    * Define Element testdesc (Test Description),                        *
    *            allows to describe the test to be performed.            *
    *            Text or reference to descriptive DM,                    *
    *                ie for graphic test system presentation             *
    * containing:-                                                       *
    *  testnomen - Mandatory Single      contains Parsed Character Data. *
    *  refs      - Optional  Repeatable  contains norefs, rdandrt,       *
    *                                             refdms, reftp.         *
    ********************************************************************** -->
  
<!ELEMENT testdesc  - O (testnomen, refs*)>
 
 

<!--**********************************************************************
    * Define Element testnomen (Test Designation) containing:-           *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT testnomen  - O (#PCDATA)>



<!--**********************************************************************
    * Define Element testproc (Test Procedure)                           *
    *        Reference to procedural data modules describing             *
    *        the way to perform the test                                 *
    * containing:-                                                       *
    *  refs     - Mandatory Repeatable  contains norefs, rdandrt,        *
    *                                            refdms, reftp.          *
    ********************************************************************** -->

<!ELEMENT testproc  - O (refs+) >



<!--**********************************************************************
    * Define Element isolate (O Fault Location)                          *
    *     for an ambiguous fault, this part allows to refer either to:   *
    *             the list of on failure LRU                             *
    *             a trouble shooting procedure                           *
    *             a diagnostic procedure                                 *
    * containing:-                                                       *
    *   afiref   - Mandatory Single      contains refs.                  *
    *  or                                                                *
    *   diagnost - Mandatory Single      contains reason, repair, lruitem*
    *  or                                                                *
    *   lruitem  - Mandatory Repeatable  contains lru, test, repair,     *
    *                                             remarks, sruitem.      *
    ********************************************************************** -->

<!ELEMENT isolate  - O (afiref | diagnost | lruitem+) >


<!--**********************************************************************
    * Define Element diagnost (Fault Diagnostic)                         *
    *  contains either an LRU identification, or the reason of failure   *
    * containing:-                                                       *
    *====================================================================*
    * Mandatory Single Group                                             *
    *====================================================================*
    *  reason  - Mandatory Single  contains Parsed Character Data.       *
    *  repair  - Mandatory Single  contains refdm, issno, dmtitle, reftp.*
    *====================================================================*
    * or                                                                 *
    *  lruitem - Mandatory Single  contains lru, repair, remarks, sruitem*
    **********************************************************************
    * EXCLUSION: test.                                                   *
    ********************************************************************** -->

<!ELEMENT diagnost  - O ((reason , repair) | lruitem) -(test)>



<!--**********************************************************************
    * Define Element reason (Cause of Failure) containing:-              *
    *     text describing the fault diagnostic                           *
    *     if not identifiable by an LRU/SRU, ie leak of fuel system.     *
    * Containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->

<!ELEMENT reason  - O (#PCDATA)>



<!--**********************************************************************
    * Define Element fcontext (Context For Isolate Proc Determination)   *
    *   refering to specific conditions under which the fault occured,   *
    *   allows to isolate the on failure LRU                             *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    ********************************************************************** -->
 
<!ELEMENT fcontext  - O (#PCDATA)>
    

      
<!--**********************************************************************
    * Define Element test (Test Needed For LRU Isolation)                *
    * containing:-                                                       *
    *   testdesc - Optional  Single      contains testnomen, refs.       *
    *   data     - Optional  Repeatable  contains No Other Tags.         *
    *   testproc - Optional  Single      contains refs.                  *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  type  - CDATA - REQUIRED - Test Type                              *
    *  code  - CDATA - REQUIRED - Test Identifier                        *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT test  - O (testdesc? , data* , testproc?) >
<!ATTLIST test 
             type  CDATA    #REQUIRED 
             code  CDATA    #REQUIRED 
             %bodyatt; >



<!--**********************************************************************
    * Define Element data (Range Of Data To Be Set For Testing)          *
    *      (depending on test procedure),                                *
    *      ie rotate from 24 to 60 degree, input 24 volts ...            *
    * containing:-                                                       *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  from  - CDATA - IMPLIED - Range From                              *
    *  to    - CDATA - IMPLIED - Range To                                *
    *  uom   - CDATA - IMPLIED - Unit Of Measurement                     *
    *  Attribute Definition list stored in entity %INSDEL;               *
    ********************************************************************** -->

<!ELEMENT data  - O  EMPTY >
<!ATTLIST data
           from  CDATA    #IMPLIED 
           to    CDATA    #IMPLIED 
           uom   CDATA    #IMPLIED 
           %INSDEL; >
          


<!--**********************************************************************
    **********************************************************************
    **                                                                  **
    **             ALL FAULT ISOLATION (AFI) PART                       **
    **                                                                  **
    **********************************************************************
    **********************************************************************-->



<!--**********************************************************************
    * Define Element afi (All Fault Isolation) containing:-              *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *   fault     - Mandatory Single   contains No Other Tags.           *
    *   describe  - Mandatory Single   contains fdesc, refs.             *
    *   isoproc   - Mandatory Single   contains prelreqs, isolatep,      *
    *                                           closetxt.                *
    *====================================================================*
    ********************************************************************** -->

<!ELEMENT afi - O (fault, describe, isoproc)+ >



<!--**********************************************************************
    * Define Element fault (Fault)                                       *
    *                                                                    *
    * Remark:  Fault is either an Observed Fault or a Detected Fault     *
    *          because AFI trouble shooting procedure is called by       *
    *          an afiref element located either in an observed or        *
    *          detected fault from AFR.                                  *
    *                                                                    *
    *  containing:-                                                      *
    *    No Other Tags.                                                  *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  fcode - CDATA - REQUIRED - Fault Code                             *
    ********************************************************************** -->

<!ELEMENT fault  - O  EMPTY >
<!ATTLIST fault
           fcode CDATA    #REQUIRED >



<!--**********************************************************************
    * Define Element isoproc (Isolation Procedure) containing:-          *
    *   prelreqs  - Mandatory Single  contains pmd, reqconds, reqpers,   *
    *                                 supequip, supplies, spares, safety.*
    *   isolatep  - Mandatory Single  contains isostep, isoend.          *
    *   closetxt  - Optional  Single  contains definition stored in      *
    *                                 entity %text; or para.             *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;.             *
    ********************************************************************** -->

<!ELEMENT isoproc - O (prelreqs, isolatep, closetxt?) >
<!ATTLIST isoproc
            %bodyatt; >



<!--**********************************************************************
    * Define Element closetxt (Close Text) containing:-                  *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *  Definition stored in entity %text;                                *
    * or                                                                 *
    *  para     - Mandatory  Single    contains definition stored in     *
    *                                           entity %paracon;.        *
    *====================================================================*
    ********************************************************************** -->

<!ELEMENT closetxt - O ((%text;) | para)+ >


<!--**********************************************************************
    * Define Element isolatep (Isolation Procedure Core) containing:-    *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *   isostep - Mandatory Single   contains action, question, answer.  *
    * or                                                                 *
    *   isoend  - mandatory single   contains action.                    *
    *====================================================================*
    **********************************************************************
    * INCLUSION: figure, foldout, table.                                 *
    ********************************************************************** -->

<!ELEMENT isolatep - O (isostep | isoend)+  +(figure | foldout | table)  >



<!--**********************************************************************
    * Define Entity %ISOSTPH; (Isolation Step Heading) containing:-      *
    *   Definition stored in entity %HEADING1;                           *
    *   Definition stored in entity %WC;                                 *
    ********************************************************************** -->

<!ENTITY % ISOSTPH  "%HEADING1;, %WC;" >
<!-- Newly introduced entity -->



<!--**********************************************************************
    * Define Entity %ISOSTPA; (Isolation Step Action) containing:-       *
    *====================================================================*
    *   Optional Repeatable Group                                        *
    *====================================================================*
    *     note     - Mandatory Single    contains applic, symbol, para,  *
    *                                    Definition stored in entity     *
    *                                    %list;.                         *
    *    or                                                              *
    *     action   - Mandatory Single    contains Definition stored in   *
    *                                    entity %text;.                  *
    *====================================================================*
    ********************************************************************** -->

<!ENTITY % ISOSTPA  "(note|action)*" >
<!-- Newly introduced entity -->



<!--**********************************************************************
    * Define Element isostep (Step of Isolation Procedure) containing:-  *
    *   Definition stored in entity %ISOSTPH;.                           *
    *====================================================================*
    *   Optional Single Group                                            *
    *====================================================================*
    *     Definition stored in entity %ISOSTPA;                          *
    *     question  - Mandatory Single   contains Parsed Character Data. *
    *     answer    - Mandatory Single   contains yesno,sel-list,entfield*
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - REQUIRED - Isolation step ID                      *
    *  Attribute Definition List stored in entity %CHECKSTP;             *
    ********************************************************************** -->

<!ELEMENT isostep - O (%ISOSTPH;, (%ISOSTPA;, question, answer)?) >
<!-- Changed content model to call up entities %ISOSTPH; and %ISOSTPA; -->
<!ATTLIST isostep
           id  ID  #REQUIRED 
           %CHECKSTP; >
<!-- Amended by permission of optional attributes check and skill -->



<!--**********************************************************************
    * Define Element isoend (Final Step of Isolation Procedure)          *
    * containing:-                                                       *
    *   Definition stored in entity %ISOSTPH;.                           *
    *   Definition stored in entity %ISOSTPA;.                           *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id    - ID    - REQUIRED - Isolation End Step ID                  *
    *  Attribute Definition List stored in entity %CHECKSTP;             *
    ********************************************************************** -->

<!ELEMENT isoend - O (%ISOSTPH;, %ISOSTPA;) >
<!-- Changed content model to call up entities %ISOSTPH; and %ISOSTPA; -->
<!ATTLIST isoend
           id  ID  #REQUIRED 
           %CHECKSTP; >
<!-- Amended by permission of optional attributes check and skill -->



<!--**********************************************************************
    * Define Element action (Action to be performed) containing:-        *
    *====================================================================*
    * Mandatory Repeatable Group                                         *
    *====================================================================*
    *   Definition stored in entity %text;                               *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT action - O (%text;)+ >
<!ATTLIST action
             %bodyatt; >


<!--**********************************************************************
    * Define Element question (Question) containing:-                    *
    *   Parsed Character Data.                                           *
    ********************************************************************** -->

<!ELEMENT question - O (#PCDATA)>



<!--**********************************************************************
    * Define Element answer (Answer to Question) containing:-            *
    *   yesno     - Mandatory Single   contains yes, no.                 *
    * or                                                                 *
    *   sel-list  - Mandatory Single   contains choice.                  *
    * or                                                                 *
    *   entfield  - Mandatory Single   contains No Other Tags.           *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition list stored in entity %bodyatt;              *
    ********************************************************************** -->

<!ELEMENT answer - O (yesno | sel-list | entfield) >
<!ATTLIST answer
            %bodyatt; >



<!--**********************************************************************
    * Define Element yesno (Yes or No Answer) containing:-               *
    *   yes   - Mandatory Single     contains No Other Tags.             *
    *   no    - Mandatory Single     contains No Other Tags.             *
    ********************************************************************** -->

<!ELEMENT yesno - O (yes,no) >



<!--**********************************************************************
    * Define Element sel-list (Selection List Answer) containing:-       *
    *   choice - Mandatory Repeatable   contains Parsed Character Data.  *
    ********************************************************************** -->

<!ELEMENT sel-list - O (choice+) >



<!--**********************************************************************
    * Define Elements yes, no and entfield                               *
    *  containing:-                                                      *
    *   No Other Tags.                                                   *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  refid    - IDREF   - REQUIRED - Refer to an isostep or isoend.    *
    ********************************************************************** -->

<!ELEMENT (yes | no | entfield) - O EMPTY>
<!ATTLIST (yes | no | entfield)
            refid IDREF #REQUIRED >



<!--**********************************************************************
    * Define Element choice (Choice in a Selection List) containing:-    *
    *   Parsed Character Data.                                           *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  refid    - IDREF   - REQUIRED - Refer to an isostep or isoend     *
    ********************************************************************** -->

<!ELEMENT choice - O (#PCDATA) >
<!ATTLIST choice
            refid IDREF #REQUIRED >


      
<!--**********************************************************************
    * Call the Preliminary Requirements Public Text.                     *
    * The formal public identifier is stored in the entity %PRELREQ;     *
    ********************************************************************** -->

%PRELREQ;



<!--**********************************************************************
    * Call the Lists Public Text.                                        *
    * The formal public identifier is stored in the entity %EXTLIST;     *
    ********************************************************************** -->
 
%EXTLIST;
 
 
 
<!--**********************************************************************
    * Call the Warning, Caution, Note, Para Public Text.                 *
    * The formal public identifier is stored in the entity %WCNP;        *
    ********************************************************************** -->
 
%WCNP;
 
 
 
<!--**********************************************************************
    * Call the Figure And Table Public Text.                             *
    * The formal public identifier is stored in the entity %EXTFTAB;     *
    ********************************************************************** -->
 
%EXTFTAB;