doctypes/S1000D_2-1/sgml_dtd/dm/dtd/paras.ent

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                   Document Type Definition                         *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier.                                       *
    * 2. CPF 2001-41D:  Allow elements subpara1, subpara2, subpara3 and  *
    *                   subpara4 to be used "zero or multiple" within    *
    *                   the context of para0.                            *
    * 3. CPF 2002-38SE: Redefine content model in entity %NPAR; due to   *
    *                   deletion of element specpara.                    *
    *                   Redefine content model in entity %HEADING;       *
    *                   by call of entity %HEADING1;.                    *
    *                                                                    *
    * Typical invocation:-                                               *
    * <!ENTITY % EXTPARA  PUBLIC                                         *
    *   "-//S1000D//ELEMENTS Numbered Paragraphs Breakdown 20030531//EN">*
    * %EXTPARA;                                                          *
    ********************************************************************** -->



<!--**********************************************************************
    * Define Entity %HEADING; (Numbered Paragraphs Heading) containing:- *
    *  Definition stored in entity %HEADING1;.                           *
    ********************************************************************** -->

<!ENTITY % HEADING "%HEADING1;" >
<!-- Content model changed by call of entity %HEADING1; (see COMMON.ENT) -->



<!--**********************************************************************
    * Define Entity %NPAR; (Numbered Paragraphs) containing:-            *
    *  Definition stored in entity %WC; (see COMMON.ENT).                *
    *  Definition stored in entity %NP; (see COMMON.ENT).                *
    ********************************************************************** -->

<!ENTITY % NPAR "%WC;, %NP;" >
<!-- Content model in entity redefined due to deletion of SPECPARA. -->



<!--**********************************************************************
    * Define Entity %nparcon; (Numbered/Titled Paragraphs) containing:-  *
    *  Definition stored in entity %HEADING;                             *
    *  Definition stored in entity %NPAR;                                *
    ********************************************************************** -->

<!ENTITY % nparcon "(%HEADING;, %NPAR;)" >



<!--**********************************************************************
    * Define Entity %SUBPAR1; (Sub Paragraph 1) containing:-             *
    *  subpara1 - Optional   Repeatable  contains Definition stored in   *
    *                                    entity %nparcon;, subpara2.     *
    ********************************************************************** -->

<!ENTITY % SUBPAR1 "(subpara1*)" >
<!-- Changed to allow subpara1 usage "zero or multiple" within para0 -->

<!--**********************************************************************
    * Define Element para0 (Primary Paragraph) containing:-              *
    *  Definition stored in entity %nparcon;                             *
    *  Definition stored in entity %SUBPAR1;                             *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    ********************************************************************** -->

<!ELEMENT para0    - O ((%nparcon;),(%SUBPAR1;)) >
<!ATTLIST para0
              %bodyatt;
              %secur; >



<!--**********************************************************************
    * Define Element subpara1 (Sub Paragraph Level 1) containing:-       *
    *  Definition stored in entity %nparcon;                             *
    *  subpara2 - Optional  Repeatable   contains Definition stored in   *
    *                                    entity %nparcon;, subpara3.     *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    ********************************************************************** -->

<!ELEMENT subpara1 - O ((%nparcon;), subpara2*) >
<!-- Changed to allow subpara2 usage "zero or multiple" within subpara1 -->
<!ATTLIST subpara1
              %bodyatt;
              %secur; >



<!--**********************************************************************
    * Define Element subpara2 (Sub Paragraph Level 2) containing:-       *
    *  Definition stored in entity %nparcon;                             *
    *  subpara3 - Optional  Repeatable   contains Definition stored in   *
    *                                    entity %nparcon;, subpara4.     *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    ********************************************************************** -->

<!ELEMENT subpara2 - O ((%nparcon;), subpara3*) >
<!-- Changed to allow subpara3 usage "zero or multiple" within subpara2 -->
<!ATTLIST subpara2
              %bodyatt;
              %secur; >



<!--**********************************************************************
    * Define Element subpara3 (Sub Paragraph Level 3) containing:-       *
    *  Definition stored in entity %nparcon;                             *
    *  subpara4 - Optional  Repeatable   contains Definition stored in   *
    *                                    entity %nparcon;.               *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    ********************************************************************** -->

<!ELEMENT subpara3 - O ((%nparcon;), subpara4*) >
<!-- Changed to allow SUBPARA4 usage "zero or multiple" within SUBPARA3 -->
<!ATTLIST subpara3
              %bodyatt;
              %secur; >



<!--**********************************************************************
    * Define Element subpara4 (Sub Paragraph Level 4) containing:-       *
    *  Definition stored in entity %nparcon;.                            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in entity %bodyatt;              *
    *  Attribute Definition List stored in entity %secur;                *
    ********************************************************************** -->

<!ELEMENT subpara4 - O (%nparcon;) >
<!ATTLIST subpara4
              %bodyatt;
              %secur; >