doctypes/ATA_Spec2300_2017.1/Systems/Annunciation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../common/basicDataTypes/figure.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/systems/commonAnnunciation.xsd"/>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="annunciation"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- annunciation Element Declaration -->
	<!--=============================================-->
	<xs:element name="annunciation" type="annunciationType">
		    <xs:annotation>
			      <xs:documentation>An autonomous DM linked from a Indicator or ControlIndicator or a procedure used to describe an annunciation.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- annunciationType -->
	<!--=============================================-->
	<xs:complexType name="annunciationType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>annunciation title</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="subsequentTo" type="subsequentToType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Reference to one or more previous annunciations (if any)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="triggeringConditions" type="triggeringConditionsType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Brief description of current annunciation reason</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="indications" type="indicationsType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Information provided to the crew to detect the current problem</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="inhibitConditions" type="inhibitConditionsType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>List of conditions when the annunciation is inhibited.</xs:documentation>
					
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="dmRef" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Refer to the related NonNormalProcedure DM (if any)</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="conveyance" type="conveyanceType" use="required">
			      <xs:annotation>
				        <xs:documentation>Means by which annunciation is conveyed (e.g., light, message, aural, tactile, etc.)</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="category" type="messageCategoryType" use="optional">
			      <xs:annotation>
				        <xs:documentation>In case of electronic message : Type of the message (such Alert, Memo, Message)</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="origin" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>Describe the alerting system that triggers the annunciation</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="triggeredBy">
			      <xs:annotation>
				        <xs:documentation>Indicates if the annunciation is the direct result of the flight crew action or not</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="automatic"/>
					          <xs:enumeration value="flightCrewAction"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="priorityLevel" type="priorityLevelType" use="required">
			      <xs:annotation>
				        <xs:documentation>Classification of the annunciation based on level of urgency.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="priorityRanking" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>Used to convey additional information to clarify the Priority Level of the message . Info, Specific, Normal.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="display" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>In case of electronic message : Name of the display where the message is conveyed.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- subsequentToType -->
	<!--=============================================-->
	<xs:complexType name="subsequentToType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:element ref="dmRef"/>
			      <xs:element ref="electronicMessage"/>
		    </xs:choice>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- TriggeringConditionsType -->
	<!--=============================================-->
	<xs:complexType name="triggeringConditionsType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="shortTextGroupType"/>
			      <xs:element ref="note"/>
			      <xs:element ref="figure"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- IndicationsType -->
	<!--=============================================-->
	<xs:complexType name="indicationsType">
		    <xs:sequence>
			      <xs:element name="textualIndication" type="interTextType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>Indications described as text</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="masterLight" type="masterLightType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>MasterLight status for announcing a fault</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="auralWarnings" type="auralWarningsType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>one or more aural warning</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="localLights" type="localLightsType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>one ore more LocalLight</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="otherDisplays" type="otherDisplaysType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>One or more display units, other than masterlight, auralwarning, locallights, and that provide information linked to the alarm</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional"/>
		    <xs:attribute name="layer" type="layerType" use="optional"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- MasterLightType -->
	<!--=============================================-->
	<xs:complexType name="masterLightType">
		    <xs:sequence>
			      <xs:element ref="symbol"/>
		    </xs:sequence>
		    <xs:attribute name="type" use="required">
			      <xs:annotation>
				        <xs:documentation>type of MasterLight : warning, caution</xs:documentation>
			      </xs:annotation>
			      <xs:simpleType>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="warning"/>
					          <xs:enumeration value="caution"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional"/>
		    <xs:attribute name="layer" type="layerType" use="optional"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- AuralWarningType -->
	<!--=============================================-->
	<xs:complexType name="auralWarningsType">
		    <xs:sequence>
			      <xs:element name="auralWarning" type="auralWarningType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>aural warning</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="auralWarningType">
		    <xs:sequence>
			      <xs:choice>
				        <xs:element ref="multimedia"/>
				        <xs:element ref="symbol"/>
			      </xs:choice>
			      <xs:element name="para" type="paraType" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attribute name="type" type="xs:string" use="required">
			      <xs:annotation>
				        <xs:documentation>type of Aural warning</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional"/>
		    <xs:attribute name="layer" type="layerType" use="optional"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- LocalLightsType -->
	<!--=============================================-->
	<xs:complexType name="localLightsType">
		    <xs:sequence>
			      <xs:element name="localLight" type="localLightType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>LocalLight status for announcing a fault .</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="localLightType">
		    <xs:sequence>
			      <xs:choice>
				        <xs:element ref="dmRef"/>
				        <xs:element ref="symbol"/>
			      </xs:choice>
			      <xs:element name="para" type="paraType" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional"/>
		    <xs:attribute name="layer" type="layerType" use="optional"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- otherDisplaysType -->
	<!--=============================================-->
	<xs:complexType name="otherDisplaysType">
		    <xs:sequence>
			      <xs:element name="otherDisplay" type="otherDisplayType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>A display providing information linked to the alarm</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional"/>
		    <xs:attribute name="layer" type="layerType" use="optional"/>
	  </xs:complexType>
	  <xs:complexType name="otherDisplayType">
		    <xs:sequence>
			      <xs:choice>
				        <xs:element ref="dmRef"/>
				        <xs:element ref="symbol"/>
			      </xs:choice>
			      <xs:element name="para" type="paraType" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attribute name="display" type="xs:string" use="optional">
			      <xs:annotation>
				        <xs:documentation>Name of the display.</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="id" type="idType" use="optional"/>
		    <xs:attribute name="layer" type="layerType" use="optional"/>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- InhibitConditionsType -->
	<!--=============================================-->
	<xs:complexType name="inhibitConditionsType">
		    <xs:sequence>
			      <xs:element name="inhibitCondition" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>Conditions under which an annunciation will be inhibited or enabled.</xs:documentation>
				        </xs:annotation>
				        <xs:complexType mixed="true">
					          <xs:attribute name="code" type="xs:string" use="optional">
						            <xs:annotation>
							              <xs:documentation>Code identifying an avionic phase of flight.</xs:documentation>
						            </xs:annotation>
					          </xs:attribute>
				        </xs:complexType>
			      </xs:element>
			      <xs:element ref="figure" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional"/>
		    <xs:attribute name="layer" type="layerType" use="optional"/>
	  </xs:complexType>
</xs:schema>