doctypes/ATA_Spec2300_2017.1/Systems/SystemDescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.ataebiz.org/XMLSchema"
           xmlns:m="http://www.w3.org/1998/Math/MathML"
           targetNamespace="http://www.ataebiz.org/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<!-- ================================================================

Limitations of Liability: 

1.  This material is provided "As Is" and neither Air Transport Association of America, Inc. (ATA) 
    nor any person who has contributed to the creation, revision or maintenance of the material 
    makes any representations or warranties, express or implied, including but not limited to, 
    warranties of merchantability or fitness for any particular purpose. 

2.  Neither ATA nor any person who has contributed to the creation, revision or maintenance of 
    this material shall be liable for any direct, indirect, special or consequential damages or 
    any other liability arising from any use of this material. 

3.  Revisions to this document may occur after its issuance. The user is responsible for determining 
    if revisions to the material contained in this document have occurred and are applicable. 

Copyright 2017, Air Transport Association of America, Inc., d/b/a Airlines for America. All rights reserved.

================================================================= -->
	<xs:annotation>
		    <xs:documentation>Version Number: 2017.1</xs:documentation>
		    <xs:documentation>Revision Date: 2017-10-31</xs:documentation>
		    <xs:documentation>Revision Comments: Spec 2300 revision 2017.1</xs:documentation>
	  </xs:annotation>
	  <xs:include schemaLocation="../common/basicDataTypes/figure.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/multimedia.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/extApplication.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/text.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/wcn.xsd"/>
	  <xs:include schemaLocation="../common/basicDataTypes/list.xsd"/>
	  <xs:include schemaLocation="../common/systems/commonAnnunciation.xsd"/>
	  <xs:include schemaLocation="../common/systems/commonDescriptionTypes.xsd"/>
	  <xs:redefine schemaLocation="../common/dataManagement/dmodule.xsd">
		    <xs:complexType name="contentElemType">
			      <xs:complexContent>
				        <xs:extension base="contentElemType">
					          <xs:sequence>
						            <xs:element ref="systemDescription"/>
					          </xs:sequence>
				        </xs:extension>
			      </xs:complexContent>
		    </xs:complexType>
	  </xs:redefine>
	  <xs:include schemaLocation="../common/basicDataTypes/extensibleInterface.xsd"/>
	  <!--=============================================-->
	<!-- dmodule Element Declaration (DM  root) -->
	<!--=============================================-->
	<xs:element name="dmodule" type="dmoduleElemType"/>
	  <!--=============================================-->
	<!-- systemDescription Element Declaration-->
	<!--=============================================-->
	<xs:element name="systemDescription" type="systemType">
		    <xs:annotation>
			      <xs:documentation>Root content element for system description DM.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!--  systemType Element Definition -->
	<!--=============================================-->
	<xs:complexType name="systemType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>Data module title.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:choice>
				        <xs:element name="description" type="sysDescriptionType">
					          <xs:annotation>
						            <xs:documentation>Descriptive content</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="subLevel" type="sysDescriptionSubLevelType">
					          <xs:annotation>
						            <xs:documentation>Descriptive content in a sub level</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:choice>
			      <xs:element name="subLevel" type="sysDescriptionSubLevelType" minOccurs="0"
                     maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>Descriptive content in a sub level</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element ref="affectedSystemList" minOccurs="0"/>
			      <xs:element ref="affectingSystemList" minOccurs="0"/>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  sysDescription Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="sysDescriptionType">
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="textGroupType"/>
			      <xs:element ref="figure"/>
			      <xs:element ref="multimedia"/>
			      <xs:element ref="extApplication"/>
			      <xs:group ref="wcnGroupType"/>
			      <xs:element name="calloutList" type="calloutListType">
				        <xs:annotation>
					          <xs:documentation>List of specific types of controls or indicators such as switches, lights, bar, etc. on the panel.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--   sublevel Description Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="sysDescriptionSubLevelType">
		    <xs:sequence>
			      <xs:element name="title" type="nameType"/>
			      <xs:choice>
				        <xs:element name="description" type="sysDescriptionType">
					          <xs:annotation>
						            <xs:documentation>Section of system or subsytem description.</xs:documentation>
					          </xs:annotation>
				        </xs:element>
				        <xs:element name="subLevel" type="sysDescriptionSubLevelType">
					          <xs:annotation>
						            <xs:documentation>Descriptive content in a sub level</xs:documentation>
					          </xs:annotation>
				        </xs:element>
			      </xs:choice>
			      <xs:element name="subLevel" type="sysDescriptionSubLevelType" minOccurs="0"
                     maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>Descriptive content in a sub level</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- Explicit References to Affecting/Affected systems-->
	<!--=============================================-->
	<xs:element name="affectedSystemList" type="affectSystemListType">
		    <xs:annotation>
			      <xs:documentation>References to systems that are affected by a given system, but are not in themselves subordinate to the given system.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <xs:element name="affectingSystemList" type="affectSystemListType">
		    <xs:annotation>
			      <xs:documentation>References to systems that affect a given system, but are not in themselves subordinate to the given system.</xs:documentation>
		    </xs:annotation>
	  </xs:element>
	  <!--=============================================-->
	<!-- AffectSystemListType Definition -->
	<!--=============================================-->
	<xs:complexType name="affectSystemListType">
		    <xs:sequence>
			      <xs:element name="systemRef" type="affectSystemType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>container to reference system or subsystem DM</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- AffectSystemType Definition -->
	<!--=============================================-->
	<xs:complexType name="affectSystemType">
		    <xs:annotation>
			      <xs:documentation/>
		    </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="dmRefItemType">
				        <xs:sequence>
					          <xs:element name="relatedEffects" type="relatedEffectsType" minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation>Detailed statement about the effects that other systems have on a given system or that a given system has on other systems.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <!--=============================================-->
	<!-- RelatedEffectsType Element Definition -->
	<!--=============================================-->
	<xs:complexType name="relatedEffectsType">
		    <xs:annotation>
			      <xs:documentation>Description of the effect</xs:documentation>
		    </xs:annotation>
		    <xs:choice maxOccurs="unbounded">
			      <xs:group ref="textGroupType"/>
			      <xs:group ref="wcnGroupType"/>
		    </xs:choice>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  calloutList Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="calloutListType">
		    <xs:annotation>
			      <xs:documentation/>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="title" type="nameType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>A heading or name of the callout item</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="calloutItem" type="calloutItemType" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation>A control or indication item that has been called out on the panel or display</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="note" type="noteType" minOccurs="0" maxOccurs="unbounded">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!--=============================================-->
	<!--  calloutItem Type Element Definition -->
	<!--=============================================-->
	<xs:complexType name="calloutItemType">
		    <xs:annotation>
			      <xs:documentation/>
		    </xs:annotation>
		    <xs:sequence>
			      <xs:element name="designator" type="xs:string" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>callout item designator, as identified on the panel graphical view</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="symbol" type="symbolElemType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>A control or indication graphical symbol</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="title" type="nameType">
				        <xs:annotation>
					          <xs:documentation>A heading or name of the callout item</xs:documentation>
				        </xs:annotation>
			      </xs:element>
			      <xs:element name="description" type="descriptionType" minOccurs="0">
				        <xs:annotation>
					          <xs:documentation>info to describe what the callout item is and its usage</xs:documentation>
				        </xs:annotation>
			      </xs:element>
		    </xs:sequence>
		    <xs:attribute name="id" type="idType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Optional id for data management</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
		    <xs:attribute name="layer" type="layerType" use="optional">
			      <xs:annotation>
				        <xs:documentation>Layer of information</xs:documentation>
			      </xs:annotation>
		    </xs:attribute>
	  </xs:complexType>
	  <!-- ==========  Simple Type Section =========== -->
	<!--=============================================-->
	<!--  controlPrecedence Type Definition -->
	<!--=============================================-->
	<xs:simpleType name="controlPrecedenceType">
		    <xs:annotation>
			      <xs:documentation>(e.g., normal/alternate, primary/secondary, main/backup)</xs:documentation>
		    </xs:annotation>
		    <xs:restriction base="xs:NMTOKEN">
			      <xs:enumeration value="normal"/>
			      <xs:enumeration value="alternate"/>
			      <xs:enumeration value="primary"/>
			      <xs:enumeration value="secondary"/>
			      <xs:enumeration value="main"/>
			      <xs:enumeration value="backup"/>
			      <xs:enumeration value="other"/>
		    </xs:restriction>
	  </xs:simpleType>
</xs:schema>